Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @msfschaffner, @vogelpi, @lowRISC/ot-dv-reviewers, @mundaym, @rswarbrick

[ci] Run hyperdebug tests in CI
  azure-pipelines.yml
  ci/scripts/run-fpga-tests.sh
Owners: @rswarbrick

[bazel] Remove manual tag from hyperdebug tests
  sw/device/tests/BUILD
Owners: none

[ci] Make FPGA run script work with hyperdebug
  ci/scripts/run-fpga-tests.sh
Owners: @rswarbrick

[RV_DM]ndmreset_req sequence
  hw/ip/rv_dm/data/rv_dm_testplan.hjson
  hw/ip/rv_dm/dv/env/rv_dm_env.core
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_ndmreset_req_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_vseq_list.sv
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
Owners: @vogelpi, @lowRISC/ot-dv-reviewers

[top_darjeeling] Remove `mbx7` and add `mbx_pcie1`
  hw/top_darjeeling/data/autogen/top_darjeeling.gen.hjson
  hw/top_darjeeling/data/top_darjeeling.hjson
  hw/top_darjeeling/data/xbar_main.hjson
  hw/top_darjeeling/data/xbar_mbx.hjson
  hw/top_darjeeling/doc/design/README.md
  hw/top_darjeeling/dv/autogen/tb__alert_handler_connect.sv
  hw/top_darjeeling/dv/autogen/tb__xbar_connect.sv
  hw/top_darjeeling/dv/autogen/xbar_env_pkg__params.sv
  hw/top_darjeeling/dv/autogen/xbar_tgl_excl.cfg
  hw/top_darjeeling/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_darjeeling/ip/xbar_main/data/autogen/xbar_main.gen.hjson
  hw/top_darjeeling/ip/xbar_main/data/autogen/xbar_main.hjson
  hw/top_darjeeling/ip/xbar_main/dv/autogen/tb__xbar_connect.sv
  hw/top_darjeeling/ip/xbar_main/dv/autogen/xbar_cover.cfg
  hw/top_darjeeling/ip/xbar_main/dv/autogen/xbar_env_pkg__params.sv
  hw/top_darjeeling/ip/xbar_main/dv/autogen/xbar_main_bind.sv
  hw/top_darjeeling/ip/xbar_main/rtl/autogen/tl_main_pkg.sv
  hw/top_darjeeling/ip/xbar_main/rtl/autogen/xbar_main.sv
  hw/top_darjeeling/ip/xbar_mbx/data/autogen/xbar_mbx.gen.hjson
  hw/top_darjeeling/ip/xbar_mbx/data/autogen/xbar_mbx.hjson
  hw/top_darjeeling/ip/xbar_mbx/dv/autogen/tb__xbar_connect.sv
  hw/top_darjeeling/ip/xbar_mbx/dv/autogen/xbar_cover.cfg
  hw/top_darjeeling/ip/xbar_mbx/dv/autogen/xbar_env_pkg__params.sv
  hw/top_darjeeling/ip/xbar_mbx/dv/autogen/xbar_mbx_bind.sv
  hw/top_darjeeling/ip/xbar_mbx/rtl/autogen/tl_mbx_pkg.sv
  hw/top_darjeeling/ip/xbar_mbx/rtl/autogen/xbar_mbx.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling_pkg.sv
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling.rs
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling_memory.rs
  hw/top_darjeeling/sw/autogen/top_darjeeling.c
  hw/top_darjeeling/sw/autogen/top_darjeeling.h
  hw/top_darjeeling/sw/autogen/top_darjeeling_memory.h
  rules/const-darjeeling.bzl
  sw/device/tests/autogen/top_darjeeling/alert_test.c
  sw/device/tests/autogen/top_darjeeling/plic_all_irqs_test.c
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-rust-reviewers, @lowRISC/ot-c-cpp-reviewers, @cfrantz

[release] Fix pkg rules after bitstream target reorganization (#19758)
  hw/bitstream/BUILD
  hw/bitstream/vivado/BUILD
  release/BUILD
Owners: none

[release] Avoid fetching from the bitstream cache when building the release
  release/azure-pipelines-release.yml
Owners: none

[alert_handler,otp_ctrl] Update regs and digests with more external alerts
  hw/ip/otp_ctrl/data/otp_ctrl_img_owner_sw_cfg.hjson
  sw/host/opentitanlib/src/otp/alert_handler.rs
  sw/host/opentitanlib/src/otp/alert_handler_regs.rs
  sw/ip/alert_handler/dif/dif_alert_handler_unittest.cc
Owners: @lowRISC/ot-rust-reviewers, @lowRISC/ot-c-cpp-reviewers

[top_darjeeling/soc_proxy] Increase number of external alerts to 8 each
  hw/top_darjeeling/ip/soc_proxy/data/soc_proxy.hjson
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy.sv
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy_pkg.sv
  rules/const-darjeeling.bzl
Owners: @cfrantz

[top_darjeeling] Autogen after adding external IRQs
  hw/top_darjeeling/data/autogen/top_darjeeling.gen.hjson
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy_core_reg_top.sv
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy_reg_pkg.sv
  hw/top_darjeeling/ip_autogen/rv_plic/data/rv_plic.hjson
  hw/top_darjeeling/ip_autogen/rv_plic/data/top_darjeeling_rv_plic.ipconfig.hjson
  hw/top_darjeeling/ip_autogen/rv_plic/rtl/rv_plic.sv
  hw/top_darjeeling/ip_autogen/rv_plic/rtl/rv_plic_reg_pkg.sv
  hw/top_darjeeling/ip_autogen/rv_plic/rtl/rv_plic_reg_top.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling.sv
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling.rs
  hw/top_darjeeling/sw/autogen/top_darjeeling.c
  hw/top_darjeeling/sw/autogen/top_darjeeling.h
  sw/device/tests/autogen/top_darjeeling/plic_all_irqs_test.c
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen.c
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen.h
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen_unittest.cc
Owners: @lowRISC/ot-rust-reviewers, @lowRISC/ot-c-cpp-reviewers

[top_darjeeling] Autogen after adding external alerts
  hw/top_darjeeling/data/autogen/top_darjeeling.gen.hjson
  hw/top_darjeeling/dv/autogen/tb__alert_handler_connect.sv
  hw/top_darjeeling/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy_core_reg_top.sv
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy_reg_pkg.sv
  hw/top_darjeeling/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_darjeeling/ip_autogen/alert_handler/data/top_darjeeling_alert_handler.ipconfig.hjson
  hw/top_darjeeling/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_darjeeling/ip_autogen/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling_pkg.sv
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling.rs
  hw/top_darjeeling/sw/autogen/top_darjeeling.c
  hw/top_darjeeling/sw/autogen/top_darjeeling.h
  sw/device/tests/autogen/top_darjeeling/alert_test.c
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen.c
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen.h
  sw/ip/soc_proxy/dif/autogen/dif_soc_proxy_autogen_unittest.cc
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-rust-reviewers, @lowRISC/ot-c-cpp-reviewers

[top_darjeeling/soc_proxy] Increase number of external IRQs to 32
  hw/top_darjeeling/ip/soc_proxy/data/soc_proxy.hjson
Owners: none

[opentitanlib] Add packet scan for bitstreams
  sw/host/opentitanlib/src/util/usr_access.rs
Owners: @lowRISC/ot-rust-reviewers

[opentitanlib] Align to sync word before scanning bitstream
  sw/host/opentitanlib/src/util/usr_access.rs
Owners: @lowRISC/ot-rust-reviewers

[crypto] Change the terminology of randomness quality selectors.
  sw/device/lib/testing/randomness_quality.c
  sw/device/lib/testing/randomness_quality.h
  sw/device/tests/crypto/drbg_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Add simple tests for HMAC-SHA384.
  sw/device/lib/crypto/impl/mac.c
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/hmac_sha384_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Add support for HMAC with larger SHA2s.
  sw/device/lib/crypto/impl/BUILD
  sw/device/lib/crypto/impl/mac.c
  sw/device/lib/crypto/include/datatypes.h
  sw/device/lib/crypto/include/mac.h
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/hmac_sha256_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Add basic test for HMAC-SHA512.
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/hmac_sha512_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

Updated flash info partition datapath.
  hw/ip/boot_manager/data/boot_manager_regs.hjson
  hw/ip/boot_manager/rtl/boot_manager.sv
  hw/ip/boot_manager/rtl/boot_manager_regs_reg_pkg.sv
  hw/ip/boot_manager/rtl/boot_manager_regs_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_phy.sv
  hw/ip/prim_generic/rtl/prim_generic_flash.sv
  hw/ip/prim_generic/rtl/prim_generic_flash_bank.sv
  hw/top_earlgrey/top/top_earlgrey.sv
Owners: none

[topgen] Make sure the ret SRAM is in MMIO
  hw/top_darjeeling/sw/autogen/top_darjeeling.h
  hw/top_darjeeling/sw/autogen/top_darjeeling_memory.h
  util/topgen/c.py
Owners: @lowRISC/ot-c-cpp-reviewers, @msfschaffner

[top_darjeeling,hw] Remove adc_ctrl
  hw/top_darjeeling/data/top_darjeeling.hjson
  hw/top_darjeeling/data/xbar_peri.hjson
  hw/top_darjeeling/rtl/chip_darjeeling_verilator.sv
  hw/top_darjeeling/rtl/scan_role_pkg.sv
  hw/top_darjeeling/top_darjeeling.core
  util/topgen/templates/chiplevel.sv.tpl
Owners: @msfschaffner

[top_darjeeling,sw] Remove adc_ctrl refs
  hw/top_darjeeling/dv/chip_sim_cfg.hjson
  hw/top_darjeeling/dv/env/seq_lib/chip_sw_power_virus_vseq.sv
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/silicon_creator/rom/e2e/rom_e2e_ret_ram_keep_test.c
  sw/device/silicon_creator/rom/rom_epmp.c
  sw/device/tests/BUILD
  sw/device/tests/alert_handler_lpg_sleep_mode_alerts.c
  sw/device/tests/alert_handler_lpg_sleep_mode_pings.c
  sw/device/tests/alert_handler_reverse_ping_in_deep_sleep_test.c
  sw/device/tests/aon_timer_sleep_wdog_sleep_pause_test.c
  sw/device/tests/ast_clk_outs_test.c
  sw/device/tests/chip_power_sleep_load.c
  sw/device/tests/clkmgr_sleep_frequency_test.c
  sw/device/tests/power_virus_systemtest.c
  sw/device/tests/pwrmgr_sleep_disabled_test.c
  sw/device/tests/pwrmgr_smoketest.c
  sw/device/tests/sensor_ctrl_wakeup.c
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/all_escalation_resets_test.c
  sw/device/tests/sim_dv/pwrmgr_deep_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/pwrmgr_deep_sleep_power_glitch_test.c
  sw/device/tests/sim_dv/pwrmgr_normal_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/pwrmgr_random_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/pwrmgr_random_sleep_power_glitch_reset_test.c
  sw/device/tests/sim_dv/pwrmgr_sleep_all_wake_ups_impl.c
  sw/device/tests/sim_dv/pwrmgr_sleep_power_glitch_test.c
  sw/device/tests/sim_dv/rv_dm_ndm_reset_req.c
  sw/device/tests/sleep_pwm_pulses_test.c
  sw/device/tests/sram_ctrl_sleep_sram_ret_contents_test.c
  sw/ip/pwrmgr/dif/dif_pwrmgr.c
  sw/ip/pwrmgr/dif/dif_pwrmgr.h
  sw/ip/pwrmgr/dif/dif_pwrmgr_unittest.cc
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[hw,sw] Manual changes to align digests/static_asserts for new HW
  hw/ip/otp_ctrl/data/otp_ctrl_img_owner_sw_cfg.hjson
  rules/const-darjeeling.bzl
  sw/device/silicon_creator/rom/rom_epmp.c
  sw/host/opentitanlib/src/otp/alert_handler.rs
  sw/host/opentitanlib/src/otp/alert_handler_regs.rs
  sw/ip/alert_handler/dif/dif_alert_handler_unittest.cc
  sw/ip/rv_plic/dif/dif_rv_plic_unittest.cc
  sw/top_darjeeling/sw/dif/BUILD
Owners: @cfrantz, @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers

[autogen,sw,testutils] Regenerate isr_testutils
  sw/top_darjeeling/sw/test/utils/BUILD
  sw/top_darjeeling/sw/test/utils/autogen/isr_testutils.c
  sw/top_darjeeling/sw/test/utils/autogen/isr_testutils.h
Owners: @lowRISC/ot-c-cpp-reviewers

[sw,adc,ci] Remove adc_ctrl dependent targets from Build&Test CI Job
  azure-pipelines.yml
Owners: @rswarbrick

[top_darjeeling,dv] Remove adc_ctrl refs
  hw/top_darjeeling/data/chip_conn_testplan.hjson
  hw/top_darjeeling/data/chip_testplan.hjson
  hw/top_darjeeling/dv/chip_sim_cfg.hjson
  hw/top_darjeeling/dv/cov/chip_cover_reg_top.cfg
  hw/top_darjeeling/dv/env/chip_env.core
  hw/top_darjeeling/dv/env/chip_if.sv
  hw/top_darjeeling/dv/env/seq_lib/chip_padctrl_attributes_vseq.sv
  hw/top_darjeeling/dv/env/seq_lib/chip_sw_adc_ctrl_sleep_debug_cable_wakeup_vseq.sv
  hw/top_darjeeling/dv/env/seq_lib/chip_sw_all_escalation_resets_vseq.sv
  hw/top_darjeeling/dv/env/seq_lib/chip_vseq_list.sv
  hw/top_darjeeling/dv/tb/tb.sv
  hw/top_darjeeling/dv/top_darjeeling_sim_cfgs.hjson
Owners: @lowRISC/ot-dv-reviewers

[top_darjeeling] Update scripts, lints, waivers for adc_ctrl removal
  hw/top_darjeeling/cdc/cdc_waivers.w_recon.tcl
  hw/top_darjeeling/dv/env/seq_lib/chip_common_vseq.sv
  hw/top_darjeeling/formal/conn_csvs/analog_sigs.csv
  hw/top_darjeeling/formal/conn_csvs/clkmgr_peri.csv
  hw/top_darjeeling/formal/conn_csvs/rstmgr_resets_o.csv
  hw/top_darjeeling/lint/top_darjeeling_dv_lint_cfgs.hjson
  hw/top_darjeeling/lint/top_darjeeling_lint_cfgs.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv,chip] Fixup macro in power_virus_vseq
  hw/top_darjeeling/dv/env/seq_lib/chip_sw_power_virus_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[test] Teach bazel to Init the transport after loading bitstream
  hw/top_earlgrey/BUILD
  rules/opentitan_test.bzl
  sw/device/lib/testing/test_framework/BUILD
  sw/device/silicon_creator/rom/e2e/BUILD
Owners: @cfrantz

[opentitanlib] Rename CW310Flavor to ChipWhispererFlavor
  sw/host/opentitanlib/src/backend/mod.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
Owners: @lowRISC/ot-rust-reviewers

[opentitanlib] Make ChipWhispererFlavor generic
  sw/host/opentitanlib/src/backend/mod.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
Owners: @lowRISC/ot-rust-reviewers

[Bazel] Create hyper340 interface
  rules/opentitan_test.bzl
Owners: @cfrantz

[Bazel] Enable a hyperdebug test for CW340
  sw/device/tests/BUILD
Owners: none

[opentitanlib] Add the hyper340 interface
  sw/host/opentitanlib/src/app/config/hyperdebug_chipwhisperer.json
  sw/host/opentitanlib/src/app/config/hyperdebug_cw340.json
  sw/host/opentitanlib/src/app/config/mod.rs
  sw/host/opentitanlib/src/backend/mod.rs
Owners: @lowRISC/ot-rust-reviewers

[pwm,SiVal] Add silicon validation notes
  hw/top_earlgrey/data/chip_testplan.hjson
Owners: none

[pwm,SiVal] Add feature list to `pwm.hjson`
  hw/ip/pwm/data/pwm.hjson
Owners: none

[pattgen,SiVal] Extend chip test for SiVal
  hw/top_earlgrey/data/chip_testplan.hjson
Owners: none

[pattgen,SiVal] Add features to `pattgen.hjson`
  hw/ip/pattgen/data/pattgen.hjson
Owners: none

[edn/dv] Add sequence to check issuing cmd during auto_req_mode
  hw/ip/edn/dv/env/edn_scoreboard.sv
  hw/ip/edn/dv/env/seq_lib/edn_genbits_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[edn/rtl] align reseed cntr resval with MAX_NUM_REQS_BETWEEN_RESEEDS resval
  hw/ip/edn/rtl/edn_core.sv
Owners: none

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".

# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# For now, ignore GitHub's error annotations of the form "Unknown owner: make
# sure $username exists and has write access to the repository". See
# https://github.com/lowRISC/opentitan/issues/13469 for discussion.

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz
/WORKSPACE          @cfrantz
/.bazelrc           @cfrantz

# Utils: reggen, topgen, tlgen
util/*gen/          @msfschaffner
util/tlgen.py       @msfschaffner
util/topgen.py      @msfschaffner

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/pinmux/          @msfschaffner
/hw/ip/rv_dm/           @vogelpi
/hw/top_*/doc/top_*     @msfschaffner
/hw/top_*/ip/ast        @msfschaffner


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @mundaym

# License related files
LICENSE*            @mundaym
COPYING*            @mundaym
/util/licence-checker.hjson  @mundaym

# CI and testing
/ci/                @rswarbrick
azure-pipelines.yml @rswarbrick
