Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @msfschaffner, @vogelpi, @lowRISC/ot-dv-reviewers, @mundaym, @rswarbrick

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".

# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# For now, ignore GitHub's error annotations of the form "Unknown owner: make
# sure $username exists and has write access to the repository". See
# https://github.com/lowRISC/opentitan/issues/13469 for discussion.

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz
/WORKSPACE          @cfrantz
/.bazelrc           @cfrantz

# Utils: reggen, topgen, tlgen
util/*gen/          @msfschaffner
util/tlgen.py       @msfschaffner
util/topgen.py      @msfschaffner

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/pinmux/          @msfschaffner
/hw/ip/rv_dm/           @vogelpi
/hw/top_*/doc/top_*     @msfschaffner
/hw/top_*/ip/ast        @msfschaffner


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @mundaym

# License related files
LICENSE*            @mundaym
COPYING*            @mundaym
/util/licence-checker.hjson  @mundaym

# CI and testing
/ci/                @rswarbrick
azure-pipelines.yml @rswarbrick

Fix a typo in aes header file
  sw/device/lib/crypto/include/aes.h
Owners: @lowRISC/ot-c-cpp-reviewers

[testing] Add a test library for randomness quality checks.
  sw/device/lib/testing/BUILD
  sw/device/lib/testing/randomness_quality.c
  sw/device/lib/testing/randomness_quality.h
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Use the new randomness-quality check in DRBG testing.
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/drbg_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Update DRBG interface.
  sw/device/lib/crypto/impl/BUILD
  sw/device/lib/crypto/impl/drbg.c
  sw/device/lib/crypto/include/drbg.h
  sw/device/tests/crypto/drbg_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Change the terminology of randomness quality selectors.
  sw/device/lib/testing/randomness_quality.c
  sw/device/lib/testing/randomness_quality.h
  sw/device/tests/crypto/drbg_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Write and test symmetric key generation.
  sw/device/lib/crypto/impl/BUILD
  sw/device/lib/crypto/impl/key_transport.c
  sw/device/lib/crypto/impl/keyblob.c
  sw/device/lib/crypto/impl/keyblob.h
  sw/device/lib/crypto/include/aes.h
  sw/device/lib/crypto/include/key_transport.h
  sw/device/lib/crypto/include/mac.h
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/symmetric_keygen_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Add a function to generate hardware-backed key handles.
  sw/device/lib/crypto/impl/BUILD
  sw/device/lib/crypto/impl/key_transport.c
  sw/device/lib/crypto/impl/key_transport_unittest.cc
  sw/device/lib/crypto/include/key_transport.h
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Use new hardware-backed key handle generator in AES test.
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/aes_sideload_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[chip-test] List EDN functional features and add SiVal test plan
  hw/ip/edn/data/edn.hjson
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/data/ip/chip_edn_testplan.hjson
Owners: none

[chip-test] Move existing EDN integration test to EDN-specific test file
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/data/ip/chip_edn_testplan.hjson
Owners: none

[tests/usbdev] Create basic VBUS test
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/BUILD
  sw/device/tests/usbdev_vbus_test.c
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[tests/usbdev] Test SETUP packet reception
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/BUILD
  sw/device/tests/usbdev_setuprx_test.c
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers
