Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @drewmacrae, @asb, @msfschaffner, @tjaychen, @sriyerg, @Jacob-Levy, @eunchan, @vogelpi, @lowRISC/ot-dv-reviewers, @mcy, @milesdai, @rswarbrick

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".
#
# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# Default Reviewers
# *     @asb

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz @drewmacrae
BUILD               @cfrantz @drewmacrae
BUILD.bazel         @cfrantz @drewmacrae
/WORKSPACE          @cfrantz @drewmacrae
/.bazelrc           @cfrantz @drewmacrae

# Utils: reggen, topgen, tlgen
util/*.py           @asb
util/*gen/          @msfschaffner @tjaychen
util/uvmdvgen*      @sriyerg
util/regtool.py     @Jacob-Levy
util/reggen/        @Jacob-Levy
util/tlgen.py       @eunchan @msfschaffner @tjaychen
util/tlgen/         @eunchan @msfschaffner @tjaychen
util/topgen.py      @msfschaffner @tjaychen @Jacob-Levy
util/topgen/        @msfschaffner @tjaychen @Jacob-Levy

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/flash_ctrl/      @tjaychen
/hw/ip/kmac/rtl/        @eunchan
/hw/ip/padctrl/         @msfschaffner @tjaychen
/hw/ip/pinmux/          @msfschaffner @tjaychen
/hw/ip/prim*            @tjaychen
/hw/ip/rv_core_ibex/    @tjaychen
/hw/ip/rv_dm/           @vogelpi
/hw/ip/spi_device/rtl/  @eunchan
/hw/ip/tlul/rtl/        @eunchan @tjaychen
# /hw/ip/usb*           # TBD
/hw/top_*/rtl           @tjaychen
/hw/top_*/doc/top_*     @msfschaffner @tjaychen
/hw/top_*/ip/ast        @Jacob-Levy


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @asb

# License related files
LICENSE*            @asb
COPYING*            @asb
/util/licence-checker.hjson  @asb

# CI and testing
/ci/                @mcy @milesdai @rswarbrick
/test/              @mcy
azure-pipelines.yml @mcy @milesdai @rswarbrick

[fpv/pinmux] Pinmux FPV tb fix
  hw/formal/tools/jaspergold/fpv.tcl
  hw/ip/pinmux/fpv/vip/pinmux_assert_fpv.sv
  hw/ip/pinmux/rtl/pinmux_strap_sampling.sv
Owners: @lowRISC/ot-dv-reviewers, @msfschaffner, @tjaychen

[bazel] Fix bug in opentitan_functest
  rules/opentitan.bzl
Owners: @cfrantz, @drewmacrae

[doc/flash_crtl] Fix some of the wording
  hw/ip/flash_ctrl/doc/_index.md
Owners: @tjaychen

[fpv/rom_ctrl] Check connectivity for alerts in rom_ctrl
  hw/ip/prim/rtl/prim_assert_sec_cm.svh
  hw/top_earlgrey/formal/top_earlgrey_fpv_cfgs.hjson
Owners: @tjaychen, @lowRISC/ot-dv-reviewers

[rstmgr] documentation updates based on d2s feedback
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rstmgr/doc/_index.md
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
Owners: none

[flash_ctrl] ADD TEST FOR THE RMA FEATURE
  hw/ip/flash_ctrl/data/flash_ctrl_testplan.hjson
  hw/ip/flash_ctrl/dv/env/flash_ctrl_env.core
  hw/ip/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/ip/flash_ctrl/dv/env/flash_ctrl_if.sv
  hw/ip/flash_ctrl/dv/env/flash_ctrl_seq_cfg.sv
  hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_base_vseq.sv
  hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_hw_rma_vseq.sv
  hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_vseq_list.sv
  hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson
Owners: @tjaychen, @lowRISC/ot-dv-reviewers

[dv/doc] Document security verification for memory integrity
  hw/dv/sv/cip_lib/doc/index.md
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Update sec_cm test
  hw/ip/sram_ctrl/data/sram_ctrl_sec_cm_testplan.hjson
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_common_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[ci] Disable the verible format job
  azure-pipelines.yml
  ci/jobs/quick-lint.sh
Owners: @mcy, @milesdai, @rswarbrick

[flash_ctrl/dv] Some fixes in flash rand_ops sequences
  hw/ip/flash_ctrl/dv/env/flash_ctrl_seq_cfg.sv
  hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_base_vseq.sv
  hw/ip/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

Address and payload passthrough swap scenarios
  hw/dv/sv/spi_agent/spi_agent_cfg.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_base_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_addr_translation_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_base_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_data_translation_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_vseq_list.sv
  hw/ip/spi_device/dv/env/spi_device_env.core
  hw/ip/spi_device/dv/env/spi_device_env_pkg.sv
  hw/ip/spi_device/dv/spi_device_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv/otp_ctrl] Fix regression illegal bin
  hw/ip/otp_ctrl/dv/env/otp_ctrl_env_cov.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[kmac] Unsupported Mode Strength
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_errchk.sv
Owners: @eunchan

[dv/cip] Update naming and comments for mem custom error
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[kmac] Add config knob to CFG_SHADOWED
  hw/ip/kmac/data/kmac.hjson
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_reg_pkg.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
Owners: @eunchan

[dv,top,pwm] Add initial place holder for pwm test
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_pwm_pulses_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/tests/meson.build
  sw/device/tests/pwm_test.c
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[sw, dv] Minor updates to allow rom copy of ast init
  hw/top_earlgrey/dv/chip_smoketests.hjson
  hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/testing/test_rom/test_rom_start.S
Owners: @lowRISC/ot-dv-reviewers

[AST] Start with uncalibrated AST ckocks
  hw/top_earlgrey/ip/ast/rtl/aon_clk.sv
  hw/top_earlgrey/ip/ast/rtl/aon_osc.sv
  hw/top_earlgrey/ip/ast/rtl/ast.sv
  hw/top_earlgrey/ip/ast/rtl/ast_pkg.sv
  hw/top_earlgrey/ip/ast/rtl/io_clk.sv
  hw/top_earlgrey/ip/ast/rtl/io_osc.sv
  hw/top_earlgrey/ip/ast/rtl/sys_clk.sv
  hw/top_earlgrey/ip/ast/rtl/sys_osc.sv
  hw/top_earlgrey/ip/ast/rtl/usb_clk.sv
  hw/top_earlgrey/ip/ast/rtl/usb_osc.sv
Owners: @Jacob-Levy

[fpv] support read on wr0c reg
  util/reggen/fpv_csr.sv.tpl
Owners: @Jacob-Levy

[dv/aes] Update AES script to support masking and unmasking variant
  hw/ip/aes/dv/aes_base_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[conn] Add two AST related connectivity tests
  hw/top_earlgrey/formal/chip_conn_cfg.hjson
  hw/top_earlgrey/formal/conn_csvs/flash_ast.csv
  hw/top_earlgrey/formal/conn_csvs/spi_device_ast.csv
Owners: @lowRISC/ot-dv-reviewers

[pwrmgr] Various documentation updates
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/pwrmgr/doc/_index.md
  hw/ip/pwrmgr/doc/pwrmgr_fsms.svg
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
Owners: none

[dv] Allow CSR tests to run on custom RALs
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv
  hw/dv/sv/csr_utils/csr_seq_lib.sv
  hw/dv/sv/dv_lib/dv_base_vseq.sv
  hw/ip/keymgr/dv/env/seq_lib/keymgr_common_vseq.sv
  hw/ip_templates/alert_handler/dv/env/seq_lib/alert_handler_common_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_jtag_csr_rw_vseq.sv
  hw/top_earlgrey/ip_autogen/alert_handler/dv/env/seq_lib/alert_handler_common_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[rv_dm, dv] Remove deprecated UVM env
  hw/ip/rv_dm/dv_bkp/env/rv_dm_env.core
  hw/ip/rv_dm/dv_bkp/env/rv_dm_env.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_env_cfg.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_env_cov.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_env_pkg.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_if.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_params_pkg.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_reg_block.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_scoreboard.sv
  hw/ip/rv_dm/dv_bkp/env/rv_dm_virtual_sequencer.sv
  hw/ip/rv_dm/dv_bkp/env/seq_lib/rv_dm_base_vseq.sv
  hw/ip/rv_dm/dv_bkp/env/seq_lib/rv_dm_csr_vseq.sv
  hw/ip/rv_dm/dv_bkp/env/seq_lib/rv_dm_smoke_vseq.sv
  hw/ip/rv_dm/dv_bkp/env/seq_lib/rv_dm_vseq_list.sv
Owners: @vogelpi

[dv] Print computed CSR stuff in RAL
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
  hw/dv/sv/dv_lib/dv_base_env_cfg.sv
Owners: @lowRISC/ot-dv-reviewers

[dv, jtag_if] Keep clk / trst_n methods in one place
  hw/dv/sv/jtag_agent/jtag_agent_cfg.sv
  hw/dv/sv/jtag_agent/jtag_if.sv
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_agent_cfg.sv
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_base_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[dv] Prepare codebase for UVM REG changes
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
  hw/dv/sv/dv_lib/dv_base_env_cfg.sv
  hw/dv/sv/tl_agent/tl_reg_adapter.sv
  hw/ip/aes/dv/env/seq_lib/aes_common_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[dv, jtag_agent] Add JTAG DTM RAL model, fixes
  hw/dv/sv/jtag_agent/jtag_agent.core
  hw/dv/sv/jtag_agent/jtag_agent.sv
  hw/dv/sv/jtag_agent/jtag_agent_cfg.sv
  hw/dv/sv/jtag_agent/jtag_agent_pkg.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_dtm_reg_adapter.sv
  hw/dv/sv/jtag_agent/jtag_dtm_reg_block.sv
  hw/dv/sv/jtag_agent/jtag_if.sv
  hw/dv/sv/jtag_agent/jtag_item.sv
  hw/dv/sv/jtag_agent/jtag_monitor.sv
  hw/dv/sv/jtag_agent/jtag_seq_lib.sv
  hw/dv/sv/jtag_agent/seq_lib/jtag_dr_seq.sv
  hw/dv/sv/jtag_agent/seq_lib/jtag_ir_seq.sv
  hw/dv/sv/jtag_agent/seq_lib/jtag_seq_list.sv
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_monitor.sv
  hw/ip/lc_ctrl/dv/env/lc_ctrl_scoreboard.sv
  hw/ip/lc_ctrl/dv/lc_ctrl_sim_cfg.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[rv_dm dv] Add JTAG DTM RAL, CSR tests
  hw/ip/rv_dm/dv/env/rv_dm_env.core
  hw/ip/rv_dm/dv/env/rv_dm_env_cfg.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_pkg.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dtm_csr_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_vseq_list.sv
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
  hw/ip/rv_dm/dv/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[dv] Add rv_dm to regressions
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
Owners: @lowRISC/ot-dv-reviewers

[aes/dv] directed test to verify manual mode with illegal configuration
  hw/ip/aes/data/aes_testplan.hjson
  hw/ip/aes/dv/aes_base_sim_cfg.hjson
  hw/ip/aes/dv/env/aes_env.core
  hw/ip/aes/dv/env/aes_env_cfg.sv
  hw/ip/aes/dv/env/aes_message_item.sv
  hw/ip/aes/dv/env/aes_seq_item.sv
  hw/ip/aes/dv/env/seq_lib/aes_base_vseq.sv
  hw/ip/aes/dv/env/seq_lib/aes_manual_config_err_vseq.sv
  hw/ip/aes/dv/env/seq_lib/aes_vseq_list.sv
  hw/ip/aes/dv/tests/aes_manual_config_err_test.sv
  hw/ip/aes/dv/tests/aes_test.core
  hw/ip/aes/dv/tests/aes_test_pkg.sv
Owners: @vogelpi, @lowRISC/ot-dv-reviewers

[aes/dv] updated deinit to include trying to trigger start after clear
  hw/ip/aes/data/aes_testplan.hjson
  hw/ip/aes/dv/env/seq_lib/aes_deinit_vseq.sv
Owners: @vogelpi, @lowRISC/ot-dv-reviewers

[kmac] Enable entropy_ready
  sw/device/lib/dif/dif_kmac.c
Owners: @lowRISC/ot-c-cpp-reviewers

[aes] Hold EDN request until acknowledgment in case of fatal alerts
  hw/ip/aes/rtl/aes.sv
Owners: @vogelpi

[dv] Introduce JTAG DMI agent
  hw/dv/sv/jtag_dmi_agent/README.md
  hw/dv/sv/jtag_dmi_agent/jtag_dmi.hjson
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_agent.core
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_agent.svg
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_agent_pkg.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_item.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_monitor.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_reg_block.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_reg_frontdoor.sv
Owners: @lowRISC/ot-dv-reviewers

[dv] CSR seq lib - support for adapter-less RAL
  hw/dv/sv/csr_utils/csr_seq_lib.sv
Owners: @lowRISC/ot-dv-reviewers

[dv] Add cip_tl_device_seq to facotr integrity
  hw/dv/sv/cip_lib/cip_lib.core
  hw/dv/sv/cip_lib/seq_lib/cip_seq_list.sv
  hw/dv/sv/cip_lib/seq_lib/cip_tl_device_seq.sv
  hw/dv/sv/tl_agent/seq_lib/tl_device_seq.sv
Owners: @lowRISC/ot-dv-reviewers

[dv_rm RTL] assertion fix
  hw/ip/rv_dm/rtl/rv_dm.sv
Owners: @vogelpi

[jtag_agent, dv] Minor fixes, enhancements
  hw/dv/sv/jtag_agent/jtag_agent.core
  hw/dv/sv/jtag_agent/jtag_agent_cfg.sv
  hw/dv/sv/jtag_agent/jtag_agent_pkg.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_dtm_reg_adapter.sv
  hw/dv/sv/jtag_agent/jtag_dtm_reg_block.sv
  hw/dv/sv/jtag_agent/jtag_monitor.sv
Owners: @lowRISC/ot-dv-reviewers

[sw,otbn] Add OTBN code snippet for P-384 Solinas reduce.
  sw/otbn/code-snippets/meson.build
  sw/otbn/code-snippets/solinas384.s
Owners: none
