Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @drewmacrae, @asb, @msfschaffner, @tjaychen, @sriyerg, @Jacob-Levy, @eunchan, @vogelpi, @lowRISC/ot-dv-reviewers, @mcy, @milesdai, @rswarbrick

[keymgr] Fix ENUMASSIGN error in testbench
  hw/ip/keymgr/dv/env/keymgr_if.sv
  hw/ip/keymgr/dv/env/keymgr_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[adc_ctrl] Various fixes to better conform to spec
  hw/ip/adc_ctrl/rtl/adc_ctrl_core.sv
  hw/ip/adc_ctrl/rtl/adc_ctrl_fsm.sv
  hw/ip/adc_ctrl/rtl/adc_ctrl_intr.sv
Owners: none

[usbdev] Fix ENUMASSIGN error in testbench
  hw/ip/usbdev/dv/tb/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[entropy_src] Fix ENUMASSIGN error in testbench
  hw/ip/entropy_src/dv/tb/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[csrng] Fix ENUMASSIGN error in testbench
  hw/ip/csrng/dv/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[aes] Fix ENUMASSIGN error in testbench
  hw/ip/aes/dv/tb/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[dv] Flag illegal ENUMASSIGN warnings as errors
  hw/dv/tools/dvsim/vcs.hjson
Owners: @lowRISC/ot-dv-reviewers

[entropy_src/dif] Disable flaky smoke test
  hw/ip/entropy_src/data/entropy_src.prj.hjson
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_smoketests.hjson
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  sw/device/lib/dif/dif_entropy_src.md
  test/systemtest/earlgrey/config.py
Owners: @lowRISC/ot-dv-reviewers, @mcy

[dif/pwm] Add autogen, header, and checklist
  sw/device/lib/dif/autogen/dif_pwm_autogen.c
  sw/device/lib/dif/autogen/dif_pwm_autogen.h
  sw/device/lib/dif/autogen/dif_pwm_autogen_unittest.cc
  sw/device/lib/dif/dif_pwm.h
  sw/device/lib/dif/dif_pwm.md
Owners: @lowRISC/ot-c-cpp-reviewers

[dv/otp_ctrl] Further reduce otp smoke test iteration to avoid timeout
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_smoke_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[sw] Add interrupt attribute to mask_rom_epmp_test exception handler
  sw/device/silicon_creator/mask_rom/mask_rom_epmp_test.c
Owners: @lowRISC/ot-c-cpp-reviewers

[rv_core_ibex, rtl] Add local escalation path to disable fetch
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
Owners: @tjaychen

[otbn,dv] Name some magic constants in otbn_common_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Tweak how we randomise flip_bits in otbn_common_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Explicitly ignore a popped result
  hw/ip/otbn/dv/uvm/env/otbn_loop_if.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Change otbn_scoreboard::on_alert to not be protected
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Remove unused start_model() task from otbn_model_if
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_if.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,rtl] Add cast to output of prim_lc_sync instance
  hw/ip/otbn/rtl/otbn.sv
Owners: none

[csrng/dv] Add default wait time
  hw/ip/csrng/dv/env/seq_lib/csrng_cmds_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Use always (not always_ff) for a block in otbn_core_model
  hw/ip/otbn/dv/model/otbn_core_model.sv
Owners: @lowRISC/ot-dv-reviewers

[ast] Temporary hacks to integrate with clkmgr changes
  hw/top_earlgrey/ip/ast/rtl/ast.sv
  hw/top_earlgrey/ip/ast/rtl/ast_clks_byp.sv
Owners: @Jacob-Levy

[edn/dv] Allow/generate additional command data
  hw/dv/sv/csrng_agent/csrng_agent_cfg.sv
  hw/dv/sv/csrng_agent/csrng_monitor.sv
  hw/ip/csrng/dv/env/csrng_env_pkg.sv
  hw/ip/edn/dv/env/edn_env_cfg.sv
  hw/ip/edn/dv/env/edn_scoreboard.sv
  hw/ip/edn/dv/env/seq_lib/edn_base_vseq.sv
  hw/ip/edn/dv/env/seq_lib/edn_genbits_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[tlul] adjust tlul_sram_byte enable condition
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Owners: @eunchan, @tjaychen

[clkmgr] d2s relate fixes
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/ip/clkmgr/dv/sva/clkmgr_bind.sv
  hw/ip/clkmgr/rtl/clkmgr_byp.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_pkg.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  sw/device/lib/dif/dif_clkmgr.c
  util/topgen/templates/chiplevel.sv.tpl
Owners: @lowRISC/ot-dv-reviewers, @tjaychen, @lowRISC/ot-c-cpp-reviewers, @msfschaffner, @Jacob-Levy

[prim] Minor lint fixes for unused clocks / resets
  hw/ip/prim/rtl/prim_lc_sender.sv
  hw/ip/prim/rtl/prim_lc_sync.sv
Owners: @tjaychen

[clkmgr] Exclude jitter enable from csr tests
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
Owners: none

[sysrst_ctrl,dv] Connect interrupt to fix intr_test
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_env_pkg.sv
  hw/ip/sysrst_ctrl/dv/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[pwrmgr] Address several d2s review items
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/pwrmgr/data/pwrmgr_sec_cm_testplan.hjson
  hw/ip/pwrmgr/doc/_index.md
  hw/ip/pwrmgr/rtl/pwrmgr.sv
  hw/ip/pwrmgr/rtl/pwrmgr_fsm.sv
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr_sec_cm_testplan.hjson
Owners: none

[rv_core_ibex] Fix ENUMASSIGN VCS error
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
  hw/ip/rv_core_ibex/rv_core_ibex.core
Owners: @tjaychen

[rstmgr] remove first_reset variable
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rstmgr/data/rstmgr.sv.tpl
  hw/ip/rstmgr/dv/tb.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
Owners: @lowRISC/ot-dv-reviewers, @tjaychen

[clkmgr] Fix an ENUMASSIGN error in the testbench
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Simplify reset checking
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_base_vseq.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_reset_vseq.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_smoke_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[full_chip,clkmgr] Bind clkmgr SVA in full chip
  hw/top_earlgrey/dv/chip_sim.core
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[sram/dv] Sign off V2S
  hw/ip/sram_ctrl/data/sram_ctrl.prj.hjson
  hw/ip/sram_ctrl/doc/checklist.md
Owners: none

[bazel] Restructure `opentitan_binary` and `opentitan_functest` macros
  rules/autogen.bzl
  rules/opentitan.bzl
  sw/device/examples/hello_usbdev/BUILD
  sw/device/examples/hello_world/BUILD
  sw/device/lib/testing/test_rom/BUILD
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/tests/crypto/BUILD
  util/design/BUILD
Owners: @cfrantz, @drewmacrae

[dvsim] Fix pass/fail status for synthesis regression
  hw/syn/tools/dc/parse-syn-report.py
  util/dvsim/SynCfg.py
Owners: none

[rv_dm] Enable byte access to debug mem
  hw/ip/rv_dm/dv/env/rv_dm_env.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_cfg.sv
Owners: @lowRISC/ot-dv-reviewers

[rv_dm] CSR test fixes
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
  hw/dv/sv/jtag_agent/jtag_agent_cfg.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_dtm_reg_block.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_agent_pkg.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_cfg.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dtm_csr_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[rv_dm dv] Minor enhancement to CSR test seqs
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dmi_csr_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dtm_csr_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[dv, jtag_dmi_agent] Introduce sba_access_utils_pkg
  hw/dv/sv/jtag_dmi_agent/README.md
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_agent.core
  hw/dv/sv/jtag_dmi_agent/sba_access_utils_pkg.sv
Owners: @lowRISC/ot-dv-reviewers

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".
#
# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# Default Reviewers
# *     @asb

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz @drewmacrae
BUILD               @cfrantz @drewmacrae
BUILD.bazel         @cfrantz @drewmacrae
/WORKSPACE          @cfrantz @drewmacrae
/.bazelrc           @cfrantz @drewmacrae

# Utils: reggen, topgen, tlgen
util/*.py           @asb
util/*gen/          @msfschaffner @tjaychen
util/uvmdvgen*      @sriyerg
util/regtool.py     @Jacob-Levy
util/reggen/        @Jacob-Levy
util/tlgen.py       @eunchan @msfschaffner @tjaychen
util/tlgen/         @eunchan @msfschaffner @tjaychen
util/topgen.py      @msfschaffner @tjaychen @Jacob-Levy
util/topgen/        @msfschaffner @tjaychen @Jacob-Levy

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/flash_ctrl/      @tjaychen
/hw/ip/kmac/rtl/        @eunchan
/hw/ip/padctrl/         @msfschaffner @tjaychen
/hw/ip/pinmux/          @msfschaffner @tjaychen
/hw/ip/prim*            @tjaychen
/hw/ip/rv_core_ibex/    @tjaychen
/hw/ip/rv_dm/           @vogelpi
/hw/ip/spi_device/rtl/  @eunchan
/hw/ip/tlul/rtl/        @eunchan @tjaychen
# /hw/ip/usb*           # TBD
/hw/top_*/rtl           @tjaychen
/hw/top_*/doc/top_*     @msfschaffner @tjaychen
/hw/top_*/ip/ast        @Jacob-Levy


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @asb

# License related files
LICENSE*            @asb
COPYING*            @asb
/util/licence-checker.hjson  @asb

# CI and testing
/ci/                @mcy @milesdai @rswarbrick
/test/              @mcy
azure-pipelines.yml @mcy @milesdai @rswarbrick
