Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @drewmacrae, @msfschaffner, @tjaychen, @sriyerg, @Jacob-Levy, @eunchan, @vogelpi, @lowRISC/ot-dv-reviewers, @mundaym, @milesdai, @rswarbrick

[dv/alert_handler] Update cover_reg_top
  hw/ip_templates/alert_handler/dv/alert_handler_sim_cfg.hjson.tpl
  hw/ip_templates/alert_handler/dv/cov/alert_handler_cover_reg_top.cfg
  hw/top_earlgrey/ip_autogen/alert_handler/dv/alert_handler_sim_cfg.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/dv/cov/alert_handler_cover_reg_top.cfg
Owners: @lowRISC/ot-dv-reviewers

increase byte size to max
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_if.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_llpbk_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Add exclusions
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_cov_excl.el
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_unr_excl.el
  hw/ip/sram_ctrl/dv/sram_ctrl_base_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Update lc_esc test
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_base_vseq.sv
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_lc_escalation_vseq.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[doc] Add language regarding current usage of devmode
  doc/rm/register_tool/index.md
Owners: @mundaym

[sram_ctrl/dv] Fix 2 resets tie together
  hw/ip/sram_ctrl/dv/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[spi_host] Waive SPI_HOST_CLK metastable
  hw/top_earlgrey/rdc/rdc_waivers.tcl
Owners: none

[i2c] Add loopback support for target mode
  hw/ip/i2c/doc/_index.md
  hw/ip/i2c/i2c.core
  hw/ip/i2c/i2c_pkg.core
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_pkg.sv
Owners: none

[i2c] update i2c terminology
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/doc/_index.md
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/i2c_seq_cfg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_reset_rx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_threshold_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
  hw/ip/i2c/dv/tb/tb.sv
  hw/ip/i2c/rtl/i2c.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/autogen/dif_i2c_autogen.c
  sw/device/lib/dif/autogen/dif_i2c_autogen.h
  sw/device/lib/dif/autogen/dif_i2c_autogen_unittest.cc
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/sim_dv/i2c_device_tx_rx_test.c
  sw/device/tests/sim_dv/i2c_host_tx_rx_test.c
Owners: @lowRISC/ot-dv-reviewers, @tjaychen, @lowRISC/ot-c-cpp-reviewers

[rom] Skip rnd crc checks based on OTP flag.
  sw/device/silicon_creator/lib/drivers/rnd.c
  sw/device/silicon_creator/lib/drivers/rnd_unittest.cc
  sw/device/silicon_creator/rom/e2e/BUILD
Owners: @lowRISC/ot-c-cpp-reviewers

[sram_ctrl/dv] Add exclusions
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_cov_excl.el
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_unr_excl.el
  hw/ip/sram_ctrl/dv/sram_ctrl_base_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv] ICEBOX devmode TODO
  hw/dv/sv/cip_lib/cip_base_env_cfg.sv
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Fix a typo
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_cov_excl.el
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Fix a typo
  hw/ip/sram_ctrl/dv/cov/sram_ctrl_cov_excl.el
Owners: @lowRISC/ot-dv-reviewers

[sram_ctrl/dv] Fix 2 resets tie together
  hw/ip/sram_ctrl/dv/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[spi_host] Waive SPI_HOST_CLK metastable
  hw/top_earlgrey/rdc/rdc_waivers.tcl
Owners: none

[test] check UART transimitions in power virus test
  sw/device/tests/power_virus_systemtest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[test] add SV host component for power virus test
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_i2c_tx_rx_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_power_virus_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
Owners: @lowRISC/ot-dv-reviewers

[test] configure I2C agent in power virus test
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_power_virus_vseq.sv
  sw/device/tests/power_virus_systemtest.c
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[i2c,dv] i2c loopback test
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_smoke_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_llpbk_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
  hw/ip/i2c/dv/tests/i2c_base_test.sv
Owners: @lowRISC/ot-dv-reviewers

[edn] Disallow software command writes when in auto mode
  hw/ip/edn/data/edn.hjson
  hw/ip/edn/rtl/edn_core.sv
  hw/ip/edn/rtl/edn_main_sm.sv
Owners: none

[i2c] Add loopback support for target mode
  hw/ip/i2c/doc/_index.md
  hw/ip/i2c/i2c.core
  hw/ip/i2c/i2c_pkg.core
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_pkg.sv
Owners: none

[rom] Add entropy_src health config check
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/lib/drivers/mock_rnd.cc
  sw/device/silicon_creator/lib/drivers/mock_rnd.h
  sw/device/silicon_creator/lib/drivers/rnd.c
  sw/device/silicon_creator/lib/drivers/rnd.h
  sw/device/silicon_creator/lib/drivers/rnd_functest.c
  sw/device/silicon_creator/lib/drivers/rnd_unittest.cc
  sw/device/silicon_creator/lib/error.h
  sw/device/silicon_creator/rom/rom.c
  sw/device/silicon_creator/rom/rom_start.S
Owners: @lowRISC/ot-c-cpp-reviewers

[otp/rom] Add entropy_src health OTP settings.
  hw/ip/otp_ctrl/data/BUILD
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_img_creator_sw_cfg.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson
  hw/ip/otp_ctrl/doc/otp_ctrl_mmap.md
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  sw/device/silicon_creator/rom/rom_start.S
Owners: none

[rom] Skip rnd crc checks based on OTP flag.
  sw/device/silicon_creator/lib/drivers/rnd.c
  sw/device/silicon_creator/lib/drivers/rnd_unittest.cc
  sw/device/silicon_creator/rom/e2e/BUILD
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Port cryptolib AES driver to `status_t`.
  sw/device/lib/crypto/drivers/BUILD
  sw/device/lib/crypto/drivers/aes.c
  sw/device/lib/crypto/drivers/aes.h
  sw/device/lib/crypto/drivers/aes_test.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Port AES-GCM to use status_t.
  sw/device/lib/crypto/impl/aes_gcm/aes_gcm.c
  sw/device/lib/crypto/impl/aes_gcm/aes_gcm.h
  sw/device/tests/crypto/aes_gcm_testutils.c
Owners: @lowRISC/ot-c-cpp-reviewers

[crypto] Port HMAC driver to new cryptolib status codes.
  sw/device/lib/crypto/drivers/BUILD
  sw/device/lib/crypto/drivers/hmac.c
  sw/device/lib/crypto/drivers/hmac.h
  sw/device/lib/crypto/impl/rsa_3072/rsa_3072_verify.c
  sw/device/lib/crypto/impl/rsa_3072/rsa_3072_verify.h
  sw/device/tests/crypto/ecdsa_p256_functest.c
  sw/device/tests/crypto/ecdsa_p256_verify_functest.c
  sw/device/tests/crypto/rsa_3072_verify_functest.c
Owners: @lowRISC/ot-c-cpp-reviewers

[python-requirements] Pin setuptools version to < 66.0.0
  ci/install-package-dependencies.sh
  doc/getting_started/_index.md
  site/docs/builder.Dockerfile
  util/container/Dockerfile
Owners: @drewmacrae, @milesdai, @rswarbrick, @mundaym

[python-requirements] Pin setuptools version to < 66.0.0
  ci/install-package-dependencies.sh
  doc/getting_started/_index.md
  site/docs/builder.Dockerfile
  util/container/Dockerfile
Owners: @drewmacrae, @milesdai, @rswarbrick, @mundaym

[top/dv] Disable SVAs when glitching cache signals in Ibex lockstep test
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rv_core_ibex_lockstep_glitch_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[top/dv] Always glitch on negative clock edge in Ibex lockstep test
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rv_core_ibex_lockstep_glitch_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[vendor] Vendor XKCP/lib with bazel (i.e. standard KMAC impl)
  WORKSPACE
  third_party/xkcp/BUILD
  third_party/xkcp/BUILD.xkcp.bazel
  third_party/xkcp/add_config_header.patch
  third_party/xkcp/add_main_license.patch
  third_party/xkcp/repos.bzl
Owners: @cfrantz, @drewmacrae

[top/dv] Fix back propagation of non-lockstep inputs in lockstep test
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rv_core_ibex_lockstep_glitch_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[entropy_src] Latch rng_enable
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Owners: none

[tool_requirements] Increase minimum VCS version to 2022.06-SP2
  tool_requirements.py
Owners: none

[edn] Disallow software command writes when in auto mode
  hw/ip/edn/data/edn.hjson
  hw/ip/edn/rtl/edn_core.sv
  hw/ip/edn/rtl/edn_main_sm.sv
Owners: none

[i2c] update i2c terminology
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/doc/_index.md
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/i2c_seq_cfg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_reset_rx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_threshold_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
  hw/ip/i2c/dv/tb/tb.sv
  hw/ip/i2c/rtl/i2c.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/autogen/dif_i2c_autogen.c
  sw/device/lib/dif/autogen/dif_i2c_autogen.h
  sw/device/lib/dif/autogen/dif_i2c_autogen_unittest.cc
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/sim_dv/i2c_device_tx_rx_test.c
  sw/device/tests/sim_dv/i2c_host_tx_rx_test.c
Owners: @lowRISC/ot-dv-reviewers, @tjaychen, @lowRISC/ot-c-cpp-reviewers

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".

# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# For now, ignore GitHub's error annotations of the form "Unknown owner: make
# sure $username exists and has write access to the repository". See
# https://github.com/lowRISC/opentitan/issues/13469 for discussion.

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz @drewmacrae
/WORKSPACE          @cfrantz @drewmacrae
/.bazelrc           @cfrantz @drewmacrae

# Utils: reggen, topgen, tlgen
util/*gen/          @msfschaffner @tjaychen
util/uvmdvgen*      @sriyerg
util/regtool.py     @Jacob-Levy
util/reggen/        @Jacob-Levy
util/tlgen.py       @eunchan @msfschaffner @tjaychen
util/tlgen/         @eunchan @msfschaffner @tjaychen
util/topgen.py      @msfschaffner @tjaychen @Jacob-Levy
util/topgen/        @msfschaffner @tjaychen @Jacob-Levy

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/flash_ctrl/      @tjaychen
/hw/ip/kmac/rtl/        @eunchan
/hw/ip/pinmux/          @msfschaffner @tjaychen
/hw/ip/prim*            @tjaychen
/hw/ip/rv_core_ibex/    @tjaychen
/hw/ip/rv_dm/           @vogelpi
/hw/ip/spi_device/rtl/  @eunchan
/hw/ip/tlul/rtl/        @eunchan @tjaychen
# /hw/ip/usb*           # TBD
/hw/top_*/rtl           @tjaychen
/hw/top_*/doc/top_*     @msfschaffner @tjaychen
/hw/top_*/ip/ast        @Jacob-Levy


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @mundaym

# License related files
LICENSE*            @mundaym
COPYING*            @mundaym
/util/licence-checker.hjson  @mundaym

# CI and testing
/ci/                @drewmacrae @milesdai @rswarbrick
# /test/            # TBD
azure-pipelines.yml @drewmacrae @milesdai @rswarbrick
