Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @drewmacrae, @asb, @msfschaffner, @tjaychen, @sriyerg, @Jacob-Levy, @eunchan, @vogelpi, @lowRISC/ot-dv-reviewers, @mcy, @milesdai, @rswarbrick

[rv_dm dv] Instantiate jtag DMI monitor and RAL, tests
  hw/ip/rv_dm/dv/env/rv_dm_env.core
  hw/ip/rv_dm/dv/env/rv_dm_env.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_cfg.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_pkg.sv
  hw/ip/rv_dm/dv/env/rv_dm_scoreboard.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dmi_csr_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_vseq_list.sv
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[tlul_sram_byte] Fix width mismatch
  hw/ip/tlul/rtl/tlul_sram_byte.sv
Owners: @eunchan, @tjaychen

[sw/silicon_creator] Add kFlashCtrlErasedWord
  sw/device/silicon_creator/lib/boot_data.c
  sw/device/silicon_creator/lib/boot_data.h
  sw/device/silicon_creator/lib/drivers/flash_ctrl.h
Owners: @lowRISC/ot-c-cpp-reviewers

[sw/silicon_creator] Remove kMemBase from flash_ctrl
  sw/device/silicon_creator/lib/drivers/flash_ctrl.c
Owners: @lowRISC/ot-c-cpp-reviewers

[sw/silicon_creator] Harden flash_ctrl_erase_type_t
  sw/device/silicon_creator/lib/drivers/flash_ctrl.c
  sw/device/silicon_creator/lib/drivers/flash_ctrl.h
Owners: @lowRISC/ot-c-cpp-reviewers

[sw/silicon_creator] Add flash_ctrl_data_erase_verify
  sw/device/silicon_creator/lib/drivers/flash_ctrl.c
  sw/device/silicon_creator/lib/drivers/flash_ctrl.h
  sw/device/silicon_creator/lib/drivers/flash_ctrl_unittest.cc
  sw/device/silicon_creator/lib/error.h
Owners: @lowRISC/ot-c-cpp-reviewers

[topgen] Remove suffix for mixed port connections
  util/topgen/intermodule.py
Owners: @msfschaffner, @tjaychen, @Jacob-Levy

[usbdev] Clean up confusing uses of "differential"
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_nb_pe.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_rx.sv
  hw/ip/usbdev/data/usbdev.hjson
  hw/ip/usbdev/doc/_index.md
  hw/ip/usbdev/rtl/usbdev.sv
  hw/ip/usbdev/rtl/usbdev_iomux.sv
  hw/ip/usbdev/rtl/usbdev_reg_pkg.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_usbif.sv
  sw/device/lib/dif/dif_usbdev.c
  sw/device/lib/dif/dif_usbdev.h
  sw/device/lib/usbdev.c
  sw/device/lib/usbdev.h
  sw/device/tests/usbdev_test.c
Owners: @lowRISC/ot-c-cpp-reviewers

[fpv/csr] Support rw0c
  util/reggen/fpv_csr.sv.tpl
Owners: @Jacob-Levy

[fpv/pinmux] A few update on pinmux
  hw/ip/pinmux/fpv/tb/pinmux_tb.sv
  hw/ip/pinmux/fpv/vip/pinmux_assert_fpv.sv
  hw/top_earlgrey/ip/pinmux/fpv/tb/pinmux_tb.sv
  util/reggen/fpv_csr.sv.tpl
Owners: @lowRISC/ot-dv-reviewers, @Jacob-Levy

[fpv/sec] Add some workaround logic for $cast keyword
  hw/ip/prim/rtl/prim_sparse_fsm_flop.sv
  hw/top_earlgrey/formal/top_earlgrey_fpv_cfgs.hjson
Owners: @tjaychen, @lowRISC/ot-dv-reviewers

Correct documentation typo
  hw/ip/tlul/doc/_index.md
Owners: none

[otbn,dv] Make sure we're writing bad data in otbn_*mem_err_vseq
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_dmem_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[rom_ctrl, dv] Added testcase for verifying sparse FSM
  hw/ip/rom_ctrl/data/rom_ctrl_testplan.hjson
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_cfg.sv
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_pkg.sv
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_common_vseq.sv
  hw/ip/rom_ctrl/dv/rom_ctrl_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[adc_ctrl/dv] Added ADC functional coverage
  hw/ip/adc_ctrl/dv/adc_ctrl_sim_cfg.hjson
  hw/ip/adc_ctrl/dv/cov/adc_ctrl_core_cov_if.sv
  hw/ip/adc_ctrl/dv/cov/adc_ctrl_cov.core
  hw/ip/adc_ctrl/dv/cov/adc_ctrl_cov_bind.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cov.sv
Owners: @lowRISC/ot-dv-reviewers

[opentitantool] Persistent session support
  sw/host/Cargo.toml
  sw/host/meson.build
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/Cargo.toml
  sw/host/opentitanlib/src/proxy/handler.rs
  sw/host/opentitanlib/src/proxy/mod.rs
  sw/host/opentitanlib/src/proxy/socket_server.rs
  sw/host/opentitansession/BUILD
  sw/host/opentitansession/Cargo.toml
  sw/host/opentitansession/meson.build
  sw/host/opentitansession/src/main.rs
  third_party/cargo/crates.bzl
  third_party/cargo/remote/BUILD.mio-0.7.14.bazel
  third_party/cargo/remote/BUILD.mio-signals-0.1.5.bazel
  third_party/cargo/remote/BUILD.miow-0.3.7.bazel
Owners: @cfrantz, @drewmacrae, @lowRISC/ot-rust-reviewers

[adc_ctrl/dv] Added adc_ctrl_filters_wakeup test
  hw/ip/adc_ctrl/data/adc_ctrl_testplan.hjson
  hw/ip/adc_ctrl/dv/adc_ctrl_sim_cfg.hjson
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env.core
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cfg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_scoreboard.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_wakeup_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_vseq_list.sv
Owners: @lowRISC/ot-dv-reviewers

[kmac] Lint fix (alert_q[0] tie)
  hw/ip/kmac/rtl/kmac.sv
Owners: @eunchan

[spi_host/dv] Enhanced Smoke Test
  hw/dv/sv/spi_agent/seq_lib/spi_device_cmd_rsp_seq.sv
  hw/dv/sv/spi_agent/spi_monitor.sv
  hw/ip/spi_host/data/spi_host_testplan.hjson
  hw/ip/spi_host/dv/env/seq_lib/spi_host_performance_vseq.sv
  hw/ip/spi_host/dv/env/seq_lib/spi_host_sw_reset_vseq.sv
  hw/ip/spi_host/dv/env/seq_lib/spi_host_vseq_list.sv
  hw/ip/spi_host/dv/env/spi_host_env.core
  hw/ip/spi_host/dv/env/spi_host_env_pkg.sv
  hw/ip/spi_host/dv/env/spi_host_scoreboard.sv
  hw/ip/spi_host/dv/spi_host_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[dif/alert_handler] Fix DIF doxygen comments
  sw/device/lib/dif/dif_alert_handler.h
Owners: @lowRISC/ot-c-cpp-reviewers

[sysrst_ctrl,dv] Add sysrst_ctrl auto-block-key-output test
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_auto_blk_key_output_vseq.sv
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_combo_detect_ec_rst_vseq.sv
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_vseq_list.sv
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_env.core
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_scoreboard.sv
  hw/ip/sysrst_ctrl/dv/sysrst_ctrl_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Add port toggle coverage for rstmgr_cnsty_chk
  hw/ip/rstmgr/dv/cov/rstmgr_cover.cfg
Owners: @lowRISC/ot-dv-reviewers

[dv,full_chip,clkmgr] Test access to disabled peripheral
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/lib/testing/aon_timer_testutils.c
  sw/device/lib/testing/aon_timer_testutils.h
  sw/device/tests/aon_timer_irq_test.c
  sw/device/tests/aon_timer_sleep_wdog_sleep_pause_test.c
  sw/device/tests/aon_timer_wdog_bite_reset_test.c
  sw/device/tests/clkmgr_peri_off_test.c
  sw/device/tests/meson.build
Owners: @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[rstmgr] Address several d2s review items
  hw/ip/prim/lint/prim_mubi.waiver
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rstmgr/data/rstmgr.sv.tpl
  hw/ip/rstmgr/dv/env/rstmgr_env_pkg.sv
  hw/ip/rstmgr/rtl/rstmgr_cnsty_chk.sv
  hw/ip/rstmgr/rtl/rstmgr_leaf_rst.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_pkg.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_top.sv
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/data/top_earlgrey_alert_handler.ipconfig.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/autogen/dif_rstmgr_autogen.c
  sw/device/lib/dif/autogen/dif_rstmgr_autogen.h
  sw/device/lib/dif/autogen/dif_rstmgr_autogen_unittest.cc
Owners: @tjaychen, @lowRISC/ot-dv-reviewers, @lowRISC/ot-c-cpp-reviewers

[adc_ctrl] documentation update
  hw/ip/adc_ctrl/doc/_index.md
Owners: none

[sw,tests] Add the chip level test chip_sw_aon_timer_wdog_lc_escalate
  hw/top_earlgrey/data/chip_testplan.hjson
  sw/device/tests/aon_timer_wdog_lc_escalate_test.c
  sw/device/tests/meson.build
Owners: @lowRISC/ot-c-cpp-reviewers

[dv] Fix pkg import in interfaces
  hw/dv/sv/sec_cm/prim_count_if.sv
  hw/dv/sv/sec_cm/prim_double_lfsr_if.sv
  hw/dv/sv/sec_cm/prim_sparse_fsm_flop_if.sv
Owners: @lowRISC/ot-dv-reviewers

[xbar/dv] Update scb to generate intg for unmapped address in xbar
  hw/ip/tlul/generic_dv/env/seq_lib/xbar_seq_err_item.sv
  hw/ip/tlul/generic_dv/env/xbar_env.core
  hw/ip/tlul/generic_dv/env/xbar_env.sv
  hw/ip/tlul/generic_dv/env/xbar_env_pkg.sv
  hw/ip/tlul/generic_dv/env/xbar_scoreboard.sv
  hw/ip/tlul/generic_dv/tests/xbar_error_test.sv
Owners: none

[bazel/CI] Install bazel in OT CI
  ci/install-package-dependencies.sh
Owners: @mcy, @milesdai, @rswarbrick

[flash_ctrl] Correct erase suspend interface behavior
  hw/ip/flash_ctrl/data/flash_ctrl.sv.tpl
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_phy.sv
  hw/ip/flash_ctrl/rtl/flash_phy_core.sv
  hw/ip/flash_ctrl/rtl/flash_phy_erase.sv
  hw/ip/flash_ctrl/rtl/flash_phy_pkg.sv
  hw/ip/flash_ctrl/rtl/flash_phy_rd.sv
  hw/ip/prim_generic/rtl/prim_generic_flash_bank.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv
Owners: @tjaychen

[rom_ctrl,rtl] Obey KMAC interface protocol, even after faults
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Owners: none

[rom_ctrl] Add consistency assertion relating "last / valid" signals
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Owners: none

[dv/rstmgr] Add missing covergroups
  hw/ip/rstmgr/data/rstmgr_testplan.hjson
  hw/ip/rstmgr/dv/env/rstmgr_env_cov.sv
  hw/ip/rstmgr/dv/env/rstmgr_if.sv
  hw/ip/rstmgr/dv/env/rstmgr_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[edn/data] Remove exclusions from edn hjson file
  hw/ip/edn/data/edn.hjson
  hw/ip/edn/rtl/edn_core.sv
  hw/ip/edn/rtl/edn_reg_pkg.sv
  hw/ip/edn/rtl/edn_reg_top.sv
Owners: none

[entropy_src/rtl] Sync FW override mode with main state machine
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/entropy_src/rtl/entropy_src_core.sv
  hw/ip/entropy_src/rtl/entropy_src_main_sm.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_pkg.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_top.sv
Owners: none

[csrng/data] Remove excl keywords from hjson file
  hw/ip/csrng/data/csrng.hjson
  hw/ip/csrng/rtl/csrng_core.sv
  hw/ip/csrng/rtl/csrng_reg_pkg.sv
  hw/ip/csrng/rtl/csrng_reg_top.sv
Owners: none

[rstmgr] unr related clean-up
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rstmgr/data/rstmgr.sv.tpl
  hw/ip/rstmgr/rtl/rstmgr_cnsty_chk.sv
  hw/ip/rstmgr/rtl/rstmgr_leaf_rst.sv
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
Owners: none

[entropy_src, dv] Test entropy_src interrupts, alerts and errors
  hw/ip/entropy_src/data/entropy_src_testplan.hjson
  hw/ip/entropy_src/dv/entropy_src_sim_cfg.hjson
  hw/ip/entropy_src/dv/env/entropy_src_env.core
  hw/ip/entropy_src/dv/env/entropy_src_env.sv
  hw/ip/entropy_src/dv/env/entropy_src_env_cfg.sv
  hw/ip/entropy_src/dv/env/entropy_src_env_pkg.sv
  hw/ip/entropy_src/dv/env/entropy_src_path_if.sv
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_alert_vseq.sv
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_base_vseq.sv
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_err_vseq.sv
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_intr_vseq.sv
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_vseq_list.sv
  hw/ip/entropy_src/dv/sva/entropy_src_assert_if.sv
  hw/ip/entropy_src/dv/sva/entropy_src_sva.core
  hw/ip/entropy_src/dv/tb/tb.sv
  hw/ip/entropy_src/dv/tests/entropy_src_alert_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_base_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_intr_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_rng_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_smoke_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_stress_all_test.sv
  hw/ip/entropy_src/dv/tests/entropy_src_test.core
  hw/ip/entropy_src/dv/tests/entropy_src_test_pkg.sv
Owners: @lowRISC/ot-dv-reviewers

[adc_ctrl] Documentation update for pwrup timing
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
Owners: none

[otp_ctrl] Initialize noce/key regs with RndCnst instead of all-zero
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_rnd_cnst_pkg.sv
Owners: @tjaychen

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".
#
# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# Default Reviewers
# *     @asb

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz @drewmacrae
BUILD               @cfrantz @drewmacrae
BUILD.bazel         @cfrantz @drewmacrae
/WORKSPACE          @cfrantz @drewmacrae
/.bazelrc           @cfrantz @drewmacrae

# Utils: reggen, topgen, tlgen
util/*.py           @asb
util/*gen/          @msfschaffner @tjaychen
util/uvmdvgen*      @sriyerg
util/regtool.py     @Jacob-Levy
util/reggen/        @Jacob-Levy
util/tlgen.py       @eunchan @msfschaffner @tjaychen
util/tlgen/         @eunchan @msfschaffner @tjaychen
util/topgen.py      @msfschaffner @tjaychen @Jacob-Levy
util/topgen/        @msfschaffner @tjaychen @Jacob-Levy

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/flash_ctrl/      @tjaychen
/hw/ip/kmac/rtl/        @eunchan
/hw/ip/padctrl/         @msfschaffner @tjaychen
/hw/ip/pinmux/          @msfschaffner @tjaychen
/hw/ip/prim*            @tjaychen
/hw/ip/rv_core_ibex/    @tjaychen
/hw/ip/rv_dm/           @vogelpi
/hw/ip/spi_device/rtl/  @eunchan
/hw/ip/tlul/rtl/        @eunchan @tjaychen
# /hw/ip/usb*           # TBD
/hw/top_*/rtl           @tjaychen
/hw/top_*/doc/top_*     @msfschaffner @tjaychen
/hw/top_*/ip/ast        @Jacob-Levy


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @asb

# License related files
LICENSE*            @asb
COPYING*            @asb
/util/licence-checker.hjson  @asb

# CI and testing
/ci/                @mcy @milesdai @rswarbrick
/test/              @mcy
azure-pipelines.yml @mcy @milesdai @rswarbrick
