Repository lowRISC/opentitan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lowRISC/ot-c-cpp-reviewers, @lowRISC/ot-rust-reviewers, @cfrantz, @drewmacrae, @asb, @msfschaffner, @tjaychen, @sriyerg, @Jacob-Levy, @eunchan, @vogelpi, @lowRISC/ot-dv-reviewers, @mcy, @milesdai, @rswarbrick

.github/CODEOWNERS:

# This file specifies default reviewers for new pull requests. This is used as a
# convenience - the OpenTitan project doesn't currently have a formalised notion
# of "code owners".
#
# Note: The default reviewers aren't required to give a review prior to merging.
# You are encouraged to add non-default reviewers where you know someone else
# may have useful insight or has been recently working in the area touched by
# your PR. Anyone is able to contribute to pull request review, and is
# encouraged to do so

# Default Reviewers
# *     @asb

# Order: last matching pattern takes the most precedence.
#   Please refer the link for the detail
#   https://help.github.com/en/articles/about-code-owners

*.cc                @lowRISC/ot-c-cpp-reviewers
*.c                 @lowRISC/ot-c-cpp-reviewers
*.h                 @lowRISC/ot-c-cpp-reviewers
*.rs                @lowRISC/ot-rust-reviewers


# Bazel build rules
*.bzl               @cfrantz @drewmacrae
BUILD               @cfrantz @drewmacrae
BUILD.bazel         @cfrantz @drewmacrae
/WORKSPACE          @cfrantz @drewmacrae
/.bazelrc           @cfrantz @drewmacrae

# Utils: reggen, topgen, tlgen
util/*.py           @asb
util/*gen/          @msfschaffner @tjaychen
util/uvmdvgen*      @sriyerg
util/regtool.py     @Jacob-Levy
util/reggen/        @Jacob-Levy
util/tlgen.py       @eunchan @msfschaffner @tjaychen
util/tlgen/         @eunchan @msfschaffner @tjaychen
util/topgen.py      @msfschaffner @tjaychen @Jacob-Levy
util/topgen/        @msfschaffner @tjaychen @Jacob-Levy

# RTL related
/hw/ip/aes/             @vogelpi
/hw/ip/alert_handler/   @msfschaffner
/hw/ip/flash_ctrl/      @tjaychen
/hw/ip/kmac/rtl/        @eunchan
/hw/ip/padctrl/         @msfschaffner @tjaychen
/hw/ip/pinmux/          @msfschaffner @tjaychen
/hw/ip/prim*            @tjaychen
/hw/ip/rv_core_ibex/    @tjaychen
/hw/ip/rv_dm/           @vogelpi
/hw/ip/spi_device/rtl/  @eunchan
/hw/ip/tlul/rtl/        @eunchan @tjaychen
# /hw/ip/usb*           # TBD
/hw/top_*/rtl           @tjaychen
/hw/top_*/doc/top_*     @msfschaffner @tjaychen
/hw/top_*/ip/ast        @Jacob-Levy


# DV related common files
dv/                 @lowRISC/ot-dv-reviewers
fpv/                @lowRISC/ot-dv-reviewers
formal/             @lowRISC/ot-dv-reviewers
# lint/             # TBD

# Common docs
/doc/               @asb

# License related files
LICENSE*            @asb
COPYING*            @asb
/util/licence-checker.hjson  @asb

# CI and testing
/ci/                @mcy @milesdai @rswarbrick
/test/              @mcy
azure-pipelines.yml @mcy @milesdai @rswarbrick

[sw/silicon_creator] Move mock_abs_mmio to device/lib.
  sw/device/lib/base/BUILD
  sw/device/lib/base/testing/BUILD
  sw/device/lib/base/testing/meson.build
  sw/device/lib/base/testing/mock_abs_mmio.h
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/base/BUILD
  sw/device/silicon_creator/lib/base/meson.build
  sw/device/silicon_creator/lib/base/sec_mmio_unittest.cc
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/lib/drivers/flash_ctrl_unittest.cc
  sw/device/silicon_creator/lib/drivers/hmac_unittest.cc
  sw/device/silicon_creator/lib/drivers/keymgr_unittest.cc
  sw/device/silicon_creator/lib/drivers/meson.build
  sw/device/silicon_creator/lib/drivers/otbn_unittest.cc
  sw/device/silicon_creator/lib/drivers/pinmux_unittest.cc
  sw/device/silicon_creator/lib/drivers/retention_sram_unittest.cc
  sw/device/silicon_creator/lib/drivers/rstmgr_unittest.cc
  sw/device/silicon_creator/lib/drivers/uart_unittest.cc
  sw/device/silicon_creator/lib/drivers/watchdog_unittest.cc
  sw/device/silicon_creator/lib/meson.build
  sw/device/silicon_creator/lib/shutdown_unittest.cc
Owners: @cfrantz, @drewmacrae, @lowRISC/ot-c-cpp-reviewers

[aes/dv] enable masking
  hw/ip/aes/dv/aes_base_sim_cfg.hjson
  hw/ip/aes/dv/aes_masking_sim_cfg.hjson
  hw/ip/aes/dv/aes_no_masking_sim_cfg.hjson
  hw/ip/aes/dv/tb/tb.sv
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
Owners: @lowRISC/ot-dv-reviewers

[rv_dm] Move to D2S
  hw/ip/rv_dm/data/rv_dm.prj.hjson
Owners: @vogelpi

[otbn,rtl] Lint Fix
  hw/ip/otbn/rtl/otbn_scramble_ctrl.sv
Owners: none

[dvsim] Minor changes to SynCfg results reporting
  util/dvsim/SynCfg.py
Owners: none

[syn] Extend synthesis parsing script for partial synthesis flows
  hw/syn/tools/dc/parse-syn-report.py
Owners: none

[syn] Add an elaboration-only synthesis target
  hw/syn/tools/dc/run-syn.tcl
  hw/syn/tools/dvsim/common_gtech_syn_cfg.hjson
  hw/syn/tools/dvsim/common_syn_cfg.hjson
  hw/syn/tools/dvsim/dc.hjson
  hw/top_earlgrey/syn/chip_earlgrey_asic_elab_syn_cfg.hjson
Owners: none

[tlul] socket error responder generates correct integrity
  hw/ip/tlul/rtl/tlul_err_resp.sv
Owners: @eunchan, @tjaychen

[util] Add templates to autogen ISR testutils
  util/autogen_testutils.py
  util/autogen_testutils/isr_testutils.c.tpl
  util/autogen_testutils/isr_testutils.h.tpl
  util/autogen_testutils/meson.build.tpl
Owners: @asb

[fpga, clkmgr] Use global clock buffer for KMAC
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
Owners: none

[adc_ctrl/dv] Added adc_ctrl_filters_interrupt test
  hw/ip/adc_ctrl/data/adc_ctrl_testplan.hjson
  hw/ip/adc_ctrl/dv/adc_ctrl_sim_cfg.hjson
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env.core
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cfg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_pkg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_scoreboard.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_interrupt_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_polled_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_vseq_list.sv
  hw/ip/adc_ctrl/dv/tests/adc_ctrl_base_test.sv
Owners: @lowRISC/ot-dv-reviewers

[sram/dv] Update sec_cm testplan
  hw/ip/sram_ctrl/data/sram_ctrl_sec_cm_testplan.hjson
Owners: none

[doc] Documentation and testplan update for double fault
  hw/ip/rstmgr/doc/_index.md
  hw/ip/rv_core_ibex/doc/_index.md
  hw/top_earlgrey/data/chip_testplan.hjson
Owners: @tjaychen

[fpv/pinmux] Update pinmux IOs
  hw/ip/pinmux/fpv/tb/pinmux_bind_fpv.sv
  hw/ip/pinmux/fpv/tb/pinmux_tb.sv
  hw/ip/pinmux/fpv/vip/pinmux_assert_fpv.sv
Owners: @lowRISC/ot-dv-reviewers

[util/dvsim] Fix confusing error message
  util/dvsim/CfgJson.py
Owners: none

[util] Reorganize testutil autogen script for resuse
  util/autogen_testutils.py
  util/autogen_testutils/__init__.py
  util/autogen_testutils/gen.py
  util/autogen_testutils/templates/isr_testutils.c.tpl
  util/autogen_testutils/templates/isr_testutils.h.tpl
  util/autogen_testutils/templates/meson.build.tpl
Owners: @asb

[sw/testutils] Check-in autogenerated ISR testutils
  sw/device/lib/testing/autogen/isr_testutils.c
  sw/device/lib/testing/autogen/isr_testutils.h
  sw/device/lib/testing/autogen/meson.build
  sw/device/lib/testing/meson.build
  util/autogen_testutils/templates/isr_testutils.h.tpl
Owners: @lowRISC/ot-c-cpp-reviewers

[util/make_new_dif] Invoke testutils autogen script
  util/make_new_dif.py
Owners: @asb

[sysrst_ctrl,dv] Add sysrst_ctrl EC power-on-reset test
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_base_vseq.sv
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_ec_pwr_on_rst_vseq.sv
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_vseq_list.sv
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_env.core
  hw/ip/sysrst_ctrl/dv/sysrst_ctrl_sim_cfg.hjson
  hw/ip/sysrst_ctrl/dv/tests/sysrst_ctrl_base_test.sv
Owners: @lowRISC/ot-dv-reviewers

[prim_dom_and_2share] Switch to single randomness input
  hw/ip/kmac/rtl/keccak_2share.sv
  hw/ip/prim/rtl/prim_dom_and_2share.sv
Owners: @eunchan, @tjaychen

[dv/docs] Small wording update in sec_cm section
  hw/dv/sv/cip_lib/doc/index.md
Owners: @lowRISC/ot-dv-reviewers

[prim_dom_and_2share] Use prim_xor2 and prim_flop_en primitives
  hw/ip/prim/rtl/prim_dom_and_2share.sv
Owners: @tjaychen

[prim_dom_and_2share] Remove EnNegedge parameter
  hw/ip/kmac/rtl/keccak_2share.sv
  hw/ip/prim/rtl/prim_dom_and_2share.sv
Owners: @eunchan, @tjaychen

[opentitantool] Proxy transport implementation
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/backend/mod.rs
  sw/host/opentitanlib/src/backend/proxy.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitanlib/src/transport/mod.rs
  sw/host/opentitanlib/src/transport/proxy/gpio.rs
  sw/host/opentitanlib/src/transport/proxy/i2c.rs
  sw/host/opentitanlib/src/transport/proxy/mod.rs
  sw/host/opentitanlib/src/transport/proxy/spi.rs
  sw/host/opentitanlib/src/transport/proxy/uart.rs
  sw/host/opentitantool/src/main.rs
Owners: @cfrantz, @drewmacrae, @lowRISC/ot-rust-reviewers

[dv/otp] fix memory access error
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Fix incorrect SVA for cascading resets
  hw/ip/rstmgr/dv/sva/rstmgr_cascading_sva_if.sv
Owners: @lowRISC/ot-dv-reviewers

[sw/test_rom] Re-enable SW-gateable clocks after reset
  hw/ip/clkmgr/data/BUILD
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/test_rom_start.S
Owners: @cfrantz, @drewmacrae

Update lowrisc_ibex to lowRISC/ibex@0f69d497
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
  hw/vendor/lowrisc_ibex.lock.hjson
  hw/vendor/lowrisc_ibex/ci/vars.yml
  hw/vendor/lowrisc_ibex/doc/02_user/integration.rst
  hw/vendor/lowrisc_ibex/doc/03_reference/cosim.rst
  hw/vendor/lowrisc_ibex/doc/03_reference/coverage_plan.rst
  hw/vendor/lowrisc_ibex/doc/03_reference/images/tb2.svg
  hw/vendor/lowrisc_ibex/doc/03_reference/security.rst
  hw/vendor/lowrisc_ibex/doc/03_reference/testplan.rst
  hw/vendor/lowrisc_ibex/doc/03_reference/verification.rst
  hw/vendor/lowrisc_ibex/examples/simple_system/ibex_simple_system.cc
  hw/vendor/lowrisc_ibex/examples/simple_system/ibex_simple_system.h
  hw/vendor/lowrisc_ibex/examples/simple_system/lint/verilator_waiver.vlt
  hw/vendor/lowrisc_ibex/examples/simple_system/rtl/ibex_simple_system.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_core.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_cs_registers.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_if_stage.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_lockstep.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_pkg.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_top.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_top_tracing.sv
Owners: @tjaychen, @lowRISC/ot-c-cpp-reviewers

[otbn,rtl] Remove (unused) part of decoder supporting AUIPC
  hw/ip/otbn/rtl/otbn_decoder.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
Owners: none

[otbn,dv] Extend window at end of IMEM error sequence
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[kmac] declared CTR.REDUN for key index and sentmsg_count
  hw/ip/kmac/data/kmac.hjson
  hw/ip/kmac/rtl/kmac_core.sv
  hw/ip/kmac/rtl/sha3pad.sv
Owners: @eunchan

[sw,crypto] Test vector setup for ECDSA-P256 verify.
  sw/device/lib/crypto/ecdsa_p256/BUILD
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/ecdsa_p256_functest.c
  sw/device/tests/crypto/ecdsa_p256_verify_functest.c
  sw/device/tests/crypto/ecdsa_p256_verify_set_testvectors.py
  sw/device/tests/crypto/ecdsa_p256_verify_testvectors.h
  sw/device/tests/crypto/ecdsa_p256_verify_testvectors.h.tpl
  sw/device/tests/crypto/meson.build
  sw/device/tests/crypto/rsa_3072_verify_testvectors.h
  sw/device/tests/crypto/testvectors/ecdsa_p256_verify_hardcoded.hjson
  sw/otbn/crypto/BUILD
Owners: @cfrantz, @drewmacrae, @lowRISC/ot-c-cpp-reviewers

[prim] Add prim_and2 primitive
  hw/ip/prim/lint/prim_and2.waiver
  hw/ip/prim/prim.core
  hw/ip/prim/prim_and2.core
  hw/ip/prim_generic/prim_generic_and2.core
  hw/ip/prim_generic/rtl/prim_generic_and2.sv
  hw/ip/prim_xilinx/prim_xilinx_and2.core
  hw/ip/prim_xilinx/rtl/prim_xilinx_and2.sv
Owners: @tjaychen

[otbn,dv] Check DMEM to happen at start of wipe
  hw/ip/otbn/dv/model/otbn_model.cc
Owners: @lowRISC/ot-dv-reviewers

[otbn,dv] Agent Instantiated for Scrambling Key
  hw/ip/otbn/dv/uvm/env/otbn_env.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/tb.sv
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Add dv environment for rstmgr_cnsty_chk
  hw/ip/rstmgr/dv/rstmgr_cnsty_chk/data/rstmgr_cnsty_chk_testplan.hjson
  hw/ip/rstmgr/dv/rstmgr_cnsty_chk/rstmgr_cnsty_chk_sim.core
  hw/ip/rstmgr/dv/rstmgr_cnsty_chk/rstmgr_cnsty_chk_sim_cfg.hjson
  hw/ip/rstmgr/dv/rstmgr_cnsty_chk/tb.sv
  hw/ip/rstmgr/rstmgr.core
  hw/ip/rstmgr/rstmgr_cnsty_chk.core
  hw/ip/rstmgr/rtl/rstmgr_cnsty_chk.sv
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Remove mem tests from hjson config
  hw/ip/rstmgr/dv/rstmgr_sim_cfg.hjson
Owners: @lowRISC/ot-dv-reviewers

[dv/pwrmgr] Fix simple typo
  hw/ip/pwrmgr/dv/env/pwrmgr_if.sv
Owners: @lowRISC/ot-dv-reviewers

[dv/rstmgr] Fix handling cpu dump info
  hw/ip/rstmgr/dv/env/rstmgr_env_pkg.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_base_vseq.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_reset_vseq.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_smoke_vseq.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_sw_rst_vseq.sv
Owners: @lowRISC/ot-dv-reviewers

[rv_dm] Wire up debug memory byte write mask
  hw/ip/rv_dm/rtl/rv_dm.sv
Owners: @vogelpi
