Repository lowRISC/opentitan, pull requests merged in 2019-12, with the labels that each got.

#1097 [alert_handler/fpv] Add FPV testbench for ping_timer
  hw/ip/alert_handler/fpv/vip/alert_handler_ping_timer_assert_fpv.sv
Labels: Component:FPV

#1099 [fpv] Generator script for FPV testbench boilerplate code
  util/_index.md
  util/fpvgen.py
  util/fpvgen/README.md
  util/fpvgen/__init__.py
  util/fpvgen/assert_fpv.sv.tpl
  util/fpvgen/bind_fpv.sv.tpl
  util/fpvgen/fpv.sv.tpl
  util/fpvgen/fusesoc.core.tpl
  util/fpvgen/sv_parse.py
Labels: Component:FPV, Component:Tooling

#1148 [fpvgen] Minor update to make generated files compile
  util/fpvgen/assert_fpv.sv.tpl
  util/fpvgen/fusesoc.core.tpl
Labels: Component:FPV

#1164 [fpvgen] Omit localparams in instantiation
  util/fpvgen/assert_fpv.sv.tpl
  util/fpvgen/fpv.sv.tpl
  util/fpvgen/sv_parse.py
Labels: Component:FPV

#1168 [fpvgen] Update assertion template
  util/fpvgen/assert_fpv.sv.tpl
Labels: Component:FPV

#1126 [prim_lfsr] Fix verilator lint warnings
  hw/ip/prim/rtl/prim_lfsr.sv
Labels: Component:RTL

#1156 [i2c] Minor FSM Update
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#1218 Update pulp_riscv_dbg to pulp-platform/riscv-dbg@6bef5d8
  hw/vendor/patches/pulp_riscv_dbg/0001-ROM-Restore-s0-and-a0-on-debug-exception-entry.patch
  hw/vendor/patches/pulp_riscv_dbg/0001-lint-cleanup-Fix-lint-warning-in-debug_rom-fix-inden.patch
  hw/vendor/patches/pulp_riscv_dbg/0002-abstract-cs-Do-not-execute-invalid-abstract-cmd.patch
  hw/vendor/patches/pulp_riscv_dbg/0002-lint-cleanup-Change-indentation-from-4-to-2-spaces-p.patch
  hw/vendor/patches/pulp_riscv_dbg/0003-Make-sure-all-case-statements-are-unique-and-have-a-.patch
  hw/vendor/patches/pulp_riscv_dbg/0003-lint-cleanup-Name-blocks-align-blocking-structure.patch
  hw/vendor/patches/pulp_riscv_dbg/0004-Use-lowrisc-instead-of-PULP-primitives.patch
  hw/vendor/patches/pulp_riscv_dbg/0004-lint-cleanup-Make-params-unsingend-correct-defaults-.patch
  hw/vendor/patches/pulp_riscv_dbg/0005-lint-cleanup-Simplify-some-statements.patch
  hw/vendor/patches/pulp_riscv_dbg/0006-lint-cleanup-Fix-several-lint-errors-warnings.patch
  hw/vendor/patches/pulp_riscv_dbg/0007-lint-cleanup-Break-long-lines-and-make-literal-lengt.patch
  hw/vendor/patches/pulp_riscv_dbg/0008-ling-cleanup-Fix-several-verilator-lint-warnings-due.patch
  hw/vendor/pulp_riscv_dbg.lock.hjson
  hw/vendor/pulp_riscv_dbg/src/dm_mem.sv
  hw/vendor/pulp_riscv_dbg/src/dm_sba.sv
  hw/vendor/pulp_riscv_dbg/src/dmi_jtag.sv
  hw/vendor/pulp_riscv_dbg/src/dmi_jtag_tap.sv
Labels: Component:RTL

#1153 [alert_handler/fpv] This adds an FPV testbench for the esc timer
  hw/ip/alert_handler/fpv/alert_handler_esc_timer_fpv.core
  hw/ip/alert_handler/fpv/tb/alert_handler_esc_timer_bind_fpv.sv
  hw/ip/alert_handler/fpv/tb/alert_handler_esc_timer_fpv.sv
  hw/ip/alert_handler/fpv/tb/alert_handler_ping_timer_bind_fpv.sv
  hw/ip/alert_handler/fpv/vip/alert_handler_esc_timer_assert_fpv.sv
  hw/ip/alert_handler/rtl/alert_handler_esc_timer.sv
Labels: Component:FPV

#1223 [fifo_sync/fpv] Make bind files unique and explicitly override params
  hw/ip/prim/fpv/tb/prim_fifo_sync_bind_fpv.sv
  hw/ip/prim/fpv/tb/prim_fifo_sync_fpv.sv
Labels: Component:FPV

#1219 [alert_handler/fpv] Update assumption such that it is checked in DV
  hw/ip/alert_handler/fpv/vip/alert_handler_ping_timer_assert_fpv.sv
Labels: Component:FPV
