Repository lowRISC/opentitan, pull requests merged in 2020-01, with the labels that each got.

#1262 [alert handler] Correct class/irq enable mismatch
  hw/ip/alert_handler/rtl/alert_handler.sv
  hw/ip/alert_handler/rtl/alert_handler_accu.sv
  hw/ip/alert_handler/rtl/alert_handler_class.sv
Labels: Component:RTL

#1230 [tlul] Do not latch invalid data
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL

#1287 [synthesis] Several small fixes to make DC synthesis run cleanly
  hw/formal/fpv.tcl
  hw/ip/prim/rtl/prim_assert.sv
  hw/ip/prim/rtl/prim_filter_ctr.sv
  hw/ip/prim/rtl/prim_lfsr.sv
  hw/ip/prim/rtl/prim_ram_2p_adv.sv
  hw/ip/prim/rtl/prim_ram_2p_async_adv.sv
  hw/ip/prim_xilinx/rtl/prim_xilinx_rom.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/tlul/common.core
  hw/ip/tlul/rtl/tlul_assert.sv
  hw/ip/usbdev/rtl/usbdev.sv
  hw/vendor/lowrisc_ibex/shared/rtl/prim_assert.sv
Labels: Component:RTL

#1312 [usb_fs_nb_pe] Make naming of usb_fs_nb_pe module consistent
  hw/ip/usb_fs_nb_pe/rtl/usb_consts_pkg.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_nb_in_pe.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_nb_out_pe.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_nb_pe.sv
  hw/ip/usb_fs_nb_pe/usbfs_nb_pe.core
  hw/ip/usbdev/usbdev.core
  hw/ip/usbuart/usbuart.core
Labels: Component:RTL

#1304 [lint] This adds preliminary Verilator and AscentLint linting flows for the AES module
  hw/ip/aes/aes.core
  hw/ip/aes/lint/aes.vlt
  hw/ip/aes/lint/aes.waiver
  hw/lint/.gitignore
  hw/lint/Makefile
  hw/lint/common.core
  hw/lint/common.vlt
  hw/lint/common.waiver
  hw/lint/comportable.core
  hw/lint/comportable.vlt
  hw/lint/comportable.waiver
  hw/lint/gen_report.sh
Labels: Component:RTL, Component:Tooling

#1365 [rv_plic] Trim bitwidths to correct size
  hw/ip/rv_plic/rtl/rv_plic_target.sv
Labels: Component:RTL

#1364 [rv_plic] Work around sim/synth mismatch in Vivado
  hw/ip/rv_plic/rtl/rv_plic_target.sv
Labels: Component:FPGA, Component:RTL

#1343 [verible] Add build and run scripts for Verible format/lint
  util/build-verible.sh
  util/verible-format.sh
  util/verible-style-lint.sh
Labels: Component:Tooling

#1372 [lint] Small corrections to lint flow
  hw/lint/Makefile
  hw/lint/gen_report.sh
Labels: Component:Tooling

#1371 [reggen] Update module list for reggen makefile
  hw/Makefile
Labels: Component:Tooling

#1399 [prim_fifo_sync] Fix DC synth issue related to unpacked array
  hw/ip/prim/rtl/prim_fifo_sync.sv
Labels: Component:RTL

#1282 [dif_plic] Introduce DIF PLIC library
  sw/device/lib/dif/dif_plic.c
  sw/device/lib/dif/dif_plic.h
  sw/device/lib/dif/meson.build
Labels: Component:SW, Priority:P2, Type:Enhancement

#1397 [prim_arbiter] Add binary tree implementation for RR arbiter
  hw/ip/prim/fpv/prim_arbiter_ppc_fpv.core
  hw/ip/prim/fpv/prim_arbiter_tree_fpv.core
  hw/ip/prim/fpv/tb/prim_arbiter_fpv.sv
  hw/ip/prim/fpv/tb/prim_arbiter_ppc_bind_fpv.sv
  hw/ip/prim/fpv/tb/prim_arbiter_ppc_fpv.sv
  hw/ip/prim/fpv/tb/prim_arbiter_tree_bind_fpv.sv
  hw/ip/prim/fpv/tb/prim_arbiter_tree_fpv.sv
  hw/ip/prim/fpv/vip/prim_arbiter_ppc_assert_fpv.sv
  hw/ip/prim/fpv/vip/prim_arbiter_tree_assert_fpv.sv
  hw/ip/prim/lint/prim.waiver
  hw/ip/prim/prim.core
  hw/ip/prim/rtl/prim_arbiter_ppc.sv
  hw/ip/prim/rtl/prim_arbiter_tree.sv
  hw/ip/prim/rtl/prim_assert.sv
  hw/ip/prim/rtl/prim_sram_arbiter.sv
  hw/ip/tlul/rtl/tlul_pkg.sv
  hw/ip/tlul/rtl/tlul_socket_m1.sv
Labels: Component:RTL

#1415 [fpv] Update fpv_all script
  hw/formal/fpv_all
Labels: Component:FPV

#1416 [prim_assert] Add accidentally deleted file back
  hw/ip/prim/rtl/prim_assert.sv
Labels: Component:DV, Component:RTL, Priority:P0

#1451 [utils, dv] Add literal enum types
  hw/dv/sv/dv_utils/dv_utils_pkg.sv
Labels: Component:DV
