Repository lowRISC/opentitan, pull requests merged in 2020-09, with the labels that each got.

#3186 [dif] Codify API conventions for DIF libraries
  sw/device/lib/dif/README.md
  sw/device/lib/dif/dif_template.h.tpl
Labels: Component:Doc, Component:SW

#3324 [otbn] Case-fold option and enum operands in otbn-as
  hw/ip/otbn/util/shared/operand.py
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#3332 [otbn] Fix some issues in modexp assembly
  sw/otbn/code-snippets/modexp.S
Labels: Component:OTBN, Component:SW

#3313 [otbn] Fix TOC headings for OTBN ISA documentation
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/util/yaml_to_doc.py
  site/docs/layouts/shortcodes/otbn_isa.html
  util/build_docs.py
Labels: Component:Doc, Component:OTBN, Type:Bug

#3375 [otbn] Fix generation of JALR instructions in instruction generator
  hw/ip/otbn/util/rig/gens/jump.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3378 [otbn] Store unsigned value to memory in BN.SID
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/model.py
Labels: Component:OTBN, Type:Bug

#3394 [otbn] Remove unused signals from otbn_core_model
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Type:Cleanup

#3395 [otbn] Add a stepped version of otbnsim
  hw/ip/otbn/dv/otbnsim/Makefile
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/stepped.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#3403 [docker] Ensure Containers use UTF-8
  site/docs/builder.Dockerfile
  util/container/Dockerfile
Labels: Component:Doc

#3404 [ci] Add Task To Build Docker Containers
  azure-pipelines.yml
Labels: Component:Tooling

#3180 [otp_ctrl/doc] Initial commit of OTP spec
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/otp_ctrl/doc/otp_behavioral_model.svg
  hw/ip/otp_ctrl/doc/otp_controller_blockdiag.svg
  hw/ip/otp_ctrl/doc/otp_controller_overview.svg
  hw/ip/otp_ctrl/doc/otp_digest_mechanism.svg
  hw/ip/otp_ctrl/doc/otp_wrapper_blockdiag.svg
Labels: Component:Doc, Hotlist:Security

#2961 [mask rom] Add mask_rom_test.h for mask ROM unit tests.
  sw/device/lib/testing/mask_rom_test.h
Labels: Component:SW

#3415 [otp_ctrl] Updates to scrambling datapath
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
Labels: Component:RTL

#3402 [dif] Migrate dif_uart.h to the new DIF names
  sw/device/lib/dif/dif_uart.c
  sw/device/lib/dif/dif_uart.h
  sw/device/lib/uart.c
  sw/device/tests/dif/dif_plic_sanitytest.c
  sw/device/tests/dif/dif_uart_sanitytest.c
  sw/device/tests/dif/dif_uart_unittest.cc
  sw/device/tests/sim_dv/uart_tx_rx_test.c
Labels: Component:SW

#3434 [util] Add script for generating sparse FSM encodings
  hw/ip/prim/util/sparse-fsm-encode.py
Labels: Component:Security, Component:Tooling

#3429 [pattgen, dv] Add initial pattgen_testplan.md for pattgen ip
  hw/ip/pattgen/data/pattgen_testplan.hjson
Labels: Component:DV

#3424 [i2c, dv] Support on-the-fly reset, add error_intr, and fix fifo_overflow
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_agent_pkg.sv
  hw/dv/sv/i2c_agent/i2c_device_driver.sv
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_if.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/dv/sv/tl_agent/tl_host_driver.sv
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/i2c_seq_cfg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_error_intr_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV

#3448 [prim/tlul] Various small lint fixes
  hw/ip/prim/rtl/prim_arbiter_fixed.sv
  hw/ip/prim/rtl/prim_arbiter_tree.sv
  hw/ip/prim/rtl/prim_cipher_pkg.sv
  hw/ip/prim/rtl/prim_present.sv
  hw/ip/prim/rtl/prim_ram_1p_adv.sv
  hw/ip/prim/rtl/prim_ram_2p_async_adv.sv
  hw/ip/prim/rtl/prim_secded_22_16_dec.sv
  hw/ip/prim/util/primgen.py
  hw/ip/prim/util/primgen/abstract_prim.sv.tpl
  hw/ip/prim_generic/lint/prim_generic_ram_1p.waiver
  hw/ip/tlul/lint/tlul_adapter_sram.waiver
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL

#3393 [otbn] Delete model directory when we're done with it
  hw/ip/otbn/README.md
  hw/ip/otbn/dv/model/otbn_model.cc
Labels: Component:OTBN, Type:Enhancement

#3461 [otbn] Avoid width warning from start_addr_i in otbn_core_model
  hw/ip/otbn/dv/model/otbn_core_model.sv
Labels: Component:OTBN, Type:Cleanup

#3462 [otbn] Remove otbnsim.py from list of scripts in a lint target
  hw/ip/otbn/dv/otbnsim/Makefile
Labels: Component:DV, Component:OTBN, Type:Bug

#3460 [otbn] Fix branch address for BEQ/BNE
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3463 [otbn] Fix silly memory leak in ISS wrapper
  hw/ip/otbn/dv/model/iss_wrapper.cc
Labels: Component:DV, Component:OTBN, Type:Bug

#3110 [dif] Add DIF for alert_manager
  meson.build
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/meson.build
Labels: Component:SW

#3484 [otbn] Bump indices in smoke_test.S to avoid x1
  hw/ip/otbn/dv/smoke/smoke_expected.txt
  hw/ip/otbn/dv/smoke/smoke_test.S
Labels: Component:DV, Component:OTBN

#3492 [otbn] Implement flag groups more explicitly in ISS
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/model.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#3504 [cip, dv] Fix variable printed by uvm_info
  hw/dv/sv/cip_lib/cip_base_vseq.sv
Labels: Component:DV

#3485 [otbn] Fix SW and LW in ISS
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3515 [otbn] Fix indices of flags in ISS
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3516 [otbn] Fix silly typo in comment
  hw/ip/otbn/data/insns.yml
Labels: Component:OTBN, Type:Cleanup

#3476 [dv/common] TLUL self-check testbench
  hw/dv/sv/tl_agent/dv/env/seq_lib/tl_agent_base_vseq.sv
  hw/dv/sv/tl_agent/dv/env/seq_lib/tl_agent_vseq_list.sv
  hw/dv/sv/tl_agent/dv/env/tl_agent_env.core
  hw/dv/sv/tl_agent/dv/env/tl_agent_env.sv
  hw/dv/sv/tl_agent/dv/env/tl_agent_env_cfg.sv
  hw/dv/sv/tl_agent/dv/env/tl_agent_env_pkg.sv
  hw/dv/sv/tl_agent/dv/env/tl_agent_scoreboard.sv
  hw/dv/sv/tl_agent/dv/env/tl_agent_virtual_sequencer.sv
  hw/dv/sv/tl_agent/dv/tb/tb.sv
  hw/dv/sv/tl_agent/dv/tests/tl_agent_base_test.sv
  hw/dv/sv/tl_agent/dv/tests/tl_agent_test.core
  hw/dv/sv/tl_agent/dv/tests/tl_agent_test_pkg.sv
  hw/dv/sv/tl_agent/dv/tl_agent_sim.core
  hw/dv/sv/tl_agent/dv/tl_agent_sim_cfg.hjson
Labels: Component:DV

#3523 [rom_ext] Remove Software Binding Tag
  sw/device/rom_exts/manifest.md
  sw/device/rom_exts/rom_ext_manifest.S
  sw/device/rom_exts/rom_ext_manifest.protocol.sh
Labels: Component:SW

#3446 [pattgen, dv] Add initial testplan for pattgen ip
  hw/ip/pattgen/data/pattgen_testplan.hjson
Labels: Component:DV

#3487 [otbn] Run OTBN in lock-step in block-level simulation
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#3528 [mask_rom] Resolve some Open Questions
  sw/device/mask_rom/boot.md
  sw/device/rom_exts/manifest.md
Labels: Component:SW

#3521 [otbn] Update M, L, Z flags from bitwise ops in simulator and docs
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:OTBN, Type:Enhancement

#3545 [dif_plic] HW Review Complete
  sw/device/lib/dif/dif_plic.h
  sw/device/lib/dif/dif_plic.md
Labels: Component:SW

#3553 [prim_ram_1p_scr] Simplify nonce input and align it to multiples of 64bit
  hw/ip/prim/rtl/prim_ram_1p_scr.sv
Labels: Component:RTL

#3555 [otbn] Specify flag group to update in bignum logical insns
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/data/enc-schemes.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN, Type:Enhancement

#3011 [sw/dif_usbdev] Expose device buffers to clients
  sw/device/lib/dif/dif_usbdev.c
  sw/device/lib/dif/dif_usbdev.h
Labels: Component:SW

#3580 [otbn] Fix BN.AND in ISS
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3578 [otbn] Add support for CSRs/WSRs to ISS
  hw/ip/otbn/dv/otbnsim/sim/csr.py
  hw/ip/otbn/dv/otbnsim/sim/flags.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#3589 [otbn] Make registers much more explicit in the ISS
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
  hw/ip/otbn/dv/otbnsim/sim/gpr.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/dv/otbnsim/sim/reg.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/stepped.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#3615 [otp_ctrl] Add missing unlock action to life cycle partition
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
Labels: Component:RTL

#3627 [otp_ctrl] Make command trigger regs hwext
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
Labels: Component:RTL

#3543 [sw/lib] Move print.h and log.h into lib/runtime
  hw/dv/sv/uart_agent/uart_logger.sv
  sw/device/boot_rom/boot_rom.c
  sw/device/boot_rom/bootstrap.c
  sw/device/boot_rom/meson.build
  sw/device/boot_rom/rom_link.ld
  sw/device/examples/demos.c
  sw/device/examples/hello_usbdev/hello_usbdev.c
  sw/device/examples/hello_usbdev/meson.build
  sw/device/examples/hello_world/hello_world.c
  sw/device/examples/hello_world/meson.build
  sw/device/examples/meson.build
  sw/device/exts/common/flash_link.ld
  sw/device/lib/base/meson.build
  sw/device/lib/meson.build
  sw/device/lib/runtime/check.h
  sw/device/lib/runtime/log.c
  sw/device/lib/runtime/log.h
  sw/device/lib/runtime/meson.build
  sw/device/lib/runtime/print.c
  sw/device/lib/runtime/print.h
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/test_coverage_llvm.c
  sw/device/lib/testing/test_main.c
  sw/device/lib/testing/test_status.c
  sw/device/lib/uart.h
  sw/device/mask_rom/mask_rom.ld
  sw/device/riscv_compliance_support/meson.build
  sw/device/rom_exts/rom_ext.ld
  sw/device/sca/aes_serial/aes_serial.c
  sw/device/sca/aes_serial/meson.build
  sw/device/tests/aes_test.c
  sw/device/tests/crt_test.c
  sw/device/tests/dif/dif_hmac_sanitytest.c
  sw/device/tests/dif/dif_plic_sanitytest.c
  sw/device/tests/dif/dif_rv_timer_sanitytest.c
  sw/device/tests/dif/meson.build
  sw/device/tests/flash_ctrl_test.c
  sw/device/tests/meson.build
  sw/device/tests/runtime/meson.build
  sw/device/tests/runtime/print_unittest.cc
  sw/device/tests/sha256_test.c
  sw/device/tests/sim_dv/gpio_test.c
  sw/device/tests/sim_dv/meson.build
  sw/device/tests/sim_dv/uart_tx_rx_test.c
  sw/device/tests/usbdev_test.c
Labels: Component:SW

#3626 [otbn] Use C bindings for YAML parsing if available
  hw/ip/otbn/util/shared/yaml_parse_helpers.py
Labels: Component:OTBN, Type:Enhancement

#3622 [i2c, dv] Refactor, clean-up DV, and fix duplicated randomization
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_seq_cfg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_common_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_error_intr_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_override_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_perf_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_sanity_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_stretch_timeout_vseq.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV
