Repository lowRISC/opentitan, pull requests merged in 2020-08, with the labels that each got.

#2972 Teach otbn-as about some pseudo-operations
  hw/ip/otbn/code-snippets/pseudo-ops.S
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#2970 [otbn] Auto-generate linker script based on otbn.hjson
  hw/ip/otbn/data/otbn.ld.tpl
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/mem_layout.py
  hw/ip/otbn/util/otbn-ld
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#3042 [bronze/top] Fix issue with tran statements and missing pads
  hw/top_earlgrey/ip/padring/rtl/padring.sv
  hw/top_earlgrey/rtl/top_earlgrey_asic.sv
Labels: Component:RTL

#2938 [aes] Add 2-share implementation of the cipher core for security hardening
  hw/ip/aes/pre_dv/aes_sbox_tb/rtl/aes_sbox_tb.sv
  hw/ip/aes/rtl/aes.sv
  hw/ip/aes/rtl/aes_cipher_core.sv
  hw/ip/aes/rtl/aes_core.sv
  hw/ip/aes/rtl/aes_key_expand.sv
  hw/ip/aes/rtl/aes_mix_columns.sv
  hw/ip/aes/rtl/aes_pkg.sv
  hw/ip/aes/rtl/aes_prng.sv
  hw/ip/aes/rtl/aes_sbox.sv
  hw/ip/aes/rtl/aes_sub_bytes.sv
Labels: Component:Security

#3038 [otbn] Use an absolute path for Mako template in otbn-ld
  hw/ip/otbn/util/otbn-ld
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3030 [i2c, rtl] Transaction Complete Fix
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#2488 [spi_device] This enables Byte parity for the memory macro
  hw/ip/spi_device/rtl/spi_device.sv
Labels: Component:RTL

#3054 [alert_handler/doc] Update alert handler documentation
  hw/ip/alert_handler/doc/_index.md
  hw/ip/alert_handler/doc/alert_handler_block_diagram.svg
Labels: Component:Doc

#3055 [bronze] Constraints update
  hw/top_earlgrey/syn/asic.constraints.sdc
Labels: Component:Tooling

#3012 [mask rom] Describe Mask ROM Interface Structures
  sw/device/mask_rom/boot.md
Labels: Component:SW

#3067 [lint] Minor update of ERROR patterns in parser script
  hw/lint/tools/ascentlint/parse-lint-report.py
Labels: Component:Tooling

#3064 [dvsim] Change cores-root to avoid conflicts with autogen'd core files
  hw/dv/data/fusesoc.hjson
  hw/formal/data/common_fpv_cfg.hjson
  hw/lint/data/common_lint_cfg.hjson
  hw/syn/data/common_syn_cfg.hjson
Labels: Component:Tooling

#3090 [otbn] An initial user guide that shows how to run the OTBN tooling
  doc/ug/otbn_sw.md
Labels: Component:Doc, Component:OTBN, Type:Enhancement

#3092 [otbn] Add a pointer to the OTBN software guide in otbn/README.md
  hw/ip/otbn/README.md
Labels: Component:Doc, Component:OTBN, Type:Enhancement

#3069 [syn] Align synthesis on master with newest updates from bronze
  hw/ip/flash_ctrl/rtl/flash_phy_core.sv
  hw/ip/prim/rtl/prim_dom_and_2share.sv
  hw/ip/prim_generic/rtl/prim_generic_flash.sv
  hw/syn/data/dc.hjson
  hw/syn/tools/dc/parse-syn-report.py
  hw/top_earlgrey/syn/top_earlgrey_syn_cfg.hjson
Labels: Component:RTL

#3105 [otbn] Clarifications to loop/loopi documentation
  hw/ip/otbn/data/insns.yml
Labels: Component:Doc, Component:OTBN, Type:Cleanup

#1979 [sw] Replace the old SPI driver with the new DIF
  sw/device/boot_rom/boot_rom.c
  sw/device/boot_rom/bootstrap.c
  sw/device/boot_rom/meson.build
  sw/device/examples/demos.c
  sw/device/examples/demos.h
  sw/device/examples/hello_usbdev/hello_usbdev.c
  sw/device/examples/hello_usbdev/meson.build
  sw/device/examples/hello_world/hello_world.c
  sw/device/examples/hello_world/meson.build
  sw/device/examples/meson.build
  sw/device/lib/meson.build
  sw/device/lib/spi_device.c
  sw/device/lib/spi_device.h
Labels: Component:SW

#2933 [aes] Provide the initial key in two shares for security hardening
  hw/ip/aes/data/aes.hjson
  hw/ip/aes/doc/_index.md
  hw/ip/aes/dv/env/aes_message_item.sv
  hw/ip/aes/dv/env/aes_scoreboard.sv
  hw/ip/aes/dv/env/aes_seq_item.sv
  hw/ip/aes/dv/env/seq_lib/aes_base_vseq.sv
  hw/ip/aes/dv/env/seq_lib/aes_wake_up_vseq.sv
  hw/ip/aes/rtl/aes_cipher_core.sv
  hw/ip/aes/rtl/aes_control.sv
  hw/ip/aes/rtl/aes_core.sv
  hw/ip/aes/rtl/aes_reg_pkg.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  sw/device/lib/aes.c
  sw/device/lib/aes.h
  sw/device/tests/aes_test.c
Labels: Component:Security

#3109 [verible] Update Verible version
  azure-pipelines.yml
  tool_requirements.py
  util/verible-format.sh
Labels: Component:Tooling

#3088 [otbn] Split up insn_yaml.py
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/otbn-objdump
  hw/ip/otbn/util/shared/bit_ranges.py
  hw/ip/otbn/util/shared/bool_literal.py
  hw/ip/otbn/util/shared/encoding.py
  hw/ip/otbn/util/shared/encoding_scheme.py
  hw/ip/otbn/util/shared/insn_yaml.py
  hw/ip/otbn/util/shared/operand.py
  hw/ip/otbn/util/shared/syntax.py
  hw/ip/otbn/util/shared/yaml_parse_helpers.py
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:OTBN, Type:Cleanup

#3103 [otbn] Teach tooling about signed immediate operands
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/shared/operand.py
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#3104 [otbn] Clarify what happens on out-of-bounds or unaligned load/store
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/rtl/otbn_pkg.sv
Labels: Component:Doc, Component:OTBN, Type:Cleanup

#3145 [pattgen, lint] Fixed linting errors in pattgen for top_early_gray (v1-bronze)
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pattgen/data/pattgen.prj.hjson
  hw/ip/pattgen/data/pattgen_testplan.hjson
  hw/ip/pattgen/dv/env/pattgen_env_pkg.sv
  hw/ip/pattgen/dv/tb/tb.sv
  hw/ip/pattgen/lint/pattgen.vlt
  hw/ip/pattgen/lint/pattgen.waiver
  hw/ip/pattgen/pattgen.core
  hw/ip/pattgen/rtl/pattgen.sv
  hw/ip/pattgen/rtl/pattgen_core.sv
  hw/ip/pattgen/rtl/pattgen_reg_pkg.sv
  hw/ip/pattgen/rtl/pattgen_reg_top.sv
Labels: Component:RTL

#2746 [i2c, doc] Addition of the I2C Target mode
  hw/ip/i2c/doc/I2C_acq_fifo_read.svg
  hw/ip/i2c/doc/I2C_acq_fifo_write.svg
  hw/ip/i2c/doc/I2C_block_diagram.svg
  hw/ip/i2c/doc/_index.md
Labels: Component:Doc

#3159 [lint/prim*] Waive STAR_PORT_CONN_USE errors in generated prims
  hw/ip/prim/lint/prim_clock_buf.waiver
  hw/ip/prim/lint/prim_clock_gating.waiver
  hw/ip/prim/lint/prim_clock_inv.waiver
  hw/ip/prim/lint/prim_clock_mux2.waiver
  hw/ip/prim/lint/prim_flash.waiver
  hw/ip/prim/lint/prim_flop.waiver
  hw/ip/prim/lint/prim_flop_2sync.waiver
  hw/ip/prim/lint/prim_otp.waiver
  hw/ip/prim/lint/prim_pad_wrapper.waiver
  hw/ip/prim/lint/prim_ram_1p.waiver
  hw/ip/prim/lint/prim_ram_2p.waiver
  hw/ip/prim/lint/prim_rom.waiver
  hw/ip/prim/lint/prim_usb_diff_rx.waiver
  hw/ip/prim/prim_clock_buf.core
  hw/ip/prim/prim_clock_gating.core
  hw/ip/prim/prim_clock_inv.core
  hw/ip/prim/prim_clock_mux2.core
  hw/ip/prim/prim_flash.core
  hw/ip/prim/prim_flop.core
  hw/ip/prim/prim_flop_2sync.core
  hw/ip/prim/prim_otp.core
  hw/ip/prim/prim_pad_wrapper.core
  hw/ip/prim/prim_ram_1p.core
  hw/ip/prim/prim_ram_2p.core
  hw/ip/prim/prim_rom.core
  hw/ip/prim/prim_usb_diff_rx.core
Labels: Component:RTL

#3162 [otp_ctrl] Update hjson file according to current spec
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
Labels: Component:RTL

#3168 [otbn] Allow the user to supply a linker script with -T in otbn-ld
  hw/ip/otbn/util/otbn-ld
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#3164 [otbn] Support TOOLCHAIN_PATH in otbn-as, otbn-ld and otbn-objdump
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/otbn-ld
  hw/ip/otbn/util/otbn-objdump
  hw/ip/otbn/util/shared/toolchain.py
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#3149 [aes] Add second alert signal
  hw/ip/aes/data/aes.hjson
  hw/ip/aes/dv/tb/tb.sv
  hw/ip/aes/rtl/aes.sv
  hw/ip/aes/rtl/aes_control.sv
  hw/ip/aes/rtl/aes_core.sv
  hw/ip/aes/rtl/aes_pkg.sv
  hw/ip/aes/rtl/aes_reg_pkg.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/dv/alert_handler_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/fpv/autogen/rv_plic_csr_assert_fpv.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:Security

#3190 [util] Minor improvements to lint_commits.py
  util/lint_commits.py
Labels: Type:Cleanup

#3260 [otbn] Strip trailing space when matching an instruction in otbn-as
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3256 [otbn] Properly generate multi-section output in otbn-rig
  hw/ip/otbn/util/otbn-rig
  hw/ip/otbn/util/rig/program.py
  hw/ip/otbn/util/rig/rig.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#3270 [otbn] Further tweaks to assembly syntax
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3258 [WIP] [CI]: Check that we can assemble and link code snippets in CI
  azure-pipelines.yml
Labels: Component:OTBN, Type:Enhancement

#3273 [otbn] Automatically pass "-M numeric" in otbn-objdump
  hw/ip/otbn/util/otbn-objdump
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#3272 [otbn] Split up JSON dumping/loading in otbn-rig
  hw/ip/otbn/util/otbn-rig
  hw/ip/otbn/util/rig/program.py
  hw/ip/otbn/util/rig/rig.py
  hw/ip/otbn/util/rig/snippet.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#3279 [otbn] Print error messages on failure in otbn-objdump
  hw/ip/otbn/util/otbn-objdump
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3289 [otbn/dif] Add Software Checklist
  hw/ip/otbn/otbn.prj.hjson
  sw/device/lib/dif/dif_otbn.md
Labels: Component:SW

#3249 [sw] Conditionally Provide Some libc Symbols
  meson.build
  sw/device/lib/base/memory.c
  sw/device/lib/base/memory.h
Labels: Component:SW, Priority:P3

#3296 [i2c,dv] Fix the incorrect assertions of sda_interference interrupt
  hw/dv/sv/i2c_agent/i2c_agent_pkg.sv
  hw/dv/sv/i2c_agent/i2c_device_driver.sv
  hw/dv/sv/i2c_agent/i2c_if.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
Labels: Component:DV
