Repository lowRISC/opentitan, pull requests merged in 2020-11, with the labels that each got.

#3867 [sw, dif_rstmgr] Add control and read APIs for alert info crash dump
  sw/device/lib/dif/dif_rstmgr.c
  sw/device/lib/dif/dif_rstmgr.h
  sw/device/tests/dif/dif_rstmgr_unittest.cc
Labels: Component:SW

#3973 [docs] Add X Macro Guidance
  doc/rm/c_cpp_coding_style.md
Labels: Component:Doc

#4001 [otbn] Minor lint fixes for the OTBN model
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_rf_snooper_if.sv
  hw/ip/otbn/dv/model/otbn_stack_snooper_if.sv
  hw/ip/otbn/otbn.core
Labels: Component:OTBN, Type:Cleanup

#4028 [otbn] Fix idle logic
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4037 [gen_cheader] Only generate module params that are defined in SV package
  util/reggen/gen_cheader.py
Labels: Component:Tooling, Type:Cleanup

#4036 [fpga] Connect JTAG and SPI signals to SAM3U on CW305
  hw/top_earlgrey/data/pins_cw305.xdc
Labels: Component:FPGA

#4078 [reggen] Add a _BIT suffix to bit index constants
  sw/device/lib/aes.c
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_hmac.c
  sw/device/lib/dif/dif_i2c.c
  sw/device/lib/dif/dif_otbn.c
  sw/device/lib/dif/dif_otp_ctrl.c
  sw/device/lib/dif/dif_pwrmgr.c
  sw/device/lib/dif/dif_rstmgr.c
  sw/device/lib/dif/dif_spi_device.c
  sw/device/lib/dif/dif_uart.c
  sw/device/lib/dif/dif_usbdev.c
  sw/device/lib/flash_ctrl.c
  sw/device/lib/hmac.c
  sw/device/lib/usbdev.c
  sw/device/tests/dif/dif_alert_handler_unittest.cc
  sw/device/tests/dif/dif_i2c_unittest.cc
  sw/device/tests/dif/dif_otbn_unittest.cc
  sw/device/tests/dif/dif_otp_ctrl_unittest.cc
  sw/device/tests/dif/dif_plic_unittest.cc
  sw/device/tests/dif/dif_pwrmgr_unittest.cc
  sw/device/tests/dif/dif_rstmgr_unittest.cc
  sw/device/tests/dif/dif_spi_device_unittest.cc
  sw/device/tests/dif/dif_uart_unittest.cc
  util/reggen/gen_cheader.py
Labels: Component:SW

#3971 [dv] Move get_normalized_addr into dv_base_reg_block
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/dv/sv/cip_lib/cip_base_vseq__tl_errors.svh
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
  hw/dv/sv/dv_lib/dv_base_env_cfg.sv
  hw/ip/aes/dv/env/aes_scoreboard.sv
  hw/ip/entropy_src/dv/env/entropy_src_scoreboard.sv
  hw/ip/flash_ctrl/dv/env/flash_ctrl_scoreboard.sv
  hw/ip/gpio/dv/env/gpio_scoreboard.sv
  hw/ip/hmac/dv/env/hmac_env.sv
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/keymgr/dv/env/keymgr_scoreboard.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_sanity_vseq.sv
  hw/ip/rv_timer/dv/env/rv_timer_scoreboard.sv
  hw/ip/spi_device/dv/env/spi_device_env_cfg.sv
  hw/ip/spi_device/dv/env/spi_device_scoreboard.sv
  hw/ip/uart/dv/env/uart_scoreboard.sv
  hw/ip/usbdev/dv/env/usbdev_scoreboard.sv
  util/uvmdvgen/scoreboard.sv.tpl
Labels: Component:DV

#4065 [otp_ctrl/otbn/aes] Fix alert test register enumeration order
  hw/ip/aes/rtl/aes.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#4043 [doc] D2 checklist updates
  doc/project/checklist.md
  hw/ip/aes/doc/checklist.md
  hw/ip/alert_handler/doc/checklist.md
  hw/ip/csrng/doc/checklist.md
  hw/ip/entropy_src/doc/checklist.md
  hw/ip/flash_ctrl/doc/checklist.md
  hw/ip/gpio/doc/checklist.md
  hw/ip/hmac/doc/checklist.md
  hw/ip/i2c/doc/checklist.md
  hw/ip/keymgr/doc/checklist.md
  hw/ip/kmac/doc/checklist.md
  hw/ip/otbn/doc/checklist.md
  hw/ip/otp_ctrl/doc/checklist.md
  hw/ip/padctrl/doc/checklist.md
  hw/ip/pattgen/doc/checklist.md
  hw/ip/pinmux/doc/checklist.md
  hw/ip/pwrmgr/doc/checklist.md
  hw/ip/rstmgr/doc/checklist.md
  hw/ip/rv_core_ibex/doc/checklist.md
  hw/ip/rv_plic/doc/checklist.md
  hw/ip/rv_timer/doc/checklist.md
  hw/ip/spi_device/doc/checklist.md
  hw/ip/sram_ctrl/doc/checklist.md
  hw/ip/uart/doc/checklist.md
  hw/ip/usbdev/doc/checklist.md
  util/uvmdvgen/checklist.md.tpl
Labels: Component:Doc

#4083 [otp_ctrl] Change state_q assignment to ease debugging
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
  hw/ip/prim/util/sparse-fsm-encode.py
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
Labels: Component:RTL

#4074 [otp_ctrl] Reverse bitslice assignment to the status register
  hw/ip/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_sanity_vseq.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#4116 [otbn] Allow core to fetch IMEM on start cycle
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4040 [pattgen, dv] Support V1 for pattgen
  hw/dv/sv/pattgen_agent/pattgen_agent_cfg.sv
  hw/dv/sv/pattgen_agent/pattgen_agent_pkg.sv
  hw/dv/sv/pattgen_agent/pattgen_if.sv
  hw/dv/sv/pattgen_agent/pattgen_item.sv
  hw/dv/sv/pattgen_agent/pattgen_monitor.sv
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pattgen/data/pattgen.prj.hjson
  hw/ip/pattgen/doc/checklist.md
  hw/ip/pattgen/doc/dv_plan/index.md
  hw/ip/pattgen/doc/dv_plan/tb.svg
  hw/ip/pattgen/dv/env/pattgen_channel_cfg.sv
  hw/ip/pattgen/dv/env/pattgen_env.core
  hw/ip/pattgen/dv/env/pattgen_env.sv
  hw/ip/pattgen/dv/env/pattgen_env_cfg.sv
  hw/ip/pattgen/dv/env/pattgen_env_cov.sv
  hw/ip/pattgen/dv/env/pattgen_env_pkg.sv
  hw/ip/pattgen/dv/env/pattgen_scoreboard.sv
  hw/ip/pattgen/dv/env/pattgen_seq_cfg.sv
  hw/ip/pattgen/dv/env/pattgen_virtual_sequencer.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_base_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_common_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_sanity_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_vseq_list.sv
  hw/ip/pattgen/dv/pattgen_sim.core
  hw/ip/pattgen/dv/pattgen_sim_cfg.hjson
  hw/ip/pattgen/dv/sva/pattgen_bind.sv
  hw/ip/pattgen/dv/sva/pattgen_sva.core
  hw/ip/pattgen/dv/tb.sv
  hw/ip/pattgen/dv/tests/pattgen_base_test.sv
  hw/ip/pattgen/dv/tests/pattgen_test.core
  hw/ip/pattgen/dv/tests/pattgen_test_pkg.sv
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
  hw/top_earlgrey/lint/top_earlgrey_dv_lint_cfgs.hjson
Labels: Component:DV

#4099 [alert_handler] Add buffer region after regs with parametric size
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
Labels: Component:RTL

#4121 [sw, dif_plic] Add a check to DIF PLIC unittests
  sw/device/tests/dif/dif_plic_unittest.cc
Labels: Component:SW

#4127 [dv] Only check scoreboard from pre_abort if we were in run phase
  hw/dv/sv/dv_lib/dv_base_scoreboard.sv
Labels: Component:DV, Type:Cleanup

#4117 [otbn] Initial testplan
  hw/ip/otbn/data/otbn_testplan.hjson
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4130 Fix typo in testplan template
  hw/ip/csrng/data/csrng_testplan.hjson
  hw/ip/keymgr/data/keymgr_testplan.hjson
  hw/ip/kmac/data/kmac_testplan.hjson
  hw/ip/usbdev/data/usbdev_testplan.hjson
  util/uvmdvgen/testplan.hjson.tpl
Labels: Component:DV, Type:Cleanup

#4120 [otbn] Pick a random binary in the UVM testbench
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_test_helpers.cc
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_sanity_vseq.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4135 [otbn] Make sure sw/lw addresses are word-aligned in otbn-rig
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4134 [otbn] Fix otbnsim bitwise operations with signed immediates
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4175 [nexysvideo] Map 8 GPIOs to PMOD JA header
  hw/top_earlgrey/data/pins_nexysvideo.xdc
  hw/top_earlgrey/rtl/top_earlgrey_nexysvideo.sv
Labels: Component:FPGA

#4172 [otbn] Add TLUL & CSR protocol checkers to bind file
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
  hw/ip/otbn/dv/uvm/sva/otbn_sva.core
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4169 [otbn] Define a "smoke test" UVM sequence
  hw/ip/otbn/data/otbn_testplan.hjson
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_single_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_smoke_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_vseq_list.sv
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4182 [keymgr/prim_lfsr] Correct minor errors in core files
  hw/ip/keymgr/keymgr.core
  hw/ip/prim/prim_lfsr.core
Labels: Component:RTL

#4108 [lc_ctrl] Initial version of the life cycle controller spec
  doc/security/specs/device_life_cycle/_index.md
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/doc/lc_ctrl_blockdiag.svg
  hw/ip/lc_ctrl/doc/lc_ctrl_counter_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_encoding_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_accessibility.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_collateral.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_partitions.md
  hw/ip/lc_ctrl/doc/lc_ctrl_multibit_sync.svg
  hw/ip/lc_ctrl/doc/lc_ctrl_otp_accessibility.md
  hw/ip/lc_ctrl/doc/lc_ctrl_otp_collateral.md
  hw/ip/lc_ctrl/doc/lc_ctrl_power_up.svg
  hw/ip/lc_ctrl/doc/lc_ctrl_request_interface.svg
  hw/ip/lc_ctrl/doc/lc_ctrl_signals_table.md
Labels: Component:Doc

#4191 [otbn] Remove "sanity" from tree
  azure-pipelines.yml
  hw/ip/otbn/README.md
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/rig/gens/straight_line_insn.py
  hw/ip/otbn/util/rig/program.py
  hw/ip/otbn/util/rig/snippet_gens.py
  hw/ip/otbn/util/shared/operand.py
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:OTBN, Type:Cleanup

#3733 [rom_ext] Document Usage Constraint Value and Signing Scheme
  sw/device/rom_exts/manifest.hjson
  sw/device/rom_exts/manifest.md
  sw/device/rom_exts/rom_ext_manifest.protocol.sh
Labels: Hotlist:Security Opinion

#4204 [otbn] Documentation for existing V1 progress
  hw/ip/otbn/doc/checklist.md
Labels: Component:OTBN

#4080 [dif/otp_ctrl] Add sanity tests for otp_ctrl DIFs.
  sw/device/tests/dif/dif_otp_ctrl_smoketest.c
  sw/device/tests/dif/meson.build
  test/systemtest/config.py
Labels: Component:SW

#4220 [otp_ctrl] Add prim_lc_sync to OTP
  hw/ip/otp_ctrl/otp_ctrl.core
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#4213 [sw/rom_ext] Add manifest.h to dependency sources
  sw/device/rom_exts/meson.build
Labels: Component:SW

#4207 [otbn] Support for an unbounded x1 call stack in otbn-rig
  hw/ip/otbn/util/rig/gens/jump.py
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4216 [dif/otp_ctrl] Bring otp_ctrl to S1
  sw/device/lib/dif/dif_otp_ctrl.md
Labels: Component:SW

#4233 [prim_present/otp_ctrl] Add support for iterative full-round PRESENT
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
  hw/ip/prim/doc/prim_present.md
  hw/ip/prim/rtl/prim_present.sv
Labels: Component:RTL

#4255 [otbn] Split out ISA into a separate document
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/doc/isa.md
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:OTBN, Type:Cleanup

#4212 [sw] Add Custom Target Dependencies
  sw/device/benchmarks/coremark/meson.build
  sw/device/boot_rom/meson.build
  sw/device/examples/hello_usbdev/meson.build
  sw/device/examples/hello_world/meson.build
  sw/device/mask_rom/meson.build
  sw/device/meson.build
  sw/device/riscv_compliance_support/meson.build
  sw/device/rom_exts/meson.build
  sw/device/sca/aes_serial/meson.build
  sw/device/tests/meson.build
  sw/device/tock/meson.build
  sw/host/spiflash/meson.build
  sw/meson.build
  sw/otbn/meson.build
  util/build_tock.sh
Labels: Component:Tooling, Priority:P3

#4270 [otbn] Fix size check in operand.py
  hw/ip/otbn/util/shared/operand.py
Labels: Component:OTBN, Component:Tooling, Type:Bug

#4149 [dv] Comment out example build modes from common_sim_cfg.hjson
  hw/dv/tools/dvsim/common_sim_cfg.hjson
Labels: Component:DV, Type:Cleanup

#4148 [util, rom_ext] Add rust "header" generation
  sw/device/rom_exts/manifest.rs.tpl
  sw/device/rom_exts/meson.build
  util/rom-ext-manifest-generator.py
Labels: Component:SW

#4288 [otbn] Minor tidy-ups in the WSR documentation
  hw/ip/otbn/doc/_index.md
Labels: Component:Doc, Component:OTBN, Type:Cleanup

#4165 [otbn] A script to generate binaries for UVM tests
  hw/ip/otbn/dv/uvm/gen-binaries.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4299 [otbn] Fix circular dependency in gen-binaries.py
  hw/ip/otbn/dv/uvm/gen-binaries.py
Labels: Component:OTBN, Component:Tooling, Type:Bug

#4313 [doc] Comment out a "this is autogenerated" message in reggen manual
  util/reggen/gen_selfdoc.py
Labels: Component:Doc, Type:Cleanup

#4316 [otbn] Fix typo in SVA bindings
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#4324 [dv] Remove duplicated keys from common_sim_cfg.hjson
  hw/dv/tools/dvsim/common_sim_cfg.hjson
Labels: Component:DV, Type:Cleanup

#4305 [rom_ext] Generate Format Description
  sw/device/rom_exts/meson.build
  sw/device/rom_exts/rom_ext_manifest.protocol.sh
  util/rom-ext-manifest-generator.py
Labels: Component:SW

#4275 [otbn] Update spec to allow mulqacc to set flags
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/data/enc-schemes.yml
  hw/ip/otbn/dv/otbnsim/sim/flags.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_intf.sv
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_decoder.sv
  hw/ip/otbn/rtl/otbn_mac_bignum.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
Labels: Component:OTBN, Type:Enhancement

#4342 [lc_ctrl] Fetch LC state vector one cycle earlier
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL
