Repository lowRISC/opentitan, pull requests merged in 2020-12, with the labels that each got.

#4335 Clarifications in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Component:Doc, Type:Cleanup

#4348 [lc_ctrl] Fix transition command error checking
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_transition.sv
Labels: Component:RTL

#4364 [lc_ctrl] Update transition interface regwen behavior
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  util/reggen/validate.py
Labels: Component:RTL

#4367 [lc_ctrl] Make mutex claim register a multibit signal
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
Labels: Component:Doc, Component:RTL

#4337 [otbn] Get dvsim + OTBN dv code working properly
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4369 [otbn] Conflate correctable/uncorrectable ECC errors
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_instruction_fetch.sv
  hw/ip/otbn/rtl/otbn_lsu.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#4314 [reggen] Fix hw2reg_t bit index comments in reg_pkg.sv.tpl
  hw/ip/aes/rtl/aes_reg_pkg.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/ip/clkmgr/rtl/clkmgr_reg_pkg.sv
  hw/ip/csrng/rtl/csrng_reg_pkg.sv
  hw/ip/edn/rtl/edn_reg_pkg.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_pkg.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_pkg.sv
  hw/ip/gpio/rtl/gpio_reg_pkg.sv
  hw/ip/hmac/rtl/hmac_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/keymgr/rtl/keymgr_reg_pkg.sv
  hw/ip/kmac/rtl/kmac_reg_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_pkg.sv
  hw/ip/nmi_gen/rtl/nmi_gen_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/ip/pwrmgr/rtl/pwrmgr_reg_pkg.sv
  hw/ip/rstmgr/rtl/rstmgr_reg_pkg.sv
  hw/ip/rv_plic/rtl/rv_plic_reg_pkg.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_pkg.sv
  hw/ip/spi_device/rtl/spi_device_reg_pkg.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_reg_pkg.sv
  hw/ip/trial1/rtl/trial1_reg_pkg.sv
  hw/ip/uart/rtl/uart_reg_pkg.sv
  hw/ip/usbdev/rtl/usbdev_reg_pkg.sv
  hw/ip/usbuart/rtl/usbuart_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_pkg.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_pkg.sv
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_pkg.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_reg_pkg.sv
  util/reggen/reg_pkg.sv.tpl
Labels: Component:Tooling, Type:Bug

#4391 [sw, rom_ext] Minor grammatical fixes in descriptions
  sw/device/rom_exts/rom_ext_manifest_parser.h
Labels: Component:SW

#4395 [otbn] Remove "err" interrupt
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/dif_otbn.c
  sw/device/lib/dif/dif_otbn.h
  sw/device/lib/dif/dif_plic.c
  sw/device/tests/dif/dif_otbn_unittest.cc
  sw/device/tests/dif/dif_plic_unittest.cc
Labels: Component:OTBN, Component:RTL, Component:SW, Type:Cleanup

#4385 [otp_ctrl] Add second read access check to DAI FSM
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
Labels: Component:RTL

#4217 [i2c, rtl] Initial FSM implementation for target mode
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#4394 [otbn] Rename some signals in otbn_top_sim.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#4174 [sw, dif_plic] Add diagnostic message to one of the test cases
  sw/device/tests/dif/dif_plic_unittest.cc
Labels: Component:SW

#4452 [otbn] Print PC as part of trace in standalone.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4453 [otbn] Delete stale bits of otbnsim
  util/otbnsim/README.md
  util/otbnsim/otbnsim/model.py
  util/otbnsim/otbnsim/standalone.py
  util/otbnsim/setup.py
  util/otbnsim/test/programs.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4457 [lc_ctrl] Add life cycle state diversification output
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
Labels: Component:RTL

#4460 [rv_dm/jtag] Split JTAG type into separate jtag_pkg
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/rv_dm/jtag_pkg.core
  hw/ip/rv_dm/rtl/jtag_pkg.sv
  hw/ip/rv_dm/rtl/rv_dm.sv
  hw/ip/rv_dm/rv_dm.core
  hw/top_earlgrey/data/top_earlgrey.sv.tpl
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Cleanup

#4325 [dvsim] Allow dvsim.py to be run under Make
  util/dvsim/Deploy.py
Labels: Component:DV, Type:Enhancement

#4400 [dv] Make width conversion explicit in dv_base_env_cfg::initialize
  hw/dv/sv/dv_lib/dv_base_env_cfg.sv
Labels: Component:DV, Type:Cleanup

#4474 [dif/lc_ctrl] Roll back "Implement LC DIFs"
  sw/device/lib/dif/dif_lc_ctrl.c
Labels: Component:SW

#4477 [i2c, rtl] SDA Interference fix
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#4454 [otbn] Remove dependency on riscv-python-sim
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
  hw/ip/otbn/dv/otbnsim/sim/ext_regs.py
  hw/ip/otbn/dv/otbnsim/sim/flags.py
  hw/ip/otbn/dv/otbnsim/sim/reg.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/sim/trace.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  python-requirements.txt
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4469 [otbn] Shift by bits, not bytes in big number instructions
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/data/enc-schemes.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/smoke/smoke_test.s
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#4475 [otbn] Fix --help for otbn top sim
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.cc
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.h
  hw/ip/aes/pre_dv/aes_sbox_tb/cpp/aes_sbox_tb.cc
  hw/ip/otbn/dv/verilator/otbn_top_sim.cc
  hw/ip/prim/pre_dv/prim_sync_reqack/cpp/prim_sync_reqack_tb.cc
  hw/top_earlgrey/top_earlgrey_verilator.cc
Labels: Component:OTBN, Type:Bug

#4508 Revert "[otbn] Re-enable smoke test in CI"
  test/systemtest/config.py
Labels: Component:DV, Component:OTBN, Priority:P1

#4499 [i2c, rtl] Fixed Lint warnings
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#4500 [lc_ctrl] Reduce number of diversification groups to 3
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
Labels: Component:RTL, Type:Cleanup

#4520 [otbn] Set err_code correctly when not building model
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4521 [otbn] Change naming convention for otbnsim test files
  hw/ip/otbn/dv/otbnsim/test/simple/insns/add.exp
  hw/ip/otbn/dv/otbnsim/test/simple/insns/add.s
  hw/ip/otbn/dv/otbnsim/test/simple/insns/addi.exp
  hw/ip/otbn/dv/otbnsim/test/simple/insns/addi.s
  hw/ip/otbn/dv/otbnsim/test/simple/insns/bnlid.exp
  hw/ip/otbn/dv/otbnsim/test/simple/insns/bnlid.s
  hw/ip/otbn/dv/otbnsim/test/simple/insns/li.exp
  hw/ip/otbn/dv/otbnsim/test/simple/insns/li.s
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-end-loop.exp
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-end-loop.s
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-overflow.exp
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-overflow.s
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-zero.exp
  hw/ip/otbn/dv/otbnsim/test/simple/loop-errs/loop-zero.s
  hw/ip/otbn/dv/otbnsim/test/simple/loops/loops.exp
  hw/ip/otbn/dv/otbnsim/test/simple/x1/overflow.exp
  hw/ip/otbn/dv/otbnsim/test/simple/x1/overflow.s
  hw/ip/otbn/dv/otbnsim/test/simple/x1/underflow.exp
  hw/ip/otbn/dv/otbnsim/test/simple/x1/underflow.s
  hw/ip/otbn/dv/otbnsim/test/simple_test.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4533 [doc] Fix checklist items in V1
  util/uvmdvgen/checklist.md.tpl
Labels: Component:Doc

#4545 [otbn] Allow concurrent runs of otbn_build.py on the same files
  util/otbn_build.py
Labels: Component:OTBN, Component:Tooling, Type:Bug

#4561 [lc_ctrl] Fix nvm_debug_en discrepancy in DEV
  doc/security/specs/device_life_cycle/_index.md
Labels: Component:Doc

#4559 [lc_ctrl] Correct alert enumeration order
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
Labels: Component:RTL

#4532 [lc_ctrl] Move lc_ctrl into D1
  hw/ip/lc_ctrl/data/lc_ctrl.prj.hjson
  hw/ip/lc_ctrl/doc/checklist.md
Labels: Component:Doc

#4424 [sw, dif_aon_timer] Introduce DIF AON Timer header
  hw/ip/aon_timer/data/aon_timer.prj.hjson
  meson.build
  sw/device/lib/dif/dif_aon_timer.c
  sw/device/lib/dif/dif_aon_timer.h
  sw/device/lib/dif/dif_aon_timer.md
  sw/device/lib/dif/meson.build
Labels: Component:SW

#4544 [sw, dif_uart] Add API for UART RX timeout control
  sw/device/lib/dif/dif_uart.c
  sw/device/lib/dif/dif_uart.h
  sw/device/tests/dif/dif_uart_unittest.cc
Labels: Component:SW

#4579 [verible] Update Verible version to 0.0-808-g1e17daawq
  azure-pipelines.yml
  tool_requirements.py
Labels: Component:Tooling

#4599 [otbn] Correct ordering in flag enum
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/rtl/otbn_pkg.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4543 [otbn] Make otbn_build.py less verbose by default
  util/otbn_build.py
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#4585 [format] Update experimental Verible format script
  util/verible-format.sh
Labels: Component:Tooling

#4620 [keymgr] Correct reset sequence for lc_keymgr_en
  hw/ip/keymgr/dv/env/keymgr_if.sv
Labels: Component:DV, Priority:P0

#4636 [otbn] Ensure the RIG always picks aligned jumps
  hw/ip/otbn/util/rig/gens/jump.py
  hw/ip/otbn/util/rig/program.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4628 [prim_ram*_adv] Qualify error output signals with rvalid
  hw/ip/prim/rtl/prim_ram_1p_adv.sv
  hw/ip/prim/rtl/prim_ram_2p_async_adv.sv
Labels: Component:RTL

#4650 [sram_ctrl] Move into D1
  hw/ip/sram_ctrl/data/sram_ctrl.prj.hjson
  hw/ip/sram_ctrl/doc/checklist.md
Labels: Component:Doc

#4654 [otbn] No longer factor rvalid into rerror signals
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#4646 [i2c, doc] Target features addition
  hw/ip/i2c/doc/I2C_block_diagram.svg
  hw/ip/i2c/doc/I2C_state_diagram_target.svg
  hw/ip/i2c/doc/_index.md
Labels: Component:Doc

#4673 [prim_ram] Rearrange parity bit packing and fix wrong wmask settings
  hw/ip/otp_ctrl/dv/tb.sv
  hw/ip/prim/rtl/prim_ram_1p_adv.sv
  hw/ip/prim/rtl/prim_ram_1p_scr.sv
  hw/ip/prim/rtl/prim_ram_2p_adv.sv
  hw/ip/prim/rtl/prim_ram_2p_async_adv.sv
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
  hw/ip/usbdev/rtl/usbdev.sv
  hw/top_earlgrey/data/top_earlgrey.sv.tpl
  hw/top_earlgrey/dv/tb/chip_hier_macros.svh
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL
