Repository lowRISC/opentitan, pull requests merged in 2020-07, with the labels that each got.

#2714 [otbn] Fix dmem depth parameter calculation
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN

#2715 [otbn] Fix dmem depth parameter calculation
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN

#2687 [i2c, dv] Add i2c_fifo_watermark test for rx_fifo and fmt_fifo
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_override_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
  hw/ip/i2c/dv/tb/tb.sv
Labels: Component:DV

#2716 [i2c, rtl] Transition out of Idle
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#2725 [bronze/otp] Add missing resets
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#1501 [sw] Introduce a DIF for rv_timer
  sw/device/lib/dif/dif_rv_timer.c
  sw/device/lib/dif/dif_rv_timer.h
  sw/device/lib/dif/meson.build
  sw/device/tests/dif/dif_rv_timer_unittest.cc
  sw/device/tests/dif/meson.build
Labels: Component:SW

#2728 [syn] Minor updates to synthesis script
  hw/ip/aes/syn/constraints.sdc
  hw/syn/tools/dc/run-syn.tcl
  hw/syn/tools/dc/sweep.tcl
  hw/syn/tools/dc/testsynth.tcl
  hw/top_earlgrey/syn/constraints.sdc
Labels: Component:Tooling

#2729 [bronze/syn] Minor updates to synthesis script
  hw/ip/aes/syn/constraints.sdc
  hw/syn/tools/dc/run-syn.tcl
  hw/syn/tools/dc/sweep.tcl
  hw/syn/tools/dc/testsynth.tcl
  hw/top_earlgrey/syn/constraints.sdc
Labels: Component:Tooling

#2751 [prim_gate_gen] Recalibrate gate generator for new std cells
  hw/ip/prim/rtl/prim_gate_gen.sv
Labels: Component:RTL

#2752 [prim_gate_gen/bronze] Recalibrate gate generator for new std cells
  hw/ip/prim/rtl/prim_gate_gen.sv
Labels: Component:RTL

#2736 Extract OTBN ISA documentation into a YAML file
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/__init__.py
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/yaml_to_doc.py
  site/docs/layouts/shortcodes/otbn_isa.html
  util/build_docs.py
Labels: Component:OTBN

#2764 [syn] Update AT plot script
  hw/syn/tools/dc/at-plot.py
Labels: Component:Tooling

#2430 [sw] Complete S1 Review for UART DIF
  hw/ip/uart/data/uart.prj.hjson
  sw/device/lib/dif/dif_uart.md
Labels: Component:SW

#2815 [style-lint] Minor cleanup in top_earlgrey and otbn
  hw/ip/otbn/rtl/otbn.sv
  hw/top_earlgrey/data/top_earlgrey_pkg.sv.tpl
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/rtl/top_earlgrey_asic.sv
Labels: Component:RTL

#2816 Update lowrisc_ibex to lowRISC/ibex@6b9165f
  hw/vendor/lowrisc_ibex.lock.hjson
  hw/vendor/lowrisc_ibex/README.md
  hw/vendor/lowrisc_ibex/azure-pipelines.yml
  hw/vendor/lowrisc_ibex/ci/ibex-rtl-ci-steps.yml
  hw/vendor/lowrisc_ibex/doc/getting_started.rst
  hw/vendor/lowrisc_ibex/doc/instruction_decode_execute.rst
  hw/vendor/lowrisc_ibex/doc/integration.rst
  hw/vendor/lowrisc_ibex/doc/introduction.rst
  hw/vendor/lowrisc_ibex/examples/fpga/artya7/rtl/top_artya7.sv
  hw/vendor/lowrisc_ibex/examples/fpga/artya7/top_artya7.core
  hw/vendor/lowrisc_ibex/examples/simple_system/README.md
  hw/vendor/lowrisc_ibex/examples/simple_system/ibex_simple_system.cc
  hw/vendor/lowrisc_ibex/examples/simple_system/ibex_simple_system.core
  hw/vendor/lowrisc_ibex/examples/simple_system/rtl/ibex_simple_system.sv
  hw/vendor/lowrisc_ibex/examples/sw/benchmarks/README.md
  hw/vendor/lowrisc_ibex/examples/sw/benchmarks/coremark/ibex/core_portme.c
  hw/vendor/lowrisc_ibex/examples/sw/benchmarks/coremark/ibex/core_portme.h
  hw/vendor/lowrisc_ibex/examples/sw/benchmarks/coremark/ibex/core_portme.mak
  hw/vendor/lowrisc_ibex/formal/icache/Makefile
  hw/vendor/lowrisc_ibex/formal/icache/formal_tb.sv
  hw/vendor/lowrisc_ibex/formal/icache/formal_tb_frag.svh
  hw/vendor/lowrisc_ibex/formal/icache/ibex_icache_fpv.core
  hw/vendor/lowrisc_ibex/formal/icache/run.sby
  hw/vendor/lowrisc_ibex/formal/icache/sv2v_in_place.py
  hw/vendor/lowrisc_ibex/formal/riscv-formal/Makefile
  hw/vendor/lowrisc_ibex/formal/riscv-formal/README.md
  hw/vendor/lowrisc_ibex/ibex_configs.yaml
  hw/vendor/lowrisc_ibex/ibex_core.core
  hw/vendor/lowrisc_ibex/ibex_core_tracing.core
  hw/vendor/lowrisc_ibex/ibex_icache.core
  hw/vendor/lowrisc_ibex/lint/verible_waiver.vbw
  hw/vendor/lowrisc_ibex/lint/verilator_waiver.vlt
  hw/vendor/lowrisc_ibex/rtl/ibex_alu.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_core.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_core_tracing.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_counter.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_cs_registers.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_decoder.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_dummy_instr.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_ex_block.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_icache.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_id_stage.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_multdiv_fast.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_multdiv_slow.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_pkg.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_tracer.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_tracer_pkg.sv
Labels: Component:RTL

#2828 [syn] Fix behavior of parsing script in a few error cases
  hw/syn/tools/dc/parse-syn-report.py
Labels: Component:Tooling

#2826 [style-lint] Last round of minor fixes to get all targets clean
  hw/ip/entropy_src/rtl/entropy_src_pkg.sv
  hw/ip/usbuart/rtl/usb_serial_ctrl_ep.sv
  hw/lint/tools/veriblelint/parse-lint-report.py
Labels: Component:RTL

#2780 [otbn] Expand the three writeback variants of bn.mulqacc in docs
  hw/ip/otbn/data/insns.yml
Labels: Component:Doc, Component:OTBN

#2801 [otbn] Add OTBN encoding information to insns.yml
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:OTBN, Component:Tooling

#2842 [otbn] Allow an insn to have ops without a space after the mnemonic
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:Doc, Component:OTBN, Component:Tooling, Type:Enhancement

#2861 [otbn] Add a note to otbn/README.md explaining insns.yml
  hw/ip/otbn/README.md
Labels: Component:Doc, Component:OTBN, Type:Enhancement

#2871 [syn] Add gitignore file to dc folder
  hw/syn/tools/dc/.gitignore
Labels: Component:Tooling

#2880 [vsg] fix _i/_o usage on prim_fifo
  hw/ip/entropy_src/rtl/entropy_src_core.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_phy.sv
  hw/ip/flash_ctrl/rtl/flash_phy_rd.sv
  hw/ip/hmac/rtl/hmac.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/prim/fpv/tb/prim_fifo_sync_bind_fpv.sv
  hw/ip/prim/fpv/tb/prim_fifo_sync_fpv.sv
  hw/ip/prim/fpv/vip/prim_fifo_sync_assert_fpv.sv
  hw/ip/prim/rtl/prim_fifo_async.sv
  hw/ip/prim/rtl/prim_fifo_sync.sv
  hw/ip/prim/rtl/prim_sram_arbiter.sv
  hw/ip/prim_generic/rtl/prim_generic_flash.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
  hw/ip/tlul/rtl/tlul_fifo_async.sv
  hw/ip/tlul/rtl/tlul_fifo_sync.sv
  hw/ip/uart/rtl/uart_core.sv
  hw/ip/usbdev/rtl/usbdev.sv
  hw/ip/usbuart/rtl/usbuart_core.sv
  hw/vendor/patches/pulp_riscv_dbg/0001-Use-lowrisc-instead-of-PULP-primitives.patch
  hw/vendor/pulp_riscv_dbg/src/dm_csrs.sv
  hw/vendor/pulp_riscv_dbg/src/dmi_cdc.sv
Labels: Component:RTL

#2093 [sw/dif_usbdev] Implement USBDEV DIF Library
  sw/device/lib/dif/dif_usbdev.c
  sw/device/lib/dif/dif_usbdev.h
  sw/device/lib/dif/meson.build
Labels: Component:SW

#2879 [padring] Minor fixes and updates
  hw/ip/padctrl/rtl/padring.sv
  hw/top_earlgrey/rtl/top_earlgrey_asic.sv
Labels: Component:RTL

#2889 [otbn] Remove debug print from SyntaxHunk.from_string
  hw/ip/otbn/util/insn_yaml.py
Labels: Component:Doc, Component:OTBN, Type:Bug

#2899 [dvsim/syn] Update flow to copy over new lib-setup.tcl file
  hw/syn/data/dc.hjson
  hw/syn/tools/dc/sweep.tcl
Labels: Component:Tooling

#2898 [sw] Delete sw/device/boot_rom2
  sw/device/boot_rom2/README.md
  sw/device/boot_rom2/boot_rom.c
  sw/device/boot_rom2/meson.build
  sw/device/boot_rom2/uart_log.c
  sw/device/boot_rom2/uart_log.h
  sw/device/meson.build
Labels: Component:SW

#2894 [otbn] Clarify interaction between JAL(R) and x1
  hw/ip/otbn/data/insns.yml
Labels: Component:Doc, Component:OTBN, Type:Cleanup

#2867 [otbn] A simple binutils-based assembler for OTBN
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#2893 [otbn] Simple linker script and wrapper for otbn
  hw/ip/otbn/data/otbn.ld
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/otbn-ld
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#2888 Add OTBN objdump wrapper (a disassembler)
  hw/ip/otbn/util/Makefile
  hw/ip/otbn/util/insn_yaml.py
  hw/ip/otbn/util/otbn-objdump
Labels: Component:OTBN, Component:Tooling, Type:Enhancement

#2890 [otbn] Add example assembly code
  hw/ip/otbn/code-snippets/LICENSE.dcrypto
  hw/ip/otbn/code-snippets/README.md
  hw/ip/otbn/code-snippets/modexp.S
  hw/ip/otbn/util/Makefile
  util/licence-checker.hjson
Labels: Component:Doc, Component:OTBN, Type:Enhancement

#2934 [dvsim] Print a more helpful path to coverage dashboard
  hw/dv/data/dsim/dsim.hjson
  hw/dv/data/vcs/vcs.hjson
  hw/dv/data/xcelium/xcelium.hjson
Labels: Component:DV, Component:Tooling, Type:Cleanup

#2781 [tests] Clean up dif_plic_sanitytest.c
  sw/device/tests/dif/dif_plic_sanitytest.c
Labels: Component:SW

#2937 [mask rom] Initial Pseudo-Code for Mask ROM
  sw/device/mask_rom/boot.md
Labels: Component:SW

#2722 [dif] Add a comment explaining how to drop an error on the ground
  sw/device/lib/dif/dif_warn_unused_result.h
Labels: Component:SW

#2925 [syn] Minor updates to align flow with foundry setup scripts
  hw/syn/tools/dc/run-syn.tcl
  hw/top_earlgrey/syn/constraints.sdc
Labels: Component:Tooling

#2955 [spi_host] increase tx buffer depth to 80
  hw/ip/spi_host/rtl/spi_host.sv
Labels: Component:RTL

#2873 [i2c, dv] Add i2c_stretch_timeout and i2c_fifo_full test (v2)
  hw/dv/sv/i2c_agent/i2c_device_driver.sv
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_item.sv
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_common_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_override_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_perf_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_sanity_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_stretch_timeout_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV

#2874 [i2c, dv] Rename variables in v2 tests for consistency
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_perf_vseq.sv
Labels: Component:DV

#2949 [mask rom] More Detailed Boot Pseudo-code
  sw/device/mask_rom/boot.md
Labels: Component:SW

#3016 [i2c,dv] Update uvm_info in various *vseq and remove redundant constraints in i2c_sanity
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_common_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_sanity_vseq.sv
Labels: Component:DV
