Repository lowRISC/opentitan, pull requests merged in 2020-10, with the labels that each got.

#3617 [alert_handler] Update core files to use the design_level switch
  hw/ip/alert_handler/alert_handler_reg.core
  hw/top_earlgrey/ip/alert_handler/alert_handler_reg.core
  hw/top_earlgrey/ip/alert_handler/dv/alert_handler_sim.core
  hw/top_earlgrey/ip/alert_handler/dv/alert_handler_sim_cfg.hjson
  hw/top_earlgrey/ip/alert_handler/dv/sva/alert_handler_sva.core
  hw/top_earlgrey/ip/rstmgr/rstmgr_pkg.core
  hw/top_earlgrey/lint/top_earlgrey_lint_cfgs.hjson
  hw/top_earlgrey/top_earlgrey.core
Labels: Component:Tooling

#3616 [alert_handler/doc] Add crashdump struct definition to docs
  hw/ip/alert_handler/doc/_index.md
Labels: Component:Doc

#3070 [doc/security] Add Device Life Cycle Specification
  doc/security/specs/_index.md
  doc/security/specs/device_life_cycle/_index.md
  doc/security/specs/device_life_cycle/device_life_cycle_fig1.svg
Labels: Component:Security

#3658 [otbn] Fix rounding in bn.addm in ISS
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN, Type:Bug

#3612 [otbn] Fix BN.LID / BN.SID in ISS
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3661 [otbn] ISS testcase for BN.LID
  hw/ip/otbn/dv/otbnsim/test/simple/bn.lid/bnlid.s
  hw/ip/otbn/dv/otbnsim/test/simple/bn.lid/expected.txt
Labels: Component:DV, Component:OTBN, Type:Enhancement

#3659 [otbn] Fix possible overflow in BN.SUBM
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN, Type:Cleanup

#3648 [otbn] Fix CSRRW in ISS when destination is x0
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3628 [dif] Move I2C to the new naming scheme
  sw/device/lib/dif/dif_i2c.c
  sw/device/lib/dif/dif_i2c.h
  sw/device/tests/dif/dif_i2c_unittest.cc
Labels: Component:SW

#3456 [otp_ctrl/doc] Incremental updates to documentation
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/otp_ctrl/doc/otp_controller_blockdiag.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_behavioral_model.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_blockdiag.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_buf_part_fsm.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_dai_fsm.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_digest_mechanism.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_kdi_fsm.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_lci_fsm.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_overview.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_prim_otp.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_unbuf_part_fsm.svg
  hw/ip/otp_ctrl/doc/otp_digest_mechanism.svg
  hw/ip/otp_ctrl/doc/otp_wrapper_blockdiag.svg
Labels: Component:Doc

#3233 [doc/security] Attestation
  doc/security/specs/attestation/_index.md
  doc/security/specs/attestation/attestation_fig1.svg
  doc/security/specs/attestation/attestation_fig2.svg
  doc/security/specs/attestation/attestation_fig3.svg
Labels: Component:Security

#3707 [otbn] Allow hex constants for big number operands
  hw/ip/otbn/util/shared/operand.py
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3739 [prim_prince/present] Remove TODOs
  hw/ip/prim/rtl/prim_present.sv
  hw/ip/prim/rtl/prim_prince.sv
Labels: Component:RTL, Type:Cleanup

#3730 Avoid an unnecessary warning when running reggen
  util/reggen/validate.py
Labels: Component:Tooling, Type:Cleanup

#3724 [docs] Silence Hugo warning about empty File.Dir
  site/docs/layouts/partials/menu.html
Labels: Component:Doc, Type:Cleanup

#3728 [reggen] Change log.info calls to log.debug
  util/reggen/validate.py
Labels: Component:Tooling, Type:Cleanup

#3136 [doc/security] Identities and Root Keys
  doc/security/specs/identities_and_root_keys/_index.md
  doc/security/specs/identities_and_root_keys/identities_and_root_keys_fig1.svg
  doc/security/specs/identities_and_root_keys/identities_and_root_keys_fig2.svg
  doc/security/specs/identities_and_root_keys/identities_and_root_keys_fig3.svg
  doc/security/specs/identities_and_root_keys/identities_and_root_keys_fig4.svg
  doc/security/specs/identities_and_root_keys/identities_and_root_keys_fig5.svg
Labels: Component:Security

#3745 Add hier_path to list of optional keys in validate.py
  util/reggen/gen_selfdoc.py
  util/reggen/validate.py
Labels: Component:Tooling, Type:Cleanup

#3758 [otbn] Use a single digit in a 1-bit constant
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Component:OTBN, Type:Cleanup

#3737 [otp_ctrl] Transition to D1
  hw/ip/otp_ctrl/data/otp_ctrl.prj.hjson
  hw/ip/otp_ctrl/doc/checklist.md
Labels: Component:Doc, Component:RTL

#3756 [prim_multibit_sync] Add multibit synchronizer primitive with consistency check
  hw/ip/prim/prim_multibit_sync.core
  hw/ip/prim/rtl/prim_multibit_sync.sv
Labels: Component:RTL

#3765 [formal/doc] Minor typo fix in subtitle
  hw/formal/README.md
Labels: Component:Doc

#3785 [prim_present/otp_ctrl] Add round index state IOs to primitive
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
  hw/ip/prim/doc/prim_present.md
  hw/ip/prim/dv/prim_present/tb/prim_present_tb.sv
  hw/ip/prim/lint/prim.waiver
  hw/ip/prim/rtl/prim_cipher_pkg.sv
  hw/ip/prim/rtl/prim_present.sv
Labels: Component:RTL

#3760 [sparse-fsm-encode] Expand error and help messages
  hw/ip/prim/util/sparse-fsm-encode.py
Labels: Component:Tooling

#3772 [checklists] Remove reviewer/signoff lines for D/V 1-2 and align checklist discrepancies
  doc/project/sw_checklist.md.tpl
  hw/ip/aes/doc/checklist.md
  hw/ip/alert_handler/doc/checklist.md
  hw/ip/entropy_src/doc/checklist.md
  hw/ip/flash_ctrl/doc/checklist.md
  hw/ip/gpio/doc/checklist.md
  hw/ip/hmac/doc/checklist.md
  hw/ip/i2c/doc/checklist.md
  hw/ip/keymgr/doc/checklist.md
  hw/ip/otbn/doc/checklist.md
  hw/ip/otp_ctrl/doc/checklist.md
  hw/ip/padctrl/doc/checklist.md
  hw/ip/pinmux/doc/checklist.md
  hw/ip/pwrmgr/doc/checklist.md
  hw/ip/rstmgr/doc/checklist.md
  hw/ip/rv_core_ibex/doc/checklist.md
  hw/ip/rv_plic/doc/checklist.md
  hw/ip/rv_timer/doc/checklist.md
  hw/ip/spi_device/doc/checklist.md
  hw/ip/uart/doc/checklist.md
  hw/ip/usbdev/doc/checklist.md
  sw/device/lib/dif/dif_alert_handler.md
  sw/device/lib/dif/dif_gpio.md
  sw/device/lib/dif/dif_hmac.md
  sw/device/lib/dif/dif_i2c.md
  sw/device/lib/dif/dif_otbn.md
  sw/device/lib/dif/dif_plic.md
  sw/device/lib/dif/dif_pwrmgr.md
  sw/device/lib/dif/dif_rstmgr.md
  sw/device/lib/dif/dif_rv_timer.md
  sw/device/lib/dif/dif_spi_device.md
  sw/device/lib/dif/dif_uart.md
  sw/device/lib/dif/dif_usbdev.md
  util/uvmdvgen/checklist.md.tpl
Labels: Component:Doc, Type:Cleanup

#3811 [prim] Fix AscentLint waiver that made the tool crash
  hw/ip/prim/lint/prim.waiver
Labels: Component:Tooling

#3264 [doc/security] Ownership Transfer
  doc/security/specs/ownership_transfer/_index.md
  doc/security/specs/ownership_transfer/ownership_transfer_fig1.svg
  doc/security/specs/ownership_transfer/ownership_transfer_fig2.svg
  doc/security/specs/ownership_transfer/ownership_transfer_fig3.svg
  doc/security/specs/ownership_transfer/ownership_transfer_fig4.svg
Labels: Component:Security

#3835 [otbn] Fix otbn-as for input files that don't end with a newline
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Bug

#3475 [dif] Implement DIFs for alert_handler
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
Labels: Component:SW

#3562 [dif] Add header for otp_ctrl DIFs
  meson.build
  sw/device/lib/dif/dif_otp_ctrl.c
  sw/device/lib/dif/dif_otp_ctrl.h
  sw/device/lib/dif/meson.build
Labels: Component:SW

#3356 [dvsim] Rename verbosity wildcards to something more informative
  hw/dv/data/common_sim_cfg.hjson
  util/dvsim/FlowCfg.py
  util/dvsim/SimCfg.py
  util/dvsim/dvsim.py
Labels: Component:DV, Type:Cleanup

#3514 [sw, dif_rstmgr] Add DIF Reset Manager unittests
  sw/device/tests/dif/dif_rstmgr_unittest.cc
  sw/device/tests/dif/meson.build
Labels: Component:SW

#3874 [otbn] Generate separate segments in rig programs
  hw/ip/otbn/util/rig/program.py
Labels: Component:DV, Component:OTBN

#3881 [otbn] Make otbn_core_model compilable with VCS
  hw/ip/otbn/dv/model/otbn_core_model.sv
Labels: Component:DV, Component:OTBN, Type:Cleanup

#3890 [prim_otp] Add TL-UL regfile for testing (sim only)
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
  hw/ip/prim_generic/prim_generic_otp.core
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
Labels: Component:RTL

#3876 [sw, dif_plic] Add `RV_PLIC.MSIP0` control and query API
  sw/device/lib/dif/dif_plic.c
  sw/device/lib/dif/dif_plic.h
  sw/device/tests/dif/dif_plic_unittest.cc
Labels: Component:SW

#3917 [doc] Fix cdgori username
  doc/security/specs/device_life_cycle/_index.md
Labels: Component:Doc

#3937 [otp_ctrl] Update the exclusion tags for CSR tests
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
Labels: Component:DV

#3948 [dvsim] Kill subprocesses more gracefully
  util/dvsim/Deploy.py
Labels: Component:Tooling, Type:Bug

#3899 [otp_ctrl] Step up parity to ECC checks in buffer regs
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/otp_ctrl/otp_ctrl.core
  hw/ip/otp_ctrl/rtl/otp_ctrl_ecc_reg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_parity_reg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.sv
Labels: Component:RTL

#3965 [otbn] Add missing context keyword to DPI declaration
  hw/ip/otbn/dv/memutil/otbn_memutil.svh
Labels: Component:DV, Component:OTBN, Type:Bug

#3959 [sparse-fsm-encode] Update template to prevent JG compile error
  hw/ip/prim/util/sparse-fsm-encode.py
Labels: Component:Tooling, Type:Cleanup

#3966 [otbn] Use the correct PC when disassembling in ISS
  hw/ip/otbn/dv/otbnsim/sim/sim.py
Labels: Component:DV, Component:OTBN, Type:Bug

#3345 [dvsim] Document and slightly improve subst_wildcards in utils.py
  util/dvsim/Makefile
  util/dvsim/utils.py
  util/dvsim/utils_test.py
Labels: Component:DV, Type:Bug, Type:Cleanup
