Repository lowRISC/opentitan, pull requests merged in 2020-03, with the labels that each got.

#1650 [prim] This adds initial versions of the PRINCE and PRESENT scramblers
  hw/ip/prim/prim.core
  hw/ip/prim/rtl/prim_present.sv
  hw/ip/prim/rtl/prim_prince.sv
Labels: Component:RTL

#1631 [i2c, rtl] Format flag assignments
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#1596 [lint/dvsim] This adds support for linting and lint dashboards to dvsim
  hw/dv/data/master_sim_cfgs_list.hjson
  hw/dv/data/sim.mk
  hw/lint/Makefile
  hw/lint/common.core
  hw/lint/comportable.core
  hw/lint/data/common_lint_cfg.hjson
  hw/lint/data/lint.mk
  hw/lint/doc/README.md
  hw/lint/tools/ascentlint/ascentlint-config.tcl
  hw/lint/tools/ascentlint/common.waiver
  hw/lint/tools/ascentlint/comportable.waiver
  hw/lint/tools/ascentlint/parse-lint-report.py
  hw/lint/tools/verilator/common.vlt
  hw/lint/tools/verilator/comportable.vlt
  hw/lint/util/gen-report.sh
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
  hw/top_earlgrey/lint/ascentlint/top_earlgrey_lint_cfgs.hjson
  util/dvsim.py
  util/dvsim/Deploy.py
  util/dvsim/LintCfg.py
  util/dvsim/OneShotCfg.py
Labels: Component:RTL, Component:Tooling

#1651 [doc] Add documentation for PRESENT and PRINCE scrambler primitives
  hw/ip/prim/doc/prim_lfsr.md
  hw/ip/prim/doc/prim_present.md
  hw/ip/prim/doc/prim_prince.md
Labels: Component:Doc

#1605 [cleanup] Remove shebang from non-standalone files
  test/systemtest/conftest.py
  test/systemtest/functional_fpga_test.py
  test/systemtest/functional_verilator_test.py
  test/systemtest/openocd_verilator_test.py
  test/systemtest/test_utils.py
  util/dvsim/Deploy.py
  util/dvsim/FlowCfg.py
  util/dvsim/LintCfg.py
  util/dvsim/Modes.py
  util/dvsim/OneShotCfg.py
  util/dvsim/SimCfg.py
  util/dvsim/utils.py
  util/fpvgen/sv_parse.py
  util/reggen/gen_json.py
  util/testplanner/class_defs.py
  util/testplanner/testplan_utils.py
Labels: Component:Tooling

#1604 [cleanup] This cleans up header comments in makefiles
  hw/dv/data/sim.mk
  hw/dv/tools/Makefile
  hw/dv/tools/common_tests.mk
  hw/dv/tools/fusesoc.mk
  hw/dv/tools/modes.mk
  hw/dv/tools/ral_gen.mk
  hw/dv/tools/rules.mk
  hw/dv/tools/vcs/vcs.mk
  hw/dv/tools/xcelium/xcelium.mk
  hw/ip/aes/dv/Makefile
  hw/ip/alert_handler/dv/Makefile
  hw/ip/gpio/dv/Makefile
  hw/ip/hmac/dv/Makefile
  hw/ip/i2c/dv/Makefile
  hw/ip/prim/dv/Makefile
  hw/ip/rv_dm/dv/Makefile
  hw/ip/rv_timer/dv/Makefile
  hw/ip/spi_device/dv/Makefile
  hw/ip/tlul/generic_dv/xbar.mk
  hw/ip/trial1/dv/Makefile
  hw/ip/uart/dv/Makefile
  hw/lint/data/lint.mk
  hw/top_earlgrey/dv/Makefile
Labels: Component:Tooling

#1738 [i2c, dv] Update i2c.hjson to support automation for csr excl
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/dv/env/seq_lib/i2c_common_vseq.sv
Labels: Component:DV

#1703 [i2c, rtl] Issue lowRISC#1662 fix and FIFO watermarks cleared after reset
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL
