Repository lowRISC/opentitan, pull requests merged in 2021-04, with the labels that each got.

#5799 [flash_ctrl,lint] Fix width mismatch warnings
  hw/ip/flash_ctrl/rtl/flash_phy_prog.sv
Labels: Component:RTL, Type:Cleanup

#5917 [top/arty] Remove artys7 target
  hw/top_earlgrey/data/pins_artys7.xdc
  hw/top_earlgrey/rtl/top_earlgrey_artys7.sv
  hw/top_earlgrey/top_earlgrey_artys7-50.core
Labels: Component:RTL

#5934 [docs/hugo] Move to hugo version 0.82.0
  tool_requirements.py
Labels: Component:Doc, Component:Tooling

#5861 [dv] Allow monitor items to have different types from sequence items
  hw/dv/sv/dv_lib/dv_base_monitor.sv
  hw/dv/sv/dv_lib/dv_base_sequencer.sv
Labels: Component:DV, Type:Bug

#5950 [lc_ctrl/keymgr] Increase diversification value width to 128bit
  hw/ip/keymgr/rtl/keymgr.sv
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey_rnd_cnst_pkg.sv
Labels: Component:RTL

#5949 [otp_ctrl] Reverse LC counter/state positions in memory map
  hw/ip/flash_ctrl/rtl/flash_ctrl_prim_reg_top.sv
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson
  hw/ip/otp_ctrl/doc/otp_ctrl_mmap.md
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_prim_reg_top.sv
Labels: Component:RTL

#5883 [sw, dif_aon_timer] Minor naming and documentation fixups
  sw/device/lib/dif/dif_aon_timer.c
  sw/device/tests/dif/dif_aon_timer_unittest.cc
Labels: Component:SW

#5938 [otp_ctrl,lint] Fix some width mismatch warnings
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.sv
Labels: Component:RTL, Type:Cleanup

#5957 [otbn] Remove unused bits waiver
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#5963 [otp_ctrl] correct state/counter address mapping
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
Labels: Component:RTL

#5725 [flash_ctrl,lint] Fix width errors for parameters in flash_ctrl_pkg
  hw/ip/flash_ctrl/data/flash_ctrl_pkg.sv.tpl
  hw/ip/flash_ctrl/rtl/flash_ctrl_info_cfg.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_pkg.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_pkg.sv
Labels: Component:RTL, Type:Cleanup

#5974 [otbn] Explicitly stub off unused signal from tlul_adapter_sram
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#5975 [tlul] Stub off unused req_type_o signal for tlul_adapter_sram
  hw/ip/hmac/rtl/hmac.sv
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_staterd.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rv_dm/rtl/rv_dm.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/usbdev/rtl/usbdev.sv
Labels: Component:RTL, Type:Cleanup

#5978 [keymgr,lint] Correct width for keymgr_stage_e enum
  hw/ip/keymgr/rtl/keymgr_pkg.sv
Labels: Component:RTL, Type:Cleanup

#5928 [top/rbox] Instantiate rbox in top-level
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_autoblock.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_combo.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_comboact.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_combofsm.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_inv.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_keyfsm.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_keyintr.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_pin.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_pkg.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_timerfsm.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/data/xbar_peri.hjson
  hw/top_earlgrey/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_pkg.sv
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_pkg.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.gen.hjson
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.hjson
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_peri_bind.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/tl_peri_pkg.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/xbar_peri.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_nexysvideo.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/rtl/top_earlgrey_verilator.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  hw/top_earlgrey/top_earlgrey.core
  sw/device/tests/dif/dif_plic_unittest.cc
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:RTL

#5994 [rom_ctrl] Hook up the other bus integrity error signals in rom_ctrl
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
Labels: Component:RTL, Type:Enhancement

#5993 [otbn] Wire up bus intg_error_o signals
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
Labels: Component:RTL, Type:Enhancement

#5998 [otp_ctrl] Put req_type_o signal back again
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL, Type:Cleanup

#6004 [sram_ctrl] Use the correct tl_instr_en_e
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
Labels: Component:RTL, Type:Cleanup

#5999 [sysrst_ctrl] Declare the gsc_rst_o signal in the hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Cleanup

#5933 [top/pinout] Update from Bronze to Silver pinout status
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/pins_nexysvideo.xdc
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/dv/env/chip_env.sv
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_stub_cpu_base_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_spi_tx_rx_vseq.sv
  hw/top_earlgrey/dv/tb/tb.sv
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_pkg.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_englishbreakfast/data/pins_cw305.xdc
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  hw/top_englishbreakfast/rtl/chip_englishbreakfast_verilator.sv
  sw/device/lib/pinmux.c
Labels: Component:RTL

#5977 [alert,lint] Add explicit cast for comparison in ping timer
  hw/ip/alert_handler/rtl/alert_handler_ping_timer.sv
Labels: Component:RTL, Type:Cleanup

#6001 [edn,lint] Fix width mismatch in the definition of cmd_sent
  hw/ip/edn/rtl/edn_core.sv
Labels: Component:RTL, Type:Cleanup

#6035 [util] Add a --quiet mode to gen-otp-img.py and use in Meson
  sw/device/meson.build
  util/design/gen-otp-img.py
Labels: Component:Tooling, Type:Enhancement

#6030 [rv_plic,lint] Tell Verilator to split variables for scheduling
  hw/ip/rv_plic/lint/rv_plic.vlt
Labels: Component:RTL, Type:Cleanup

#6029 [prim_arbiter,lint] Tell Verilator to split variables for scheduling
  hw/ip/prim/lint/prim_arbiter.vlt
  hw/ip/prim/prim_arbiter.core
Labels: Component:RTL, Type:Cleanup

#6024 [padring] Scan role parameters
  hw/top_earlgrey/chip_earlgrey_asic.core
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/scan_role_pkg.sv
  hw/top_earlgrey/scan_role_pkg.core
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL

#5979 [rom_ctrl] Initial technical specification
  hw/ip/rom_ctrl/doc/_index.md
  hw/ip/rom_ctrl/doc/connections.svg
  hw/ip/rom_ctrl/doc/rom_check_fsm.svg
  hw/ip/rom_ctrl/doc/rom_ctrl_blockdiag.svg
  util/build_docs.py
Labels: Component:Doc, Type:Enhancement

#6032 [flash_ctrl] Simplify defn of buf_invalid_alloc in flash_phy_rd
  hw/ip/flash_ctrl/rtl/flash_phy_rd.sv
Labels: Component:RTL, Type:Enhancement

#6028 [keymgr] Define an intermediate signal for setting cfg_regwen
  hw/ip/keymgr/rtl/keymgr.sv
Labels: Component:RTL, Type:Cleanup

#6076 [otp_ctrl] Align lock bits in otp_ctrl Hjson to use rw0c
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_base_vseq.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
Labels: Component:RTL

#6080 [top] Fix a templating bug that breaks CI
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL, Priority:P0

#6000 [otbn] add coordinate transformation for P-384
  sw/otbn/code-snippets/p384.s
  sw/otbn/code-snippets/p384_scalar_mult_test.s
Labels: Component:OTBN

#6025 [pinmux] Remove some TODOs
  hw/ip/otp_ctrl/data/otp_ctrl_img_rma.hjson
  hw/ip/pinmux/rtl/pinmux_pkg.sv
  hw/ip/pinmux/rtl/pinmux_strap_sampling.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
  hw/top_englishbreakfast/rtl/chip_englishbreakfast_verilator.sv
  sw/device/meson.build
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL

#6092 [lint/docs] Update ascentlint dvsim command in readme
  hw/lint/doc/README.md
Labels: Component:Doc

#6015 [dv/dvsim] Adds failure bucketizer for triage.
  util/dvsim/Launcher.py
  util/dvsim/LocalLauncher.py
  util/dvsim/LsfLauncher.py
  util/dvsim/SimCfg.py
  util/dvsim/SimResults.py
Labels: Component:Tooling, Priority:P2, Type:Enhancement

#6064 [top] Slightly tidy up some auto-generated signals
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  util/topgen/lib.py
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL, Type:Cleanup

#6093 [edn] Minor fix to get synthesis going again
  hw/ip/edn/rtl/edn_core.sv
Labels: Component:RTL

#6095 [otbn,dv] Use "done" directly in the idle checker module
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#6113 [dv/dvsim] Provides more context on some failures.
  util/dvsim/Launcher.py
  util/dvsim/SimCfg.py
Labels: Component:Tooling

#6142 [dm,lint] Waive some unused bits warnings
  hw/vendor/lint/pulp_risv_dbg.vlt
Labels: Component:RTL, Type:Cleanup

#6138 [entropy_src] Make all the widths in window_cntr_d match
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: Component:RTL, Type:Cleanup

#6145 [pwm,lint] Hush an unused signal warning for regen signal
  hw/ip/pwm/rtl/pwm.sv
Labels: Component:RTL, Type:Cleanup

#6144 [otbn] Add missing parameters when !OTBN_BUILD_MODEL
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#5857 [flash_ctrl,lint] Fix various bit width mismatches
  hw/ip/flash_ctrl/rtl/flash_ctrl_lcmgr.sv
  hw/ip/flash_ctrl/rtl/flash_mp.sv
Labels: Component:RTL, Type:Cleanup

#6140 [flash_ctrl,lint] Waive a width warning for NumBanks * PagesPerBank
  hw/ip/flash_ctrl/lint/flash_ctrl.vlt
Labels: Component:RTL, Type:Cleanup

#6036 [rom_ctrl] Initial design RTL
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rom_ctrl/rom_ctrl.core
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_pkg.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_reg_pkg.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_regs_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Enhancement

#6162 [otbn,doc] Fix mangled sentence in LOOP documentation
  hw/ip/otbn/data/base-insns.yml
Labels: Component:Doc, Component:OTBN

#6157 [sw/dif] Deprecate the use of operation results.
  sw/device/lib/dif/README.md
Labels: Type:Cleanup

#6155 [sw/dif] Move AES to a single error space.
  sw/device/lib/dif/dif_aes.c
  sw/device/lib/dif/dif_aes.h
  sw/device/tests/dif/dif_aes_smoketest.c
Labels: Type:Cleanup

#6198 [tool, xcel] Support dumping the array of struct in shm/vcd
  hw/dv/tools/waves.tcl
Labels: Component:Tooling

#6184 [dm,lint] Silence some lint warnings in the debug module
  hw/vendor/lint/pulp_risv_dbg.vlt
Labels: Component:RTL, Type:Cleanup

#6183 [tlul] Waive unused bits warning in tlul_socket_m1.sv
  hw/ip/tlul/lint/tlul_socket_m1.vlt
Labels: Component:RTL, Type:Cleanup

#6143 [hmac,lint] Ignore an unused output in a way that linters understand
  hw/ip/hmac/lint/hmac.waiver
  hw/ip/hmac/rtl/hmac.sv
Labels: Component:RTL, Type:Cleanup

#6203 [docker] Install Verilator and OpenOCD from OBS
  azure-pipelines.yml
  util/container/Dockerfile
Labels: Component:CI, Type:Enhancement

#6207 [rom_ctrl] Enable linting as part of top_earlgrey_lint_cfgs.hjson
  hw/top_earlgrey/lint/top_earlgrey_lint_cfgs.hjson
Labels: Component:RTL, Type:Enhancement

#6077 [otp_ctrl] Locally escalate upon a fatal alert/error
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#6206 [rom_ctrl,doc] Add rom_ctrl to the hardware dashboard
  hw/ip/rom_ctrl/data/rom_ctrl.prj.hjson
  hw/ip/rom_ctrl/doc/checklist.md
Labels: Component:Doc, Type:Enhancement

#6205 [rom_ctrl,doc] Update signal list to match RTL
  hw/ip/rom_ctrl/doc/_index.md
Labels: Component:Doc, Type:Cleanup

#6204 [rom_ctrl] Expose digest to keymgr with a single wide interface
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_pkg.sv
Labels: Component:RTL, Type:Cleanup

#6128 [dv/clkmgr] Adds clkmgr_if.
  hw/ip/clkmgr/dv/env/clkmgr_env.core
  hw/ip/clkmgr/dv/env/clkmgr_env.sv
  hw/ip/clkmgr/dv/env/clkmgr_env_cfg.sv
  hw/ip/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/ip/clkmgr/dv/env/clkmgr_idle_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_pwrmgr_if.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_base_vseq.sv
  hw/ip/clkmgr/dv/tb.sv
Labels: Component:DV, Priority:P2

#6226 [dv/clkmgr] Add smoke test.
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_base_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_smoke_vseq.sv
Labels: Component:DV, Type:Task

#6235 [lc_ctrl] Replace RTL flops with prim_flop to prevent register removal
  hw/ip/lc_ctrl/lint/lc_ctrl.waiver
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL

#6229 [regtool] Reformulate wr_err calculation to avoid long lines
  hw/ip/adc_ctrl/rtl/adc_ctrl_reg_top.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_top.sv
  hw/ip/clkmgr/rtl/clkmgr_reg_top.sv
  hw/ip/csrng/rtl/csrng_reg_top.sv
  hw/ip/edn/rtl/edn_reg_top.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/gpio/rtl/gpio_reg_top.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/ip/keymgr/rtl/keymgr_reg_top.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
  hw/ip/nmi_gen/rtl/nmi_gen_reg_top.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
  hw/ip/pattgen/rtl/pattgen_reg_top.sv
  hw/ip/pinmux/rtl/pinmux_reg_top.sv
  hw/ip/pwrmgr/rtl/pwrmgr_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_regs_reg_top.sv
  hw/ip/rstmgr/rtl/rstmgr_reg_top.sv
  hw/ip/rv_plic/rtl/rv_plic_reg_top.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_top.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_reg_top.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
  hw/ip/trial1/rtl/trial1_reg_top.sv
  hw/ip/uart/rtl/uart_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/ip/usbuart/rtl/usbuart_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/ast/rtl/ast_reg_top.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_top.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Component:RTL, Component:Tooling, Type:Cleanup

#6238 [lc_ctrl] Add prim_flop for key manager div value
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
Labels: Component:RTL

#6247 [reggen,dv] Split some long lines in generated UVM code
  util/reggen/uvm_reg_base.sv.tpl
  util/topgen/top_uvm_reg.sv.tpl
Labels: Component:DV, Component:Tooling, Type:Cleanup

#6252 [dv] Break various long lines in DV code
  hw/ip/aes/dv/cov/aes_cov_if.sv
  hw/ip/csrng/dv/tb.sv
  hw/ip/entropy_src/dv/tb/tb.sv
  hw/ip/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/ip/kmac/dv/tb.sv
  hw/ip/lc_ctrl/dv/tb.sv
  hw/ip/otp_ctrl/dv/tb.sv
Labels: Component:DV, Type:Cleanup

#6250 [flash_ctrl,dv] Reformat macro declarations in testbench
  hw/ip/flash_ctrl/dv/tb/tb.sv
Labels: Component:DV, Type:Cleanup

#6249 [dv] Split long lines in mem_bkdr_if.sv
  hw/dv/sv/mem_bkdr_if/mem_bkdr_if.sv
Labels: Component:DV, Type:Cleanup

#6237 [dv/clkmgr] Expands test plan.
  hw/ip/clkmgr/data/clkmgr_testplan.hjson
Labels: Component:DV, Type:Task

#6267 [syn] Add some more example commands to the readme
  hw/syn/README.md
Labels: Component:Doc

#6273 [syn] Correct power report regexp
  hw/syn/tools/dc/parse-syn-report.py
Labels: Component:Tooling

#6260 [csrng,dv] Whitespace shuffling to avoid >100 character lines
  hw/dv/sv/csrng_agent/csrng_if.sv
Labels: Component:DV, Type:Cleanup

#6255 [rom_ctrl] Split out package files to a rom_ctrl_pkg core
  hw/ip/keymgr/keymgr.core
  hw/ip/pwrmgr/pwrmgr.core
  hw/ip/rom_ctrl/rom_ctrl.core
  hw/ip/rom_ctrl/rom_ctrl_pkg.core
Labels: Component:RTL, Type:Cleanup

#6182 [kmac,lint] Waive unused variable warnings in non-masked config
  hw/ip/kmac/lint/kmac.vlt
  hw/ip/kmac/rtl/kmac.sv
Labels: Component:RTL, Type:Cleanup

#6280 [otbn,util] Fix block comment parsing in otbn-as
  hw/ip/otbn/dv/otbnsim/test/simple/insns/addi.s
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Bug

#6281 [otbn-as] Generate .line numbers to fix up DWARF information
  hw/ip/otbn/util/otbn-as
Labels: Component:OTBN, Component:Tooling, Type:Bug

#6305 [rom_ctrl] Properly exclude DIGEST/EXP_DIGEST from CSR tests
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
Labels: Component:DV, Priority:P1, Type:Bug

#6298 [sw/lib] Remove sw/device/lib/aes.{h,c}
  sw/device/lib/aes.c
  sw/device/lib/aes.h
  sw/device/lib/meson.build
Labels: Type:Cleanup

#6300 [sw/unittests] Move dif unittests to sw/lib/dif.
  sw/device/lib/base/meson.build
  sw/device/lib/base/testing/meson.build
  sw/device/lib/base/testing/mock_csr.cc
  sw/device/lib/base/testing/mock_csr.h
  sw/device/lib/base/testing/mock_csr_test.cc
  sw/device/lib/base/testing/mock_mmio.cc
  sw/device/lib/base/testing/mock_mmio.h
  sw/device/lib/base/testing/mock_mmio_test.cc
  sw/device/lib/dif/dif_aes_unittest.cc
  sw/device/lib/dif/dif_alert_handler_unittest.cc
  sw/device/lib/dif/dif_aon_timer_unittest.cc
  sw/device/lib/dif/dif_clkmgr_unittest.cc
  sw/device/lib/dif/dif_csrng_unittest.cc
  sw/device/lib/dif/dif_entropy_unittest.cc
  sw/device/lib/dif/dif_gpio_unittest.cc
  sw/device/lib/dif/dif_i2c_unittest.cc
  sw/device/lib/dif/dif_keymgr_unittest.cc
  sw/device/lib/dif/dif_lc_ctrl_unittest.cc
  sw/device/lib/dif/dif_otbn_unittest.cc
  sw/device/lib/dif/dif_otp_ctrl_unittest.cc
  sw/device/lib/dif/dif_plic_unittest.cc
  sw/device/lib/dif/dif_pwrmgr_unittest.cc
  sw/device/lib/dif/dif_rstmgr_unittest.cc
  sw/device/lib/dif/dif_rv_timer_unittest.cc
  sw/device/lib/dif/dif_spi_device_unittest.cc
  sw/device/lib/dif/dif_uart_unittest.cc
  sw/device/lib/dif/meson.build
  sw/device/lib/testing/meson.build
  sw/device/tests/dif/meson.build
  sw/device/tests/rom_ext/meson.build
  sw/device/tests/rom_ext/rom_ext_parser_unittest.cc
Labels: Type:Cleanup

#6306 [chip,dv] Fix mem_bkdr_if::randomize_mem if !(PARITY || ECC)
  hw/dv/sv/mem_bkdr_if/mem_bkdr_if.sv
Labels: Component:DV, Type:Bug

#6303 [lint] Strengthen Verible lint check to 100-character lines
  hw/lint/tools/veriblelint/rules.vbl
Labels: Component:Tooling, Type:Enhancement

#6331 [dm] Waive unused bits of addr_i input to debug_rom
  hw/vendor/lint/pulp_riscv_dbg.vlt
Labels: Component:RTL, Type:Cleanup

#6278 [dv/clkmgr] Adds more clock gating tests.
  hw/ip/clkmgr/dv/clkmgr_sim_cfg.hjson
  hw/ip/clkmgr/dv/env/clkmgr_env.core
  hw/ip/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_base_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_peri_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_smoke_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_trans_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_vseq_list.sv
  hw/ip/clkmgr/dv/tb.sv
Labels: Component:DV, Type:Task

#6330 [flash_ctrl,lint] Move unused cfgs_i waiver into RTL
  hw/ip/flash_ctrl/lint/flash_ctrl.waiver
  hw/ip/flash_ctrl/rtl/flash_ctrl_info_cfg.sv
Labels: Component:RTL, Type:Cleanup

#6351 [otbn] Use always_ff for sequential block
  hw/ip/otbn/rtl/otbn_lsu.sv
Labels: Component:RTL, Type:Cleanup

#6163 [otbn] Some initial notes about functional coverage
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6357 [docs] Fix Hugo version sniffing
  util/build_docs.py
Labels: Component:Tooling, Type:Bug

#6354 [pwm,lint] Explicitly waive REGEN field, not copied across the CDC
  hw/ip/pwm/rtl/pwm_cdc.sv
Labels: Component:RTL, Type:Cleanup

#6311 [uart,lint] Waive warning about unused field in uart reg2hw
  hw/ip/uart/lint/uart.vlt
Labels: Component:RTL, Type:Cleanup

#6307 [hmac,lint] Waive unused input signals for Verilator
  hw/ip/hmac/lint/hmac.vlt
Labels: Component:RTL, Type:Cleanup

#6304 [kmac,lint] Waive width mismatch warning in kmac_app.sv
  hw/ip/kmac/lint/kmac.vlt
Labels: Component:RTL, Type:Cleanup

#6356 [rom_ctrl] AscentLint warning fixes
  hw/ip/rom_ctrl/lint/rom_ctrl.waiver
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_pkg.sv
Labels: Component:RTL, Type:Cleanup

#6349 [sysrst_ctrl] Remove non-ascii quotes from hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
Labels: Type:Cleanup

#6355 [sha3,lint] Explicitly waive unused parameter in keccak_round.sv
  hw/ip/kmac/lint/sha3.vlt
Labels: Component:RTL, Type:Cleanup

#6234 [hw/clkmgr] Reformat autogen clkmgr_out_t
  hw/ip/clkmgr/data/clkmgr_pkg.sv.tpl
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_pkg.sv
Labels: Component:RTL, Type:Cleanup
