Repository lowRISC/opentitan, pull requests merged in 2021-09, with the labels that each got.

#7967 [otbn,dv] Add a RIG generator to over- or underflow the callstack
  hw/ip/otbn/dv/rig/rig/configs/default.yml
  hw/ip/otbn/dv/rig/rig/configs/straight-line.yml
  hw/ip/otbn/dv/rig/rig/gens/call_stack_rw.py
  hw/ip/otbn/dv/rig/rig/model.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8018 [otbn,dv] Remove debug prints from BadCallStackRW; give it a weight
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/call_stack_rw.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8025 [otbn,dv] Fix lint errors in known_wdr.py
  hw/ip/otbn/dv/rig/rig/gens/known_wdr.py
Labels: Component:DV, Type:Cleanup, Component:OTBN

#8001 [alert_handler] Latch crashdump when entering escalation
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/alert_handler/doc/_index.md
  hw/ip/alert_handler/fpv/tb/alert_handler_esc_timer_bind_fpv.sv
  hw/ip/alert_handler/fpv/tb/alert_handler_esc_timer_fpv.sv
  hw/ip/alert_handler/fpv/vip/alert_handler_esc_timer_assert_fpv.sv
  hw/ip/alert_handler/rtl/alert_handler.sv
  hw/ip/alert_handler/rtl/alert_handler_esc_timer.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_wrap.sv
  hw/ip/alert_handler/rtl/alert_pkg.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
Labels: Component:RTL

#8061 [dv,verilator] Round up SV_MEM_WIDTH_BYTES to a multiple of 4
  hw/dv/verilator/cpp/mem_area.h
Labels: Component:DV, Type:Bug

#8039 [sw/testing] organize chip-level test code - part 2/6
  azure-pipelines.yml
  doc/project/checklist.md
  doc/ug/getting_started_build_sw.md
  hw/ip/otbn/README.md
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_dif_tests.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_gpio_smoke_vseq.sv
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  hw/top_englishbreakfast/util/prepare_sw.py
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/test_framework/index.md
  sw/device/tests/aes_smoketest.c
  sw/device/tests/aon_timer_smoketest.c
  sw/device/tests/clkmgr_smoketest.c
  sw/device/tests/csrng_smoketest.c
  sw/device/tests/dif/meson.build
  sw/device/tests/entropy_src_smoketest.c
  sw/device/tests/gpio_smoketest.c
  sw/device/tests/hmac_smoketest.c
  sw/device/tests/kmac_cshake_smoketest.c
  sw/device/tests/kmac_kmac_smoketest.c
  sw/device/tests/kmac_smoketest.c
  sw/device/tests/meson.build
  sw/device/tests/otbn_smoketest.c
  sw/device/tests/otp_ctrl_smoketest.c
  sw/device/tests/pwrmgr_smoketest.c
  sw/device/tests/rstmgr_smoketest.c
  sw/device/tests/rv_plic_smoketest.c
  sw/device/tests/rv_timer_smoketest.c
  sw/device/tests/sim_dv/meson.build
  sw/device/tests/uart_smoketest.c
  test/systemtest/earlgrey/config.py
  test/systemtest/earlgrey/silicon_creator_config.py
  test/systemtest/earlgrey/test_sim_verilator.py
  test/systemtest/englishbreakfast/config.py
Labels: Type:Cleanup

#8026 [reggen] Ensure that registers are "either RC or not"
  hw/ip/trial1/data/trial1.hjson
  hw/ip/trial1/rtl/trial1_reg_top.sv
  util/reggen/register.py
Labels: Component:Tooling, Type:Cleanup

#8072 [ci] Wrap chip-level verilator builds in a CI script
  azure-pipelines.yml
  ci/scripts/build-chip-verilator.sh
Labels: Type:Cleanup, Component:CI

#8071 [otbn,dv] Fix overflow in small value generator
  hw/ip/otbn/dv/rig/rig/gens/small_val.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8022 [util] Tidy up how we call finst_gen in reg_top.sv.tpl
  hw/ip/adc_ctrl/rtl/adc_ctrl_reg_top.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_top.sv
  hw/ip/clkmgr/rtl/clkmgr_reg_top.sv
  hw/ip/csrng/rtl/csrng_reg_top.sv
  hw/ip/edn/rtl/edn_reg_top.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/gpio/rtl/gpio_reg_top.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/ip/keymgr/rtl/keymgr_reg_top.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_core_reg_top.sv
  hw/ip/pattgen/rtl/pattgen_reg_top.sv
  hw/ip/pinmux/rtl/pinmux_reg_top.sv
  hw/ip/pwm/rtl/pwm_reg_top.sv
  hw/ip/pwrmgr/rtl/pwrmgr_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_regs_reg_top.sv
  hw/ip/rstmgr/rtl/rstmgr_reg_top.sv
  hw/ip/rv_core_ibex/rtl/rv_core_ibex_cfg_reg_top.sv
  hw/ip/rv_dm/rtl/rv_dm_regs_reg_top.sv
  hw/ip/rv_plic/rtl/rv_plic_reg_top.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_top.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_regs_reg_top.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
  hw/ip/trial1/rtl/trial1_reg_top.sv
  hw/ip/uart/rtl/uart_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/ip/usbuart/rtl/usbuart_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/ast/rtl/ast_reg_top.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_top.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Component:Tooling, Type:Cleanup

#8073 [otbn] Convert RSA example to a single entry point
  sw/device/tests/otbn/otbn_rsa_test.c
  sw/otbn/code-snippets/rsa.s
Labels: Component:SW, Type:Cleanup, Component:OTBN

#8091 [verilator] Use FileSz rather than MemSz when flattening ELF files
  hw/dv/verilator/cpp/dpi_memutil.cc
Labels: Component:SW, Component:Tooling, Component:Mask ROM

#8041 [sw/testing] organize chip-level test code - part 3/6
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_dif_tests.hjson
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  sw/device/tests/kmac_mode_cshake_test.c
  sw/device/tests/kmac_mode_kmac_test.c
  sw/device/tests/meson.build
  test/systemtest/earlgrey/config.py
Labels: Type:Cleanup

#8065 [alert_handler] Minor description fix in Hjson
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
Labels: Component:RTL

#8106 [otbn,dv] Sort out address selection in bad_load_store.py
  hw/ip/otbn/dv/rig/rig/gens/bad_load_store.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8019 [dvsim] Allow non-integral values of --reseed-multiplier
  util/dvsim/SimCfg.py
  util/dvsim/dvsim.py
Labels: Component:DV, Component:Tooling, Type:Enhancement

#8107 [otbn,dv] Add a handy wrapper to run lots of Verilated tests
  hw/ip/otbn/README.md
  hw/ip/otbn/dv/uvm/gen-binaries.py
  hw/ip/otbn/dv/verilator/run-some.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8043 [sw/testing] organize chip-level test code - part 4/6
  sw/device/tests/meson.build
  sw/device/tests/otbn/meson.build
  sw/device/tests/otbn_data/otbn_ecdsa_p256_test_private_key.pem
  sw/device/tests/otbn_data/otbn_rsa_test_private_key_1024.pem
  sw/device/tests/otbn_data/otbn_rsa_test_private_key_2048.pem
  sw/device/tests/otbn_data/otbn_rsa_test_private_key_3072.pem
  sw/device/tests/otbn_data/otbn_rsa_test_private_key_4096.pem
  sw/device/tests/otbn_data/otbn_rsa_test_private_key_512.pem
  sw/device/tests/otbn_data/otbn_test_params.py
  sw/device/tests/otbn_ecdsa_p256_test.c
  sw/device/tests/otbn_randomness_test.c
  sw/device/tests/otbn_rsa_test.c
Labels: Type:Cleanup

#8095 [sw/testing] organize chip-level test code - part 5/6
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/chip_smoketests.hjson
Labels: Type:Cleanup

#8125 [otbn] Alter ISS behaviour for invalid BN.SID instructions
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN

#8127 [otbn,dv] Add "0x" prefixes to values in error messages
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#7182 [sw/silicon_creator] Add driver for retention SRAM scrambling
  sw/device/silicon_creator/lib/drivers/meson.build
  sw/device/silicon_creator/lib/drivers/retention_sram.c
  sw/device/silicon_creator/lib/drivers/retention_sram.h
  sw/device/silicon_creator/lib/drivers/retention_sram_functest.c
  sw/device/silicon_creator/lib/drivers/retention_sram_unittest.cc
  sw/device/silicon_creator/lib/error.h
Labels: Component:Mask ROM

#8144 [otbn,dv] Exit on mismatch in otbn_top_sim
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8131 [otbn,dv] Fix ISS assertion for loop warp handling
  hw/ip/otbn/dv/otbnsim/sim/loop.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8130 [otbn] Change how the ISS checks jump/branch destinations
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:OTBN

#8124 [otbn,dv] Fix a follow-up bug in the bad_load_store generator
  hw/ip/otbn/dv/rig/rig/gens/bad_load_store.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8126 [otbn] Make termination on underflowing x1 more explicit in ISS
  hw/ip/otbn/dv/otbnsim/sim/gpr.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN

#8123 [otbn,dv] Fix segfault when otbn_top_sim exited with failure
  hw/ip/otbn/dv/verilator/otbn_top_sim.cc
Labels: Component:DV, Type:Bug, Component:OTBN

#8173 [alert_handler] delay crashdump sampling event by 1 cycle
  hw/ip/alert_handler/rtl/alert_handler_esc_timer.sv
Labels: Component:RTL

#8212 [prim_esc_receiver] Fix response toggling corner case
  hw/ip/prim/rtl/prim_esc_receiver.sv
Labels: Component:RTL

#8228 [sysrst_ctrl] Spell out all implicit 0 reset values in multifield CSRs
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
Labels: Component:RTL

#8036 [sw/silicon_creator] Allocate .static_critical section in memory
  sw/device/silicon_creator/lib/base/sec_mmio.c
  sw/device/silicon_creator/lib/base/sec_mmio.h
  sw/device/silicon_creator/lib/base/sec_mmio_unittest.cc
  sw/device/silicon_creator/lib/base/static_critical.ld
  sw/device/silicon_creator/lib/drivers/alert_functest.c
  sw/device/silicon_creator/lib/drivers/keymgr_functest.c
  sw/device/silicon_creator/lib/sigverify_functest.c
  sw/device/silicon_creator/mask_rom/mask_rom.c
  sw/device/silicon_creator/mask_rom/mask_rom.ld
  sw/device/silicon_creator/mask_rom/mask_rom_epmp_test.c
  sw/device/silicon_creator/mask_rom/meson.build
  sw/device/silicon_creator/rom_exts/meson.build
  sw/device/silicon_creator/rom_exts/rom_ext.c
  sw/device/silicon_creator/rom_exts/rom_ext_common.ld
Labels: Component:Mask ROM

#8200 [otbn,dv] Fix logic when picking operands for BN.SID
  hw/ip/otbn/dv/rig/rig/gens/edge_load_store.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8263 [otbn,doc] Add a diagram showing how the SV <-> Python bridge works
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/doc/dv/model.svg
Labels: Component:Doc, Component:DV, Type:Enhancement, Component:OTBN

#8237 [sw/silicon_creator] Create `.shutdown` section
  sw/device/silicon_creator/lib/shutdown.c
  sw/device/silicon_creator/mask_rom/mask_rom.ld
  sw/device/silicon_creator/rom_exts/rom_ext_common.ld
Labels: Component:Mask ROM

#8179 [sw/silicon_creator] Enable local alerts in shutdown_init.
  sw/device/silicon_creator/lib/shutdown.c
  sw/device/silicon_creator/lib/shutdown_unittest.cc
Labels: Component:Mask ROM

#8171 [sw/silicon_creator] Disable flash during shutdown.
  sw/device/silicon_creator/lib/shutdown.c
  sw/device/silicon_creator/lib/shutdown_unittest.cc
Labels: Component:Mask ROM

#8265 [otbn,doc] Fix capitalised Sim.py in diagram
  hw/ip/otbn/doc/dv/model.svg
Labels: Component:Doc, Component:DV, Type:Bug, Component:OTBN

#8293 [otbn,util] Fix run-some.py when destdir doesn't lie in project
  hw/ip/otbn/dv/verilator/run-some.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8199 [otbn,dv] Document insns that can cause multiple errors in DV doc
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8307 [otbn,dv] Load ELF on each iteration in otbn_reset_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_reset_vseq.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#8311 [kmac/doc] Fix legacy register references
  hw/ip/kmac/doc/_index.md
Labels: Component:Doc

#8327 [otbn,sw] Don't use START_ADDR in p256 test
  sw/device/tests/otbn_ecdsa_p256_test.c
  sw/otbn/code-snippets/p256_ecdsa.s
Labels: Component:SW, Type:Cleanup, Component:OTBN

#8297 [prim_lc_combine] Add a prim to compute logical AND/OR for LC signals
  hw/ip/prim/prim_lc_combine.core
  hw/ip/prim/rtl/prim_lc_combine.sv
Labels: Component:RTL

#8329 [otbn,sw] Ensure entry points are at address zero
  doc/ug/otbn_sw.md
  hw/ip/otbn/data/otbn.ld.tpl
  sw/otbn/code-snippets/barrett384.s
  sw/otbn/code-snippets/err_test.s
  sw/otbn/code-snippets/p256_ecdsa.s
  sw/otbn/code-snippets/randomness.s
  sw/otbn/code-snippets/rsa.s
Labels: Component:SW, Type:Enhancement, Component:OTBN

#8342 [otbn,util] Teach otbn-objdump to handle '-d' in all its forms!
  hw/ip/otbn/util/otbn-objdump
Labels: Component:Tooling, Type:Bug, Component:OTBN

#8356 [otbn] Update ControllerStateValid assertion
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#8331 [otbn] Remove START_ADDR register
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_pkg.sv
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/sim/stats.py
  hw/ip/otbn/dv/otbnsim/standalone.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  hw/ip/otbn/dv/otbnsim/test/simple_test.py
  hw/ip/otbn/dv/otbnsim/test/state_test.py
  hw/ip/otbn/dv/otbnsim/test/stats_test.py
  hw/ip/otbn/dv/otbnsim/test/testutil.py
  hw/ip/otbn/dv/rig/README.md
  hw/ip/otbn/dv/rig/otbn-rig
  hw/ip/otbn/dv/rig/rig/model.py
  hw/ip/otbn/dv/rig/rig/rig.py
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_if.sv
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
  sw/device/lib/dif/dif_otbn.c
  sw/device/lib/dif/dif_otbn.h
  sw/device/lib/dif/dif_otbn_unittest.cc
  sw/device/lib/runtime/otbn.c
  sw/device/lib/runtime/otbn.h
  sw/device/silicon_creator/lib/drivers/otbn.c
  sw/device/silicon_creator/lib/drivers/otbn.h
  sw/device/silicon_creator/lib/drivers/otbn_unittest.cc
  sw/device/tests/otbn_ecdsa_p256_test.c
  sw/device/tests/otbn_randomness_test.c
  sw/device/tests/otbn_rsa_test.c
  sw/device/tests/otbn_smoketest.c
Labels: Type:Cleanup, Component:OTBN

#7938 [sw/ottf] initial OTTF prototype
  sw/device/lib/meson.build
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/test_framework/FreeRTOSConfig.h
  sw/device/lib/testing/test_framework/example_earlgrey_test.c
  sw/device/lib/testing/test_framework/freertos_hooks.c
  sw/device/lib/testing/test_framework/freertos_hooks.h
  sw/device/lib/testing/test_framework/freertos_port.S
  sw/device/lib/testing/test_framework/freertos_port.c
  sw/device/lib/testing/test_framework/meson.build
  sw/device/lib/testing/test_framework/ottf.c
  sw/device/lib/testing/test_framework/ottf.h
  sw/device/tests/meson.build
Labels: Component:DV, Component:SW, Component:Tooling, RFC:Proposal

#8357 [otbn,rtl] Only signal "done" when we were actually running
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#8389 [alert_handler] Output crashdump continuously until latched
  hw/ip/alert_handler/doc/_index.md
  hw/ip/alert_handler/rtl/alert_handler_reg_wrap.sv
Labels: Component:RTL

#8390 [ast/syn] Fix buffer labels causing issues applying the SDC file
  hw/top_earlgrey/ip/ast/rtl/aon_osc.sv
Labels: Component:RTL

#8400 [otbn,dv] Remove verilator workaround
  hw/ip/otbn/dv/model/otbn_core_model.sv
Labels: Component:DV, Type:Cleanup, Component:OTBN

#8250 [prim_lfsr] Further permutation refinements for SBox layer
  hw/ip/prim/fpv/tb/prim_lfsr_fpv.sv
  hw/ip/prim/rtl/prim_lfsr.sv
Labels: Component:RTL

#8386 [dif/uart] remove non-global return results
  sw/device/benchmarks/coremark/top_earlgrey/core_portme.c
  sw/device/boot_rom/boot_rom.c
  sw/device/examples/hello_usbdev/hello_usbdev.c
  sw/device/examples/hello_world/hello_world.c
  sw/device/lib/dif/dif_uart.c
  sw/device/lib/dif/dif_uart.h
  sw/device/lib/dif/dif_uart_unittest.cc
  sw/device/lib/testing/test_framework/ottf.c
  sw/device/lib/testing/test_framework/test_main.c
  sw/device/riscv_compliance_support/support.c
  sw/device/silicon_creator/rom_exts/rom_ext.c
  sw/device/tests/crt_test.c
  sw/device/tests/rv_plic_smoketest.c
  sw/device/tests/sim_dv/uart_tx_rx_test.c
  sw/device/tests/uart_smoketest.c
Labels: Component:SW, Type:Cleanup

#8388 [dif/lc_ctrl] remove non-global return results
  sw/device/boot_rom/bootstrap.c
  sw/device/lib/dif/dif_aes.c
  sw/device/lib/dif/dif_base.h
  sw/device/lib/dif/dif_hmac.c
  sw/device/lib/dif/dif_lc_ctrl.c
  sw/device/lib/dif/dif_lc_ctrl.h
  sw/device/lib/dif/dif_lc_ctrl_unittest.cc
  sw/device/tests/hmac_smoketest.c
  sw/device/tests/sim_dv/lc_ctrl_transition_test.c
Labels: Component:SW, Type:Cleanup

#8407 [otbn,dv] Explicitly check STATUS register in tl_intg test
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8428 [otbn,dv] Add missing newlines to fix flake8 errors
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
Labels: Component:DV, Type:Cleanup, Component:OTBN

#8413 [prim_lc_combine] Align behavior of lc combine with mubi functions
  hw/ip/prim/rtl/prim_lc_combine.sv
Labels: Component:RTL

#8415 [top*.hjson] Fix minor typo
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
Labels: Component:Doc

#8417 [prim_lc_sender] Add option to select reset value
  hw/ip/prim/rtl/prim_lc_sender.sv
Labels: Component:RTL
