Repository lowRISC/opentitan, pull requests merged in 2021-06, with the labels that each got.

#6776 [chiplevel/padring] Correct mio_in_raw connection width for FPGA targets
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:FPGA, Component:RTL

#6723 [otbn,dv] Add flag write coverage points
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_item.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6792 [otbn,doc] Fix doc for flag group update in bignum boolean ops
  hw/ip/otbn/data/bignum-insns.yml
Labels: Component:Doc, Component:OTBN, Type:Bug

#6741 [otbn,dv] Rename "fixed" covergroup to "ecall"
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Component:OTBN, Type:Cleanup

#6743 [otbn,dv] Add missing wiring for "bnan" instruction data
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#6777 [top/csrng/aon_timer] Add missing LC signal connections
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL

#6722 [otbn,dv] Copy, rather than reference, insn-specific coverage points
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Component:OTBN, Type:Cleanup

#6746 [otbn] Define functional coverage for (most of) the base instruction set
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_item.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6756 [i2c, rtl] Fixes to Lint Errors and Warnings
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
Labels: Component:RTL

#6826 [prim_alert*/prim_esc*] Rework placement of size_only bufs/flops
  hw/ip/prim/prim_alert.core
  hw/ip/prim/rtl/prim_alert_receiver.sv
  hw/ip/prim/rtl/prim_alert_sender.sv
  hw/ip/prim/rtl/prim_esc_receiver.sv
  hw/ip/prim/rtl/prim_esc_sender.sv
Labels: Component:RTL

#6849 [lc_ctrl/dif] Add get/set functions for OTP test register
  sw/device/lib/dif/dif_lc_ctrl.c
  sw/device/lib/dif/dif_lc_ctrl.h
  sw/device/lib/dif/dif_lc_ctrl_unittest.cc
Labels: Component:SW

#6858 [prim_lfsr] Fix spyglass lint warnings
  hw/ip/prim/rtl/prim_lfsr.sv
Labels: Component:RTL

#6877 [rom_ctrl] Remove an outdated TODO comment
  hw/ip/rom_ctrl/util/scramble_image.py
Labels: Component:Tooling, Type:Bug

#6832 [otbn,dv] Add coverage tracking for big number instructions
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_alu_bignum_if.sv
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/otbn_env.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_mac_bignum_if.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_item.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6781 [dv/pwrmgr] Add smoke test
  hw/ip/pwrmgr/dv/env/pwrmgr_env.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_env_cfg.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_if.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_scoreboard.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_base_vseq.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_smoke_vseq.sv
  hw/ip/pwrmgr/dv/pwrmgr_sim_cfg.hjson
  hw/ip/pwrmgr/dv/tb.sv
  hw/ip/pwrmgr/rtl/pwrmgr_pkg.sv
Labels: Component:DV, Priority:P1, Type:Task

#6856 [ci] Avoid a spurious warning from grep in the non-ASCII check
  ci/jobs/quick-lint.sh
  ci/scripts/check-ascii.sh
Labels: Component:CI, Type:Bug

#6894 Minor tweaks for bleeding-edge mypy
  hw/ip/otbn/util/shared/yaml_parse_helpers.py
  python-requirements.txt
Labels: Component:CI

#6897 [rom_ctrl,doc] Update docs to match RTL implementation
  hw/ip/rom_ctrl/doc/_index.md
  hw/ip/rom_ctrl/doc/rom_ctrl_blockdiag.svg
Labels: Component:Doc, Type:Cleanup

#6889 [otp_ctrl] Refine escalation behavior in life cycle partition
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL

#6466 [sw/silicon_creator] Introduce the sec_mmio module
  sw/device/silicon_creator/lib/base/meson.build
  sw/device/silicon_creator/lib/base/mock_sec_mmio.h
  sw/device/silicon_creator/lib/base/sec_mmio.c
  sw/device/silicon_creator/lib/base/sec_mmio.h
  sw/device/silicon_creator/lib/base/sec_mmio_unittest.cc
Labels: Component:Mask ROM

#6880 [reggen] Optionally expose register interface in reg2hw signal
  util/reggen/ip_block.py
  util/reggen/reg_pkg.sv.tpl
  util/reggen/reg_top.sv.tpl
Labels: Component:Tooling, Type:Enhancement

#6833 [otbn,dv,doc] Describe some extra coverage points for loop handling
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Component:OTBN

#6912 [otbn,dv] Reflect INSN_CNT register in ISS and SV model
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/otbnsim/sim/ext_regs.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6868 [keymgr] Wire up integrity alert
  hw/ip/keymgr/rtl/keymgr.sv
Labels: Component:RTL

#6919 [topgen/reggen] Regenerate registers and top to fix CI on master
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
Labels: Component:RTL, Priority:P0

#6870 [alert_handler] Wire up integrity alert
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/alert_handler/rtl/alert_handler.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_wrap.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
Labels: Component:RTL

#6871 [pattgen] Wire up integrity alert
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pattgen/dv/env/pattgen_env_cfg.sv
  hw/ip/pattgen/dv/env/pattgen_env_pkg.sv
  hw/ip/pattgen/dv/tb.sv
  hw/ip/pattgen/rtl/pattgen.sv
  hw/ip/pattgen/rtl/pattgen_reg_pkg.sv
  hw/ip/pattgen/rtl/pattgen_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6881 [doc/pwrmgr] Fix pwrmgr and rstmgr doc typos
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/doc/_index.md
  hw/ip/rstmgr/data/rstmgr.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
Labels: Component:Doc

#6931 [topgen] Fix hex chunking code
  hw/top_earlgrey/rtl/autogen/top_earlgrey_rnd_cnst_pkg.sv
  util/topgen/templates/toplevel_rnd_cnst_pkg.sv.tpl
Labels: Component:Tooling, Type:Bug

#6947 [i2c, dv] Fix csr_* and smoke test for I2C
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
Labels: Component:DV

#6934 [rom_ctrl,lint] Fix AscentLint error about unused bits
  hw/ip/rom_ctrl/rtl/rom_ctrl_scrambled_rom.sv
Labels: Component:RTL, Type:Cleanup

#6899 [rom_ctrl] Remove a bogus TODO comment
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
Labels: Component:RTL, Type:Cleanup

#6949 [otbn,dv] Reset model's INSN_CNT register when starting operation
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Component:OTBN, Type:Bug

#6933 [otbn] Use a hwext register for INSN_CNT
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
Labels: Component:RTL, Type:Cleanup

#6847 [gpio] Wire up bus integrity alert
  hw/ip/gpio/data/gpio.hjson
  hw/ip/gpio/dv/env/gpio_env_cfg.sv
  hw/ip/gpio/dv/env/gpio_env_pkg.sv
  hw/ip/gpio/dv/tb/tb.sv
  hw/ip/gpio/rtl/gpio.sv
  hw/ip/gpio/rtl/gpio_reg_pkg.sv
  hw/ip/gpio/rtl/gpio_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6932 [otbn,dv] Add coverage tracking for loop stack
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_loop_if.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6867 [spi_device] Wire up integrity alert
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_device/dv/env/spi_device_env_cfg.sv
  hw/ip/spi_device/dv/env/spi_device_env_pkg.sv
  hw/ip/spi_device/dv/tb/tb.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/spi_device/rtl/spi_device_reg_pkg.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6872 [pinmux] Wire up integrity alert
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pinmux/rtl/pinmux.sv
  hw/ip/pinmux/rtl/pinmux_reg_pkg.sv
  hw/ip/pinmux/rtl/pinmux_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_pkg.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6957 [doc,checklist] Make FPGA_TIMING item more descriptive
  doc/project/checklist.md
Labels: Component:Doc, Type:Cleanup

#6960 [otbn,dv] Add a check for the INSN_CNT register
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/otbn_insn_cnt_if.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6841 [i2c, rtl] Lint Fixes
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  sw/device/lib/dif/dif_i2c_unittest.cc
Labels: Component:RTL

#6865 [i2c] Wire up integrity alert
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/tb/tb.sv
  hw/ip/i2c/rtl/i2c.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/ip/spi_host/data/spi_host.hjson
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6962 [adc_ctrl] Wire up integrity alert
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cfg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_pkg.sv
  hw/ip/adc_ctrl/dv/tb.sv
  hw/ip/adc_ctrl/rtl/adc_ctrl.sv
  hw/ip/adc_ctrl/rtl/adc_ctrl_reg_pkg.sv
  hw/ip/adc_ctrl/rtl/adc_ctrl_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#6882 [dv/clkmgr] Update V1 checklist
  hw/ip/clkmgr/doc/checklist.md
Labels: Component:DV

#6786 [pwm, rtl] Support all pwm operational modes
  hw/ip/pwm/rtl/pwm_chan.sv
  hw/ip/pwm/rtl/pwm_core.sv
Labels: Component:RTL

#6951 [otbn,dv] Fix early exits in otbn_base_vseq::run_otbn() on reset
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#6995 [otbn] Update block diagram for RND/URND
  hw/ip/otbn/doc/otbn_blockarch.svg
Labels: Component:Doc, Component:OTBN

#6991 [otp_ctrl/sram_ctrl] Correct Xor symbols in scrambling datapath drawings
  hw/ip/otp_ctrl/doc/otp_ctrl_digest_mechanism.svg
  hw/ip/sram_ctrl/doc/sram_ctrl_blockdiag.svg
Labels: Component:Doc

#6999 [rom_ctrl] Use a plus for XOR in the block diagram
  hw/ip/rom_ctrl/doc/rom_ctrl_blockdiag.svg
Labels: Component:Doc, Type:Bug

#6992 [reggen] Simplify reg_top ports if there's exactly one window
  hw/ip/hmac/rtl/hmac.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_rom_reg_top.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/usbdev/rtl/usbdev.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Component:RTL, Component:Tooling, Type:Cleanup

#7022 [topgen,clkmgr] De-duplicate clock hint names
  hw/ip/clkmgr/data/clkmgr_pkg.sv.tpl
  util/topgen.py
Labels: Component:Tooling, Type:Bug

#6994 [tlul] Drop the "quick fail" path from tlul_adapter_sram.sv
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, Type:Cleanup

#7015 [pattgen, dv] Fix alert_test register scb error
  hw/ip/pattgen/dv/env/pattgen_scoreboard.sv
Labels: Component:DV

#6898 [rom_ctrl] Pass through data integrity properly from ROM to bus
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Component:RTL, Type:Cleanup

#7005 [i2c, rtl] Lint fixes
  hw/ip/i2c/rtl/i2c_core.sv
Labels: Component:RTL

#6958 [rom_ctrl] Update rom-ctrl checklist to "pseudo-D2"
  hw/ip/rom_ctrl/doc/checklist.md
Labels: Component:Doc

#7027 [reggen,dv] Remove swaccess and hwaccess from Register objects
  util/reggen/access.py
  util/reggen/field.py
  util/reggen/fpv_csr.sv.tpl
  util/reggen/reg_block.py
  util/reggen/register.py
  util/reggen/uvm_reg_base.sv.tpl
Labels: Component:DV, Component:Tooling, Type:Cleanup

#6990 [sysrst_ctrl] Wire up integrity alert
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_pkg.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7051 [otbn,dv] Configure number of interrupts for DV
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#7069 Revert "[tlul] Drop the "quick fail" path from tlul_adapter_sram.sv"
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, Type:Bug

#7063 [top] Make all alerts asynchronous
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  util/topgen/merge.py
Labels: Component:RTL

#7029 [reggen] Generate a single we/re signal per register in reg_top
  hw/ip/adc_ctrl/rtl/adc_ctrl_reg_top.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_top.sv
  hw/ip/clkmgr/rtl/clkmgr_reg_top.sv
  hw/ip/csrng/rtl/csrng_reg_top.sv
  hw/ip/edn/rtl/edn_reg_top.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/gpio/rtl/gpio_reg_top.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/ip/keymgr/rtl/keymgr_reg_top.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
  hw/ip/nmi_gen/rtl/nmi_gen_reg_top.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
  hw/ip/pattgen/rtl/pattgen_reg_top.sv
  hw/ip/pinmux/rtl/pinmux_reg_top.sv
  hw/ip/pwrmgr/rtl/pwrmgr_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_regs_reg_top.sv
  hw/ip/rstmgr/rtl/rstmgr_reg_top.sv
  hw/ip/rv_plic/rtl/rv_plic_reg_top.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_top.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_reg_top.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
  hw/ip/trial1/rtl/trial1_reg_top.sv
  hw/ip/uart/rtl/uart_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/ip/usbuart/rtl/usbuart_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/ast/rtl/ast_reg_top.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_top.sv
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_top.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_reg_top.sv
  util/reggen/access.py
  util/reggen/reg_top.sv.tpl
  util/reggen/register.py
Labels: Component:RTL, Component:Tooling, Type:Cleanup

#6807 [i2c, doc] Updated Description of Clock Stretching by Target
  hw/ip/i2c/doc/I2C_block_diagram.svg
  hw/ip/i2c/doc/I2C_state_diagram_target.svg
  hw/ip/i2c/doc/_index.md
Labels: Component:Doc

#7076 [prim] Do remove prim_esc.core from the dependencies
  hw/dv/sv/alert_esc_agent/alert_esc_agent.core
  hw/ip/nmi_gen/nmi_gen.core
  hw/ip/prim/prim.core
Labels: Component:RTL

#6997 [rom_ctrl,util] Add a collision check to scramble_image.py
  hw/ip/rom_ctrl/util/mem.py
  hw/ip/rom_ctrl/util/scramble_image.py
Labels: Component:Tooling, Type:Enhancement

#7071 [otbn,dv] Teach the RIG about the 'wrd' operand of bn.mulqacc.so
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/data/insns.yml
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/shared/operand.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7100 [tlul] Correct width for secded encoder in tlul_adapter_reg.sv
  hw/ip/tlul/rtl/tlul_adapter_reg.sv
Labels: Component:RTL, Type:Bug

#7088 [aon_timer] Wire up integ alert
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/aon_timer/dv/env/aon_timer_env_cfg.sv
  hw/ip/aon_timer/dv/env/aon_timer_env_pkg.sv
  hw/ip/aon_timer/dv/tb.sv
  hw/ip/aon_timer/rtl/aon_timer.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_pkg.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7081 [i2c, rtl] FIFO Depth Parameterization
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
Labels: Component:RTL

#7114 [rom_ctrl] Mark rom_ctrl as D1
  hw/ip/rom_ctrl/data/rom_ctrl.prj.hjson
  hw/ip/rom_ctrl/doc/checklist.md
Labels: Component:RTL

#7113 [csrng] Fix width of hex constant
  hw/ip/csrng/rtl/csrng_cmd_stage.sv
Labels: Component:RTL, Type:Cleanup

#7096 [otbn,tooling] Improve documentation for the "type" field
  hw/ip/otbn/data/insns.yml
Labels: Component:Doc, Component:OTBN, Component:Tooling, Type:Cleanup

#7014 [lc_ctrl/otp_ctrl] Combine escalation actions 1 and 2
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/doc/lc_ctrl_blockdiag.svg
  hw/ip/lc_ctrl/dv/env/lc_ctrl_env.sv
  hw/ip/lc_ctrl/dv/env/lc_ctrl_env_cfg.sv
  hw/ip/lc_ctrl/dv/tb.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
Labels: Component:Doc, Component:RTL

#7079 [lc_ctrl] Move to D2
  hw/ip/lc_ctrl/data/lc_ctrl.prj.hjson
  hw/ip/lc_ctrl/doc/checklist.md
Labels: Component:Doc

#7112 [sysrst_ctrl] Give an explicit size to the EDGE_TYPE param
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_ulpfsm.sv
Labels: Component:RTL, Type:Cleanup

#7095 [pwm, dv] Update dv markdown file for PWM IP
  hw/ip/pwm/doc/dv/index.md
Labels: Component:DV, Component:Doc

#7087 [spi*/uart] Make sure integ alert is fatal
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/spi_host/rtl/spi_host.sv
  hw/ip/uart/rtl/uart.sv
Labels: Component:RTL

#7116 [entropy_src] Fix width mismatch in entropy_src_core.sv
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: Component:RTL, Type:Cleanup

#7157 [otbn,dv] Correct "next PC" checks on stopping instructions
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7105 [sysrst_ctrl] Add checklist and move to D1
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.prj.hjson
  hw/ip/sysrst_ctrl/doc/checklist.md
Labels: Component:Doc

#7142 [dv,cip] Mirror FATAL_ALERT_CAUSE-style registers in scoreboard
  hw/dv/sv/cip_lib/cip_base_env_cfg.sv
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__tl_errors.svh
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_cfg.sv
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_common_vseq.sv
Labels: Component:DV, Type:Cleanup

#7144 [otbn/otp_ctrl] Replicate dmem scrambling keystream
  hw/dv/verilator/cpp/scrambled_ecc32_mem_area.cc
  hw/dv/verilator/cpp/scrambled_ecc32_mem_area.h
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_scramble_ctrl.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
  hw/ip/prim/dv/prim_ram_scr/cpp/scramble_model.cc
  hw/ip/prim/dv/prim_ram_scr/cpp/scramble_model.h
Labels: Component:OTBN, Component:RTL

#7154 [otp_ctrl] Add bit remapping option to OTP image generation script
  util/design/gen-otp-img.py
  util/design/lib/OtpMemImg.py
  util/design/lib/common.py
Labels: Component:Tooling

#7090 [tlul] Add some missing dependencies
  hw/ip/prim/prim_fifo.core
  hw/ip/tlul/common.core
  hw/ip/tlul/trans_intg.core
Labels: Component:RTL

#7169 [top/alerts] Add a C enum for local alert IDs
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
Labels: Component:SW

#7180 [integ alerts] Align description of integ alerts
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/rv_plic/data/rv_plic.hjson
  hw/ip/rv_plic/data/rv_plic.hjson.tpl
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/uart/data/uart.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
Labels: Component:Doc, Type:Cleanup

#7176 [reggen] Pair up clock and reset signals
  doc/rm/comportability_specification/index.md
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aes/data/aes.hjson
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/clkmgr/data/clkmgr.hjson
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/csrng/data/csrng.hjson
  hw/ip/edn/data/edn.hjson
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/nmi_gen/data/nmi_gen.hjson
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rstmgr/data/rstmgr.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rv_core_ibex_peri/data/rv_core_ibex_peri.hjson
  hw/ip/rv_plic/data/rv_plic.hjson
  hw/ip/rv_plic/data/rv_plic.hjson.tpl
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/rv_timer/data/rv_timer.hjson.tpl
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/trial1/data/trial1.hjson
  hw/ip/uart/data/uart.hjson
  hw/ip/usbdev/data/usbdev.hjson
  hw/ip/usbuart/data/usbuart.hjson
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/ast/data/ast.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/sensor_ctrl/data/sensor_ctrl.hjson
  util/reggen/clocking.py
  util/reggen/gen_cfg_html.py
  util/reggen/ip_block.py
  util/reggen/lib.py
  util/topgen/validate.py
Labels: Component:Tooling, Type:Cleanup
