Repository lowRISC/opentitan, pull requests merged in 2021-03, with the labels that each got.

#5412 [otbn] Fix missing operation docs for bn.sel
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:Doc, Component:OTBN, Type:Bug

#4969 [i2c, doc] Target features modification
  hw/ip/i2c/doc/I2C_block_diagram.svg
  hw/ip/i2c/doc/I2C_state_diagram_target.svg
  hw/ip/i2c/doc/_index.md
Labels: Component:Doc

#5413 [reggen] Fix check_name() regex in reggen/lib.py
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  util/reggen/lib.py
Labels: Component:Tooling, Type:Bug

#5424 [tlul] Fix "unused" name for AscentLint too
  hw/ip/tlul/rtl/tlul_err_resp.sv
Labels: Component:RTL, Type:Bug

#5443 [reggen] Make the "name" field for windows required
  util/reggen/window.py
Labels: Component:Tooling, Type:Cleanup

#5441 [tlul] Yet more messing around to silence lint warnings
  hw/ip/tlul/rtl/tlul_err_resp.sv
Labels: Component:RTL, Type:Bug

#5433 [otp_ctrl] Always attempt to program all LC words in presence of errors
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
Labels: Component:RTL

#5408 [spi_device, dv] Refactor spi_agent to support spi_host rtl
  hw/dv/sv/spi_agent/spi_agent_cfg.sv
  hw/dv/sv/spi_agent/spi_agent_pkg.sv
  hw/dv/sv/spi_agent/spi_device_driver.sv
  hw/dv/sv/spi_agent/spi_host_driver.sv
  hw/dv/sv/spi_agent/spi_if.sv
  hw/dv/sv/spi_agent/spi_monitor.sv
  hw/dv/sv/spi_agent/spi_sequencer.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_base_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_fifo_underflow_overflow_vseq.sv
  hw/ip/spi_device/dv/tb/tb.sv
  hw/top_earlgrey/dv/tb/tb.sv
Labels: Component:DV

#5368 [sw, dif_pinmux] Introduce DIF Pinmux header
  sw/device/lib/dif/dif_pinmux.c
  sw/device/lib/dif/dif_pinmux.h
  sw/device/lib/dif/dif_pinmux.md
  sw/device/lib/dif/meson.build
Labels: Component:SW

#5410 [i2c, dv] Update i2c_testplan to include tests required to verify i2c target rtl
  hw/ip/i2c/data/i2c_testplan.hjson
Labels: Component:DV

#5444 [reggen] Add typing annotations to gen_html.py
  util/reggen/gen_html.py
  util/reggen/html_helpers.py
Labels: Component:Tooling, Type:Enhancement

#5499 [lint] Fix a bunch of lint warnings related to long lines (>100 chars)
  hw/ip/aes/rtl/aes_prng_masking.sv
  hw/ip/prim/rtl/prim_ram_1p_scr.sv
  hw/ip/rv_plic/rtl/rv_plic_target.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/xbar_peri.sv
  util/tlgen/xbar.rtl.sv.tpl
Labels: Component:RTL

#5501 [otp_ctrl] Fix some corner cases
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
Labels: Component:RTL

#5511 [fpv] Move .core file generation into reggen
  hw/formal/tools/csr_assert_gen/csr_assert_gen.py
  util/reggen/gen_fpv.py
Labels: Component:Tooling, Type:Cleanup

#5520 [nmi_gen] Ignore intg_err_o output from reg_top
  hw/ip/nmi_gen/rtl/nmi_gen.sv
Labels: Component:RTL, Type:Bug

#5515 [reggen] Promote FOO_SIZE to an int unsigned in *_reg_pkg.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_pkg.sv
  hw/ip/hmac/rtl/hmac_reg_pkg.sv
  hw/ip/kmac/rtl/kmac_reg_pkg.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim_waivers.vlt
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/ip/spi_device/rtl/spi_device_reg_pkg.sv
  hw/ip/spi_host/rtl/spi_host_reg_pkg.sv
  hw/ip/usbdev/rtl/usbdev_reg_pkg.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_pkg.sv
  util/reggen/reg_pkg.sv.tpl
Labels: Component:Tooling, Type:Enhancement

#5521 [spi_host] Add missing connection to scanmode_i
  hw/ip/spi_host/data/spi_host.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Bug

#5522 [spi_host] Remove the ByteOrder and MaxCS parameters from the module
  hw/ip/spi_host/rtl/spi_host.sv
Labels: Component:RTL, Type:Bug

#5542 [pattgen] Add missing variable declaration
  hw/ip/pattgen/rtl/pattgen_chan.sv
Labels: Component:RTL, Type:Bug

#5543 [ibex] Just take the bottom 32 bits of dm::FooAddress
  hw/top_earlgrey/data/top_earlgrey.sv.tpl
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Cleanup

#5530 [sram_ctrl] Fix potential back-to-back partial write bug
  hw/ip/prim/rtl/prim_ram_1p_scr.sv
Labels: Component:RTL

#5540 [rstmgr] Remove duplicated parameters from rstmgr_ctrl
  hw/ip/rstmgr/data/rstmgr.sv.tpl
  hw/ip/rstmgr/rtl/rstmgr.sv
  hw/ip/rstmgr/rtl/rstmgr_ctrl.sv
  hw/ip/rstmgr/rtl/rstmgr_pkg.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
Labels: Component:RTL, Type:Bug

#5518 [topgen] Remove alert_module and interrupt_module from top_*.hjson
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  sw/device/tests/dif/dif_plic_unittest.cc
  util/topgen/merge.py
Labels: Component:Tooling, Type:Cleanup

#5539 [csrng] Remove duplicated parameter
  hw/ip/csrng/data/csrng.hjson
  hw/ip/csrng/rtl/csrng_reg_pkg.sv
Labels: Component:RTL, Type:Bug

#5582 [reggen] Clean up some spaces above write/read-enable registers
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/ip/clkmgr/rtl/clkmgr_reg_top.sv
  hw/ip/csrng/rtl/csrng_reg_top.sv
  hw/ip/dcd/rtl/dcd_reg_top.sv
  hw/ip/edn/rtl/edn_reg_top.sv
  hw/ip/entropy_src/rtl/entropy_src_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_top.sv
  hw/ip/gpio/rtl/gpio_reg_top.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/keymgr/rtl/keymgr_reg_top.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/pwrmgr/rtl/pwrmgr_reg_top.sv
  hw/ip/rbox/rtl/rbox_reg_top.sv
  hw/ip/rv_plic/rtl/rv_plic_reg_top.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_reg_top.sv
  hw/ip/trial1/rtl/trial1_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/top_earlgrey/ip/ast/rtl/ast_reg_top.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_top.sv
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_top.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Component:Tooling, Type:Cleanup

#5596 [ibex] Hook up ram_cfg to Ibex
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
Labels: Component:RTL

#5384 [spi_host, dv] Add spi_host_testplan.hjson
  hw/ip/spi_host/data/spi_host_testplan.hjson
Labels: Component:DV

#5603 [pwm, dv] Add testplan for PWM
  hw/ip/pwm/data/pwm_testplan.hjson
Labels: Component:DV

#5654 [otbn] Update the RAL model on register writes
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#4708 [lc_ctrl] Transition into D2
  hw/ip/lc_ctrl/doc/checklist.md
Labels: Component:Doc

#5347 [sw] Add API for reading and writing Control and Status Registers
  sw/device/lib/base/csr.h
  sw/device/lib/base/csr_registers.h
  sw/device/lib/handler.c
  sw/device/lib/irq.c
  sw/device/lib/runtime/pmp.c
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/mock_csr.cc
  sw/device/lib/testing/mock_csr.h
  sw/device/lib/testing/mock_csr_test.cc
  sw/device/mask_rom/mask_rom.c
  sw/device/tests/pmp_smoketest_napot.c
  sw/device/tests/pmp_smoketest_tor.c
Labels: Component:SW

#5672 [lint] Waive Verilator warning about filename for dm package
  hw/vendor/lint/pulp_risv_dbg.vlt
  hw/vendor/pulp_riscv_dbg.core
Labels: Type:Cleanup

#4706 [otp_ctrl] Transition into D2
  hw/ip/otp_ctrl/data/otp_ctrl.prj.hjson
  hw/ip/otp_ctrl/doc/checklist.md
Labels: Component:Doc

#5608 [ci] Be more informative if install-package-dependencies fails
  ci/install-package-dependencies.sh
  ci/install-package-dependencies.yml
Labels: Component:CI, Type:Cleanup

#5675 [keymgr] Fix AlertAsyncOn parameter
  hw/ip/keymgr/rtl/keymgr.sv
Labels: Component:RTL, Type:Cleanup

#5674 [flash_ctrl] Fix AlertAsyncOn parameter
  hw/ip/flash_ctrl/data/flash_ctrl.sv.tpl
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv
Labels: Component:RTL, Type:Cleanup

#5673 [sensor_ctrl] Fix AlertAsyncOn parameter
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl.sv
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl_pkg.sv
Labels: Component:RTL, Type:Cleanup

#5451 [sw, silicon_creator] Place mask_rom and rom_ext under a common dir
  sw/_index.md
  sw/device/boot_rom/README.md
  sw/device/meson.build
  sw/device/rom_exts/keys/testing/hello_world.bin
  sw/device/silicon_creator/mask_rom/docs/index.md
  sw/device/silicon_creator/mask_rom/docs/module.md.tpl
  sw/device/silicon_creator/mask_rom/mask_rom.c
  sw/device/silicon_creator/mask_rom/mask_rom.h
  sw/device/silicon_creator/mask_rom/mask_rom.ld
  sw/device/silicon_creator/mask_rom/mask_rom_start.S
  sw/device/silicon_creator/mask_rom/meson.build
  sw/device/silicon_creator/meson.build
  sw/device/silicon_creator/rom_exts/docs/manifest.md
  sw/device/silicon_creator/rom_exts/dummy_main.c
  sw/device/silicon_creator/rom_exts/keys/README.md
  sw/device/silicon_creator/rom_exts/keys/test_key_private.pem
  sw/device/silicon_creator/rom_exts/keys/test_key_public.pem
  sw/device/silicon_creator/rom_exts/keys/testing/hello_world.sign.base64
  sw/device/silicon_creator/rom_exts/keys/testing/hello_world_digest.base64
  sw/device/silicon_creator/rom_exts/manifest.h.tpl
  sw/device/silicon_creator/rom_exts/manifest.hjson
  sw/device/silicon_creator/rom_exts/manifest.rs.tpl
  sw/device/silicon_creator/rom_exts/meson.build
  sw/device/silicon_creator/rom_exts/rom_ext.c
  sw/device/silicon_creator/rom_exts/rom_ext.h
  sw/device/silicon_creator/rom_exts/rom_ext_common.ld
  sw/device/silicon_creator/rom_exts/rom_ext_manifest.S
  sw/device/silicon_creator/rom_exts/rom_ext_manifest_parser.c
  sw/device/silicon_creator/rom_exts/rom_ext_manifest_parser.h
  sw/device/silicon_creator/rom_exts/rom_ext_slot_a.ld
  sw/device/silicon_creator/rom_exts/rom_ext_slot_b.ld
  sw/device/silicon_creator/rom_exts/rom_ext_start.S
  sw/device/tests/rom_ext/meson.build
  sw/device/tests/rom_ext/rom_ext_parser_unittest.cc
  sw/host/rom_ext_image_tools/signer/README.md
  sw/host/rom_ext_image_tools/signer/image/src/manifest.rs
  test/systemtest/earlgrey/test_sim_verilator.py
  util/rom-ext-manifest-generator.py
Labels: Component:Mask ROM, Component:SW

#5632 [pwm, dv] Add WiP DV for PWM, all *csr tests pass
  hw/dv/sv/pwm_agent/README.md
  hw/dv/sv/pwm_agent/pwm_agent.core
  hw/dv/sv/pwm_agent/pwm_agent.sv
  hw/dv/sv/pwm_agent/pwm_agent_cfg.sv
  hw/dv/sv/pwm_agent/pwm_agent_cov.sv
  hw/dv/sv/pwm_agent/pwm_agent_pkg.sv
  hw/dv/sv/pwm_agent/pwm_driver.sv
  hw/dv/sv/pwm_agent/pwm_if.sv
  hw/dv/sv/pwm_agent/pwm_item.sv
  hw/dv/sv/pwm_agent/pwm_monitor.sv
  hw/ip/pwm/data/pwm.prj.hjson
  hw/ip/pwm/data/pwm_testplan.hjson
  hw/ip/pwm/doc/checklist.md
  hw/ip/pwm/doc/dv/index.md
  hw/ip/pwm/doc/dv/tb.svg
  hw/ip/pwm/dv/env/pwm_env.core
  hw/ip/pwm/dv/env/pwm_env.sv
  hw/ip/pwm/dv/env/pwm_env_cfg.sv
  hw/ip/pwm/dv/env/pwm_env_cov.sv
  hw/ip/pwm/dv/env/pwm_env_pkg.sv
  hw/ip/pwm/dv/env/pwm_scoreboard.sv
  hw/ip/pwm/dv/env/pwm_virtual_sequencer.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_base_vseq.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_common_vseq.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_smoke_vseq.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_vseq_list.sv
  hw/ip/pwm/dv/pwm_sim.core
  hw/ip/pwm/dv/pwm_sim_cfg.hjson
  hw/ip/pwm/dv/sva/pwm_bind.sv
  hw/ip/pwm/dv/sva/pwm_sva.core
  hw/ip/pwm/dv/tb.sv
  hw/ip/pwm/dv/tests/pwm_base_test.sv
  hw/ip/pwm/dv/tests/pwm_test.core
  hw/ip/pwm/dv/tests/pwm_test_pkg.sv
  hw/ip/spi_host/data/spi_host_testplan.hjson
  util/build_docs.py
Labels: Component:DV

#5700 [otbn] Qualify BignumRegIncReq assertion with insn_valid_o
  hw/ip/otbn/rtl/otbn_decoder.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#5705 [otbn] Tidy up how we call gen-binaries.py from UVM
  hw/ip/otbn/dv/uvm/gen-binaries.py
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Type:Cleanup

#5704 [otbn,dv] Generate the OTBN testplan for documentation
  hw/ip/otbn/doc/dv/index.md
  util/build_docs.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#5681 [sw, mask_rom] Add accidentally removed dependency in 6c22addba
  sw/device/silicon_creator/mask_rom/meson.build
Labels: Component:Mask ROM, Component:SW

#5708 [prim_prince] Annotate some arrays to avoid UNOPTFLAT warnings
  hw/ip/prim/rtl/prim_prince.sv
  hw/ip/prim/rtl/prim_subst_perm.sv
Labels: Component:RTL, Type:Cleanup

#5730 [otbn] Properly reset CSRs, WSRs and loop stack in ISS when starting
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/standalone.py
  hw/ip/otbn/dv/otbnsim/stepped.py
Labels: Component:DV, Component:OTBN, Type:Bug

#5736 [otbn] Teach RIG not to choose GPRs pointing at invalid WDRs
  hw/ip/otbn/dv/rig/rig/gens/straight_line_insn.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#5735 [otbn] Generate an immediate error on trace mismatch
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_model.cc
Labels: Component:DV, Component:OTBN, Type:Bug

#5747 [pwrmgr] Waive Verilator lint warning about "abort" name
  hw/ip/pwrmgr/lint/pwrmgr_pkg.vlt
  hw/ip/pwrmgr/pwrmgr_pkg.core
Labels: Component:RTL, Type:Cleanup

#5727 [otbn] Add a "multi" vseq to run binaries back-to-back
  hw/ip/otbn/data/otbn_testplan.hjson
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_multi_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_single_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_vseq_list.sv
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Component:OTBN, Type:Enhancement

#5361 [sw, dif_sram_ctrl] Add DIF header and checklist for SRAM Controller
  sw/device/lib/dif/dif_sram_ctrl.c
  sw/device/lib/dif/dif_sram_ctrl.h
  sw/device/lib/dif/dif_sram_ctrl.md
  sw/device/lib/dif/meson.build
Labels: Component:SW

#5581 [sw/dif] Introduce CSRNG header
  sw/device/lib/dif/dif_csrng.h
  sw/device/lib/dif/dif_csrng.md
Labels: Component:CSRNG

#5703 [otbn] Track the operation of the idle_o interface
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
  hw/ip/otbn/dv/uvm/sva/otbn_sva.core
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#5545 [rom_ctrl] Add initial RTL
  hw/Makefile
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rom_ctrl/lint/rom_ctrl.vlt
  hw/ip/rom_ctrl/lint/rom_ctrl.waiver
  hw/ip/rom_ctrl/rom_ctrl.core
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_pkg.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_reg_pkg.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_regs_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_rom_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/placement.xdc
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/data/xbar_main.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/dv/env/chip_env_pkg.sv
  hw/top_earlgrey/dv/tb/chip_hier_macros.svh
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.gen.hjson
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.hjson
  hw/top_earlgrey/ip/xbar_main/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_main_bind.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/tl_main_pkg.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/rtl/top_earlgrey_artys7.sv
  hw/top_earlgrey/rtl/top_earlgrey_nexysvideo.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  hw/top_earlgrey/top_earlgrey.core
  hw/top_earlgrey/top_earlgrey_verilator.cc
  hw/top_earlgrey/util/vivado_hook_opt_design_post.tcl
  hw/top_englishbreakfast/util/vivado_hook_opt_design_post.tcl
  util/topgen/templates/toplevel.sv.tpl
  util/topgen/templates/toplevel_memory.h.tpl
  util/topgen/templates/toplevel_memory.ld.tpl
Labels: Component:RTL, Type:Enhancement

#5794 [primgen] Minor fix to enable types with underscores
  hw/ip/prim/util/primgen.py
Labels: Component:Tooling

#5776 [keymgr, lint] Express rounding differently to avoid lint errors
  hw/ip/keymgr/rtl/keymgr_kmac_if.sv
Labels: Component:RTL, Type:Cleanup

#5798 [sram_ctrl,lint] Fix width of RndCnstSramLfsrPermDefault
  hw/ip/sram_ctrl/rtl/sram_ctrl_pkg.sv
Labels: Component:RTL, Type:Cleanup

#5807 [prim_prince] Reverse the k0||k1 mapping to match with the paper
  hw/ip/prim/dv/prim_prince/crypto_dpi_prince/crypto_dpi_prince_pkg.sv
  hw/ip/prim/rtl/prim_prince.sv
Labels: Component:RTL

#5811 [otp_ctrl] Return bus errors when FSM is in error state
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.sv
Labels: Component:RTL

#5826 Remove executable bit from SV files
  hw/ip/csrng/dv/tb.sv
  hw/ip/csrng/rtl/csrng_state_db.sv
  hw/ip/edn/dv/tb.sv
  hw/ip/edn/rtl/edn_ack_sm.sv
  hw/ip/entropy_src/rtl/entropy_src.sv
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: Type:Cleanup

#5828 [csrng] Fix some width mismatches
  hw/ip/csrng/rtl/csrng_core.sv
  hw/ip/csrng/rtl/csrng_ctr_drbg_cmd.sv
  hw/ip/csrng/rtl/csrng_ctr_drbg_gen.sv
  hw/ip/csrng/rtl/csrng_ctr_drbg_upd.sv
  hw/ip/csrng/rtl/csrng_state_db.sv
Labels: Component:RTL, Type:Cleanup

#5825 [kmac] Fix app_config_t to work with Verilator
  hw/ip/kmac/rtl/kmac_pkg.sv
Labels: Component:RTL, Type:Cleanup

#5835 [entropy_src] Use bit, not int, for some localparams
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: Component:RTL, Type:Cleanup

#5837 [pattgen] Fix width of literal in pattgen_chan.sv
  hw/ip/pattgen/rtl/pattgen_chan.sv
Labels: Component:RTL, Type:Cleanup

#5824 [clkmgr] Wire up lc_dft_en_i at top-level
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL, Type:Cleanup

#5836 [kmac] Fix width mismatches in keccak_round.sv
  hw/ip/kmac/rtl/keccak_round.sv
Labels: Component:RTL, Type:Cleanup

#5856 [reggen] Fix name for "u_reg" backdoor in RAL code
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  util/reggen/gen_dv.py
  util/reggen/top_uvm_reg.sv.tpl
  util/reggen/uvm_reg.sv.tpl
  util/reggen/uvm_reg_base.sv.tpl
Labels: Component:DV, Type:Bug

#5877 [reggen] Remove stray import
  util/reggen/ip_block.py
Labels: Component:Tooling, Type:Cleanup

#5860 [otbn] Move from V0 to V1
  hw/ip/otbn/data/otbn.prj.hjson
  hw/ip/otbn/doc/checklist.md
Labels: Component:DV

#5832 [i2c, dv] Refactor i2c_agent to support dual-mode (host and target) dut
  hw/dv/sv/i2c_agent/i2c_agent.core
  hw/dv/sv/i2c_agent/i2c_agent.sv
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_agent_pkg.sv
  hw/dv/sv/i2c_agent/i2c_device_driver.sv
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_host_driver.sv
  hw/dv/sv/i2c_agent/seq_lib/i2c_base_seq.sv
  hw/dv/sv/i2c_agent/seq_lib/i2c_device_seq.sv
  hw/dv/sv/i2c_agent/seq_lib/i2c_host_seq.sv
  hw/dv/sv/i2c_agent/seq_lib/i2c_seq_list.sv
  hw/ip/i2c/dv/env/i2c_env_cfg.sv
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_error_intr_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_overflow_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_override_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_stress_all_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_stretch_timeout_vseq.sv
  hw/ip/i2c/dv/tests/i2c_base_test.sv
Labels: Component:DV
