Repository lowRISC/opentitan, pull requests merged in 2021-05, with the labels that each got.

#6406 [otbn] add ECDSA signature generation subroutine
  sw/otbn/code-snippets/p384.s
  sw/otbn/code-snippets/p384_ecdsa_sign_test.s
  sw/otbn/code-snippets/rules.mk
Labels: Component:OTBN, Component:SW

#6443 [dv/uvmdvgen] Flag error for paths in block name
  util/uvmdvgen/uvmdvgen.py
Labels: Component:Tooling, Type:Cleanup

#6383 [dv/dvsim] Group failures per test in buckets
  util/dvsim/SimCfg.py
Labels: Component:Tooling, Type:Enhancement

#6453 [dv/clkmgr] Fix peripheral clock checks
  hw/ip/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/top_earlgrey/formal/conn_csvs/top_earlgrey_conn.csv
Labels: Component:DV

#6431 [sw/silicon_creator] Introduce the abs_mmio module
  sw/device/lib/base/testing/mock_mmio.h
  sw/device/lib/base/testing/mock_mmio_test_utils.h
  sw/device/silicon_creator/lib/base/abs_mmio.c
  sw/device/silicon_creator/lib/base/abs_mmio.h
  sw/device/silicon_creator/lib/base/meson.build
  sw/device/silicon_creator/lib/base/mock_abs_mmio.h
Labels: Component:Mask ROM

#6376 [verilator] Don't build chip_earlgrey_verilator with debug symbols
  hw/top_earlgrey/chip_earlgrey_verilator.core
  hw/top_englishbreakfast/chip_englishbreakfast_verilator.core
Labels: Component:Tooling, Type:Enhancement

#6352 [spi_device,lint] Waive unused cmd_info fields in spi_passthrough.sv
  hw/ip/spi_device/lint/spi_device.waiver
  hw/ip/spi_device/rtl/spi_passthrough.sv
Labels: Component:RTL, Type:Cleanup

#6353 [spi_device,lint] Waive unused sram_error input for spi_fwm_*xf_ctrl
  hw/ip/spi_device/lint/spi_device.vlt
Labels: Component:RTL, Type:Cleanup

#6308 [pwm,lint] Move unused regen signal across CDC; waive lint warning
  hw/ip/pwm/rtl/pwm_core.sv
Labels: Component:RTL, Type:Cleanup

#6490 [otbn,dv] Fix debug print line
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_multi_vseq.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#6498 [otp_ctrl] Correct LCI error latching
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
Labels: Component:RTL

#6511 Revert "[aon_timer] Change escalate_en control to cpu_en"
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/aon_timer/doc/dv/domains.svg
  hw/ip/aon_timer/dv/env/aon_timer_core_if.sv
  hw/ip/aon_timer/dv/env/aon_timer_env.sv
  hw/ip/aon_timer/dv/env/aon_timer_env_cfg.sv
  hw/ip/aon_timer/dv/env/seq_lib/aon_timer_base_vseq.sv
  hw/ip/aon_timer/dv/tb.sv
  hw/ip/aon_timer/rtl/aon_timer.sv
  hw/ip/aon_timer/rtl/aon_timer_core.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL

#6520 [rom_ctrl] Minor style changes in rom_ctrl code
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
Labels: Component:RTL, Type:Cleanup

#6518 [tool_requirements] Set Verilator and Ninja checks to as_needed
  check_tool_requirements.core
  tool_requirements.py
Labels: Component:Tooling

#6523 [rom_ctrl] Fix gnt/rvalid timing just after initial check finishes
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Component:RTL, Type:Bug

#6522 [rom_ctrl] Reverse nonce calculation
  hw/ip/rom_ctrl/rtl/rom_ctrl_scrambled_rom.sv
  hw/ip/rom_ctrl/util/scramble_image.py
Labels: Component:RTL, Type:Bug

#6491 [otbn] Add coverage points in the DV plan for big number ISA
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6557 [clkmgr/top] Connect lc_dft_en to the clock manager
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL

#6473 [rom_ctrl] Fix KMAC back pressure handling
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Component:RTL, Type:Bug

#6564 [rom_ctrl] Only raise ROM req line when not in reset
  hw/ip/rom_ctrl/lint/rom_ctrl.waiver
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_counter.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Component:RTL, Type:Bug

#6582 [otbn] Fix incorrect handling of negative JAL offset in ISS
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN, Type:Bug

#6584 [pwm,lint] Waive Verilator warnings for unused signals in pwm_chan
  hw/ip/pwm/lint/pwm.vlt
  hw/ip/pwm/rtl/pwm_chan.sv
Labels: Component:RTL, Type:Cleanup

#6555 [pinmux] Disable OE and set pad attributes to zero when selecting a TAP
  hw/ip/pinmux/rtl/pinmux.sv
  hw/ip/pinmux/rtl/pinmux_strap_sampling.sv
Labels: Component:RTL

#6602 [dvsim/verilator] Remove FUSESOC_IGNORE
  hw/dv/tools/dvsim/verilator.hjson
Labels: Component:DV, Component:Tooling

#6586 [lint] Waive some warnings about symbols that match C++ keywords
  hw/ip/spi_device/lint/spi_device.vlt
  hw/ip/sysrst_ctrl/lint/sysrst_ctrl.vlt
  hw/ip/sysrst_ctrl/sysrst_ctrl.core
Labels: Component:RTL, Type:Cleanup

#6617 [dpi_memutil] Fix bug in RegisterMemoryArea
  hw/dv/verilator/cpp/dpi_memutil.cc
Labels: Component:Tooling, Type:Bug

#6621 [otbn] Add ASSERT_KNOWN to done_o output from core
  hw/ip/otbn/rtl/otbn_core.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6607 [otp_ctrl] Make sure KDI observes EDN req/ack protocol at all times
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
Labels: Component:RTL

#6606 [otp_ctrl] Workaround for generated prim depending on generated prim
  hw/ip/prim/prim_otp.core
Labels: Component:Tooling

#6608 [doc] Make the doc bucket match the build output
  site/docs/cloudbuild-deploy-docs.yaml
Labels: Component:Doc

#6600 [doc/lint] Update lint guidance
  doc/ug/design.md
Labels: Component:Doc

#6577 [verible] Add option to run on specified files to verible-format.sh
  util/verible-format.sh
Labels: Component:Tooling

#6533 [otbn,dv] Factor OtbnTraceEntry into its own file
  hw/ip/otbn/dv/model/otbn_model.core
  hw/ip/otbn/dv/model/otbn_trace_checker.cc
  hw/ip/otbn/dv/model/otbn_trace_checker.h
  hw/ip/otbn/dv/model/otbn_trace_entry.cc
  hw/ip/otbn/dv/model/otbn_trace_entry.h
Labels: Component:DV, Component:OTBN, Type:Cleanup

#6589 [sha3] Recast an always_comb block to avoid a lint warning
  hw/ip/kmac/rtl/sha3.sv
Labels: Component:RTL, Type:Cleanup

#6580 [doc,hugo] Make blockquote do something
  site/docs/assets/scss/_markdown.scss
Labels: Component:Doc, Type:Enhancement

#6619 [dpi] Fix indexing bug in ecc32_mem_area
  hw/dv/verilator/cpp/ecc32_mem_area.cc
Labels: Component:Tooling, Type:Bug

#6641 [prim] Waive unused parameter warnings for an FPGA-specific param
  hw/ip/prim_generic/lint/prim_generic_clock_gating.vlt
  hw/ip/prim_generic/lint/prim_generic_clock_mux2.vlt
Labels: Component:RTL, Type:Cleanup

#6640 [alert_handler] Fix apparent combinatorial loop with a split_var
  hw/ip/alert_handler/lint/alert_handler.vlt
Labels: Component:RTL, Type:Cleanup

#6532 [dv/pwrmgr] Generate dv environment
  hw/ip/pwrmgr/data/pwrmgr_testplan.hjson
  hw/ip/pwrmgr/doc/dv/index.md
  hw/ip/pwrmgr/dv/env/pwrmgr_env.core
  hw/ip/pwrmgr/dv/env/pwrmgr_env.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_env_cfg.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_env_cov.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_env_pkg.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_if.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_scoreboard.sv
  hw/ip/pwrmgr/dv/env/pwrmgr_virtual_sequencer.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_base_vseq.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_common_vseq.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_smoke_vseq.sv
  hw/ip/pwrmgr/dv/env/seq_lib/pwrmgr_vseq_list.sv
  hw/ip/pwrmgr/dv/pwrmgr_sim.core
  hw/ip/pwrmgr/dv/pwrmgr_sim_cfg.hjson
  hw/ip/pwrmgr/dv/sva/pwrmgr_bind.sv
  hw/ip/pwrmgr/dv/sva/pwrmgr_sva.core
  hw/ip/pwrmgr/dv/tb.sv
  hw/ip/pwrmgr/dv/tests/pwrmgr_base_test.sv
  hw/ip/pwrmgr/dv/tests/pwrmgr_test.core
  hw/ip/pwrmgr/dv/tests/pwrmgr_test_pkg.sv
  util/build_docs.py
Labels: Component:DV, Priority:P2, Type:Task

#6652 [format/ci] Correct Verible format CI cmd
  ci/scripts/verible-format.sh
Labels: Component:CI

#6664 [simutil_verilator] Improve timeout handling
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.cc
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.h
Labels: Component:DV, Type:Enhancement

#6648 [padring] Bitwidth fix of IoBank parameter
  hw/top_earlgrey/rtl/padring.sv
Labels: Component:RTL

#6646 [pinmux/tap] Rework DFT TAP hooks
  hw/ip/pinmux/pinmux_component.core
  hw/ip/pinmux/rtl/pinmux_jtag_breakout.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:RTL

#6634 [dv/clkmgr] Increase coverage
  hw/ip/clkmgr/data/clkmgr_testplan.hjson
  hw/ip/clkmgr/doc/dv/index.md
  hw/ip/clkmgr/doc/dv/tb.svg
  hw/ip/clkmgr/dv/env/clkmgr_env_cov.sv
  hw/ip/clkmgr/dv/env/clkmgr_if.sv
  hw/ip/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_base_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_peri_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_smoke_vseq.sv
  hw/ip/clkmgr/dv/env/seq_lib/clkmgr_trans_vseq.sv
Labels: Component:DV, Type:Task

#6639 [prim] Break always_comb block to avoid apparent loop
  hw/ip/prim/rtl/prim_arbiter_tree.sv
Labels: Component:RTL, Type:Cleanup

#6622 [otbn,dv] Updates to planned fcov for BN instruction set
  hw/ip/otbn/doc/dv/index.md
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6583 [spi_device,lint] Waive some lint warnings caused by recent spi_device changes
  hw/ip/spi_device/rtl/spi_passthrough.sv
Labels: Component:RTL, Type:Cleanup

#6655 [sw/silicon_creator] Introduce the keymgr driver
  sw/device/silicon_creator/lib/drivers/keymgr.c
  sw/device/silicon_creator/lib/drivers/keymgr.h
  sw/device/silicon_creator/lib/drivers/keymgr_unittest.cc
  sw/device/silicon_creator/lib/drivers/meson.build
  sw/device/silicon_creator/lib/error.h
  sw/device/silicon_creator/mask_rom/mask_rom.c
  sw/device/silicon_creator/mask_rom/mask_rom_start.S
  sw/device/silicon_creator/mask_rom/meson.build
Labels: Component:Mask ROM

#6581 [otbn,dv] Add extremal value coverage for immediate insn fields
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_item.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6716 [top/otp] Rework OTP HW CFG broadcast to address coverage and lint issues
  hw/ip/csrng/data/csrng.hjson
  hw/ip/csrng/dv/tb.sv
  hw/ip/csrng/rtl/csrng.sv
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/entropy_src/dv/tb/tb.sv
  hw/ip/entropy_src/rtl/entropy_src.sv
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/keymgr/dv/env/keymgr_if.sv
  hw/ip/keymgr/dv/env/keymgr_scoreboard.sv
  hw/ip/keymgr/dv/tb.sv
  hw/ip/keymgr/rtl/keymgr.sv
  hw/ip/keymgr/rtl/keymgr_pkg.sv
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/dv/env/lc_ctrl_if.sv
  hw/ip/lc_ctrl/dv/tb.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/data/sram_ctrl_base_testplan.hjson
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_executable_vseq.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_exec_if.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_scoreboard.sv
  hw/ip/sram_ctrl/dv/sram_ctrl_wrapper.sv
  hw/ip/sram_ctrl/dv/tb.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_pkg.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:RTL, Type:Cleanup

#6725 [otbn,doc] Fix generated encoding table for instructions like JAL
  hw/ip/otbn/util/yaml_to_doc.py
Labels: Component:Doc, Component:OTBN, Type:Bug

#6704 [mem_bkdr_if] Rework write8 function to allow more memory widths
  hw/dv/sv/mem_bkdr_if/mem_bkdr_if.sv
Labels: Component:DV, Type:Cleanup

#6740 [otbn] Fix spelling of separate
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_if.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_lsu.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_rf_base.sv
  hw/ip/otbn/rtl/otbn_rf_bignum.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Component:OTBN, Type:Cleanup

#5964 [i2c, rtl] Loopback test and other changes
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
Labels: Component:RTL

#6623 [otbn,dv] Add register type coverage for GPR insn fields
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Component:OTBN, Type:Enhancement

#6755 [doc] Update Hugo's document index.
  site/docs/config.toml
  sw/README.md
  sw/_index.md
  sw/device/_index.md
  sw/device/benchmarks/coremark/README.md
  sw/device/boot_rom/README.md
  sw/device/examples/_index.md
  sw/device/examples/hello_world/README.md
  sw/device/lib/_index.md
  sw/device/lib/arch/README.md
  sw/device/lib/base/README.md
  sw/device/lib/base/freestanding/README.md
  sw/device/lib/dif/README.md
  sw/device/lib/dif/_index.md
  sw/device/lib/runtime/README.md
  sw/device/silicon_creator/_index.md
  sw/device/silicon_creator/keys/README.md
  sw/device/silicon_creator/mask_rom/docs/index.md
  sw/device/silicon_creator/rom_exts/docs/manifest.md
  sw/device/tests/README.md
  sw/device/tock/README.md
  sw/device/tock/_index.md
  sw/device/tock/chips/earlgrey/README.md
  sw/device/tock/chips/opentitan_common/README.md
  sw/host/_index.md
  sw/host/rom_ext_image_tools/signer/README.md
  sw/host/spiflash/README.md
  sw/otbn/code-snippets/README.md
  test/systemtest/README.md
Labels: Component:Doc, Type:Cleanup
