Repository lowRISC/opentitan, pull requests merged in 2021-12, with the labels that each got.

#9434 [otbn] Fix recently added lint errors
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Cleanup, Component:RTL, Component:OTBN

#9440 [lc_ctrl] Correct invalid state error indication
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL

#9414 [sw/ottf] Fix bugs saving/restoring stack pointer in ISRs.
  sw/device/lib/testing/test_framework/ottf.c
  sw/device/lib/testing/test_framework/ottf.h
  sw/device/lib/testing/test_framework/ottf_isrs.S
  sw/device/tests/ottf_example_bare_metal_test.c
  sw/device/tests/ottf_example_concurrency_test.c
Labels: Component:SW, Type:Bug

#9432 [dv] Only run registers through one csr_rw sequence at once
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__tl_errors.svh
  hw/dv/sv/dv_lib/dv_base_vseq.sv
  hw/ip/keymgr/dv/env/seq_lib/keymgr_common_vseq.sv
  hw/ip_templates/alert_handler/dv/env/seq_lib/alert_handler_common_vseq.sv
  hw/top_earlgrey/ip_autogen/alert_handler/dv/env/seq_lib/alert_handler_common_vseq.sv
Labels: Component:DV, Type:Bug

#9460 [rom_ctrl] Check TL command integrity in ROM adapter
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
Labels: Type:Bug, Component:RTL

#9504 [reggen] Add tentative list of assets and cm types
  util/reggen/countermeasure.py
Labels: Component:Tooling, Component:Security

#9509 [syn] Fix SDC constraint
  hw/top_earlgrey/syn/chip_earlgrey_asic.sdc
Labels: Component:Tooling

#9530 [vcs] Fix warnings due to missing typecast
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv.tpl
  hw/ip/spi_device/rtl/spi_cmdparse.sv
  hw/top_earlgrey/dv/tb/tb.sv
Labels: Component:RTL

#9549 [syn/cdc] Minor flow fixes in CDC and syn scripts
  hw/syn/tools/dc/run-syn.tcl
  util/dvsim/verixcdc-report-parser.py
Labels: Component:Tooling

#9462 [reggen] Various cleanups in generated reg_top code
  hw/ip/flash_ctrl/rtl/flash_ctrl_mem_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_prim_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_prim_reg_top.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_rom_reg_top.sv
  hw/ip/rv_dm/rtl/rv_dm_rom_reg_top.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_ram_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_mem_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_prim_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Type:Cleanup, Component:RTL

#9510 [sw/ottf] Replace duplicate code with existing macros.
  sw/device/lib/base/macros.h
  sw/device/lib/testing/test_framework/ottf.c
Labels: Component:SW, Type:Cleanup

#9565 [ottf,tests] Migrate sram_ctrl_main_scrambled_access_test to OTTF.
  sw/device/tests/sram_ctrl_main_scrambled_access_test.c
Labels: Component:SW, Type:Cleanup

#9487 [otbn,dv] Correctly model timing for IMEM integrity errors
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/stepped.py
Labels: Component:DV, Type:Bug, Component:OTBN

#9579 [cdc] Add link to nightly CDC build to HW dashboard
  hw/_index.md
Labels: Component:Tooling

#9585 [otbn,dv] Represent sideload keys properly in the ISS
  hw/ip/otbn/dv/otbnsim/sim/constants.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#9591 [otbn] Fix a couple of lint errors
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Cleanup, Component:RTL, Component:OTBN

#9515 [otbn,dv] Fix up DMEM size for DV code
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#9584 [otbn,rtl] Disable prefetch requests when there's a value in cache
  hw/ip/otbn/dv/otbnsim/sim/csr.py
  hw/ip/otbn/rtl/otbn_rnd.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#9485 [otbn] Tidy up long lines and unnecessary imports in Python code
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/standalonesim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  hw/ip/otbn/util/check_call_stack.py
  hw/ip/otbn/util/check_loop.py
  hw/ip/otbn/util/shared/check.py
  hw/ip/otbn/util/shared/decode.py
Labels: Component:Tooling, Type:Cleanup, Component:OTBN

#9598 [otp_ctrl] Switch to standardized prim_count
  hw/ip/otp_ctrl/otp_ctrl.core
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
Labels: Component:RTL, Component:Security

#9331 [rom_ctrl] Make the mux select into a MuBi4
  hw/ip/rom_ctrl/rom_ctrl.core
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Type:Enhancement, Component:RTL

#9576 [tlul_sram_byte] Remove temporary read-modify-write workarounds
  hw/ip/tlul/rtl/tlul_sram_byte.sv
Labels: Component:RTL

#9619 [pwrmgr] Properly end a reset cycle in fast FSM
  hw/ip/pwrmgr/rtl/pwrmgr_fsm.sv
Labels: Component:RTL

#9646 [lc_ctrl/doc] Update register descriptions
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
Labels: Component:Doc

#9647 [doc] Automatically generate countermeasure tables in IP docs
  util/reggen/gen_cfg_html.py
Labels: Component:Doc, Component:Tooling, Component:Security

#9578 [sw,tests] Update example chip-level test template.
  sw/device/tests/example_chip_level_test.c
  sw/device/tests/meson.build
  sw/device/tests/ottf_example_bare_metal_test.c
  sw/device/tests/ottf_example_concurrency_test.c
Labels: Component:DV, Component:SW, Type:Cleanup

#9645 [doc] List common bus integrity CM in all block Hjsons
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aes/data/aes.hjson
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rv_core_ibex/data/rv_core_ibex.hjson
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/uart/data/uart.hjson
  hw/ip/usbdev/data/usbdev.hjson
  hw/ip/usbuart/data/usbuart.hjson
  hw/ip_templates/alert_handler/data/alert_handler.hjson.tpl
  hw/ip_templates/rv_plic/data/rv_plic.hjson.tpl
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_earlgrey/ip_autogen/rv_plic/data/rv_plic.hjson
Labels: Component:Doc, Component:Security

#9559 [sw/silicon_creator] Clean up flash disable in shutdown
  sw/device/silicon_creator/lib/shutdown.c
  sw/device/silicon_creator/lib/shutdown_unittest.cc
Labels: Component:Mask ROM

#9651 [reggen] Resolve a TODO in the window address decoding logic
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/hmac/rtl/hmac_reg_top.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_core_reg_top.sv
  hw/ip/spi_device/rtl/spi_device_reg_top.sv
  hw/ip/spi_host/rtl/spi_host_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Type:Cleanup, Component:RTL

#9699 [sysrst_ctrl] Fix H2L met pulse detection
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_keyintr.sv
Labels: Component:RTL

#9703 [sram_ctrl] Switch to duplicated counter primitive
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
  hw/ip/sram_ctrl/sram_ctrl.core
Labels: Component:RTL

#9630 [rom_ctrl] Split ROM index to catch FI on address lines
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_scrambled_rom.sv
Labels: Type:Enhancement, Component:RTL

#9712 [mem_bkdr_util] Use inverted integrity in rom_encrypt_write32_integ
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util__rom.sv
Labels: Component:DV, Priority:P0, Type:Bug

#9412 [bazel] Build mask_rom with bazel
  WORKSPACE
  hw/BUILD
  hw/ip/otbn/util/BUILD
  rules/fusesoc.bzl
  rules/opentitan.bzl
  rules/otbn.bzl
  sw/device/boot_rom/BUILD
  sw/device/lib/BUILD
  sw/device/lib/base/BUILD
  sw/device/lib/testing/test_framework/BUILD
  sw/device/silicon_creator/BUILD
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/base/BUILD
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/lib/sigverify_mod_exp_otbn.c
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/silicon_creator/mask_rom/keys/BUILD
  sw/device/silicon_creator/mask_rom/mask_rom_test.c
  sw/device/silicon_creator/testing/BUILD
  sw/otbn/crypto/BUILD
  sw/vendor/freertos_freertos_kernel/BUILD
  sw/vendor/patches/freertos_freertos_kernel/build_with_bazel.patch
  util/opentitantool_test_runner.sh
  util/otbn_build.py
Labels: Component:Mask ROM

#9625 [rom_ctrl] Switch to prim_sparse_fsm_flop for sparse FSMs
  hw/ip/rom_ctrl/rom_ctrl.core
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Type:Enhancement, Component:RTL

#9705 [sw/boot_rom] Rename "boot_rom" to "test_rom" to fix #9154.
  azure-pipelines.yml
  doc/rm/ref_manual_fpga.md
  doc/ug/directory_structure.md
  doc/ug/getting_started_build_sw.md
  doc/ug/getting_started_fpga.md
  doc/ug/getting_started_verilator.md
  hw/ip/otbn/README.md
  hw/ip/rom_ctrl/util/gen_vivado_mem_image.py
  hw/top_earlgrey/chip_earlgrey_cw310.core
  hw/top_earlgrey/chip_earlgrey_nexysvideo.core
  hw/top_earlgrey/doc/dv/index.md
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  hw/top_earlgrey/util/opentitan_earlgrey_usbdev_pin_config_sim.sh
  hw/top_earlgrey/util/top_earlgrey_reduce.py
  hw/top_englishbreakfast/chip_englishbreakfast_cw305.core
  hw/top_englishbreakfast/util/prepare_sw.py
  hw/top_englishbreakfast/util/sw_sources.patch
  rules/opentitan.bzl
  sw/_index.md
  sw/device/_index.md
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/test_framework/test_status.h
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/README.md
  sw/device/lib/testing/test_rom/bootstrap.c
  sw/device/lib/testing/test_rom/bootstrap.h
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/spiflash_frame.h
  sw/device/lib/testing/test_rom/test_rom.c
  sw/device/lib/testing/test_rom/test_rom.ld
  sw/device/lib/testing/test_rom/test_rom_irq_vector.S
  sw/device/lib/testing/test_rom/test_rom_start.S
  sw/device/lib/testing/test_rom/test_rom_test.c
  sw/device/meson.build
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/silicon_creator/mask_rom/primitive_bootstrap.c
  sw/device/tests/meson.build
  sw/host/spiflash/README.md
  sw/host/spiflash/ftdi_spi_interface.cc
  sw/vendor/patches/riscv_compliance/0002-Add-OpenTitan-target.patch
  sw/vendor/patches/riscv_compliance/0004-otp-img-Add-OTP-image-preload-switch-to-RUN_TARGET.patch
  sw/vendor/riscv_compliance/riscv-target/opentitan/README.md
  sw/vendor/riscv_compliance/riscv-target/opentitan/device/rv32imc/Makefile.include
  test/systemtest/earlgrey/test_sim_verilator.py
  test/systemtest/englishbreakfast/test_sim_verilator.py
  util/fpga/splice_rom.sh
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:SW, Type:Cleanup

#9711 [dv] Fix typo in uvmdvgen comment
  hw/dv/sv/jtag_agent/jtag_monitor.sv
  hw/dv/sv/kmac_app_agent/kmac_app_monitor.sv
  hw/dv/sv/pwm_agent/pwm_monitor.sv
  hw/dv/sv/rng_agent/rng_monitor.sv
  hw/dv/sv/usb20_agent/usb20_monitor.sv
  util/uvmdvgen/monitor.sv.tpl
Labels: Component:DV, Type:Cleanup

#9731 [reggen] Tweak Register's _asdict to satisfy new mypy
  util/reggen/register.py
Labels: Component:Tooling, Priority:P0, Type:Bug

#9689 [otbn,dv] Exclude the LOAD_CHECKSUM field from automated CSR tests
  hw/ip/otbn/data/otbn.hjson
Labels: Component:DV, Type:Bug, Component:OTBN

#9683 [otbn,dv] Don't fetch next instruction in sim when stalled
  hw/ip/otbn/dv/otbnsim/sim/sim.py
Labels: Component:DV, Type:Bug, Component:OTBN

#9736 [otbn] Fix calculation of CRC index for DMEM writes
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#9638 [rom_ctrl,doc] Add an hjson countermeasures list
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
Labels: Component:Doc, Type:Enhancement

#9555 [rom_ctrl,doc] Weaken description of what pwrmgr is expected to do
  hw/ip/rom_ctrl/doc/_index.md
Labels: Component:Doc, Type:Cleanup

#9781 [pwm, rtl] PWM RTL update to fix the duty cycle issue
  hw/ip/pwm/rtl/pwm_chan.sv
Labels: Component:RTL

#9793 [lc_ctrl] Update request interface documentation
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/doc/lc_ctrl_request_interface.svg
Labels: Component:Doc
