Repository lowRISC/opentitan, pull requests merged in 2021-10, with the labels that each got.

#8419 [clkmgr] Add clock-gated indication signals
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/ip/clkmgr/data/clkmgr_pkg.sv.tpl
  hw/ip/clkmgr/dv/tb.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/clkmgr/clkmgr.core
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_pkg.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: Component:RTL

#8473 [otbn,dv] Report IMEM fetch errors more helpfully in OTBN tracer
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_if.sv
  hw/ip/otbn/dv/tracer/rtl/otbn_tracer.sv
Labels: Component:DV, Type:Cleanup, Component:OTBN

#8474 [dif] Update DIF autogen templates to fix minor bugs.
  sw/device/lib/dif/autogen/dif_alert_handler_autogen.h
  sw/device/lib/dif/autogen/dif_alert_handler_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_csrng_autogen.h
  sw/device/lib/dif/autogen/dif_csrng_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_edn_autogen.h
  sw/device/lib/dif/autogen/dif_edn_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_entropy_src_autogen.h
  sw/device/lib/dif/autogen/dif_entropy_src_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_gpio_autogen.h
  sw/device/lib/dif/autogen/dif_gpio_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_hmac_autogen.h
  sw/device/lib/dif/autogen/dif_hmac_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_i2c_autogen.h
  sw/device/lib/dif/autogen/dif_i2c_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_keymgr_autogen.h
  sw/device/lib/dif/autogen/dif_keymgr_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_otbn_autogen.h
  sw/device/lib/dif/autogen/dif_otbn_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_uart_autogen.h
  sw/device/lib/dif/autogen/dif_uart_autogen_unittest.cc
  util/make_new_dif/dif_autogen.h.tpl
  util/make_new_dif/dif_autogen_unittest.cc.tpl
Labels: Component:SW, Type:Bug, Type:Cleanup

#8485 [lint] Add lint waiver for IP regfiles with shadow resets
  hw/lint/tools/ascentlint/comportable.waiver
Labels: Type:Cleanup, Component:RTL

#8487 [rv_dm/lint] Minor lint fix
  hw/ip/rv_dm/lint/rv_dm.waiver
Labels: Type:Cleanup, Component:RTL

#8177 [pwm, rtl] PWM RTL update to fix a lint error
  hw/ip/pwm/rtl/pwm_core.sv
Labels: Component:RTL

#8486 [spi_host/lint] Minor lint fix
  hw/ip/spi_host/rtl/spi_host_fsm.sv
Labels: Type:Cleanup, Component:RTL

#8518 [alert_handler] Add missing output assertion
  hw/ip/alert_handler/rtl/alert_handler.sv
Labels: Component:RTL

#8520 [prim_lfsr] Minor lint fix
  hw/ip/prim/rtl/prim_lfsr.sv
Labels: Component:RTL

#8284 [pwm, rtl] PWM register locking with REGWEN signal
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwm/rtl/pwm.sv
  hw/ip/pwm/rtl/pwm_core.sv
  hw/ip/pwm/rtl/pwm_reg_pkg.sv
  hw/ip/pwm/rtl/pwm_reg_top.sv
Labels: Component:RTL

#8490 [alert_handler/doc] Update docs to include LPG feature
  hw/ip/alert_handler/data/alert_handler.hjson
  hw/ip/alert_handler/data/alert_handler.hjson.tpl
  hw/ip/alert_handler/doc/_index.md
  hw/ip/alert_handler/doc/alert_handler_alert_rxtx.svg
  hw/ip/alert_handler/doc/alert_handler_block_diagram.svg
  hw/ip/alert_handler/doc/alert_handler_lp_overview.svg
  hw/ip/alert_handler/doc/alert_handler_lpg_ctrl.svg
  hw/ip/alert_handler/doc/alert_handler_receiver_fsm.svg
  hw/ip/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
Labels: Component:Doc

#8534 [hw/aon_timer] Make IRQ names match throughout all HJSON.
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/aon_timer/doc/dv/domains.svg
  hw/ip/aon_timer/rtl/aon_timer.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_pkg.sv
  hw/ip/aon_timer/rtl/aon_timer_reg_top.sv
  sw/device/lib/dif/dif_aon_timer.c
  sw/device/lib/dif/dif_aon_timer_unittest.cc
Labels: Component:Tooling, Type:Cleanup, Component:RTL

#8647 [otbn,dv] Sample RTL signals on first cycle of instruction
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#8519 [alert-handler/doc] Move into D2
  hw/ip_templates/alert_handler/data/alert_handler.prj.hjson
  hw/ip_templates/alert_handler/doc/checklist.md
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.prj.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/doc/checklist.md
Labels: Component:Doc

#8660 [dif/alert_handler] Remove need to pass in HW params.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/plic_all_irqs_test_helper.h
  util/topgen/templates/plic_all_irqs_test.c.tpl
Labels: Component:DV, Component:SW, Type:Cleanup

#8401 [otbn,dv] Allow the testbench to trigger IMEM errors in ISS
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_pkg.sv
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_if.sv
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#8724 [spi_host, rtl] SPI_HOST RTL update to fix issue #8643
  hw/ip/spi_host/rtl/spi_host_fsm.sv
Labels: Component:RTL

#8732 [dif] Prepare templates for rv_timer modifications.
  util/make_new_dif.py
  util/make_new_dif/dif_autogen.c.tpl
  util/make_new_dif/dif_autogen.h.tpl
  util/make_new_dif/dif_autogen_unittest.cc.tpl
Labels: Component:DV, Component:SW, Type:Cleanup

#8766 [otbn,dv] Correct an assertion in BadBranch generator
  hw/ip/otbn/dv/rig/rig/gens/bad_branch.py
Labels: Component:DV, Type:Bug, Component:OTBN

#8751 [sw/rom] Add rom_ext sec_mmio initialization
  sw/device/silicon_creator/lib/base/sec_mmio.c
  sw/device/silicon_creator/lib/base/sec_mmio.h
  sw/device/silicon_creator/lib/base/sec_mmio_unittest.cc
Labels: Component:Mask ROM

#8760 [otbn,dv] Directly signal an expected alert in IMEM error sequence
  hw/ip/otbn/dv/uvm/env/otbn_env.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#8498 [otbn] Added RTL for internal secure wipe
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_mac_bignum.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_rf_base.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Type:Enhancement, Component:RTL, Component:OTBN

#8761 [otbn,dv] Factor out shared code from imem_err and reset sequences
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_reset_vseq.sv
Labels: Component:DV, Type:Cleanup, Component:OTBN

#8783 [dif/sysrst_ctrl] Auto-generate portion of DIFs.
  meson.build
  sw/device/lib/dif/autogen/dif_sysrst_ctrl_autogen.c
  sw/device/lib/dif/autogen/dif_sysrst_ctrl_autogen.h
  sw/device/lib/dif/autogen/dif_sysrst_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/meson.build
  sw/device/lib/dif/meson.build
Labels: Component:DV, Component:SW, Type:Task

#8775 [dif/adc_ctrl] Auto-generate portion of DIFs.
  meson.build
  sw/device/lib/dif/autogen/dif_adc_ctrl_autogen.c
  sw/device/lib/dif/autogen/dif_adc_ctrl_autogen.h
  sw/device/lib/dif/autogen/dif_adc_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/meson.build
  sw/device/lib/dif/meson.build
Labels: Component:DV, Component:SW, Type:Task

#8782 [dif/pattgen] Auto-generate portion of DIFs.
  meson.build
  sw/device/lib/dif/autogen/dif_pattgen_autogen.c
  sw/device/lib/dif/autogen/dif_pattgen_autogen.h
  sw/device/lib/dif/autogen/dif_pattgen_autogen_unittest.cc
  sw/device/lib/dif/autogen/meson.build
  sw/device/lib/dif/meson.build
Labels: Component:DV, Component:SW, Type:Task

#8822 [dif/clkmgr] Fix broken unit tests.
  sw/device/lib/dif/dif_clkmgr_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Component:DV, Component:SW, Type:Bug

#8932 [util] Cleanup `check_dif_statuses.py` to prep for autogen DIF changes.
  util/check_dif_statuses.py
Labels: Component:Tooling, Type:Cleanup

#8965 [otbn,dv] Run Python model with -u
  hw/ip/otbn/dv/model/iss_wrapper.cc
Labels: Component:DV, Type:Cleanup, Component:OTBN
