Repository lowRISC/opentitan, pull requests merged in 2021-01, with the labels that each got.

#4595 [sw, rom_exts] Add development keys and reference signature artifacts
  sw/device/rom_exts/keys/README.md
  sw/device/rom_exts/keys/test_key_private.pem
  sw/device/rom_exts/keys/test_key_public.pem
  sw/device/rom_exts/keys/testing/hello_world.bin
  sw/device/rom_exts/keys/testing/hello_world.sign.base64
  sw/device/rom_exts/keys/testing/hello_world_digest.base64
Labels: Component:SW

#4716 [otbn] Correct wrapping behaviour for BN.MULQACC.SO in the ISS
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN, Type:Bug

#4717 [otbn] Fix model tracking for LUI in RIG
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4718 [otbn] Fix address range check for narrow loads and stores
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4732 [otbn] Split "gen" and "asm" parts of gen-binaries.py
  hw/ip/otbn/dv/uvm/gen-binaries.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4720 [otbn] Don't wrap link register values to size of dmem
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4719 [otbn] Fix instructions that both read and write x1
  hw/ip/otbn/rtl/otbn_stack.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4705 [otp_ctrl] Disable OTP consistency check timeout during prog ops
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
Labels: Component:RTL

#4745 [otbn] Fix ISS support for CSRRW/CSRRS on single flag group
  hw/ip/otbn/dv/otbnsim/sim/csr.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4748 [verilator] Only control the reset line when necessary
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.cc
Labels: Component:DV, Type:Cleanup

#4737 [otbn] Wrap bn.movr increments modulo 32
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:OTBN

#4749 [otbn] Don't double-start OTBN in otbn_top_sim
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4744 [otp_ctrl/doc] Minor update of OTP wrapper interface waves
  hw/ip/otp_ctrl/doc/_index.md
Labels: Component:Doc

#4734 [otbn] Fix a bug in RIG jump target selection
  hw/ip/otbn/util/rig/program.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4724 [otbn] Fix handling of negative addi operands in RIG's update
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4750 [CI] Fail more informatively if git merge-base fails
  azure-pipelines.yml
Labels: Component:CI, Type:Enhancement

#4735 [otbn] Fix ordering problems in RIG model update logic
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4764 [otbn] Remove the OpenSection logic in the RIG's Program class
  hw/ip/otbn/util/rig/program.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#4776 [sram_ctrl] Instantiate prim_sync_reqack_data
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
Labels: Component:RTL

#4754 [lc_ctrl] Add OTP partition error bit that is accessible via TAP
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/dv/env/lc_ctrl_if.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
Labels: Component:RTL

#4763 [otbn] Use .+123 syntax where possible for relative operands
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/util/otbn-as
  hw/ip/otbn/util/otbn-objdump
  hw/ip/otbn/util/rig/program.py
  hw/ip/otbn/util/shared/insn_yaml.py
  hw/ip/otbn/util/shared/operand.py
  hw/ip/otbn/util/shared/syntax.py
Labels: Component:OTBN, Component:Tooling

#4775 [prim_lc_sync] Add AsyncOn parameter to enable/disable the sync flops
  hw/ip/prim/rtl/prim_lc_sync.sv
Labels: Component:RTL

#4792 [prim] Teach verilator to recognise a clock gate
  hw/ip/prim_generic/rtl/prim_generic_clock_gating.sv
Labels: Component:RTL, Type:Cleanup

#4798 [alert_handler] Minor docs update of alert sender interface
  hw/ip/alert_handler/doc/_index.md
  hw/ip/alert_handler/doc/alert_handler_alert_rxtx.svg
Labels: Component:Doc

#4723 [otbn] Pass stall signal to call stack to avoid double-pop
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_rf_base.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4801 [otp_ctrl] Do not descramble digest values when read through the DAI
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
Labels: Component:RTL

#4727 [otbn] Fix wrapping for grs1 increment with bn.lid/bn.sid
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#4834 [otbn] Fix RIG model's _inc_gpr logic
  hw/ip/otbn/util/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#4837 [otbn] Teach RIG to generate BEQ and BNE instructions
  hw/ip/otbn/util/otbn-rig
  hw/ip/otbn/util/rig/gens/branch.py
  hw/ip/otbn/util/rig/gens/ecall.py
  hw/ip/otbn/util/rig/gens/jump.py
  hw/ip/otbn/util/rig/gens/straight_line_insn.py
  hw/ip/otbn/util/rig/model.py
  hw/ip/otbn/util/rig/program.py
  hw/ip/otbn/util/rig/rig.py
  hw/ip/otbn/util/rig/snippet.py
  hw/ip/otbn/util/rig/snippet_gen.py
  hw/ip/otbn/util/rig/snippet_gens.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4655 [sw] Add CRT assembly library
  sw/device/boot_rom/meson.build
  sw/device/boot_rom/rom_crt.S
  sw/device/exts/common/flash_crt.S
  sw/device/exts/common/meson.build
  sw/device/lib/crt/crt.S
  sw/device/lib/crt/meson.build
  sw/device/lib/meson.build
  sw/device/mask_rom/mask_rom_start.S
  sw/device/mask_rom/meson.build
  sw/device/rom_exts/meson.build
  sw/device/rom_exts/rom_ext_start.S
  sw/device/tests/crt_test.c
Labels: Component:SW

#4858 [otp_ctrl] Fix digest read accesses in DAI
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
Labels: Component:RTL

#4859 [otp_ctrl] Fix a DAI/KDI concurrency issue
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
Labels: Component:RTL

#4728 [sw, uart] HW usage reviewed comment actions
  sw/device/lib/dif/dif_uart.c
  sw/device/lib/dif/dif_uart.h
  sw/device/tests/dif/dif_uart_unittest.cc
Labels: Component:SW

#4277 [sw, dif_uart] DIF_HW_USAGE_REVIEWED complete
  sw/device/lib/dif/dif_uart.md
Labels: Component:SW

#4893 [tlul] Explicitly cast between SRAM width and TL width
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, Type:Cleanup

#4891 [doc] Update alert guidance in the comportability spec
  doc/rm/comportability_specification/index.md
Labels: Component:Doc

#4914 [otbn] Rename "recoverable" alert to just "recov" & set fatal flag
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/env/autogen/alert_handler_env_pkg__params.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#4912 [otbn] Add a --size argument to gen-binaries.py
  hw/ip/otbn/dv/uvm/gen-binaries.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4927 [otp_ctrl] Minor OTP documentation fix
  hw/ip/otp_ctrl/doc/_index.md
Labels: Component:Doc

#4926 [doc] Amend naming rule and recommended # of alerts/IP
  doc/rm/comportability_specification/index.md
Labels: Component:Doc

#4935 [otbn] Spot invalid increments in BN.MOVR/BN.LID/BN.SID in ISS
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/elf.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/dv/otbnsim/stepped.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4974 [prim] Properly fix widths in tlul_adapter_sram
  hw/ip/tlul/lint/tlul_adapter_sram.waiver
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, Type:Cleanup

#4954 [pattgen, dv] Support pattgen_error test
  hw/dv/sv/pattgen_agent/pattgen_agent_cfg.sv
  hw/dv/sv/pattgen_agent/pattgen_monitor.sv
  hw/ip/pattgen/data/pattgen_testplan.hjson
  hw/ip/pattgen/dv/env/pattgen_channel_cfg.sv
  hw/ip/pattgen/dv/env/pattgen_env.core
  hw/ip/pattgen/dv/env/pattgen_env_pkg.sv
  hw/ip/pattgen/dv/env/pattgen_scoreboard.sv
  hw/ip/pattgen/dv/env/pattgen_seq_cfg.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_base_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_error_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_perf_vseq.sv
  hw/ip/pattgen/dv/env/seq_lib/pattgen_vseq_list.sv
  hw/ip/pattgen/dv/pattgen_sim_cfg.hjson
Labels: Component:DV

#4877 [sw, plic] Refactor DIF PLIC to be top level agnostic
  sw/device/lib/dif/dif_plic.c
  sw/device/tests/dif/dif_plic_unittest.cc
Labels: Component:SW

#4953 [otbn] Add basic support for LOOP/LOOPI to RIG
  hw/ip/otbn/util/rig/gens/loop.py
  hw/ip/otbn/util/rig/gens/straight_line_insn.py
  hw/ip/otbn/util/rig/model.py
  hw/ip/otbn/util/rig/snippet.py
  hw/ip/otbn/util/rig/snippet_gens.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#4991 [dvsim] Fix Syn class
  util/dvsim/SynCfg.py
Labels: Component:Tooling

#4956 [util] Allow optional tools in check_tool_requirements
  doc/ug/install_instructions/index.md
  tool_requirements.py
  util/build_docs.py
  util/check_tool_requirements.py
Labels: Component:Tooling, Type:Cleanup

#4957 [otbn] Improve barrett384
  sw/otbn/code-snippets/barrett384.s
Labels: Component:OTBN, Component:SW, Type:Enhancement

#5025 [dvsim] Generate FUSESOC_IGNORE at top of scratch root
  util/dvsim/dvsim.py
Labels: Component:CI, Priority:P0, Type:Bug

#4906 [i2c, rtl] Target features addition
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/rtl/i2c.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
Labels: Component:RTL
