Repository lowRISC/opentitan, pull requests merged in 2021-07, with the labels that each got.

#7193 [rom_ext_image_tools] Check that code region is aligned correctly
  sw/host/rom_ext_image_tools/signer/src/main.rs
Labels: Component:SW

#7153 [i2c, dv] Fix fifo test for i2c host rtl
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_if.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_full_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_fifo_watermark_vseq.sv
Labels: Component:DV

#7085 [usbdev] Wire up integrity alert
  hw/ip/usbdev/data/usbdev.hjson
  hw/ip/usbdev/dv/env/usbdev_env_cfg.sv
  hw/ip/usbdev/dv/env/usbdev_env_pkg.sv
  hw/ip/usbdev/dv/tb/tb.sv
  hw/ip/usbdev/rtl/usbdev.sv
  hw/ip/usbdev/rtl/usbdev_reg_pkg.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7129 [rv_dm] Make the debug module comportable
  hw/Makefile
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rstmgr/data/rstmgr.sv.tpl
  hw/ip/rstmgr/rtl/rstmgr_pkg.sv
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_dm/rtl/rv_dm.sv
  hw/ip/rv_dm/rtl/rv_dm_reg_pkg.sv
  hw/ip/rv_dm/rtl/rv_dm_regs_reg_top.sv
  hw/ip/rv_dm/rtl/rv_dm_rom_reg_top.sv
  hw/ip/rv_dm/rv_dm.core
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/data/xbar_main.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.gen.hjson
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.hjson
  hw/top_earlgrey/ip/xbar_main/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_main_bind.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/tl_main_pkg.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  hw/top_englishbreakfast/data/xbar_main.hjson
  util/reggen/bus_interfaces.py
  util/tlgen/xbar_env_pkg__params.sv.tpl
  util/topgen/intermodule.py
  util/topgen/merge.py
  util/topgen/templates/toplevel.sv.tpl
  util/topgen/templates/xbar_env_pkg__params.sv.tpl
  util/topgen/validate.py
Labels: Component:RTL, Component:Tooling

#7227 [check_tool_requirements] Add semver parser for Ninja
  util/check_tool_requirements.py
Labels: Component:Tooling

#7086 [rv_timer] Wire up integ alert
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/rv_timer/data/rv_timer.hjson.tpl
  hw/ip/rv_timer/dv/env/rv_timer_env_cfg.sv
  hw/ip/rv_timer/dv/env/rv_timer_env_pkg.sv
  hw/ip/rv_timer/dv/tb/tb.sv
  hw/ip/rv_timer/rtl/rv_timer.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_pkg.sv
  hw/ip/rv_timer/rtl/rv_timer_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/alert_handler/data/autogen/alert_handler.hjson
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip/alert_handler/rtl/autogen/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7231 [lc_ctrl] Fix the cshake byte order in the constants generation script
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_pkg.sv
  util/design/lib/LcStEnc.py
Labels: Component:RTL, Component:Tooling

#7084 [usbuart] Wire up integ alert
  hw/ip/usbuart/data/usbuart.hjson
  hw/ip/usbuart/rtl/usbuart.sv
  hw/ip/usbuart/rtl/usbuart_reg_pkg.sv
  hw/ip/usbuart/rtl/usbuart_reg_top.sv
Labels: Component:RTL

#7243 [lc_ctrl] Correct counter next state computation logic
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_transition.sv
Labels: Component:RTL

#7152 [otp_ctrl] Increase LFSR reseeding period
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
Labels: Component:RTL

#7252 [lc_ctrl] Do not assert escalate_en in post transition state
  hw/ip/lc_ctrl/doc/lc_ctrl_function_signals_table.md
  hw/ip/lc_ctrl/dv/env/lc_ctrl_env_pkg.sv
  hw/ip/lc_ctrl/dv/env/lc_ctrl_scoreboard.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
Labels: Component:RTL

#7000 [sw/silicon_creator] Switch otp to sec_mmio
  sw/device/silicon_creator/lib/base/mock_sec_mmio.h
  sw/device/silicon_creator/lib/drivers/meson.build
  sw/device/silicon_creator/lib/drivers/otp.c
  sw/device/silicon_creator/lib/drivers/otp.h
  sw/device/silicon_creator/lib/drivers/otp_unittest.cc
  sw/device/silicon_creator/lib/error.h
Labels: Component:Mask ROM

#6460 [sw/silicon_creator] Add OTBN ROM driver
  sw/device/silicon_creator/lib/drivers/meson.build
  sw/device/silicon_creator/lib/drivers/otbn.c
  sw/device/silicon_creator/lib/drivers/otbn.h
  sw/device/silicon_creator/lib/drivers/otbn_unittest.cc
  sw/device/silicon_creator/lib/error.h
Labels: Component:Mask ROM

#7265 [syn] Correct SDC constraints to align with recent ast updates
  hw/top_earlgrey/syn/asic.constraints.sdc
Labels: Component:Tooling

#7188 [otbn,dv] Fix handling of the start signal around resets
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Component:OTBN, Type:Bug

#7297 [usbdev] Properly link HW checklist
  hw/ip/usbdev/data/usbdev.prj.hjson
Labels: Component:Doc

#7267 [topgen/rom_ctrl] Add optional memory configuration for comportable IPs
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  util/reggen/gen_cheader.py
  util/reggen/params.py
  util/topgen.py
  util/topgen/c.py
  util/topgen/lib.py
  util/topgen/merge.py
  util/topgen/templates/toplevel_memory.h.tpl
  util/topgen/templates/toplevel_memory.ld.tpl
  util/topgen/validate.py
Labels: Component:RTL, Component:Tooling

#7302 [lc_ctrl] Fix unintended circular logical dependency
  hw/ip/lc_ctrl/doc/lc_ctrl_fsm.svg
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_decode.sv
Labels: Component:RTL

#7301 [pinmux] Always sample DFT mode straps only once at boot
  hw/ip/pinmux/rtl/pinmux_strap_sampling.sv
Labels: Component:RTL

#7318 [rom_ctrl] Cut the instantiated ROM width back down to 39 bits
  azure-pipelines.yml
  doc/ug/getting_started_verilator.md
  doc/ug/quickstart.md
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util__rom.sv
  hw/ip/otbn/README.md
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_pkg.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
  hw/ip/rom_ctrl/util/scramble_image.py
  hw/top_earlgrey/chip_earlgrey_cw310.core
  hw/top_earlgrey/chip_earlgrey_nexysvideo.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  hw/top_earlgrey/dv/verilator_sim_cfg.hjson
  hw/top_earlgrey/util/opentitan_earlgrey_usbdev_pin_config_sim.sh
  sw/device/meson.build
  test/systemtest/earlgrey/test_sim_verilator.py
Labels: Component:RTL, Type:Cleanup

#6998 [reggen] Expose reset values to SW
  util/reggen/gen_cheader.py
Labels: Component:Tooling, Type:Enhancement

#7339 [top] Split long parameter lines in toplevel.sv.tpl
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:Tooling

#7291 [otbn] Clear the loop stack on start
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_loop_controller.sv
  hw/ip/otbn/rtl/otbn_rf_base.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Component:OTBN, Component:RTL

#7345 [topgen] Pull the 'clocks' code into a separate class in topgen
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/ip/clkmgr/data/clkmgr_pkg.sv.tpl
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  util/topgen.py
  util/topgen/c.py
  util/topgen/clocks.py
  util/topgen/merge.py
  util/topgen/templates/chiplevel.sv.tpl
  util/topgen/templates/tb__xbar_connect.sv.tpl
  util/topgen/templates/toplevel.sv.tpl
  util/topgen/validate.py
Labels: Component:Tooling, Type:Cleanup

#7359 [lint] Remove line numbers from top_earlgrey.vbw
  hw/top_earlgrey/lint/top_earlgrey.vbw
Labels: Component:CI, Component:Tooling, Type:Cleanup

#7299 [nmi_gen] remove the nmi_gen dummy module
  hw/Makefile
  hw/ip/nmi_gen/data/nmi_gen.hjson
  hw/ip/nmi_gen/data/nmi_gen.prj.hjson
  hw/ip/nmi_gen/doc/index.md
  hw/ip/nmi_gen/doc/nmi_gen_blockdiag.svg
  hw/ip/nmi_gen/lint/nmi_gen.vlt
  hw/ip/nmi_gen/lint/nmi_gen.waiver
  hw/ip/nmi_gen/nmi_gen.core
  hw/ip/nmi_gen/rtl/nmi_gen.sv
  hw/ip/nmi_gen/rtl/nmi_gen_reg_pkg.sv
  hw/ip/nmi_gen/rtl/nmi_gen_reg_top.sv
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/lint/top_earlgrey_lint_cfgs.hjson
  hw/top_earlgrey/top_earlgrey.core
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  hw/top_englishbreakfast/data/xbar_peri.hjson
  hw/top_englishbreakfast/top_englishbreakfast.core
  util/build_docs.py
  util/syn_yosys.sh
  util/topgen.py
Labels: Component:RTL

#7396 [otbn,dv] Fix index of ACC WSR
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/dv/rig/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7397 [otbn,dv] Properly report an error if the ISS process dies
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
Labels: Component:DV, Component:OTBN, Type:Bug

#7401 [otbn,doc] Fix backwards columns for URND in doc table
  hw/ip/otbn/doc/_index.md
Labels: Component:Doc, Component:OTBN, Type:Bug

#7398 [otbn] Describe WSR error conditions in docs and ISS
  hw/ip/otbn/data/bignum-insns.yml
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
Labels: Component:OTBN, Type:Enhancement

#7402 [otbn,dv,doc] Handle bad CSRs properly in ISS and docs
  hw/ip/otbn/data/base-insns.yml
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/dv/otbnsim/sim/csr.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7392 [prim_lfsr] Fix assertion issue occuring right after reset
  hw/ip/alert_handler/rtl/alert_handler_ping_timer.sv
  hw/ip/prim/rtl/prim_lfsr.sv
Labels: Component:DV, Component:RTL

#7404 [otbn,util] De-duplicate Python decoding code
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/util/otbn-objdump
  hw/ip/otbn/util/shared/insn_yaml.py
Labels: Component:OTBN, Component:Tooling, Type:Cleanup

#7447 [otbn] Correct illegal_insn detection for register-immediate ops
  hw/ip/otbn/rtl/otbn_decoder.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#7467 [otbn] Fix a couple of problems in decoder
  hw/ip/otbn/rtl/otbn_decoder.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#7471 [otp] Add missing newline at end of waiver file
  hw/ip/otp_ctrl/lint/otp_ctrl_pkg.vlt
Labels: Component:Tooling, Type:Cleanup

#7487 [topgen] Remove hardcoded ROM memory from template
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:RTL, Type:Cleanup

#7484 [otp_ctrl] Connect test-related GPIO signal
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/dv/tb.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pinmux/rtl/autogen/pinmux_reg_pkg.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7507 [topgen] Add missing memory attributes
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  util/topgen/templates/toplevel_memory.ld.tpl
  util/topgen/validate.py
Labels: Component:Tooling

#7509 [rv_timer/top] Remove rv_timer from PLIC sources
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/dif_plic_unittest.cc
Labels: Component:RTL

#7512 [dv] Switch cip_base_scoreboard logging to convert2string
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
Labels: Component:DV, Type:Cleanup

#7500 [otbn] Simplify loop end calculation logic
  hw/ip/otbn/rtl/otbn_loop_controller.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#7514 [otbn] Rewrite case in bignum ALU to make all branches reachable
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#7501 [otbn,dv] Fix logic in LOOPI iteration calculation
  hw/ip/otbn/dv/rig/rig/gens/loop.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7527 [otbn,dv] Generate RIG json with -o, not stdout
  hw/ip/otbn/dv/rig/otbn-rig
  hw/ip/otbn/dv/uvm/gen-binaries.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#7539 [ast/lint] Waive remaining lint errors
  hw/top_earlgrey/ip/ast/lint/ast.waiver
Labels: Component:RTL

#7490 [i2c, doc] Checklist Update for D2 Sign-off
  hw/ip/i2c/doc/checklist.md
Labels: Component:Doc

#7550 [pinmux] Remove todo that has been addressed
  hw/ip/pinmux/rtl/pinmux.sv
Labels: Component:RTL
