Repository lowRISC/opentitan, pull requests merged in 2021-08, with the labels that each got.

#7547 [tlul_adapter_sram] Fix minor bugs in byte write logic
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
  hw/ip/tlul/rtl/tlul_sram_byte.sv
Labels: Component:RTL

#7561 [chip_earlgrey_asic/lint] Fix/waive remaining AST-related lint messages
  hw/top_earlgrey/ip/ast/lint/ast.waiver
  hw/top_earlgrey/lint/chip_earlgrey_asic.waiver
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL

#7559 [otbn,dv] Remove unused import from RIG's config.py
  hw/ip/otbn/dv/rig/rig/config.py
Labels: Component:DV, Component:OTBN, Type:Cleanup

#7557 [otbn,rtl] SRLI/SLLI Instructions Bug Fix in Decoder
  hw/ip/otbn/rtl/otbn_decoder.sv
Labels: Component:OTBN, Component:RTL

#7580 [prim_xor2/lint] Add waiver for .* use in generated prim
  hw/ip/prim/lint/prim_xor2.waiver
  hw/ip/prim/prim_xor2.core
Labels: Component:RTL

#7573 [otbn,dv] Fix calculation of k_min when picking LSU targets in RIG
  hw/ip/otbn/dv/rig/rig/known_mem.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7554 [otbn,dv] Properly handle operands that are both src and dst in RIG
  hw/ip/otbn/dv/rig/rig/model.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7575 [otbn] Fix logic for detecting branch/jumps at end of loop
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_loop_controller.sv
Labels: Component:OTBN, Component:RTL, Type:Bug

#7556 [otbn,dv] Don't write to const registers with BN.LID in RIG
  hw/ip/otbn/dv/rig/rig/gens/straight_line_insn.py
Labels: Component:DV, Component:OTBN, Type:Bug

#7523 [otbn,dv] Add a "small value" snippet generator
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/small_val.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Component:OTBN, Type:Enhancement

#7616 [otbn,lint] Waive unused sec_wipe signals
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:OTBN, Component:RTL, Type:Cleanup

#7610 [formatter/doc] Document how to run the SV formatter
  doc/ug/design.md
Labels: Component:Doc, Component:Tooling

#7548 [sram_ctrl] Update docs
  hw/ip/prim/doc/prim_ram_1p_scr.md
  hw/ip/sram_ctrl/doc/_index.md
  hw/ip/sram_ctrl/doc/sram_ctrl_blockdiag.svg
  hw/ip/sram_ctrl/doc/sram_ctrl_sram_execution.svg
  hw/ip/sram_ctrl/doc/sram_ctrl_sub_word_write.svg
Labels: Component:Doc

#7619 [otbn,dv] Fix calculation of loop end address in coverage
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#7617 [otbn,dv] Add a generator to RIG to blow the loop stack
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/bad_deep_loop.py
  hw/ip/otbn/dv/rig/rig/gens/bad_giant_loop.py
  hw/ip/otbn/dv/rig/rig/gens/bad_zero_loop.py
  hw/ip/otbn/dv/rig/rig/gens/loop.py
  hw/ip/otbn/dv/rig/rig/program.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7600 [otbn, dv] Snippet Generator for Known WDR Values
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/known_wdr.py
  hw/ip/otbn/dv/rig/rig/model.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7636 [otbn,dv] Finesse "barely_oob_addr_cp" to make it possible to hit
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#7552 [i2c, rtl] Update i2c.prj.hjson for D2 completion
  hw/ip/i2c/data/i2c.prj.hjson
Labels: Component:RTL

#7656 [otbn,dv] Allow overflow when picking memory addresses in RIG
  hw/ip/otbn/dv/rig/rig/known_mem.py
  hw/ip/otbn/dv/rig/rig/model.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7637 [otbn, dv] Negative Out of Bound Address
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7700 [keymgr] Fix redeclaration of constant
  hw/ip/keymgr/rtl/keymgr_kmac_if.sv
Labels: Component:RTL

#7701 [wkup] Add assertion to ensure latching of wakeup signals
  hw/ip/aon_timer/rtl/aon_timer.sv
  hw/ip/pinmux/rtl/pinmux.sv
  hw/ip/usbdev/rtl/usbdev_aon_wake.sv
Labels: Component:RTL

#7774 [otbn,dv] BXX Misaligned Offset Coverage Fix
  hw/ip/otbn/doc/dv/index.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7770 [otp_ctrl] Fix partition default value vector size in template
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv.tpl
Labels: Component:RTL

#7719 Revert "[rv_timer/top] Remove rv_timer from PLIC sources"
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/rv_plic/data/autogen/rv_plic.hjson
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_pkg.sv
  hw/top_earlgrey/ip/rv_plic/rtl/autogen/rv_plic_reg_top.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/dif_plic_unittest.cc
Labels: Component:RTL

#7699 [sram_ctrl] Harden initialization counter
  hw/ip/prim/rtl/prim_ram_1p_scr.sv
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_base_vseq.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_env_cfg.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_env_pkg.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_scoreboard.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_reg_pkg.sv
  hw/ip/sram_ctrl/rtl/sram_ctrl_regs_reg_top.sv
  hw/ip/tlul/rtl/tlul_sram_byte.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
Labels: Component:RTL

#7775 [otbn,dv] Make loop trace slightly more helpful
  hw/ip/otbn/dv/otbnsim/sim/loop.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7776 [otbn,dv] Fix logic in "deep loop" generator
  hw/ip/otbn/dv/rig/rig/gens/bad_deep_loop.py
Labels: Component:DV, Type:Bug, Component:OTBN

#7807 [otbn,dv] Fix BadAtEnd generator when generating jumps
  hw/ip/otbn/dv/rig/rig/gens/bad_at_end.py
Labels: Component:DV, Type:Bug, Component:OTBN

#7655 [otbn] Make stalling more explicit in instruction definitions
  hw/ip/otbn/doc/isa.md
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Type:Cleanup, Component:OTBN

#7838 [otbn,dv] Double the number of otbn_single runs
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7811 [tlul,rtl] Rewrite a_ack_q computation to avoid lint warnings
  hw/ip/tlul/rtl/tlul_sram_byte.sv
Labels: Type:Cleanup, Component:RTL

#7849 [rstmgr/sysrst_ctrl] This fixes an autogenerated constant name
  sw/device/silicon_creator/lib/drivers/rstmgr.c
Labels: Component:SW, Priority:P0, Component:CI

#7808 [otbn,dv] Add a generator for badly nested loops
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/bad_at_end.py
  hw/ip/otbn/dv/rig/rig/gens/bad_deep_loop.py
  hw/ip/otbn/dv/rig/rig/gens/bad_giant_loop.py
  hw/ip/otbn/dv/rig/rig/gens/loop.py
  hw/ip/otbn/dv/rig/rig/gens/loop_dup_end.py
  hw/ip/otbn/dv/rig/rig/model.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7839 [otbn,dv] Alter "loopy" configuration to see maximal loop depth
  hw/ip/otbn/dv/rig/rig/config.py
  hw/ip/otbn/dv/rig/rig/configs/README.md
  hw/ip/otbn/dv/rig/rig/configs/loopy.yml
  hw/ip/otbn/dv/rig/rig/gens/loop.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7860 [otbn,dv] Cast new address to u32 for BEQ/BNE in ISS
  hw/ip/otbn/dv/otbnsim/sim/insn.py
Labels: Component:DV, Type:Bug, Component:OTBN

#7831 [pinmux] Update KNOWN output assertions
  hw/ip/pinmux/rtl/pinmux.sv
Labels: Component:RTL

#7865 [otbn,dv] Fix callstack flags in coverage
  hw/ip/otbn/dv/uvm/env/otbn_rf_base_if.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#7890 [otbn,dv] Incr in BN.XID/BN.MOVR: Decoder Error to Illegal Insn
  hw/ip/otbn/dv/otbnsim/sim/decode.py
  hw/ip/otbn/dv/otbnsim/sim/insn.py
  hw/ip/otbn/dv/otbnsim/sim/isa.py
Labels: Component:DV, Component:OTBN

#7899 [otbn,dv] Add a generator for instructions using x1 more heavily
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/call_stack_rw.py
  hw/ip/otbn/dv/rig/rig/model.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7891 [otbn,dv] Bad BNMOVR Instruction Snippet
  hw/ip/otbn/dv/rig/rig/configs/base.yml
  hw/ip/otbn/dv/rig/rig/gens/bad_bnmovr.py
  hw/ip/otbn/dv/rig/rig/snippet_gens.py
Labels: Component:DV, Type:Enhancement, Component:OTBN

#7851 [otp_ctrl/docs] Update documentation and include VENDOR_TEST partition
  hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/otp_ctrl/doc/otp_ctrl_blockdiag.svg
  hw/ip/otp_ctrl/doc/otp_ctrl_partitions.md
Labels: Component:Doc

#7994 [doc] Add pre_dv area to directory structure doc
  doc/ug/directory_structure.md
Labels: Component:Doc

#7969 [prim_prince] Mark "leaf" functions in prince_ref.h as static inline
  hw/ip/prim/dv/prim_prince/crypto_dpi_prince/prince_ref.h
Labels: Type:Cleanup
