Repository lowRISC/opentitan, pull requests merged in 2022-04, with the labels that each got.

#11817 [otbn,rtl] Add a couple of consistency assertions about error bits
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_core.sv
Labels: Type:Enhancement, Component:RTL, IP:otbn

#11835 [bazel] move test macros to separate rules file
  rules/opentitan.bzl
  rules/opentitan_test.bzl
  sw/device/lib/testing/test_rom/BUILD
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/tests/BUILD
  sw/device/tests/crypto/BUILD
Labels: Component:Tooling, Priority:P2, Type:Cleanup

#11857 [sw/test_rom] Init SRAM for non-sim_dv devices
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/arch/device.h
  sw/device/lib/testing/test_rom/test_rom_start.S
Labels: Component:Software, Priority:P1, Type:Bug

#11861 [secded_gen] Fix a bug in inverted Hamming codes
  hw/ip/prim/rtl/prim_secded_22_16_enc.sv
  hw/ip/prim/rtl/prim_secded_28_22_enc.sv
  hw/ip/prim/rtl/prim_secded_39_32_enc.sv
  hw/ip/prim/rtl/prim_secded_64_57_enc.sv
  hw/ip/prim/rtl/prim_secded_72_64_enc.sv
  hw/ip/prim/rtl/prim_secded_hamming_22_16_enc.sv
  hw/ip/prim/rtl/prim_secded_hamming_39_32_enc.sv
  hw/ip/prim/rtl/prim_secded_hamming_72_64_enc.sv
  hw/ip/prim/rtl/prim_secded_hamming_76_68_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_22_16_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_28_22_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_39_32_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_64_57_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_72_64_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_hamming_22_16_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_hamming_39_32_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_hamming_72_64_enc.sv
  hw/ip/prim/rtl/prim_secded_inv_hamming_76_68_enc.sv
  hw/ip/prim/rtl/prim_secded_pkg.sv
  util/design/secded_gen.py
Labels: Component:Tooling, Component:RTL

#11912 [doc] Add aliases for moved Getting Started pages.
  doc/getting_started/_index.md
  doc/getting_started/build_sw.md
  doc/getting_started/setup_dv.md
  doc/getting_started/setup_formal.md
  doc/getting_started/setup_fpga.md
  doc/getting_started/setup_verilator.md
Labels: Component:Doc

#11903 [bazel] fix aes_testutils target
  sw/device/lib/testing/BUILD
  sw/device/tests/BUILD
Labels: Component:Software, Component:Tooling, Type:Cleanup

#11841 [present] Rewrite TB to avoid non-freely licensed code
  hw/dv/sv/mem_bkdr_util/otp_scrambler_pkg.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
  hw/ip/prim/dv/prim_present/crypto_dpi_present/boxes.inc
  hw/ip/prim/dv/prim_present/crypto_dpi_present/comline.inc
  hw/ip/prim/dv/prim_present/crypto_dpi_present/crypto_dpi_present.c
  hw/ip/prim/dv/prim_present/crypto_dpi_present/crypto_dpi_present.cc
  hw/ip/prim/dv/prim_present/crypto_dpi_present/crypto_dpi_present.core
  hw/ip/prim/dv/prim_present/crypto_dpi_present/crypto_dpi_present_pkg.sv
  hw/ip/prim/dv/prim_present/crypto_dpi_present/present.inc
  hw/ip/prim/dv/prim_present/crypto_dpi_present/verbose.inc
  hw/ip/prim/dv/prim_present/tb/prim_present_tb.sv
Labels: Component:DV, Type:Cleanup, IP:prim

#11978 [doc] Simplify example for building the Verilator model
  doc/getting_started/setup_verilator.md
Labels: Component:Doc, Type:Cleanup

#11974 [python] Bump fusesoc/edalize versions
  python-requirements.txt
Labels: Component:Tooling, Type:Cleanup

#11958 [ci] Store old versions of bitstream on GCP
  azure-pipelines.yml
  ci/gcp-upload-bitstream-template.yml
Labels: Component:CI

#11961 [bazel] add script to prep for offline bazel builds
  util/prep-bazel-airgapped-build.sh
Labels: Component:Tooling, Priority:P1

#11969 [lc_ctrl] Add more details to countermeasure testplan
  hw/ip/lc_ctrl/data/lc_ctrl_sec_cm_testplan.hjson
Labels: Component:DV, IP:lc_ctrl

#11992 [tlul,lint] Tell verilator to split some signals in tlul_lc_gate.sv
  hw/ip/tlul/lint/tlul_lc_gate.vlt
  hw/ip/tlul/tlul_lc_gate.core
Labels: Type:Cleanup, Component:RTL

#11983 [rom_ctrl,rtl] Tweak extraction of in_state_done to avoid lint error
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Type:Cleanup, Component:RTL, IP:rom_ctrl

#11991 [ast,lint] Fix a couple of Verilator lint warnings
  hw/top_earlgrey/ip/ast/lint/ast.vlt
Labels: Type:Cleanup, Component:RTL, IP:ast

#11997 [tlul_lc_gate] Use prim_blanker instead of muxes and buffers
  hw/ip/tlul/rtl/tlul_lc_gate.sv
  hw/ip/tlul/tlul_lc_gate.core
Labels: Component:RTL

#11970 [lc_ctrl] Ensure inconsistent token mux triggers TRANSITION_ERROR
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL, IP:lc_ctrl

#12004 [reggen] Move shadow register error aggregation into reg_top
  hw/ip/aes/rtl/aes.sv
  hw/ip/aes/rtl/aes_core.sv
  hw/ip/aes/rtl/aes_reg_pkg.sv
  hw/ip/aes/rtl/aes_reg_top.sv
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/ip/flash_ctrl/data/flash_ctrl.sv.tpl
  hw/ip/flash_ctrl/data/flash_ctrl_region_cfg.sv.tpl
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_pkg.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_region_cfg.sv
  hw/ip/keymgr/rtl/keymgr.sv
  hw/ip/keymgr/rtl/keymgr_reg_pkg.sv
  hw/ip/keymgr/rtl/keymgr_reg_top.sv
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_reg_pkg.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/ip_templates/alert_handler/rtl/alert_handler_reg_wrap.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_pkg.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_pkg.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_region_cfg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_wrap.sv
  util/reggen/reg_pkg.sv.tpl
  util/reggen/reg_top.sv.tpl
Labels: Component:Tooling, Type:Cleanup, Component:RTL

#12034 [rom_ctrl,rtl] Tighten up expression for counter_data_rdy
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Type:Cleanup, Component:RTL, IP:rom_ctrl

#12047 [prim] Stub out guts of prim_cdc_rand_delay for Verilator
  hw/ip/prim/lint/prim_cdc_rand_delay.vlt
  hw/ip/prim/prim_cdc_rand_delay.core
Labels: Component:DV, Type:Cleanup, IP:prim

#12040 [rom_ctrl,dv] Wait for the right time before predicting an alert
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_kmac_err_chk_vseq.sv
Labels: Component:DV, Type:Cleanup, IP:rom_ctrl, Milestone:V2S

#12039 [kmac_app_agent] Support hosts that don't spot constant shares
  hw/dv/sv/kmac_app_agent/kmac_app_agent_cfg.sv
  hw/dv/sv/kmac_app_agent/kmac_app_item.sv
  hw/dv/sv/kmac_app_agent/seq_lib/kmac_app_device_seq.sv
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_cfg.sv
Labels: Component:DV, Type:Bug, IP:rom_ctrl, Milestone:V2S

#12057 [prim_onehot_check] Add lint waivers
  hw/ip/prim/lint/prim_onehot_check.vlt
  hw/ip/prim/lint/prim_onehot_check.waiver
  hw/ip/prim/prim_onehot_check.core
Labels: Component:RTL

#11826 [sw,tests] Enter RMA LC_STATE and check flash access and wipe
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util__otp.sv
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_flash_rma_unlocked_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/lib/testing/check.h
  sw/device/lib/testing/flash_ctrl_testutils.c
  sw/device/lib/testing/flash_ctrl_testutils.h
  sw/device/tests/sim_dv/flash_rma_unlocked_test.c
  sw/device/tests/sim_dv/meson.build
Labels: Component:DV, Component:Software, Priority:P1, Milestone:V2

#12073 [bazel] restrict specific to chip-level tests to DV sim
  sw/device/tests/sim_dv/BUILD
Labels: Component:Software, Type:Cleanup, SW:Build System

#12080 [bazel] fix `bazel build //...` until #11968 is resolved
  third_party/riscv-compliance/defs.bzl
Labels: Component:Software, Type:Bug, SW:Build System

#12076 [util/make_new_dif] enable processing top reggen modules
  util/make_new_dif.py
  util/make_new_dif/ip.py
  util/topgen/lib.py
Labels: Component:Software, Component:Tooling, Priority:P0, Type:Bug, SW:DIF

#12091 [bazel] add `pip_wheel` repository rule
  BUILD.bazel
  third_party/python/BUILD
  third_party/python/gen_requirements.sh
  third_party/python/pip.bzl
  third_party/python/repos.bzl
  util/prep-bazel-airgapped-build.sh
Labels: Component:Tooling, Priority:P0, Type:Enhancement, SW:Bazel Adoption Requirement, SW:Build System

#12078 [prim_onehot_check] Add address-based check
  hw/ip/prim/lint/prim_onehot_check.vlt
  hw/ip/prim/prim_onehot_check.core
  hw/ip/prim/rtl/prim_onehot_check.sv
Labels: Component:RTL

#12098 [doc] Update documentation for downloading bitstreams from GCP
  doc/getting_started/setup_fpga.md
Labels: Component:Doc

#12097 [ci] Latency optimizations
  azure-pipelines.yml
Labels: Component:CI

#12119 [xcelium] Pass cov_merge_db_dir through to cov_report.tcl
  hw/dv/tools/xcelium/cov_report.tcl
Labels: Component:Tooling, Type:Bug

#12108 [prim_present] Add Verilator lint waiver
  hw/ip/prim/lint/prim_cipher.vlt
  hw/ip/prim/prim_cipher.core
Labels: Component:RTL

#12136 [sw/tests] fix missing symbols in tests that run from ROM
  sw/device/tests/meson.build
Labels: SW:Build System

#12138 [bazel] cleanup `pip_wheel` rule to need fewer env vars
  third_party/python/pip.bzl
Labels: Type:Cleanup, SW:Bazel Adoption Requirement, SW:Build System

#12146 [usbuart] Remove this IP since it is no longer maintained
  hw/Makefile
  hw/formal/rtl_diff_all
  hw/formal/tools/jaspergold/fpv.tcl
  hw/formal/tools/vcformal/fpv.tcl
  hw/ip/BUILD
  hw/ip/usbdev/usbdev.core
  hw/ip/usbuart/BUILD
  hw/ip/usbuart/data/BUILD
  hw/ip/usbuart/data/usbuart.hjson
  hw/ip/usbuart/data/usbuart_sec_cm_testplan.hjson
  hw/ip/usbuart/doc/_index.md
  hw/ip/usbuart/doc/block_diagram.svg
  hw/ip/usbuart/dv/sva/usbuart_bind.sv
  hw/ip/usbuart/dv/sva/usbuart_sva.core
  hw/ip/usbuart/lint/usbuart.vlt
  hw/ip/usbuart/lint/usbuart.waiver
  hw/ip/usbuart/rtl/rising_edge_detector.sv
  hw/ip/usbuart/rtl/usb_serial_ctrl_ep.sv
  hw/ip/usbuart/rtl/usb_serial_fifo_ep.sv
  hw/ip/usbuart/rtl/usbuart.sv
  hw/ip/usbuart/rtl/usbuart_core.sv
  hw/ip/usbuart/rtl/usbuart_reg_pkg.sv
  hw/ip/usbuart/rtl/usbuart_reg_top.sv
  hw/ip/usbuart/rtl/usbuart_usbif.sv
  hw/ip/usbuart/usbuart.core
  hw/top_earlgrey/lint/top_earlgrey_lint_cfgs.hjson
  util/build_docs.py
  util/licence-checker.hjson
  util/verible-format-allowlist.txt
Labels: IP:usbuart

#12027 [sysrst_ctrl] improve interrupt synchronization scheme
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl.sv
  hw/ip/sysrst_ctrl/sysrst_ctrl.core
Labels: IP:sysrst_ctrl

#12189 [ottf] add non-volatile scratch region
  sw/device/lib/testing/test_framework/ottf.ld
  sw/device/lib/testing/test_framework/ottf_macros.h
  sw/device/tests/example_test_from_flash.c
Labels: Component:Software, Priority:P0, Type:Enhancement, SW:OTTF

#12177 [doc] Minor fix in Verilator docs
  doc/getting_started/setup_verilator.md
Labels: Component:Doc

#12213 [rv_core_ibex] Update docs
  hw/ip/rv_core_ibex/doc/_index.md
Labels: Component:Doc

#12031 [lc_ctrl] Make RMA and token checks more robust
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL, IP:lc_ctrl

#12218 [lc_ctrl] Reverse prio between local and global esc
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL, IP:lc_ctrl, Milestone:V2S

#12228 [lc_ctrl] Correct escalation logic
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL, IP:lc_ctrl

#12165 [ci] Enable bazel remote caching
  azure-pipelines.yml
  ci/scripts/quick-bazel.sh
Labels: Component:CI, SW:Build System

#12245 [usbdev] Co-locate all USB files under hw/ip/usbdev/
  hw/ip/BUILD
  hw/ip/usb_fs_nb_pe/BUILD
  hw/ip/usbdev/lint/usb_fs_nb_pe.vlt
  hw/ip/usbdev/lint/usb_fs_nb_pe.waiver
  hw/ip/usbdev/rtl/usb_consts_pkg.sv
  hw/ip/usbdev/rtl/usb_fs_nb_in_pe.sv
  hw/ip/usbdev/rtl/usb_fs_nb_out_pe.sv
  hw/ip/usbdev/rtl/usb_fs_nb_pe.sv
  hw/ip/usbdev/rtl/usb_fs_rx.sv
  hw/ip/usbdev/rtl/usb_fs_tx.sv
  hw/ip/usbdev/rtl/usb_fs_tx_mux.sv
  hw/ip/usbdev/rtl/usbdev_iomux.sv
  hw/ip/usbdev/usb_fs_nb_pe.core
  hw/top_earlgrey/lint/top_earlgrey_lint_cfgs.hjson
Labels: Type:Cleanup, Component:RTL

#12244 [lc_ctrl] Add linear control flow SVA property
  hw/ip/lc_ctrl/lc_ctrl.core
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_signal_decode.sv
  hw/top_earlgrey/formal/top_earlgrey_fpv_cfgs.hjson
Labels: IP:lc_ctrl

#12235 [bazel] add bazel rules for OTBN tools
  hw/ip/otbn/util/BUILD
  hw/ip/otbn/util/shared/BUILD
  util/serialize/BUILD
Labels: Component:Tooling, Priority:P0, IP:otbn, SW:Bazel Adoption Requirement, SW:Build System

#12266 [sysrst_ctrl] Refine GSC reset behavior and associated testplan item
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_comboact.sv
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:RTL, IP:sysrst_ctrl

#12298 [flash_ctrl/docs] Fix a few typos
  hw/ip/flash_ctrl/doc/_index.md
Labels: Component:Doc, IP:flash_ctrl

#12300 [kmac] Include comportable IP waivers
  hw/ip/kmac/kmac.core
Labels: IP:kmac

#12294 [ci] Modify Bazel timeouts to reduce test failures
  azure-pipelines.yml
  ci/.bazelrc
Labels: Component:CI, SW:Build System

#12316 [flash_ctrl] RTL fix for DC elab failure
  hw/ip/flash_ctrl/rtl/flash_phy_core.sv
Labels: Priority:P0, Type:Bug, Component:RTL, IP:flash_ctrl

#12303 [dif/sysrst_ctrl] add initial header
  sw/device/lib/dif/dif_sysrst_ctrl.h
Labels: Priority:P1, IP:sysrst_ctrl, SW:DIF, Milestone:V2

#12304 [dif/sysrst_ctrl] Add remaining DIFs to header.
  sw/device/lib/dif/dif_sysrst_ctrl.h
Labels: Priority:P1, IP:sysrst_ctrl, SW:DIF, Milestone:V2

#12329 [ci] Remove the apt installation of bazel
  ci/install-package-dependencies.sh
Labels: Priority:P2, Component:CI, SW:Build System

#11979 [ci] Move duplicated "synthesize with Vivado" logic into a script
  azure-pipelines.yml
  ci/scripts/build-bitstream-vivado.sh
Labels: Type:Cleanup, Component:CI

#12214 [verible] Update verible version
  azure-pipelines.yml
  tool_requirements.py
  util/container/Dockerfile
Labels: Component:Tooling

#12358 [lc_ctrl/doc] Fix in system integration diagram
  hw/ip/lc_ctrl/doc/lc_ctrl_system_view.svg
Labels: Component:Doc, IP:lc_ctrl

#12359 [dif/sysrst_ctrl] add build files and some implmenentation
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/dif_sysrst_ctrl.c
  sw/device/lib/dif/dif_sysrst_ctrl.h
  sw/device/lib/dif/dif_sysrst_ctrl_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Priority:P1, IP:sysrst_ctrl, SW:DIF, Milestone:V2

#12393 [doc] Refine description of D1 checklist item IP_INSTANTIABLE
  doc/project/checklist.md
Labels: Component:Doc

#12368 [ast] Lint fixes and waiver updates
  hw/ip/prim/rtl/prim_clock_div.sv
  hw/top_earlgrey/ip/ast/lint/ast.waiver
  hw/top_earlgrey/ip/ast/rtl/aon_osc.sv
  hw/top_earlgrey/ip/ast/rtl/ast.sv
  hw/top_earlgrey/ip/ast/rtl/ast_clks_byp.sv
  hw/top_earlgrey/ip/ast/rtl/io_osc.sv
  hw/top_earlgrey/ip/ast/rtl/rglts_pdm_3p3v.sv
  hw/top_earlgrey/ip/ast/rtl/sys_osc.sv
  hw/top_earlgrey/ip/ast/rtl/usb_osc.sv
Labels: Component:RTL, IP:ast

#12408 [prim_assert] Fix assertion include order
  hw/ip/prim/rtl/prim_assert.sv
Labels: Component:FPV

#12402 [bazel] Allow configurable test runners in opentitan_functest
  rules/opentitan_test.bzl
Labels: Component:Software, SW:Build System

#12366 [dif/sysrst_ctrl] implement remaining config DIFs
  sw/device/lib/dif/dif_sysrst_ctrl.c
  sw/device/lib/dif/dif_sysrst_ctrl.h
  sw/device/lib/dif/dif_sysrst_ctrl_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Priority:P1, IP:sysrst_ctrl, SW:DIF, Milestone:V2

#12409 [top] Remove NexysVideo pinout configuration and files
  hw/top_earlgrey/chip_earlgrey_nexysvideo.core
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/pins_nexysvideo.xdc
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/pinmux/doc/autogen/targets.md
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  util/topgen/gen_top_docs.py
Labels: Component:RTL, TOP:earlgrey
