Repository lowRISC/opentitan, pull requests merged in 2022-02, with the labels that each got.

#10481 [otbn,dv] Fix typo in DPI call error detection
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model_dpi.h
Labels: Component:DV, Type:Bug, Component:IP:otbn

#10394 [dv] Configure dvsim to run tests with mask ROM
  .gitignore
  hw/top_earlgrey/dv/chip_mask_rom_tests.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/chip_smoketests.hjson
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  sw/device/tests/meson.build
  sw/host/rom_ext_image_tools/signer/Cargo.lock
Labels: Component:Tooling

#10406 [otbn] Fix timing for ErrBitSetOnErr assertion
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#10508 [dv] Fix randomisation of lc_tx_t values
  hw/dv/sv/cip_lib/cip_base_pkg.sv
Labels: Component:DV, Type:Bug

#10361 [lc_ctrl/doc] Update checklist and move to D2S
  hw/ip/lc_ctrl/data/lc_ctrl.prj.hjson
  hw/ip/lc_ctrl/doc/checklist.md
Labels: Component:Doc

#10555 [prim_max_tree] Remove dedicated FPV TB since all SVAs are embedded
  hw/ip/prim/fpv/prim_max_tree_fpv.core
  hw/ip/prim/fpv/tb/prim_max_tree_bind_fpv.sv
  hw/ip/prim/fpv/tb/prim_max_tree_tb.sv
  hw/ip/prim/fpv/vip/prim_max_tree_assert_fpv.sv
  hw/ip/prim/prim_max_tree.core
  hw/top_earlgrey/formal/top_earlgrey_fpv_cfgs.hjson
  hw/top_earlgrey/lint/top_earlgrey_fpv_lint_cfgs.hjson
Labels: Component:FPV

#10444 [rom_ctrl] Squash ROM bus responses on an internal error
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Hotlist:Software Opinion, Type:Bug, Component:RTL

#10127 [otbn] Fix qualifying writes to registers by operational state
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Bug, Component:RTL

#10560 [lc_ctrl] Add MUBI-like functions to operate on lc_tx_t
  hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
Labels: Component:RTL, Component:Security, Component:IP:lc_ctrl, Component:IP:rv_core_ibex

#10609 [prim_flop_2sync] Make the prim a standard non-generated prim
  hw/ip/prim/lint/prim_flop_2sync.waiver
  hw/ip/prim/prim_flop_2sync.core
  hw/ip/prim/rtl/prim_flop_2sync.sv
  hw/ip/prim_generic/prim_generic_flop_2sync.core
Labels: Component:RTL

#10637 [sysrst_ctrl] Add some more details regarding combo actions
  hw/ip/sysrst_ctrl/doc/_index.md
Labels: Component:Doc, Component:IP:sysrst_ctrl

#10658 [tlul] Remove unused signal
  hw/ip/tlul/rtl/tlul_cmd_intg_chk.sv
Labels: Component:RTL, Component:IP:tlul

#10571 [otbn,dv] Fix assertion in RND FSM checking
  hw/ip/otbn/dv/uvm/env/otbn_rnd_if.sv
Labels: Component:DV, Type:Bug, Component:IP:otbn

#10669 [tlul] Return all-one upon all data read errors
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, Component:IP:tlul

#10645 [sw/test_rom] Add AST init to test ROM
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/test_rom_start.S
Labels: Component:SW, Priority:P1, Type:Enhancement

#10563 [sw/ottf] Rename test_rom_ext to ottf_start
  hw/top_englishbreakfast/util/sw_sources.patch
  rules/opentitan.bzl
  sw/device/benchmarks/coremark/meson.build
  sw/device/examples/hello_usbdev/BUILD
  sw/device/examples/hello_usbdev/meson.build
  sw/device/examples/hello_world/BUILD
  sw/device/examples/hello_world/meson.build
  sw/device/lib/testing/meson.build
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/meson.build
  sw/device/lib/testing/test_framework/ottf.c
  sw/device/lib/testing/test_framework/ottf.ld
  sw/device/lib/testing/test_framework/ottf_start.S
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/test_rom.c
  sw/device/lib/testing/test_rom/test_rom.ld
  sw/device/lib/testing/test_rom_ext/BUILD
  sw/device/lib/testing/test_rom_ext/empty.c
  sw/device/lib/testing/test_rom_ext/meson.build
  sw/device/riscv_compliance_support/meson.build
  sw/device/sca/lib/meson.build
  sw/device/sca/meson.build
  sw/device/silicon_creator/mask_rom/meson.build
  sw/device/silicon_creator/rom_ext/meson.build
  sw/device/silicon_creator/testing/meson.build
  sw/device/silicon_owner/bare_metal/meson.build
  sw/device/tests/crt_test.c
  sw/device/tests/meson.build
  sw/vendor/patches/riscv_compliance/0002-Add-OpenTitan-target.patch
  sw/vendor/patches/riscv_compliance/0005-verilator-Rename-top_-chip_.patch
  sw/vendor/riscv_compliance/riscv-target/opentitan/device/rv32imc/Makefile.include
Labels: Component:SW, Component:Tooling, Type:Cleanup

#10706 [top/chip/syn] Remove AST_BYPASS_CLK define in ASIC target
  hw/top_earlgrey/chip_earlgrey_asic.core
  hw/top_earlgrey/top_earlgrey.core
Labels: Component:RTL, TOP:earlgrey, IP:ast

#10707 [syn] Update SDC constraints for USB
  hw/top_earlgrey/syn/chip_earlgrey_asic.sdc
Labels: Component:Tooling, Component:RTL, IP:prim

#10684 [sw/rom] Remove print statements from mask_rom.
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/lib/meson.build
  sw/device/silicon_creator/lib/shutdown.c
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/silicon_creator/mask_rom/mask_rom.c
  sw/device/silicon_creator/mask_rom/meson.build
Labels: SW:Mask ROM

#10720 [reggen] Add unused_ signal for clk/rst when just one window
  hw/ip/rom_ctrl/rtl/rom_ctrl_rom_reg_top.sv
  hw/ip/rv_dm/rtl/rv_dm_rom_reg_top.sv
  util/reggen/reg_top.sv.tpl
Labels: Component:Tooling, Type:Cleanup

#10666 [sw/ottf] Add manifest to OTTF so mask ROM can (eventually) boot it
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/ottf.c
  sw/device/lib/testing/test_framework/ottf.ld
  sw/device/lib/testing/test_framework/ottf_start.S
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/bootstrap.c
  sw/device/lib/testing/test_rom/test_rom.c
  sw/device/lib/testing/test_rom/test_rom.ld
  sw/device/silicon_creator/lib/BUILD
Labels: Component:SW, Type:Enhancement

#10719 [rom_ctrl] Connect up error signal from KMAC
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Type:Bug, Component:RTL, IP:rom_ctrl, Milestone:D2

#10746 [otbn,dv] Avoid a 1-cycle race window in otbn_imem_err_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#10771 [util] Update check_dif_statuses.py script to un-break it
  sw/device/lib/dif/dif_alert_handler.h
  util/check_dif_statuses.py
Labels: Component:SW, Component:Tooling, Priority:P3, Type:Bug

#10820 [tlul] Send blanking data unless we have rdata in tlul_adapter_sram
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Type:Bug, IP:tlul

#10827 [prim_flop_en] Dependency fix
  hw/ip/prim_generic/prim_generic_flop_en.core
Labels: Priority:P1, Type:Bug, Component:RTL

#10834 [rv_dm] Enumerate all countermeasure IDs and annotate RTL
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_dm/data/rv_dm_sec_cm_testplan.hjson
  hw/ip/rv_dm/rtl/rv_dm.sv
Labels: Priority:P1, Component:RTL, IP:rv_dm, Milestone:D2S

#10777 [dif] Update DIF milestones and requirements
  doc/project/checklist.md
  doc/project/sw_checklist.md.tpl
  util/make_new_dif.py
Labels: Component:Doc, Priority:P1, Type:Cleanup, SW:DIF

#10877 [bazel] change name of mask ROM keys bazel build target
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/silicon_creator/mask_rom/keys/BUILD
Labels: Component:SW, Component:Tooling, Priority:P1

#10829 [otbn,dv] Include pending stores in ISS DMEM dumps
  hw/ip/otbn/dv/otbnsim/sim/dmem.py
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#10754 [otbn] Don't send RND requests on an IMEM error
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#10993 [aes] Allow de-asserting EDN request upon fatal alerts
  hw/ip/aes/rtl/aes.sv
Labels: IP:aes, Milestone:V2

#11008 Remove incorrect byte count from comment
  sw/otbn/crypto/p384_verify.s
Labels: Component:SW, Type:Bug, IP:otbn

#11009 [kmac,dv] Remove assertion about last signal
  hw/dv/sv/kmac_app_agent/kmac_app_intf.sv
Labels: Component:DV, Type:Bug, IP:kmac

#11013 [otbn,dv] Define coverage for pairwise instruction mnemonics
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, Type:Enhancement, IP:otbn, Milestone:V2

#10548 [mask_rom/e2e_tests] Mask ROM E2E testplan
  hw/top_earlgrey/data/chip_testplan.hjson
  sw/device/silicon_creator/mask_rom/e2e_tests/mask_rom_e2e_testplan.hjson
Labels: Component:SW, Type:Task, SW:Mask ROM, Milestone:V2

#11033 [otbn,dv] Bump some reseed counts as discussed in V2 meeting
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, IP:otbn, Milestone:V2

#10994 [opentitanlib] Adds session proxy communication protocol
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/io/spi.rs
  sw/host/opentitanlib/src/lib.rs
  sw/host/opentitanlib/src/proxy/mod.rs
  sw/host/opentitanlib/src/proxy/protocol.rs
  sw/host/opentitanlib/src/util/voltage.rs
Labels: Component:SW, Priority:P3, Type:Enhancement, SW:opentitantool

#10943 [sram_ctrl] Align behavior of global and local escalation
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
Labels: Type:Bug, Component:RTL, IP:sram_ctrl

#11050 [sram_ctrl] Update docs
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/doc/_index.md
Labels: Component:Doc, IP:sram_ctrl

#11027 [otp_ctrl/lc_ctrl] Fix VCS ENUMASSIGN warnings
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_decode.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
Labels: Component:RTL, IP:lc_ctrl, IP:otp_ctrl

#10996 [aes] Make IV register readable for software
  hw/ip/aes/data/aes.hjson
  hw/ip/aes/data/aes_sec_cm_testplan.hjson
  hw/ip/aes/rtl/aes.sv
  hw/ip/aes/rtl/aes_reg_top.sv
Labels: Priority:P1, IP:aes

#10164 [meson,sw] Support Meson build on MacOS
  .github/CODEOWNERS
  BUILD.bazel
  sw/device/lib/dif/dif_keymgr_unittest.cc
  sw/device/lib/dif/dif_kmac_unittest.cc
  sw/device/lib/dif/dif_pwrmgr_unittest.cc
  sw/device/sca/lib/prng_unittest.cc
  sw/device/silicon_creator/lib/drivers/flash_ctrl_unittest.cc
  sw/device/silicon_creator/lib/drivers/watchdog_unittest.cc
  sw/device/silicon_creator/lib/epmp_unittest.cc
  sw/device/silicon_creator/lib/shutdown_unittest.cc
  sw/device/silicon_creator/lib/sigverify_unittest.cc
  sw/device/silicon_creator/mask_rom/sigverify_keys_unittest.cc
  sw/device/silicon_creator/rom_ext/rom_ext_common.ld
  sw/device/silicon_owner/bare_metal/bare_metal_common.ld
Labels: Component:SW

#10868 [rv_dm] Move to D2S
  hw/ip/rv_dm/data/rv_dm.prj.hjson
Labels: Component:Doc, IP:rv_dm, Milestone:D2S

#11028 [util] Add templates to autogen ISR testutils
  util/autogen_testutils.py
  util/autogen_testutils/isr_testutils.c.tpl
  util/autogen_testutils/isr_testutils.h.tpl
  util/autogen_testutils/meson.build.tpl
Labels: Component:SW, Priority:P1, Type:Enhancement, Milestone:V2

#11023 [opentitantool] Proxy transport implementation
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/backend/mod.rs
  sw/host/opentitanlib/src/backend/proxy.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitanlib/src/transport/mod.rs
  sw/host/opentitanlib/src/transport/proxy/gpio.rs
  sw/host/opentitanlib/src/transport/proxy/i2c.rs
  sw/host/opentitanlib/src/transport/proxy/mod.rs
  sw/host/opentitanlib/src/transport/proxy/spi.rs
  sw/host/opentitanlib/src/transport/proxy/uart.rs
  sw/host/opentitantool/src/main.rs
Labels: Component:SW, Priority:P3, Type:Enhancement, SW:opentitantool

#11083 [sw/test_rom] Re-enable SW-gateable clocks after reset
  hw/ip/clkmgr/data/BUILD
  hw/top_englishbreakfast/util/sw_sources.patch
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/test_rom_start.S
Labels: Component:SW, Priority:P1, Type:Bug, Milestone:V2

#11089 [otbn,rtl] Remove (unused) part of decoder supporting AUIPC
  hw/ip/otbn/rtl/otbn_decoder.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#11067 [otbn,dv] Extend window at end of IMEM error sequence
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11101 [rv_dm] Wire up debug memory byte write mask
  hw/ip/rv_dm/rtl/rv_dm.sv
Labels: Component:RTL, IP:rv_dm

#11104 [bazel] Fix bug in opentitan_functest
  rules/opentitan.bzl
Labels: Component:Tooling, Priority:P1, Type:Bug

#11107 [ci] Disable the verible format job
  azure-pipelines.yml
  ci/jobs/quick-lint.sh
Labels: Type:Cleanup, Component:CI

#11115 [tlul_sram_byte] Fix width mismatch
  hw/ip/tlul/rtl/tlul_sram_byte.sv
Labels: Component:RTL, IP:tlul
