Repository lowRISC/opentitan, pull requests merged in 2022-09, with the labels that each got.

#14639 [flash_ctrl] Use comportable channels for alerts emanating from prim_flash
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/flash_ctrl/data/flash_ctrl.sv.tpl
  hw/ip/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/ip/flash_ctrl/dv/env/flash_ctrl_if.sv
  hw/ip/flash_ctrl/dv/tb/tb.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_core_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_prim_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_pkg.sv
  hw/ip/flash_ctrl/rtl/flash_phy.sv
  hw/ip/prim_generic/rtl/prim_generic_flash.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_core_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_prim_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_pkg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/data/top_earlgrey_alert_handler.ipconfig.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  sw/device/lib/dif/autogen/dif_flash_ctrl_autogen.c
  sw/device/lib/dif/autogen/dif_flash_ctrl_autogen.h
  sw/device/lib/dif/autogen/dif_flash_ctrl_autogen_unittest.cc
  sw/device/tests/autogen/alert_test.c
  util/topgen/templates/chiplevel.sv.tpl
Labels: IP:flash_ctrl

#14697 [ci] Add OS version to action key in CI
  ci/bazelisk.sh
Labels: Component:CI, SW:Build System

#14630 [ci] Build CW310 hyperdebug bitstream for master
  azure-pipelines.yml
Labels: Component:CI

#14716 [top] Add a SV enum for enumerating alerts
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  util/topgen/templates/toplevel_pkg.sv.tpl
Labels: Component:RTL, TOP:earlgrey

#14729 [rules] Avoid new bitstreams in the cache for now
  rules/scripts/bitstreams_workspace.py
Labels: Component:Tooling, Priority:P0

#14702 [otbn,dv] Fix `OTBNState.stop()` before initial secure wipe is done
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, IP:otbn, Milestone:V2S

#14738 [docker] Bump Docker image to Ubuntu 20.04
  util/container/Dockerfile
Labels: Priority:P1, Component:CI, Status:Ready to merge

#14737 [dv/sensor_ctrl] Fix alert for WE_ONEHOT_ERROR assertion
  hw/top_earlgrey/ip/sensor_ctrl/rtl/sensor_ctrl.sv
Labels: Component:DV

#14722 [lc_ctrl] Fix for unconnected WE checker on tap side
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
Labels: Type:Bug, IP:lc_ctrl

#14730 [reggen] insert register overview table
  util/reggen/gen_html.py
  util/reggen/html_helpers.py
Labels: Component:Doc, Tool:reggen

#13680 [otp_ctrl] Update checklist and move to D3
  hw/ip/otp_ctrl/data/otp_ctrl.prj.hjson
  hw/ip/otp_ctrl/doc/checklist.md
Labels: IP:otp_ctrl, Milestone:D3

#14573 [otbn,dv] Add rf_base_we_err to bad_internal_cg
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_if.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, IP:otbn, Milestone:V2S

#14521 [bazel] add slot management to `opentitan_functest` macro
  rules/opentitan_test.bzl
  sw/device/examples/hello_usbdev/BUILD
  sw/device/examples/hello_world/BUILD
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/ottf_common.ld
  sw/device/sca/BUILD
  sw/device/sca/lib/BUILD
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/device/silicon_creator/rom/e2e/rom_e2e_shutdown_exception_c_test.c
  sw/device/silicon_creator/rom_ext/rom_ext_common.ld
  sw/device/tests/BUILD
Labels: Type:Enhancement, SW:OTTF, SW:Build System

#14691 [bazel] fix airgapped prep script
  util/prep-bazel-airgapped-build.sh
Labels: SW:Build System

#14779 [test] Update rom_e2e_asm_init test point
  sw/device/silicon_creator/rom/data/rom_testplan.hjson
Labels: Component:DV

#14786 [test] Add extended range clock frequency testpoint
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV, IP:ast

#14794 Fix common typos of "partition"
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_partition_walk_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  sw/device/lib/dif/dif_otp_ctrl.h
  sw/device/tests/sim_dv/lc_ctrl_kmac_reset_test.c
  sw/device/tests/sim_dv/lc_ctrl_transition_impl.c
  sw/host/opentitanlib/src/otp/otp_mmap.rs
  sw/host/opentitanlib/src/otp/vmem_serialize.rs
  util/design/lib/OtpMemMap.py
Labels: Type:Cleanup, Status:Ready to merge

#14651 [otbn,rtl] Ignore bignum `rd` indirect error on call stack error
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, IP:otbn, Milestone:V2S, Status:Ready to merge

#14743 [bazel] reduce SW images that are built based on device
  rules/opentitan.bzl
  rules/opentitan_test.bzl
Labels: Type:Cleanup, Type:Enhancement, SW:Build System

#14796 [test] Add concurrency and power scenarios to chip-level tests
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV

#14725 [sensor_ctrl] Move to D3
  hw/top_earlgrey/ip/sensor_ctrl/data/sensor_ctrl.prj.hjson
  hw/top_earlgrey/ip/sensor_ctrl/doc/checklist.md
Labels: TOP:earlgrey, IP:ast, Milestone:D3

#14810 [doc] Replace `find` with `bazelisk.sh outquery`
  doc/getting_started/build_sw.md
  doc/getting_started/setup_fpga.md
  doc/getting_started/setup_verilator.md
Labels: Component:Doc, Status:Ready to merge

#14807 [bazel] Silence outquery's info + progress output
  bazelisk.sh
Labels: Component:Doc, Status:Ready to merge

#14822 [doc] Add lightweight threat model
  _index.md
  doc/security/_index.md
  doc/security/threat_model/index.md
Labels: Component:Doc

#14802 Fix various typos in Markdown files
  doc/getting_started/_index.md
  doc/getting_started/build_sw.md
  doc/getting_started/setup_dv.md
  doc/getting_started/setup_fpga.md
  doc/project/checklist.md
  doc/project/committers.md
  doc/project/development_stages.md
  doc/project/rfc_process.md
  doc/rm/comportability_specification/index.md
  doc/rm/ipgen_tool.md
  doc/rm/register_tool/index.md
  doc/rm/topgen_tool.md
  doc/rm/vendor_in_tool.md
  doc/security/implementation_guidelines/hardware/index.md
  doc/security/specs/identities_and_root_keys/_index.md
  doc/security/specs/secure_boot/index.md
  doc/sg/asm_coding_style.md
  doc/sg/c_cpp_coding_style.md
  doc/sg/otbn_style_guide.md
  doc/sg/python_coding_style.md
  doc/ug/bazel_notes.md
  doc/ug/directory_structure.md
  doc/ug/dv_methodology/index.md
  doc/ug/github_notes.md
  doc/ug/sec_cm_dv_framework/index.md
  doc/use_cases/_index.md
  hw/dv/sv/cip_lib/doc/index.md
  hw/dv/sv/common_ifs/index.md
  hw/dv/sv/csr_utils/doc/index.md
  hw/dv/sv/mem_model/doc/index.md
  hw/dv/sv/sim_sram/doc/index.md
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_base_vseq.sv
  sw/_index.md
  util/dvsim/doc/testplanner.md
  util/i2csvg/README.md
  util/uvmdvgen/doc/index.md
Labels: Component:Doc, Type:Cleanup

#13991 [CDC/PRIM] Updated prim_fifo_sync in depth = 0
  hw/ip/prim/rtl/prim_fifo_async.sv
  hw/ip/tlul/rtl/tlul_fifo_async.sv
Labels: Status:Ready to merge

#14852 [dv,top] Fix chip_sw_aon_timer_irq
  sw/device/tests/aon_timer_irq_test.c
Labels: Component:Software

#14870 [util] Fix extract_sw_logs.py
  rules/opentitan.bzl
  sw/device/lib/testing/test_framework/ottf_common.ld
  util/device_sw_utils/extract_sw_logs.py
Labels: Component:DV, Component:Software, Component:Tooling, Priority:P2, Type:Bug

#14681 [otp_ctrl/dif] Fix up lock reg handling
  sw/device/lib/dif/dif_otp_ctrl.c
  sw/device/lib/dif/dif_otp_ctrl.h
  sw/device/lib/dif/dif_otp_ctrl_unittest.cc
Labels: Component:Software, Priority:P1, IP:otp_ctrl, SW:DIF

#14661 [doc] Update commands for connecting to FPGA with OpenOCD
  doc/getting_started/setup_fpga.md
Labels: Component:Doc, Status:Ready to merge

#14901 [otbn,dv] Fix OTBN tests for xlm
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_ctrl_redun_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn

#14903 [test] Cross reference chip_sw_rstmgr_alert_info test
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV

#14924 [bazel] fix airgapped directory generation script
  util/prep-bazel-airgapped-build.sh
Labels: Priority:P0, Type:Bug, SW:Build System

#14906 [doc] Add more bazel usage notes (disk cache and worktrees)
  doc/ug/bazel_notes.md
Labels: Component:Doc

#14932 [doc] Add compiler notes for Verilator build
  doc/getting_started/setup_verilator.md
Labels: Component:Doc, Component:Tooling

#14933 [bazel,ottool] rollback #14860
  .bazelrc
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/chip/alert.rs
  sw/host/opentitanlib/src/chip/mod.rs
  third_party/rust/deps.bzl
Labels: Component:Software, Priority:P0, Type:Bug, SW:opentitantool, SW:Build System

#14938 [bazel] reduce number of bitstreams included in the airgapped image
  util/prep-bazel-airgapped-build.sh
Labels: Priority:P1, Type:Cleanup, SW:Build System

#14941 [python] pin package version numbers
  python-requirements.txt
Labels: Type:Cleanup, SW:Build System

#13859 [CDC][SPI] added synchronizer between sys_clk and spi_clk (option 2 + enhanced pulse_stretcher)
  hw/ip/spi_device/lint/spi_device.waiver
  hw/ip/spi_device/lint/spi_tpm.waiver
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/spi_device/rtl/spi_device_pkg.sv
  hw/ip/spi_device/rtl/spi_tpm.sv
Labels: Status:Ready to merge

#14977 [bazel] add SHAs for recently added crates
  third_party/rust/crates/crates.bzl
Labels: Component:Software, Priority:P0, Type:Bug, SW:Build System

#14916 [bazel,ottf] enable running OTTF tests at BL0
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/ottf_silicon_owner_a.ld
  sw/device/lib/testing/test_framework/ottf_silicon_owner_b.ld
  sw/device/lib/testing/test_framework/ottf_silicon_owner_virtual.ld
  sw/device/silicon_owner/bare_metal/BUILD
  sw/device/silicon_owner/bare_metal/empty_test.c
Labels: Component:Software, Type:Cleanup, SW:OTTF

#14862 [bazel/otp] Add Bazel rule to generate JSON file for OTP image
  hw/ip/otp_ctrl/data/BUILD
  rules/autogen.bzl
  rules/otp.bzl
Labels: Component:Software, SW:Build System, Status:Ready to merge, Component:RomE2eTest

#14980 [rom] update E2E testplan to reflect current efforts
  sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson
Labels: Type:Cleanup, Component:RomE2eTest

#14988 [test/rv_plic] Add a hart_id check to the test
  sw/device/tests/autogen/plic_all_irqs_test.c
  util/topgen/templates/plic_all_irqs_test.c.tpl
Labels: IP:rv_plic

#15024 [bazel] Use ROM in SRAM program test instead of Test ROM
  rules/opentitan_gdb_test.bzl
  sw/device/examples/sram_program/BUILD
Labels: SW:Build System, Status:Ready to merge, Component:RomE2eTest

#14970 [SYSRST_CTRL] Added sysrst_ctrl_ec_rst_l test in #14116 and #14119
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_sysrst_ctrl_ec_rst_l_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/sysrst_ctrl_ec_rst_l_test.c
Labels: Status:Ready to merge, Component:ChipLevelTest

#14993 [otbn,dv] Add dist to offset in sw_no_acc test
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_sw_no_acc_vseq.sv
Labels: Component:DV, Type:Enhancement, IP:otbn

#14947 [otbn,dv] Add assertions to check I/DMEM SEC_WIPE
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Type:Enhancement, IP:otbn

#14895 [otbn,dv] Update testplan for countermeasures
  hw/ip/otbn/data/otbn_sec_cm_testplan.hjson
Labels: Component:DV, IP:otbn, Milestone:V2S

#15108 [bazel] Reduce scope of Bazel repo clone for airgapped dir
  util/prep-bazel-airgapped-build.sh
Labels: Type:Enhancement, SW:Build System, Status:Ready to merge

#15091 [bazel] Refresh bitstreams cache before copying to airgapped dir
  util/prep-bazel-airgapped-build.sh
Labels: Type:Bug, SW:Build System, Status:Ready to merge

#15083 [bazel] Add 'build-then' command to bazelisk.sh
  bazelisk.sh
Labels: Type:Enhancement, SW:Build System, Status:Ready to merge

#15122 [otbn,dv] Initialize `insn_addr_cg`
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, IP:otbn

#15128 [top] Sync verilated earlgrey board model with others
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
Labels: Component:RTL, TOP:earlgrey

#15113 [rom/e2e] add smoke testpoint and map unmapped test in DV
  hw/top_earlgrey/dv/chip_rom_tests.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Type:Cleanup, SW:ROM, Milestone:V2, Component:ChipLevelTest

#15127 [lint] Make the flake8 check mandatory on CI
  azure-pipelines.yml
Labels: Priority:P3, Type:Cleanup, Component:CI

#15171 [dv,rom_e2e] update testplan to only track P1 tests in nightlies
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson
Labels: Component:Tooling, Type:Cleanup, Milestone:V2, Component:RomE2eTest

#15176 [ci] attempt to fix flakiness of bazel prefetch job
  third_party/python/pip.bzl
Labels: Type:Bug, Component:CI

#15168 [bazel] remove unused build targets
  rules/opentitan_test.bzl
  sw/host/opentitansession/BUILD
  sw/host/opentitantool/BUILD
Labels: Type:Cleanup

#14963 [dependabot] add dependabot config file
  dependabot.yml
Labels: Component:Software, Component:Tooling, Priority:P2, Type:Enhancement, SW:Build System

#15201 [test] Add rom_e2e_sigverify_key_auth
  rules/opentitan.bzl
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/device/silicon_creator/rom/keys/BUILD
  sw/device/silicon_creator/rom/keys/unauthorized_rsa_3072_exp_f4.der
  sw/device/silicon_creator/rom/keys/unauthorized_rsa_3072_exp_f4.pub.der
Labels: Component:Rom/E2e/Test
