Repository lowRISC/opentitan, pull requests merged in 2022-03, with the labels that each got.

#11065 [otbn,dv] Make sure we're writing bad data in otbn_*mem_err_vseq
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_dmem_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_imem_err_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11054 [opentitantool] Persistent session support
  sw/host/Cargo.toml
  sw/host/meson.build
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/Cargo.toml
  sw/host/opentitanlib/src/proxy/handler.rs
  sw/host/opentitanlib/src/proxy/mod.rs
  sw/host/opentitanlib/src/proxy/socket_server.rs
  sw/host/opentitansession/BUILD
  sw/host/opentitansession/Cargo.toml
  sw/host/opentitansession/meson.build
  sw/host/opentitansession/src/main.rs
  third_party/cargo/crates.bzl
  third_party/cargo/remote/BUILD.mio-0.7.14.bazel
  third_party/cargo/remote/BUILD.mio-signals-0.1.5.bazel
  third_party/cargo/remote/BUILD.miow-0.3.7.bazel
Labels: Component:Software, Priority:P3, Type:Enhancement, SW:opentitantool

#11175 [otp_ctrl] Initialize noce/key regs with RndCnst instead of all-zero
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_pkg.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_rnd_cnst_pkg.sv
Labels: Component:RTL, Component:Security, IP:otp_ctrl

#11128 [dif/pwm] Add autogen, header, and checklist
  sw/device/lib/dif/autogen/dif_pwm_autogen.c
  sw/device/lib/dif/autogen/dif_pwm_autogen.h
  sw/device/lib/dif/autogen/dif_pwm_autogen_unittest.cc
  sw/device/lib/dif/dif_pwm.h
  sw/device/lib/dif/dif_pwm.md
Labels: Component:Software, Priority:P0, Type:Enhancement, SW:DIF, Milestone:V2

#11177 [entropy_src/dif] Disable flaky smoke test
  hw/ip/entropy_src/data/entropy_src.prj.hjson
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_smoketests.hjson
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  sw/device/lib/dif/dif_entropy_src.md
  test/systemtest/earlgrey/config.py
Labels: Priority:P1, Type:Bug, Component:CI, Milestone:V2

#11136 [bazel] Restructure `opentitan_binary` and `opentitan_functest` macros
  rules/autogen.bzl
  rules/opentitan.bzl
  sw/device/examples/hello_usbdev/BUILD
  sw/device/examples/hello_world/BUILD
  sw/device/lib/testing/test_rom/BUILD
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/tests/crypto/BUILD
  util/design/BUILD
Labels: Component:Tooling, Priority:P1, Type:Enhancement, Milestone:V2

#11206 [dvsim] Fix pass/fail status for synthesis regression
  hw/syn/tools/dc/parse-syn-report.py
  util/dvsim/SynCfg.py
Labels: Component:Tooling

#11165 [otbn,dv] Remove support for the model in the OTBN module
  hw/ip/otbn/README.md
  hw/ip/otbn/dv/otbnsim/sim/ext_regs.py
  hw/ip/otbn/otbn.core
  hw/ip/otbn/rtl/otbn.sv
  hw/top_earlgrey/dv/verilator/chip_sim.core
  hw/top_earlgrey/dv/verilator/verilator_sim_cfg.hjson
  test/systemtest/earlgrey/config.py
Labels: Component:DV, Type:Cleanup, IP:otbn

#11183 [dif/pwm] Implement configuration DIFs
  hw/ip/pwm/data/BUILD
  meson.build
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/autogen/meson.build
  sw/device/lib/dif/dif_pwm.c
  sw/device/lib/dif/dif_pwm.h
  sw/device/lib/dif/dif_pwm_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Component:Software, Priority:P0, Type:Enhancement, SW:DIF, Milestone:V2

#11214 [dif/pwm] Implement remaining DIFs
  hw/ip/pwm/data/pwm.hjson
  sw/device/lib/dif/dif_pwm.c
  sw/device/lib/dif/dif_pwm.h
  sw/device/lib/dif/dif_pwm.md
  sw/device/lib/dif/dif_pwm_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Component:Software, Priority:P0, Type:Enhancement, SW:DIF, Milestone:V2

#11231 [keymgr] OR together signals differently to avoid Xcelium warnings
  hw/ip/keymgr/rtl/keymgr_ctrl.sv
Labels: Type:Cleanup, Component:RTL, IP:keymgr

#11229 [hmac,dv] Don't use streaming concatenation in a ternary
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: Component:DV, Type:Bug, IP:hmac

#11173 [opentitantool] Proper daemon support
  sw/host/opentitansession/src/main.rs
Labels: Component:Software, Priority:P3, Type:Enhancement, SW:opentitantool

#11203 [pinmux] Reset wakeup counter upon reconfiguration
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pinmux/doc/_index.md
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
Labels: Component:Doc, Component:RTL, IP:pinmux

#11252 [keymgr,dv] Fix some enum casting problems
  hw/ip/keymgr/dv/env/keymgr_scoreboard.sv
  hw/ip/keymgr/dv/env/seq_lib/keymgr_base_vseq.sv
Labels: Component:DV, Type:Cleanup, IP:keymgr

#11250 [ipgen] Mark the --config-file argument as required
  util/ipgen.py
Labels: Component:Tooling, Type:Bug

#11277 [keymgr,dv] Work around Xcelium ICE in scoreboard
  hw/ip/keymgr/dv/env/keymgr_scoreboard.sv
Labels: Component:DV, IP:keymgr

#11280 Revert "[adc_ctrl/dv] Added counter tests"
  hw/ip/adc_ctrl/data/adc_ctrl_testplan.hjson
  hw/ip/adc_ctrl/dv/adc_ctrl_sim_cfg.hjson
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env.core
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cfg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_pkg.sv
  hw/ip/adc_ctrl/dv/env/adc_ctrl_scoreboard.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_base_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_counter_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_interrupt_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_polled_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_filters_wakeup_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_lowpower_counter_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_poweron_counter_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_smoke_vseq.sv
  hw/ip/adc_ctrl/dv/env/seq_lib/adc_ctrl_vseq_list.sv
  hw/ip/adc_ctrl/dv/tb.sv
  hw/ip/adc_ctrl/dv/tests/adc_ctrl_base_test.sv
Labels: Priority:P0, Component:CI

#11270 [dif/pwm] Make X macro names consistent across DIF libs
  sw/device/lib/dif/dif_pwm.c
  sw/device/lib/dif/dif_pwm.h
Labels: Component:Software, Priority:P3, Type:Cleanup, SW:DIF

#11284 [lc_ctrl,dv] Add a couple of missing "void" return types
  hw/ip/lc_ctrl/dv/env/lc_ctrl_if.sv
Labels: Component:DV, Type:Cleanup, IP:lc_ctrl

#11278 [dv,jtag] Fix casting in jtag_riscv_monitor
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_monitor.sv
Labels: Component:DV, Type:Cleanup

#11283 [lc_ctrl,dv] Add an explicit "static" to a block-local variable
  hw/ip/lc_ctrl/dv/tb.sv
Labels: Component:DV, Type:Cleanup, IP:lc_ctrl

#11263 [opentitantool] Pass capabilities via proxy protocol
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/bootstrap/legacy.rs
  sw/host/opentitanlib/src/bootstrap/primitive.rs
  sw/host/opentitanlib/src/bootstrap/rescue.rs
  sw/host/opentitanlib/src/proxy/handler.rs
  sw/host/opentitanlib/src/proxy/protocol.rs
  sw/host/opentitanlib/src/transport/cw310/mod.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
  sw/host/opentitanlib/src/transport/mod.rs
  sw/host/opentitanlib/src/transport/proxy/mod.rs
  sw/host/opentitanlib/src/transport/ultradebug/mod.rs
  sw/host/opentitanlib/src/transport/verilator/transport.rs
  sw/host/opentitantool/src/command/console.rs
  sw/host/opentitantool/src/command/gpio.rs
  sw/host/opentitantool/src/command/i2c.rs
  sw/host/opentitantool/src/command/spi.rs
Labels: Component:Software, Priority:P3, Type:Cleanup, SW:opentitantool

#11221 Revert "[dv] Allow using memutil_dpi_scrambled even without prim_ram_1p_scr"
  hw/dv/verilator/cpp/scrambled_ecc32_mem_area.cc
Labels: Component:DV, Type:Bug

#11282 [dv,lc_ctrl] Make two static functions automatic
  hw/ip/lc_ctrl/dv/env/lc_ctrl_dv_utils_pkg.sv
Labels: Component:DV, Type:Cleanup, IP:lc_ctrl

#11289 [opentitantool] Tolerate being interrupted in epoll()
  sw/host/opentitanlib/src/proxy/socket_server.rs
Labels: Component:Software, Priority:P3, Type:Cleanup, SW:opentitantool

#11300 [opentitantool] Fix UART timeout issues
  sw/host/opentitanlib/Cargo.toml
  sw/host/opentitanlib/src/transport/common/uart.rs
  sw/host/opentitanlib/src/transport/verilator/uart.rs
  sw/host/opentitantool/Cargo.toml
  sw/host/opentitantool/src/main.rs
Labels: Component:Software, Priority:P1, Type:Bug, SW:opentitantool, Milestone:V2

#11288 [dv,top,pwm] sleep pwm pulses test
  hw/dv/sv/pwm_monitor/pwm_monitor.sv
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/chip_env.sv
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  hw/top_earlgrey/dv/env/chip_env_pkg.sv
  hw/top_earlgrey/dv/env/chip_virtual_sequencer.sv
  hw/top_earlgrey/dv/env/pwrmgr_low_power_if.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_pwm_pulses_vseq.sv
  hw/top_earlgrey/dv/tb/chip_hier_macros.svh
  hw/top_earlgrey/dv/tb/tb.sv
  sw/device/lib/dif/dif_pinmux.c
  sw/device/lib/dif/meson.build
  sw/device/tests/meson.build
  sw/device/tests/pwm_test.c
  sw/device/tests/sleep_pwm_pulses_test.c
Labels: Component:DV, Priority:P1, Milestone:V2

#11248 [dv] Fix testplan references to mask ROM tests
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_mask_rom_tests.hjson
  sw/device/silicon_creator/mask_rom/data/mask_rom_testplan.hjson
Labels: Component:Doc, Component:DV, Priority:P2, Type:Bug, Milestone:V2

#11204 [usbdev] Move pinflip and dp_o/dn_o to usb_fs_nb_pe
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_nb_pe.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_rx.sv
  hw/ip/usb_fs_nb_pe/rtl/usb_fs_tx.sv
  hw/ip/usbdev/data/usbdev.hjson
  hw/ip/usbdev/rtl/usbdev.sv
  hw/ip/usbdev/rtl/usbdev_iomux.sv
  hw/ip/usbdev/rtl/usbdev_reg_pkg.sv
  hw/ip/usbdev/rtl/usbdev_reg_top.sv
  hw/ip/usbdev/rtl/usbdev_usbif.sv
Labels: Type:Cleanup, IP:usbdev

#11383 [kmac] Add missing CM IDs and sec buffer
  hw/ip/kmac/data/kmac.hjson
  hw/ip/kmac/data/kmac_sec_cm_testplan.hjson
  hw/ip/kmac/rtl/keccak_round.sv
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_app.sv
  hw/ip/kmac/rtl/kmac_core.sv
  hw/ip/kmac/rtl/kmac_entropy.sv
  hw/ip/kmac/rtl/kmac_errchk.sv
  hw/ip/kmac/rtl/sha3.sv
  hw/ip/kmac/rtl/sha3pad.sv
Labels: Priority:P1, IP:kmac, Milestone:D2S

#11274 [otp_ctrl] Change error assignment priorities
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_dai.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_kdi.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lci.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_lfsr_timer.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_buf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_unbuf.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_scrmbl.sv
Labels: Type:Bug, Component:RTL, IP:otp_ctrl

#11388 [tlul_lc_gate] Fix gating condition
  hw/ip/tlul/rtl/tlul_lc_gate.sv
Labels: Component:RTL

#11372 [otbn,dv] Add explanations to the CSR exclusions
  hw/ip/otbn/data/otbn.hjson
Labels: Component:DV, IP:otbn, Milestone:V2

#11374 [otbn,dv] Add dummy instructions to pairwise covergroup
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, IP:otbn, Milestone:V2

#11375 [otbn,dv] Flip bits in all DMEM words in OTBN passthru sequence
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11365 Point fusesoc/edalize dependencies at a tag, not a branch
  python-requirements.txt
Labels: Component:Tooling, Type:Cleanup

#11391 [reggen] If no regs are defined, indicate that explicitly in the docs
  util/reggen/gen_html.py
Labels: Component:Doc, Component:Tooling

#11395 [dif/adc_ctrl] Add header with proposed API
  sw/device/lib/dif/dif_adc_ctrl.h
Labels: Component:Software, Priority:P1, SW:DIF, Milestone:V2

#11331 [otbn,dv] Cleanly handle failures when passing sideload keys to ISS
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_dpi.svh
Labels: Component:DV, Type:Cleanup, IP:otbn

#11350 [otbn,dv] Don't write WIPE_START if not running
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11351 [otbn,rtl] Make sure INSN_CNT gets cleared at the right time
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#11371 [otbn,dv] Drop a bogus assertion about OTBN RND interface
  hw/ip/otbn/dv/uvm/env/otbn_rnd_if.sv
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11398 [otbn] Remove dependency on model from the RTL
  hw/ip/otbn/otbn.core
Labels: Type:Cleanup, Component:RTL, IP:otbn

#11399 [reggen,doc] Fix rendering of windows with fewer than 5 indices
  util/reggen/gen_html.py
Labels: Component:Doc, Type:Bug

#11402 [dv,verilator] Make multiple sim_ctrl extensions play nicely
  hw/dv/verilator/cpp/verilator_memutil.cc
  hw/dv/verilator/simutil_verilator/cpp/sim_ctrl_extension.h
  hw/dv/verilator/simutil_verilator/cpp/verilator_sim_ctrl.cc
  hw/ip/otbn/dv/verilator/otbn_top_sim.cc
Labels: Component:DV, Component:Tooling, Type:Bug

#11404 [otbn,rtl] Correctly override 'sel' signal for WDR secure wipe
  hw/ip/otbn/rtl/otbn_core.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#11405 [otbn,rtl] Delay the "locked" signal from controller while wiping
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#11406 [otbn,dv] Tidy up flag in ISS commit routine
  hw/ip/otbn/dv/otbnsim/sim/loop.py
Labels: Component:DV, Type:Bug, IP:otbn

#11339 [otbn,dv] Restructure ISS to step/commit more cleanly
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Cleanup, IP:otbn

#11356 [dif/pattgen] Add implementations of all DIFs
  hw/ip/pattgen/data/pattgen.hjson
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/dif_pattgen.c
  sw/device/lib/dif/dif_pattgen.h
  sw/device/lib/dif/dif_pattgen.md
  sw/device/lib/dif/dif_pattgen_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Component:Software, Priority:P1, SW:DIF, Milestone:V2

#11462 [sw/testing] Add bazel target for autogened ISR testutils
  sw/device/lib/dif/BUILD
  sw/device/lib/testing/BUILD
Labels: Component:Software, Priority:P3, Type:Cleanup

#11429 [dif/adc_ctrl] Implement configuration DIFs
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/dif_adc_ctrl.c
  sw/device/lib/dif/dif_adc_ctrl.h
  sw/device/lib/dif/dif_adc_ctrl_unittest.cc
  sw/device/lib/dif/meson.build
Labels: Component:Software, Priority:P1, SW:DIF, Milestone:V2

#11460 [dv] Add ROM-only chip-level test example
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  sw/device/tests/example_test_from_flash.c
  sw/device/tests/example_test_from_rom.c
  sw/device/tests/meson.build
Labels: Component:DV, Component:Software, Priority:P1, Type:Enhancement, Milestone:V2

#11473 [chip,dv] Remove chip_sw_rom_ctrl_reset_glitch from testplan
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV, Type:Cleanup, TOP:earlgrey

#11349 [otbn,dv] Only clear INSN_CNT in ISS if necessary
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/test/simple/multi/bnlid-0.exp
  hw/ip/otbn/dv/otbnsim/test/simple/multi/bnmovr-0.exp
  hw/ip/otbn/dv/otbnsim/test/simple/multi/bnsid-0.exp
  hw/ip/otbn/dv/otbnsim/test/simple/multi/csrrs-0.exp
  hw/ip/otbn/dv/otbnsim/test/simple/multi/csrrw-0.exp
  hw/ip/otbn/dv/otbnsim/test/simple/multi/sw-0.exp
Labels: Component:DV, Type:Cleanup, IP:otbn

#11476 [dif/adc_ctrl] Implement value-get and FSM reset DIFs
  sw/device/lib/dif/dif_adc_ctrl.c
  sw/device/lib/dif/dif_adc_ctrl_unittest.cc
Labels: Component:Software, Priority:P1, SW:DIF, Milestone:V2

#11066 [otbn,dv] Clear the "imem is invalidated" flag when loading program
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Bug, IP:otbn, Milestone:V2

#11523 [doc] Fix rendering of special characters in testplan table
  util/dvsim/Testplan.py
Labels: Component:Doc, Type:Bug

#11360 [ci] Upload generated bitstream to public GCP bucket
  azure-pipelines.yml
  ci/gcp-upload-template.yml
Labels: Type:Enhancement, Component:CI

#11342 [opentitantlib] Adds new Emulator transport trait
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/io/emu.rs
  sw/host/opentitanlib/src/io/mod.rs
  sw/host/opentitanlib/src/proxy/handler.rs
  sw/host/opentitanlib/src/proxy/protocol.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitanlib/src/transport/mod.rs
Labels: Component:Software, Component:Tooling, Priority:P3, Type:Enhancement, SW:opentitantool

#11519 [dv] Minor fix to error message in mem_model.sv
  hw/dv/sv/mem_model/mem_model.sv
Labels: Component:DV, Type:Cleanup

#11435 [bazel] added Bazel getting started to docs
  doc/ug/getting_started_build_sw.md
Labels: Component:Doc, Component:Software, Priority:P0

#11490 [bazel/Mask ROM] Add a regression tests for CI
  azure-pipelines.yml
  ci/scripts/mask-rom-tests.sh
Labels: Component:Software

#11584 [bazel] fix opentitanlib build
  sw/host/opentitanlib/BUILD
Labels: Component:Software, Component:Tooling, Type:Bug, SW:opentitantool

#11581 [doc] Update "getting started" diagram to show software first.
  doc/ug/getting_started/getting_started_workflow.svg
Labels: Component:Doc, Type:Cleanup

#11638 [otp_ctrl] Correct description to reflect current behavior
  hw/ip/otp_ctrl/doc/_index.md
Labels: Component:RTL, IP:otp_ctrl

#11649 [lc_ctrl] Use prim_sparse_fsm_flop for state and cnt regs
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:DV, Component:RTL, IP:lc_ctrl

#11579 [aes,dv] Split A-channel write handling into separate functions
  hw/ip/aes/dv/env/aes_scoreboard.sv
Labels: Component:DV, Type:Cleanup, IP:aes

#11570 [opentitantool] Conf files relative to current directory
  sw/host/opentitansession/src/main.rs
Labels: Component:Software, Component:Tooling, Type:Enhancement, SW:opentitantool

#11641 [dif/autogen] Use EXPECT_DIF_* macros in unit tests
  sw/device/lib/dif/autogen/dif_adc_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_aes_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_alert_handler_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_aon_timer_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_clkmgr_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_csrng_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_edn_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_entropy_src_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_flash_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_gpio_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_hmac_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_i2c_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_keymgr_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_kmac_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_lc_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_otbn_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_otp_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_pattgen_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_pinmux_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_pwm_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_pwrmgr_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_rom_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_rstmgr_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_rv_plic_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_rv_timer_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_spi_device_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_spi_host_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_sram_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_sysrst_ctrl_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_uart_autogen_unittest.cc
  sw/device/lib/dif/autogen/dif_usbdev_autogen_unittest.cc
  util/make_new_dif/templates/dif_autogen_unittest.cc.tpl
Labels: Component:Software, Priority:P3, Type:Cleanup, SW:DIF

#11693 [doc] Fix broken links in the docs
  README.md
Labels: Component:Doc

#11679 [silicon_creator/mask_rom] fix bug in AST init asm
  sw/device/silicon_creator/mask_rom/mask_rom_start.S
Labels: Component:Software, Priority:P1, Type:Bug, SW:Mask ROM

#11705 [prim] Fix a bunch of Verilator lint errors in prim_packer.sv
  hw/ip/prim/rtl/prim_packer.sv
Labels: Type:Cleanup, Component:RTL

#11690 [bazel,dvsim] Add build rules for dvsim.py
  util/dvsim/BUILD
Labels: Component:Software, Component:Tooling, Priority:P1, Type:Enhancement, Tool:dvsim

#11702 [prim] Waive unused EnableAlertTriggerSVA for verilator lint
  hw/ip/prim/lint/prim_double_lfsr.vlt
  hw/ip/prim/prim_double_lfsr.core
Labels: Type:Cleanup, Component:RTL

#11703 [prim] Make some widening comparisons explicit in prim_clock_*.sv
  hw/ip/prim/rtl/prim_clock_meas.sv
  hw/ip/prim/rtl/prim_clock_timeout.sv
Labels: Type:Cleanup, Component:RTL

#11704 [prim] Fix Verilator lint warnings in prim_gf_mult.sv
  hw/ip/prim/rtl/prim_gf_mult.sv
Labels: Type:Cleanup, Component:RTL

#11706 [prim] Waive some ALWCOMBORDER Verilator warnings in prim_arbiter_*
  hw/ip/prim/lint/prim_arbiter.vlt
Labels: Type:Cleanup, Component:RTL

#11707 [prim] Make a variable widening explicit in prim_present.sv
  hw/ip/prim/rtl/prim_present.sv
Labels: Type:Cleanup, Component:RTL

#11708 [prim] Waive unused parameters for Verilator in prim_generic_otp
  hw/ip/prim_generic/lint/prim_generic_otp.vlt
Labels: Type:Cleanup, Component:RTL

#11711 [rtl] Convert some non-ANSI parameters to localparams
  hw/ip/aes/pre_dv/aes_sbox_tb/rtl/aes_sbox_tb.sv
  hw/ip/prim/rtl/prim_lc_combine.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_nexysvideo.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Type:Cleanup, Component:RTL

#11716 [doc] Add information about downloading pre-built bitstreams
  doc/getting_started/setup_fpga.md
Labels: Component:Doc, Priority:P3, Type:Enhancement

#11672 [sw/silicon_creator] Move exception handler into .shutdown section
  sw/device/lib/testing/test_framework/ottf.ld
  sw/device/silicon_creator/lib/irq_asm.S
Labels: SW:Mask ROM

#11732 [otbn,rtl] Split a signal to avoid a spurious combo-loop
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Cleanup, Component:RTL, IP:otbn

#11729 [otbn,rtl] Wire up the local escalation signal to mem intg_error_i
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Enhancement, Component:RTL, IP:otbn

#11668 [otbn,doc] Fix description of memory accesses when OTBN is busy
  hw/ip/otbn/doc/_index.md
Labels: Component:Doc, Type:Bug, IP:otbn

#11736 [ci, utils] Add Rust format checker to CI
  ci/jobs/quick-lint.sh
  ci/scripts/rust-format.sh
  ci/scripts/show-env.sh
  util/run-rustfmt.sh
Labels: Component:Software, Type:Cleanup, Component:CI

#11755 [bazel] add custom rule to extract LOG points in sim_dv target SW
  rules/opentitan.bzl
  util/device_sw_utils/BUILD
Labels: Component:Software, Component:Tooling, Priority:P1, Type:Enhancement

#11620 [mask_rom/e2e] Add boot success and no rom_ext signature tests
  sw/device/silicon_creator/mask_rom/BUILD
Labels: Component:Software, SW:Mask ROM

#11578 [otbn,dv] Fix off-by-one error in RIG and rename variable to avoid making it again
  hw/ip/otbn/dv/rig/rig/known_mem.py
Labels: Component:DV, Type:Bug, IP:otbn

#11756 [dif/adc_ctrl] clear filter status CSR on IRQ cause clear
  sw/device/lib/dif/dif_adc_ctrl.c
  sw/device/lib/dif/dif_adc_ctrl_unittest.cc
Labels: Component:Software, Priority:P1, Type:Enhancement, SW:DIF, Milestone:V2

#11432 [pwm/scoreboard] Added heartbeat, phase and resolution
  hw/ip/pwm/data/pwm_testplan.hjson
  hw/ip/pwm/dv/env/pwm_scoreboard.sv
Labels: IP:pwm

#11592 [pwm/dv] Added pwm_rand_output_vseq and environment changes
  hw/ip/pwm/data/pwm_testplan.hjson
  hw/ip/pwm/dv/env/pwm_env.core
  hw/ip/pwm/dv/env/pwm_env_pkg.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_base_vseq.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_rand_output_vseq.sv
  hw/ip/pwm/dv/env/seq_lib/pwm_vseq_list.sv
  hw/ip/pwm/dv/pwm_sim_cfg.hjson
Labels: IP:pwm

#11808 [bazel] fix build for sim_dv device
  rules/opentitan.bzl
  sw/device/silicon_creator/mask_rom/BUILD
Labels: Component:Tooling, Priority:P1, Type:Bug

#11408 [otbn,rtl] Rewire how we pass around error bits
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
Labels: Type:Cleanup, Component:RTL, IP:otbn

#11819 [clkmgr] Fix build with Xcelium
  hw/ip/clkmgr/data/clkmgr.sv.tpl
  hw/ip/clkmgr/dv/sva/clkmgr_bind.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
Labels: Component:DV, Type:Cleanup, Component:RTL, IP:clkmgr

#11813 [otbn] Declare V2
  hw/ip/otbn/data/otbn.prj.hjson
Labels: IP:otbn, Milestone:V2
