Repository lowRISC/opentitan, pull requests merged in 2022-01, with the labels that each got.

#9824 [sysrst_ctrl] Update Hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
Labels: Component:Doc

#9863 [otbn] Widen prefetch_loop_end_addr to avoid overflow
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_instruction_fetch.sv
  hw/ip/otbn/rtl/otbn_loop_controller.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#9864 [rv_core_ibex] Minor fix in waiver comment
  hw/ip/rv_core_ibex/lint/rv_core_ibex.waiver
Labels: Component:RTL

#9747 [sw/dif] Add `toggle_to_bool()` and `bool_to_toggle()` to DIF base.
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/autogen/meson.build
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_base.c
  sw/device/lib/dif/dif_base.h
  sw/device/lib/dif/dif_clkmgr.c
  sw/device/lib/dif/dif_keymgr.c
  sw/device/lib/dif/dif_pwrmgr.c
  sw/device/lib/dif/meson.build
Labels: Component:SW, Type:Cleanup, Type:Task

#9866 [otbn,dv] Fix loop warping for 1st iteration of single insn loop
  hw/ip/otbn/dv/uvm/env/otbn_loop_if.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#9709 [dv] Added keymgr_sideload_agent and integrated it with otbn and kmac TB
  hw/dv/sv/key_sideload_agent/README.md
  hw/dv/sv/key_sideload_agent/key_sideload_agent.core
  hw/dv/sv/key_sideload_agent/key_sideload_agent.sv
  hw/dv/sv/key_sideload_agent/key_sideload_agent_cfg.sv
  hw/dv/sv/key_sideload_agent/key_sideload_agent_cov.sv
  hw/dv/sv/key_sideload_agent/key_sideload_agent_pkg.sv
  hw/dv/sv/key_sideload_agent/key_sideload_driver.sv
  hw/dv/sv/key_sideload_agent/key_sideload_if.sv
  hw/dv/sv/key_sideload_agent/key_sideload_item.sv
  hw/dv/sv/key_sideload_agent/key_sideload_monitor.sv
  hw/dv/sv/key_sideload_agent/seq_lib/key_sideload_base_seq.sv
  hw/dv/sv/key_sideload_agent/seq_lib/key_sideload_seq_list.sv
  hw/dv/sv/key_sideload_agent/seq_lib/key_sideload_set_seq.sv
  hw/dv/sv/key_sideload_if/key_sideload_if.core
  hw/dv/sv/key_sideload_if/key_sideload_if.sv
  hw/ip/kmac/dv/env/kmac_env.core
  hw/ip/kmac/dv/env/kmac_env.sv
  hw/ip/kmac/dv/env/kmac_env_cfg.sv
  hw/ip/kmac/dv/env/kmac_env_pkg.sv
  hw/ip/kmac/dv/env/kmac_scoreboard.sv
  hw/ip/kmac/dv/env/kmac_virtual_sequencer.sv
  hw/ip/kmac/dv/env/seq_lib/kmac_smoke_vseq.sv
  hw/ip/kmac/dv/tb.sv
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/otbn_env.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Type:Cleanup

#9884 [chip,dv] Fix compilation for private CI
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rom_ctrl_integrity_check_vseq.sv
Labels: Component:DV, Type:Bug

#9892 [pinmux] Fix wakeup detector MIO selection mux
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pinmux/rtl/pinmux.sv
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
Labels: Component:RTL

#9873 [sw/dif] Add `dif_multi_bit_bool_to_toggle()` base DIFs.
  sw/device/lib/dif/BUILD
  sw/device/lib/dif/dif_base.c
  sw/device/lib/dif/dif_base.h
  sw/device/lib/dif/dif_clkmgr.c
Labels: Component:SW, Type:Cleanup

#9967 [sram_ctrl/doc] Minor update
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/doc/_index.md
Labels: Component:Doc

#9916 [dif/alert_handler] Rename `*_is_locked` and `*_lock` DIFs.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
Labels: Component:SW, Type:Cleanup

#9968 [tlul_adapter_sram] Remove out-of-date comment
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL

#9960 [otbn] Squash big-number read errors if the index is unknown
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, Component:OTBN

#9825 [prim_alert_receiver] Fix ping during init sequence bug
  hw/ip/prim/rtl/prim_alert_receiver.sv
Labels: Component:RTL

#9948 [dif/alert_handler] Add alert configuration DIF.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
Labels: Component:SW, Type:Cleanup

#9998 [pinmux/doc] Update sleep mode terminology
  hw/ip/pinmux/doc/_index.md
Labels: Component:Doc

#10015 [ci] Improve error message in check-generated.sh
  ci/scripts/check-generated.sh
Labels: Type:Enhancement, Component:CI

#9993 [otbn,dv] Avoid "double recov alert" problem
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#9980 [dif/alert_handler] Add local alert configuration DIF.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
Labels: Component:SW, Type:Cleanup

#10012 [pinmux_wkup] Change comparison to GE to stay on the safe side
  hw/ip/pinmux/rtl/pinmux_wkup.sv
Labels: Component:RTL

#10016 [doc] Describe countermeasure keys in comportability spec
  doc/rm/comportability_specification/index.md
Labels: Component:Doc, Type:Enhancement

#10070 [reggen/doc] Update assets and cm_type lists and associated docs
  doc/rm/comportability_specification/index.md
  util/reggen/countermeasure.py
Labels: Component:Tooling, Hotlist:Security

#10098 [sysrst_ctrl] Trigger wakeup interrupt only when wkup_req rises
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl.sv
  hw/ip/sysrst_ctrl/sysrst_ctrl.core
Labels: Component:RTL

#9939 [otbn,dv] Fix use of randrange in BadBranch generator
  hw/ip/otbn/dv/rig/rig/gens/bad_branch.py
Labels: Component:DV, Type:Bug, Component:OTBN

#10025 [otbn,dv] Improvements to external CSR coverage
  hw/ip/otbn/doc/dv/fcov.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10027 [otbn,dv] Add functional coverage for the key sideload interface
  hw/ip/otbn/doc/dv/fcov.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_item.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10026 [otbn,dv] Document how we cover integrity protection
  hw/ip/otbn/data/otbn_testplan.hjson
  hw/ip/otbn/doc/dv/fcov.md
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10086 [otbn,dv] RND corner case tracking
  hw/ip/otbn/doc/dv/fcov.md
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/otbn_rnd_if.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10087 [otbn,dv,doc] Add note in fcov.md about LC escalation tracking
  hw/ip/otbn/doc/dv/fcov.md
Labels: Component:Doc, Component:DV, Type:Enhancement, Component:OTBN

#10048 [otbn,dv] Add functional coverage for fatal SW errs
  hw/ip/otbn/doc/dv/fcov.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10054 [otbn,dv] Add coverage for scratchpad memory
  hw/ip/otbn/doc/dv/fcov.md
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10105 [otbn,sw] Change how we expose OTBN symbols to Ibex
  sw/device/lib/runtime/otbn.c
  sw/device/lib/runtime/otbn.h
  sw/device/silicon_creator/lib/crypto/ecdsa_p256/ecdsa_p256.c
  sw/device/silicon_creator/lib/crypto/rsa_3072/rsa_3072_verify.c
  sw/device/silicon_creator/lib/otbn_util.c
  sw/device/silicon_creator/lib/otbn_util.h
  sw/device/silicon_creator/lib/sigverify_mod_exp_otbn.c
  sw/device/tests/otbn_ecdsa_p256_test.c
  sw/device/tests/otbn_randomness_test.c
  sw/device/tests/otbn_rsa_test.c
  util/otbn_build.py
Labels: Component:SW, Type:Cleanup, Component:OTBN

#10140 [otbn,dv] Add a stress_all sequence
  hw/ip/otbn/data/otbn_testplan.hjson
  hw/ip/otbn/dv/uvm/env/otbn_env.core
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_stress_all_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_vseq_list.sv
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Type:Enhancement, Component:OTBN

#10157 [chip/dv] Add missing analog port to TB
  hw/top_earlgrey/dv/tb/tb.sv
Labels: Component:DV

#10158 [otbn,dv] Add a stress_all_with_rand_reset test
  hw/ip/otbn/data/otbn_testplan.hjson
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Type:Enhancement, Component:OTBN

#9996 [rom_ctrl,doc] Expand countermeasure list
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
  hw/ip/rom_ctrl/rtl/rom_ctrl_mux.sv
Labels: Component:Doc, Type:Enhancement

#10077 [dif/alert_handler] Add ping timer configuration and enable DIFs.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
Labels: Component:SW, Type:Cleanup

#10237 [aes] update AES version in synthesis configs
  hw/ip/aes/syn/aes_gtech_syn_cfg.hjson
  hw/ip/aes/syn/aes_syn_cfg.hjson
Labels: Component:Tooling

#10207 [hw/test] Enable use of entropy in mask ROM.
  hw/ip/otp_ctrl/data/otp_ctrl_img_rma.hjson
Labels: Component:Mask ROM

#10233 [sysrst_ctrl] First doc update pass
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/sysrst_ctrl/doc/_index.md
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_reg_top.sv
Labels: Component:Doc

#10275 [doc] Add D2S as valid entry in dashboard script
  util/dashboard/gen_dashboard_entry.py
Labels: Component:Doc, Component:Tooling

#10297 [top] AST DFT pin mapping update
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL

#10289 [otbn,dv] Fix off-by-one error in otbn_base_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Bug, Component:OTBN

#10292 [otbn,dv] Commit GPR changes when stalled
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Bug, Component:OTBN

#10172 [i2c, rtl] Removed SDA toggling when sending multiple bits of "1"s.
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:RTL

#10322 [util,reggen] Format enum fields in hex
  util/reggen/gen_html.py
Labels: Component:Tooling, Type:Enhancement

#9641 [doc] Update TC list
  doc/project/technical_committee.md
Labels: Component:Doc

#10320 [dif/alert_handler] Add X macros to improve maintainability.
  sw/device/lib/dif/dif_alert_handler.c
  sw/device/lib/dif/dif_alert_handler.h
  sw/device/lib/dif/dif_alert_handler_unittest.cc
Labels: Component:SW, Type:Cleanup

#10369 [otbn,dv] Fix initialisation order in MirroredRegs class
  hw/ip/otbn/dv/model/iss_wrapper.h
Labels: Component:DV, Type:Bug, Component:OTBN

#9253 [flash] Mark a bunch of parameters unsigned
  hw/ip/flash_ctrl/rtl/flash_phy_pkg.sv
Labels: Type:Cleanup, Component:RTL

#10362 [doc] Move all non-security D2 IP to D2S
  hw/ip/adc_ctrl/data/adc_ctrl.prj.hjson
  hw/ip/adc_ctrl/doc/checklist.md
  hw/ip/aon_timer/data/aon_timer.prj.hjson
  hw/ip/aon_timer/doc/checklist.md
  hw/ip/gpio/data/gpio.prj.hjson
  hw/ip/gpio/doc/checklist.md
  hw/ip/hmac/data/hmac.prj.hjson
  hw/ip/hmac/doc/checklist.md
  hw/ip/i2c/data/i2c.prj.hjson
  hw/ip/i2c/doc/checklist.md
  hw/ip/pattgen/data/pattgen.prj.hjson
  hw/ip/pattgen/doc/checklist.md
  hw/ip/pinmux/data/pinmux.prj.hjson
  hw/ip/pinmux/doc/checklist.md
  hw/ip/pwm/data/pwm.prj.hjson
  hw/ip/pwm/doc/checklist.md
  hw/ip/rv_timer/data/rv_timer.prj.hjson
  hw/ip/rv_timer/doc/checklist.md
  hw/ip/spi_device/data/spi_device.prj.hjson
  hw/ip/spi_device/doc/checklist.md
  hw/ip/spi_host/data/spi_host.prj.hjson
  hw/ip/spi_host/doc/checklist.md
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.prj.hjson
  hw/ip/sysrst_ctrl/doc/checklist.md
  hw/ip/uart/data/uart.prj.hjson
  hw/ip/uart/doc/checklist.md
  hw/ip_templates/rv_plic/data/rv_plic.prj.hjson
  hw/ip_templates/rv_plic/doc/checklist.md
  hw/top_earlgrey/ip_autogen/rv_plic/data/rv_plic.prj.hjson
  hw/top_earlgrey/ip_autogen/rv_plic/doc/checklist.md
Labels: Component:Doc, Component:Security

#10390 [pinmux/doc] Fix a TODO in the docs
  hw/ip/pinmux/doc/_index.md
Labels: Component:Doc

#10046 [sw,tests] Add the chip level test `chip_sw_aon_timer_wdog_bark_irq`
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/aon_timer_irq_test.c
  sw/device/tests/meson.build
Labels: Component:DV, Component:SW

#10321 [dif/alert_handler] Add static asserts for multireg layouts.
  sw/device/lib/dif/dif_alert_handler.c
Labels: Component:SW, Type:Cleanup

#10392 [lc_ctrl/doc] Update system integration diagram
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/lc_ctrl/doc/lc_ctrl_system_view.svg
Labels: Component:Doc

#10474 [lc_ctrl] Annotate RTL with CM labels
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_kmac_if.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_decode.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_pkg.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_state_pkg.sv.tpl
Labels: Component:Doc, Component:RTL, Component:Security

#10446 [rom_ctrl] Slightly beef up internal consistency checks
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Type:Enhancement, Component:RTL

#10291 [otbn,dv] Avoid spurious MOD read entries in trace
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_if.sv
Labels: Component:DV, Type:Bug, Component:OTBN
