Repository lowRISC/opentitan, pull requests merged in 2022-08, with the labels that each got.

#13947 [otp_ctrl] Remove prim CSR exclusion tags
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
Labels: IP:otp_ctrl, Milestone:D3

#13792 [otbn,dv] Add regression for CI
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, Component:CI, IP:otbn

#13918 [docs] Expand menus without immedate siblings
  site/docs/layouts/partials/menu.html
Labels: Component:Doc

#13504 [bazel] use lowrisc_misc-linters from bazel workspace
  BUILD.bazel
  ci/scripts/check-licence-headers.sh
  third_party/lint/repos.bzl
  util/lowrisc_misc-linters/.gitignore
  util/lowrisc_misc-linters/BUILD
  util/lowrisc_misc-linters/CLA
  util/lowrisc_misc-linters/CONTRIBUTING.md
  util/lowrisc_misc-linters/LICENSE
  util/lowrisc_misc-linters/README.md
  util/lowrisc_misc-linters/WORKSPACE
  util/lowrisc_misc-linters/licence-checker/BUILD
  util/lowrisc_misc-linters/licence-checker/README.md
  util/lowrisc_misc-linters/licence-checker/licence-checker.py
  util/lowrisc_misc-linters/requirements.txt
  util/lowrisc_misc-linters/rules/BUILD
  util/lowrisc_misc-linters/rules/deps.bzl
  util/lowrisc_misc-linters/rules/licence-checker-config.template.hjson
  util/lowrisc_misc-linters/rules/licence-checker-runner.template.sh
  util/lowrisc_misc-linters/rules/pip.bzl
  util/lowrisc_misc-linters/rules/rules.bzl
  util/lowrisc_misc-linters/rules/yapf-runner.template.sh
Labels: Component:Tooling, Priority:P2, Type:Cleanup, Status:Ready to merge

#13927 [dif/edn] Allow `seed_material` to be NULL for `dif_edn_instantiate()`
  sw/device/lib/dif/dif_csrng_shared.c
  sw/device/lib/dif/dif_edn.c
  sw/device/lib/dif/dif_edn_unittest.cc
Labels: Type:Bug, IP:edn, SW:DIF, Status:Ready to merge

#13949 [reggen] Add support for overriding REGWENs with the alias mechanism
  util/reggen/reg_block.py
  util/reggen/register.py
Labels: Tool:reggen

#13917 [flash_ctrl] Add generic registers for alias mechanism
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/flash_ctrl/data/flash_ctrl.sv.tpl
  hw/ip/flash_ctrl/flash_ctrl_prim_reg_top.core
  hw/ip/flash_ctrl/rtl/flash_ctrl.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_prim_reg_top.sv
  hw/ip/flash_ctrl/rtl/flash_ctrl_reg_pkg.sv
  hw/ip/prim_generic/prim_generic_flash.core
  hw/ip/prim_generic/rtl/prim_generic_flash.sv
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_prim_reg_top.sv
  hw/top_earlgrey/ip/flash_ctrl/rtl/autogen/flash_ctrl_reg_pkg.sv
Labels: Component:RTL, IP:flash_ctrl

#13871 [sw] Add :memory_perftest to //sw/device/lib/base
  sw/device/lib/base/BUILD
  sw/device/lib/base/macros.h
  sw/device/lib/base/memory_perftest.c
Labels: SW:Mask ROM

#14003 [ci,bazel] only run short and moderate FPGA tests in CI
  ci/scripts/run-fpga-cw310-tests.sh
Labels: Priority:P1, Component:CI

#13984 [bazel] generate unsigned and signed flash images simultaneously
  rules/opentitan.bzl
  rules/opentitan_test.bzl
  sw/device/silicon_creator/rom_ext/BUILD
  sw/device/silicon_owner/bare_metal/BUILD
Labels: Type:Bug, SW:Build System

#14018 [ralgen] Minor correction in alias-file passing mechanism
  hw/dv/tools/ralgen/ralgen.py
Labels: Component:Tooling, Tool:reggen

#13863 [dvsim] enable manufacturer tests to run in DV sim
  hw/dv/tools/dvsim/sim.mk
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  rules/opentitan.bzl
Labels: Component:Software, Component:Tooling, Type:Enhancement, Tool:dvsim

#14031 [otbn,rtl] Fix DMEM read bus blanking for illegal access
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Bug, Component:RTL, IP:otbn, Status:Ready to merge

#14034 [rv_plic] Sign-off to D3
  hw/ip_templates/rv_plic/data/rv_plic.prj.hjson.tpl
  hw/ip_templates/rv_plic/doc/checklist.md
  hw/top_earlgrey/ip_autogen/rv_plic/data/rv_plic.prj.hjson
  hw/top_earlgrey/ip_autogen/rv_plic/doc/checklist.md
Labels: IP:rv_plic

#14096 [chip-level tests] add issue template
  .github/ISSUE_TEMPLATE/chip-level-test.yml
Labels: Component:Doc, Component:ChipLevelTest

#14053 [sysrst_ctrl] Update checklist and sign-off to D3
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.prj.hjson
  hw/ip/sysrst_ctrl/doc/checklist.md
Labels: Component:Doc, IP:sysrst_ctrl, Milestone:D3

#13804 [bazel] Use cached MMI when splicing bitstreams
  ci/scripts/run-fpga-cw310-tests.sh
  hw/bitstream/BUILD
  rules/splice.bzl
Labels: Component:FPGA, SW:Build System, Status:Ready to merge

#14009 [sw] Add :memory_unittest to //sw/device/lib/base
  sw/device/lib/base/BUILD
  sw/device/lib/base/memory.c
  sw/device/lib/base/memory.h
  sw/device/lib/base/memory_unittest.cc
Labels: Status:Ready to merge

#14226 [doc] Rename owner to maintainer
  doc/project/development_stages.md
  doc/rm/comportability_specification/index.md
Labels: Component:Doc

#14264 [otbn,dv] Replace `wait()`s in `otbn_sec_wipe_err_vseq`
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_sec_wipe_err_vseq.sv
Labels: Component:DV, IP:otbn

#14050 [bazel] cleanup `opentitan_ram_binary` macro
  rules/opentitan.bzl
  sw/device/tests/BUILD
Labels: Type:Cleanup, SW:Build System

#13971 [ci] Checkout the repository once at the start of the pipeline
  azure-pipelines.yml
  ci/checkout-template.yml
Labels: Component:CI, Status:Ready to merge

#14290 [otbn,dv] Fix loop warping force
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn

#14298 [ci] Increase FPGA test timeout in Azure
  azure-pipelines.yml
Labels: Component:CI

#14306 [opentitantool] Update rom detection regex after mask rom renaming
  sw/host/opentitanlib/src/util/rom_detect.rs
Labels: Component:CI, SW:opentitantool

#14311 [test_rom] wrong autogen'd clkmgr header file used
  sw/device/lib/testing/test_rom/BUILD
Labels: Component:Software, Type:Bug

#14314 [Bazel] add cheatsheet to website
  doc/getting_started/build_sw.md
  doc/getting_started/setup_fpga.md
  doc/ug/bazel_notes.md
  rules/opentitan.bzl
Labels: Component:Doc, Type:Enhancement

#14320 [bazel] Fix argument passing in bitstream splicing rule
  rules/splice.bzl
Labels: Type:Bug, SW:Build System

#14302 [hw] Accept "scr" files in gen_vivado_mem_image.py
  hw/ip/rom_ctrl/util/gen_vivado_mem_image.py
Labels: Component:FPGA, Status:Ready to merge

#14331 [sw/runtime] move the irq lib to sw/device/lib/runtime
  sw/device/lib/BUILD
  sw/device/lib/runtime/BUILD
  sw/device/lib/runtime/irq.c
  sw/device/lib/runtime/irq.h
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/freertos_hooks.c
  sw/device/lib/testing/test_framework/freertos_port.c
  sw/device/sca/lib/BUILD
  sw/device/sca/lib/sca.c
  sw/device/tests/BUILD
  sw/device/tests/alert_handler_ping_timeout_test.c
  sw/device/tests/aon_timer_irq_test.c
  sw/device/tests/aon_timer_wdog_lc_escalate_test.c
  sw/device/tests/autogen/BUILD
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/clkmgr_sleep_frequency_test.c
  sw/device/tests/flash_ctrl_idle_low_power_test.c
  sw/device/tests/flash_ctrl_ops_test.c
  sw/device/tests/hmac_enc_test.c
  sw/device/tests/otbn_ecdsa_op_irq_test.c
  sw/device/tests/otbn_irq_test.c
  sw/device/tests/otbn_randomness_test.c
  sw/device/tests/plic_sw_irq_test.c
  sw/device/tests/pmp_smoketest_napot.c
  sw/device/tests/pmp_smoketest_tor.c
  sw/device/tests/pwrmgr_sleep_disabled_test.c
  sw/device/tests/rstmgr_alert_info_test.c
  sw/device/tests/rv_plic_smoketest.c
  sw/device/tests/rv_timer_smoketest.c
  sw/device/tests/sensor_ctrl_alerts.c
  sw/device/tests/sensor_ctrl_wakeup.c
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/alert_handler_escalation.c
  sw/device/tests/sim_dv/clkmgr_escalation_reset_test.c
  sw/device/tests/sim_dv/gpio_test.c
  sw/device/tests/sim_dv/pwrmgr_deep_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/pwrmgr_deep_sleep_all_wake_ups.c
  sw/device/tests/sim_dv/pwrmgr_normal_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/pwrmgr_normal_sleep_all_wake_ups.c
  sw/device/tests/sim_dv/pwrmgr_random_sleep_all_reset_reqs_test.c
  sw/device/tests/sim_dv/sensor_ctrl_status.c
  sw/device/tests/sim_dv/spi_tx_rx_test.c
  sw/device/tests/sim_dv/uart_tx_rx_test.c
  util/topgen/templates/BUILD.tpl
  util/topgen/templates/plic_all_irqs_test.c.tpl
Labels: Component:Software, Type:Cleanup

#14266 [otbn,dv] Fix FIFO assertion for `otbn_sec_cm`
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, IP:otbn

#14318 [otbn,dv] Fix alert cause for faults in TLUL adapter counters
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, IP:otbn

#14371 [rom_ctrl] Switch padding scheme to zeroes
  hw/ip/rom_ctrl/util/mem.py
  hw/ip/rom_ctrl/util/scramble_image.py
Labels: IP:rom_ctrl

#14378 [rom_ctrl] Move to D3
  hw/ip/rom_ctrl/data/rom_ctrl.prj.hjson
  hw/ip/rom_ctrl/doc/checklist.md
Labels: Component:DV

#14379 [dvsim] Make sure odir is of type Path
  util/dvsim/utils.py
Labels: Tool:dvsim

#14394 [dvsim] Add python workaround for shutil
  util/dvsim/utils.py
Labels: Priority:P0, Component:CI, Tool:dvsim

#14347 [ci] fix bug to run all smoketests in Verilator in CI
  ci/scripts/run-verilator-tests.sh
  sw/device/tests/BUILD
Labels: Type:Bug, Component:CI

#14399 [sw] Update memory_perftest cycle count expectations
  sw/device/lib/base/memory_perftest.c
Labels: Component:Software, Status:Ready to merge

#14423 [dvsim] Fix coverage upload URL
  util/dvsim/SimCfg.py
Labels: Priority:P0, Tool:dvsim

#14384 [otbn,dv] Change string match to uvm_re_match
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, IP:otbn

#14393 [otbn,dv] Add missing wait for valid instruction in `otbn_ctrl_redun_vseq`
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_ctrl_redun_vseq.sv
Labels: Component:DV, IP:otbn

#14471 [ci] Add Vivado tools for splicing cached bitstreams
  azure-pipelines.yml
Labels: Component:CI

#14445 [top_earlgrey, dv] Add support for tiled OTBN Dmem memory
  hw/top_earlgrey/dv/env/chip_env.sv
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
  hw/top_earlgrey/dv/env/chip_env_pkg.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv
  hw/top_earlgrey/dv/tb/tb.sv
  hw/top_earlgrey/dv/tests/chip_base_test.sv
Labels: IP:otbn

#14431 [otbn,rtl] Delete redundant register in rf_base
  hw/ip/otbn/rtl/otbn_rf_base_ff.sv
Labels: Type:Cleanup, Component:RTL, IP:otbn

#14434 [otbn,dv] Fix path to `lock_immediately_q` in `lock_immediately()`
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_if.sv
Labels: Component:DV, IP:otbn

#14388 [otbn,rtl] Relax assertions on DMEM and IMEM blanking
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:RTL, IP:otbn

#14522 [rom_ext,bare_metal] cleanup ROM_EXT and BL0 targets and tests
  sw/device/silicon_creator/rom_ext/BUILD
  sw/device/silicon_creator/rom_ext/rom_ext_slot_virtual.ld
  sw/device/silicon_owner/bare_metal/BUILD
  sw/device/silicon_owner/bare_metal/bare_metal.c
  sw/device/silicon_owner/bare_metal/bare_metal.h
  sw/device/silicon_owner/bare_metal/bare_metal_slot_virtual.ld
Labels: Component:Software, Type:Cleanup, SW:ROM_EXT

#14396 [otbn,rtl] Remove locking timing difference for secure wipe
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Component:RTL, IP:otbn, Status:Ready to merge

#14359 [otbn,dv] Fix `otbn_controller_ispr_rdata_err` test
  hw/ip/otbn/dv/uvm/env/otbn_alu_bignum_if.sv
  hw/ip/otbn/dv/uvm/env/otbn_controller_if.sv
  hw/ip/otbn/dv/uvm/env/otbn_mac_bignum_if.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_alu_bignum_mod_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_controller_ispr_rdata_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_intg_err_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_mac_bignum_acc_err_vseq.sv
Labels: Component:DV, IP:otbn

#14387 [ci] Write test output to log in sw_build
  azure-pipelines.yml
Labels: Status:Ready to merge

#14547 [dv] update configs to map unmapped tests
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV, Type:Cleanup

#14511 [otbn,dv] Unset `recov_alert_seen` on reset in `otbn_scoreboard`
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, IP:otbn, Status:Ready to merge

#14513 [otbn,dv] Relax assert for DMEM/IMEM in SecWipeInt
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
Labels: Component:DV, IP:otbn

#14572 [otbn,dv] Add state-corrupting tests to testplan
  hw/ip/otbn/data/otbn_testplan.hjson
Labels: Component:DV, IP:otbn, Status:Ready to merge

#14565 [top] Minor update of chip_rv_dm_perform_debug test point
  hw/top_earlgrey/data/chip_testplan.hjson
Labels: Component:DV

#14567 [otbn,sw] Fix data memory section for `barrett384`
  sw/otbn/code-snippets/barrett384.s
Labels: Component:Software, Type:Bug, IP:otbn, Status:Ready to merge

#14580 [sw] Include <string.h> in memory.h for host builds
  sw/device/lib/base/memory.c
  sw/device/lib/base/memory.h
  sw/device/lib/base/memory_unittest.cc
Labels: Component:Software, Status:Ready to merge

#14429 [otbn,dv] Verible formatting for base_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Enhancement, IP:otbn

#14574 [otbn,rtl] Fix locking on RMA request while refreshing URND
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Type:Bug, Component:RTL, IP:otbn, Milestone:V2S, Status:Ready to merge

#14432 [ci] Bump Azure runners up to Ubuntu-20.04
  azure-pipelines.yml
Labels: Priority:P1, Component:CI, Status:Ready to merge

#14243 [sw] Optimize functions in //sw/device/lib/base:memory
  sw/device/lib/base/memory.c
  sw/device/lib/base/memory.h
  sw/device/lib/base/memory_perftest.c
Labels: Component:Software, Status:Ready to merge

#14531 [test] Enable passing arguments to the functest harness
  rules/opentitan_test.bzl
  sw/device/silicon_creator/rom/e2e/BUILD
  util/dvsim_test_runner.sh
  util/opentitan_functest_runner.sh
Labels: Component:Tooling

#14487 [otp_ctrl] Use comportable channels for alerts emanating from prim_otp
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/dv/cov/otp_ctrl_cov_unr_excl.el
  hw/ip/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_if.sv
  hw/ip/otp_ctrl/dv/tb.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_core_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_prim_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/data/top_earlgrey_alert_handler.ipconfig.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_top.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/autogen/dif_otp_ctrl_autogen.c
  sw/device/lib/dif/autogen/dif_otp_ctrl_autogen.h
  sw/device/lib/dif/autogen/dif_otp_ctrl_autogen_unittest.cc
  sw/device/tests/autogen/alert_test.c
  util/topgen/templates/chiplevel.sv.tpl
Labels: IP:otp_ctrl

#14606 [otbn] Fix DMEM/IMEM rdata bus enabled assertions
  hw/ip/otbn/rtl/otbn.sv
Labels: Type:Bug, IP:otbn, Milestone:V2S

#14646 [bazel] fix `.bazelrc` ot platform config
  .bazelrc
Labels: Type:Cleanup, SW:Build System

#13313 [doc] Updated doc file for this new prim library
  hw/ip/prim/doc/prim_clock_gp_mux2.md
Labels: Component:Doc, IP:prim

#14648 [otbn,rtl] Separate wipe value of last WDR and ACC register
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Type:Bug, Component:RTL, IP:otbn, Milestone:V2S, Status:Ready to merge
