Repository lowRISC/opentitan, pull requests merged in 2022-06, with the labels that each got.

#12950 [dif, rv_core_ibex] Add rnd api with unittests
  sw/device/lib/dif/dif_rv_core_ibex.c
  sw/device/lib/dif/dif_rv_core_ibex.h
  sw/device/lib/dif/dif_rv_core_ibex_unittest.cc
Labels: Priority:P0, IP:rv_core_ibex, SW:DIF, Milestone:V2

#12917 [bazel] fix bitstream cache log message types
  rules/scripts/bitstreams_workspace.py
Labels: Type:Cleanup, SW:Build System

#12952 [ci] Clean up verilator chip-level testing configuration.
  azure-pipelines.yml
  rules/opentitan_test.bzl
Labels: Component:CI

#12937 [dv,pwrmgr,top] update pwrmgr_deep_sleep_all_wake_ups test
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_pwrmgr_deep_sleep_all_wake_ups_vseq.sv
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/meson.build
  sw/device/tests/sim_dv/pwrmgr_deep_sleep_all_wake_ups.c
Labels: Component:DV, Priority:P2, TOP:earlgrey

#12925 [ci] remove systemtest englishbreakfast verilator tests
  azure-pipelines.yml
Labels: Priority:P1, Type:Cleanup, Component:CI, SW:Bazel Adoption Requirement

#13004 [bazel] update closed source example repo with custom test
  rules/opentitan.bzl
  rules/opentitan_test.bzl
  sw/device/tests/closed_source/BUILD.bazel
  sw/device/tests/closed_source/example_test.c
Labels: Priority:P1, SW:Bazel Adoption Requirement, SW:Build System

#12908 [top,dv,rstmgr] cpu_info test
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/BUILD
  sw/device/tests/meson.build
  sw/device/tests/rstmgr_cpu_info_test.c
Labels: Component:DV, TOP:earlgrey

#13046 [ci] Temporary mitigation for the flaky tests on the CW310
  azure-pipelines.yml
  ci/scripts/run-fpga-cw310-tests.sh
Labels: Priority:P0, Component:CI

#13058 [ci,sw/silicon_creator] Temporarily disable keymgr_functest on fpga
  sw/device/silicon_creator/lib/drivers/BUILD
Labels: Component:FPGA

#12929 [systemtest] remove systemtest in favor of bazel + opentitantool
  azure-pipelines.yml
  sw/device/lib/testing/test_framework/chip_level_test_infra.svg
  sw/device/lib/testing/test_framework/index.md
  test/.gitignore
  test/systemtest/README.md
  test/systemtest/__init__.py
  test/systemtest/conftest.py
  test/systemtest/earlgrey/__init__.py
  test/systemtest/earlgrey/config.py
  test/systemtest/earlgrey/roms_config.py
  test/systemtest/englishbreakfast/__init__.py
  test/systemtest/englishbreakfast/config.py
  test/systemtest/englishbreakfast/test_sim_verilator.py
  test/systemtest/test_sim_verilator_opentitan.py
  test/systemtest/utils.py
  test/test-localconf.yaml.example
Labels: Component:Tooling, Priority:P1, SW:Bazel Adoption Requirement

#12924 [usbdev] Move CSRs to 48 MHz and xbar_main
  hw/ip/rstmgr/dv/cov/rstmgr_unr_excl.el
  hw/ip/rstmgr/dv/env/rstmgr_env_pkg.sv
  hw/ip/rstmgr/dv/env/seq_lib/rstmgr_base_vseq.sv
  hw/ip/rstmgr/dv/sva/rstmgr_bind.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/data/xbar_main.hjson
  hw/top_earlgrey/data/xbar_peri.hjson
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/dv/autogen/xbar_tgl_excl.cfg
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_pkg.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_pkg.sv
  hw/top_earlgrey/ip/clkmgr/rtl/autogen/clkmgr_reg_top.sv
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_pkg.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_pkg.sv
  hw/top_earlgrey/ip/rstmgr/rtl/autogen/rstmgr_reg_top.sv
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.gen.hjson
  hw/top_earlgrey/ip/xbar_main/data/autogen/xbar_main.hjson
  hw/top_earlgrey/ip/xbar_main/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_main/dv/autogen/xbar_main_bind.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/tl_main_pkg.sv
  hw/top_earlgrey/ip/xbar_main/rtl/autogen/xbar_main.sv
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.gen.hjson
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.hjson
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_peri_bind.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/tl_peri_pkg.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/xbar_peri.sv
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/data/top_earlgrey_alert_handler.ipconfig.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_pkg.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  hw/top_englishbreakfast/data/xbar_peri.hjson
  sw/device/lib/dif/dif_rstmgr.c
  sw/device/tests/rstmgr_sw_rst_ctrl_test.c
Labels: Type:Cleanup, Component:RTL, IP:usbdev, TOP:earlgrey, TOP:englishbreakfast

#13071 [dv,ralgen] update `ralgen.py` to use git paths over relative
  hw/dv/tools/ralgen/ralgen.py
Labels: Type:Bug, SW:Build System

#13031 [bazel] further enhance manufacturer test hooks repo setup
  sw/device/lib/testing/test_framework/ottf_main.c
  sw/device/lib/testing/test_framework/ottf_main.h
  sw/device/tests/closed_source/BUILD.bazel
  sw/device/tests/closed_source/README.md
  sw/device/tests/closed_source/test_hooks_1.c
  sw/device/tests/closed_source/test_hooks_default.c
Labels: Priority:P1, Type:Cleanup, Type:Enhancement, SW:OTTF, SW:Build System

#13074 [ci] Fixup to #13046 to include the full set of fpga systemtests.
  ci/scripts/run-fpga-cw310-tests.sh
Labels: Priority:P1, Component:CI

#13088 [dv,ralgen] revert `ralgen.py` to use relative file paths (revert #13071)
  hw/dv/tools/ralgen/ralgen.py
Labels: Component:Tooling, Type:Bug

#12970 Verbose location script
  ci/scripts/target-location.sh
Labels: Status:Ready to merge

#13035 [bazel] clean up failing_verilator and cpu:4 tags
  ci/scripts/run-verilator-tests.sh
  rules/opentitan_test.bzl
  sw/device/silicon_creator/lib/sigverify/BUILD
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/tests/BUILD
  sw/device/tests/sim_dv/BUILD
Labels: Status:Ready to merge

#12930 [regtool] Add option to scrub alias definitions
  util/reggen/field.py
  util/reggen/ip_block.py
  util/reggen/multi_register.py
  util/reggen/reg_block.py
  util/reggen/register.py
  util/regtool.py
Labels: Component:Tooling

#12945 [sw,tests] Update SRAM scramble tests to handle ECC errors
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/lib/testing/test_framework/ottf_isrs.S
  sw/device/lib/testing/test_framework/ottf_isrs.c
  sw/device/lib/testing/test_framework/ottf_isrs.h
  sw/device/lib/testing/test_framework/ottf_start.S
  sw/device/tests/sim_dv/sram_ctrl_main_scrambled_access_test.c
  sw/device/tests/sim_dv/sram_ctrl_ret_scrambled_access_test.c
Labels: Type:Cleanup, Type:Enhancement, IP:sram_ctrl, Milestone:V2, SW:OTTF

#13063 [ci] re-add mask_rom_epmp_test_sim_verilator
  ci/scripts/run-verilator-tests.sh
Labels: Status:Ready to merge

#13157 [docs] update website docs to reflect meson removal
  doc/getting_started/_index.md
  doc/getting_started/build_sw.md
  doc/getting_started/setup_verilator.md
  rules/fusesoc.bzl
  sw/README.md
  sw/device/benchmarks/coremark/README.md
  sw/device/lib/_index.md
  sw/device/lib/arch/README.md
Labels: Priority:P1, SW:Build System

#13123 [ci] Retry install-package-dependencies up to 3 times on failure
  ci/install-package-dependencies.yml
Labels: Type:Enhancement, Component:CI, Status:Ready to merge

#13186 [dv,flash_ctrl] change tool to vcs
  hw/ip/flash_ctrl/dv/flash_ctrl_base_sim_cfg.hjson
  hw/ip/flash_ctrl/dv/flash_ctrl_sim_cfg.hjson
Labels: Component:DV, Priority:P2, IP:flash_ctrl

#13183 [otp_ctrl] Remove TODO from RTL
  hw/ip/otp_ctrl/rtl/otp_ctrl_ecc_reg.sv
Labels: Component:RTL

#12946 [top,dv,pwrmgr] pwrmgr normal sleep all wakeup test
  hw/ip/clkmgr/dv/sva/clkmgr_pwrmgr_sva_if.sv
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_pwrmgr_deep_sleep_all_wake_ups_vseq.sv
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/pwrmgr_normal_sleep_all_wake_ups.c
Labels: Component:DV, Priority:P2, TOP:earlgrey

#13180 [bazel] further enhance closed source test hooks repo
  sw/device/tests/BUILD
  sw/device/tests/closed_source/BUILD.bazel
Labels: Type:Enhancement, SW:Build System

#13199 [sw,tests] Add -f option to copy in sim.mk
  hw/dv/tools/dvsim/sim.mk
Labels: Component:Software, SW:Build System

#13212 [dif/entropy_src] restructure API for health test configuration
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
Labels: Priority:P1, Type:Cleanup, IP:entropy_src, SW:DIF, Milestone:V2

#13238 [bazel] mark cw310 tests as short, making them timeout in 60s
  rules/opentitan_test.bzl
Labels: Priority:P3, Status:Ready to merge

#13237 [opentitantool] resolve a warning by avoiding unused dependence on "bail"
  sw/host/opentitantool/src/command/image.rs
Labels: Priority:P3, Status:Ready to merge

#13242 [ci] Remove Verilator test's dependency on pre-fetched Bazel dependencies
  azure-pipelines.yml
  ci/scripts/run-verilator-tests.sh
Labels: Priority:P1, Component:CI

#13249 [bazel] sw/device/tests has a number of tests that are no longer broken
  sw/device/tests/BUILD
Labels: Priority:P1

#13149 [mask_rom] Add ROM_EXT measurement to the keymgr.
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_img_rma.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson
  hw/ip/otp_ctrl/doc/otp_ctrl_mmap.md
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  sw/device/silicon_creator/lib/base/BUILD
  sw/device/silicon_creator/lib/base/boot_measurements.h
  sw/device/silicon_creator/lib/base/static_critical.ld
  sw/device/silicon_creator/lib/base/static_critical_boot_measurements.c
  sw/device/silicon_creator/lib/keymgr_binding_value.h
  sw/device/silicon_creator/mask_rom/BUILD
  sw/device/silicon_creator/mask_rom/mask_rom.c
  sw/device/silicon_creator/mask_rom/mask_rom_epmp_test.c
  sw/device/silicon_creator/rom_ext/BUILD
Labels: SW:Mask ROM

#13288 [bazel/ci] mark e2e mask rom test flaky for better ci runs
  ci/scripts/run-fpga-cw310-tests.sh
  sw/device/silicon_creator/mask_rom/BUILD
Labels: Priority:P1, Component:CI, Status:Ready to merge

#13259 [otbn,sw] Use app symbols for parameter addresses
  sw/device/tests/otbn_smoketest.c
  sw/otbn/code-snippets/barrett384.s
Labels: IP:otbn, Status:Ready to merge

#13304 [pinmux/dif] Fix check for output selection arg
  sw/device/lib/dif/dif_pinmux.c
Labels: IP:pinmux, SW:DIF

#13177 [alert_handler] Re-arm crashdump latching mechanism upon esc clear
  hw/ip_templates/alert_handler/rtl/alert_handler_reg_wrap.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_reg_wrap.sv
Labels: Component:RTL, IP:alert_handler

#13253 [bazel] cleanup FREERTOS_IS_BAZEL
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/freertos_hooks.c
  sw/device/lib/testing/test_framework/freertos_port.c
  sw/device/lib/testing/test_framework/ottf_main.c
Labels: Priority:P3, Status:Ready to merge

#11879 [otbn] Remove SecWipeEn configuration machinery
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_dpi.svh
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  hw/ip/otbn/dv/tracer/rtl/otbn_tracer.sv
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Type:Cleanup, Component:RTL, IP:otbn

#12943 [hmac,doc] Copy-edits in HMAC documentation
  hw/ip/hmac/doc/_index.md
Labels: Component:Doc, Type:Cleanup, IP:hmac

#12927 [otbn] Remove un-needed Verilator waiver
  hw/ip/otbn/lint/otbn.vlt
Labels: Type:Cleanup, IP:otbn

#13306 [otbn,dv] Improve FIPS connection for RND in OTBN
  hw/ip/otbn/dv/uvm/env/otbn_env_cfg.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, IP:otbn, Milestone:V2S

#13364 [otbn,rtl] Connect insn addr mismatch to escalate
  hw/ip/otbn/rtl/otbn_core.sv
Labels: Component:RTL, IP:otbn, Milestone:D2S

#13167 [doc] update D1 checklist item descriptions
  doc/project/checklist.md
Labels: Component:Doc

#13389 Add compile_commands.json to .gitignore
  .gitignore
Labels: Component:Tooling, Status:Ready to merge

#13392 [util] Use correct working dir in generate_compilation_db.py
  util/generate_compilation_db.py
  util/generate_compilation_db_test.py
Labels: Component:Tooling, Status:Ready to merge

#13401 [usbdev] Fix OUT ZLP handling under FIFO errors
  hw/ip/usbdev/rtl/usb_fs_nb_out_pe.sv
  hw/ip/usbdev/rtl/usbdev_usbif.sv
Labels: Component:RTL, IP:usbdev, Milestone:D2

#13210 [topgen] Pass alias register paths into topgen for top RAL generation
  hw/dv/tools/ralgen/ralgen.py
  util/topgen.py
Labels: Component:Tooling

#13303 [ci] Combine bazel build steps
  azure-pipelines.yml
Labels: Priority:P1, Status:Ready to merge

#13433 [alert_handler] Add some more assertions to check wait cycle mask
  hw/ip_templates/alert_handler/rtl/alert_handler.sv
  hw/ip_templates/alert_handler/rtl/alert_handler_ping_timer.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_ping_timer.sv
Labels: Component:RTL, IP:alert_handler

#13294 [otbn,dv] Fix reset during EDN request
  hw/ip/otbn/dv/otbnsim/sim/edn_client.py
  hw/ip/otbn/dv/otbnsim/sim/ext_regs.py
Labels: Component:DV, IP:otbn

#13196 [docs] update FPGA website docs to reflect meson removal
  doc/getting_started/setup_fpga.md
Labels: Component:Doc, Type:Cleanup, SW:Build System

#12975 Cleanup util make distribution sh
  util/make_distribution.sh
Labels: Priority:P3, Status:Ready to merge
