Repository lowRISC/opentitan, pull requests merged in 2022-11, with the labels that each got.

#15868 [bazel] update rules_rust to add missing SHAs
  third_party/rust/repos.bzl
Labels: Component:Tooling, Priority:P1, Type:Bug, SW:Build System

#15578 [ci] increase Xcelium DV test sets 1 and 2
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
Labels: Component:DV, Priority:P1, Component:CI, Milestone:V2

#15885 [bazel] exclude foundry repo from Verilator build
  hw/BUILD
Labels: Priority:P1, Type:Bug, SW:Build System

#15760 [top-level/pwrmgr] Extend chip_sw_pwrmgr_main_power_glitch_reset
  hw/ip/pwrmgr/dv/pwrmgr_sim_cfg.hjson
  hw/ip/pwrmgr/dv/sva/pwrmgr_ast_sva_if.sv
  hw/ip/pwrmgr/dv/sva/pwrmgr_bind.sv
  hw/ip/pwrmgr/dv/sva/pwrmgr_sva.core
  hw/ip/pwrmgr/dv/sva/pwrmgr_unit_bind.sv
  hw/ip/pwrmgr/rtl/pwrmgr.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_main_power_glitch_vseq.sv
  hw/top_earlgrey/dv/sva/top_earlgrey_bind.sv
Labels: Status:Ready to merge

#15943 [bazel] rollback 15905 to triage Bazel airgapped issues
  third_party/rust/repos.bzl
Labels: Priority:P0

#15932 [ci] Split FPGA tests into two batches
  azure-pipelines.yml
  ci/scripts/run-fpga-cw310-tests.sh
Labels: Component:CI

#15978 [doc] Add udev instructions for ARM-USB-TINY-H JTAG adapter
  doc/getting_started/setup_fpga.md
Labels: Component:Doc, Status:Ready to merge

#15930 [dv] Add `wait_clks_or_rst` function to `clk_rst_if`
  hw/dv/sv/common_ifs/clk_rst_if.sv
Labels: Component:DV, Status:Ready to merge

#15992 [ci] Remove deprecated OpenOCD arg from package installer
  ci/install-package-dependencies.sh
Labels: Status:Ready to merge

#15944 [otp/ast] Enable AST initialization in Bazel-generated OTP images
  hw/ip/otp_ctrl/data/BUILD
Labels: IP:otp_ctrl, Status:Ready to merge

#16054 [rom_e2e] add rom_e2e_shutdown_output to DV
  hw/dv/tools/dvsim/sim.mk
  hw/top_earlgrey/dv/chip_rom_tests.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rom_e2e_shutdown_output_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Component:DV, Priority:P1, TOP:earlgrey, Milestone:V2, Component:Rom/E2e/Task

#16091 [dv,test] add coremark test suite to DV
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  third_party/coremark/top_earlgrey/BUILD
Labels: Component:ChipLevelTest

#16034 [test] Add rom_e2e_watchdog_reconfig tests.
  rules/otp.bzl
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/device/silicon_creator/rom/e2e/watchdog_test.c
Labels: Component:Rom/E2e/Test

#16136 [otp/tests] Clean up OTP generation in E2E tests
  hw/ip/otp_ctrl/data/BUILD
  rules/otp.bzl
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Component:Software, Component:Rom/E2e/Task

#16123 [test] Implement rom_e2e_debug_disallowed_in_prod
  rules/opentitan_gdb_test.bzl
  rules/scripts/gdb_test_coordinator.py
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: SW:ROM, Status:Ready to merge

#16174 [dv/mubi] Allow expressions for weights in `_DV_MUBI_DIST`
  hw/dv/sv/cip_lib/cip_macros.svh
Labels: Component:DV

#15713 [ci] Experimentally run some JTAG tests on CI
  azure-pipelines.yml
  rules/opentitan_gdb_test.bzl
  rules/scripts/gdb_test_coordinator.py
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Component:CI

#16185 [rom_e2e] fix sigverify_always test
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Priority:P1, Type:Bug, Type:Cleanup, Milestone:V2, Component:Rom/E2e/Test

#16237 [rom_e2e,dv] build `sigverify_always` test for DV
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Priority:P1, Type:Enhancement, Milestone:V2, Component:Rom/E2e/Test

#16179 [fpga] Add SRST delay option to OpenOCD args
  rules/scripts/gdb_test_coordinator.py
Labels: Status:Ready to merge

#16226 [ci/.bazelrc] Add color and reduce noisiness of Bazel output
  ci/.bazelrc
Labels: Component:CI, Status:Ready to merge

#16253 [spi_host] Decrease num_trans and num_runs for spi_host_sw_reset
  hw/ip/spi_host/dv/env/seq_lib/spi_host_sw_reset_vseq.sv
Labels: Component:DV, IP:spi_host

#16266 [ci] Exclude non-JTAG tests in experimental job
  azure-pipelines.yml
Labels: Component:CI, Status:Ready to merge

#16264 [top/dv] Ibex lockstep test fixes
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rv_core_ibex_lockstep_glitch_vseq.sv
Labels: Status:Ready to merge

#16168 [test] Implement rom_e2e_shutdown_exception_asm
  sw/device/silicon_creator/rom/e2e/BUILD
Labels: Status:Ready to merge

#16217 [test] Implement rom_e2e_ret_ram_init_test
  sw/device/silicon_creator/rom/data/rom_e2e_testplan.hjson
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/device/silicon_creator/rom/e2e/rom_e2e_ret_ram_init_test.c
Labels: Component:Rom/E2e/Test

#16328 [test] Implement rom_e2e_ret_ram_keep test
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/device/silicon_creator/rom/e2e/rom_e2e_ret_ram_keep_test.c
Labels: Component:Rom/E2e/Test

#16311 [entropy_src/rtl] Move `ack_sm` state definition into separate package
  hw/ip/entropy_src/dv/env/seq_lib/entropy_src_err_vseq.sv
  hw/ip/entropy_src/entropy_src.core
  hw/ip/entropy_src/rtl/entropy_src_ack_sm.sv
  hw/ip/entropy_src/rtl/entropy_src_ack_sm_pkg.core
  hw/ip/entropy_src/rtl/entropy_src_ack_sm_pkg.sv
  hw/ip/entropy_src/rtl/entropy_src_pkg.sv
Labels: Type:Cleanup, Component:RTL, IP:entropy_src

#16351 [ci] increase airgapped build check timeout
  azure-pipelines.yml
Labels: Component:CI

#16376 [rom_e2e] test `asm_init` in multiple LC states
  sw/device/silicon_creator/rom/e2e/BUILD
  sw/host/tests/rom/e2e_chip_specific_startup/src/main.rs
Labels: Component:Rom/E2e/Test

#16396 [rom_e2e,dv] increase test timeouts for `boot_policy_valid` `test_unlocked0` tests
  hw/top_earlgrey/dv/chip_rom_tests.hjson
Labels: Component:DV, Priority:P1, Type:Cleanup, Component:Rom/E2e/Test

#16379 Revert "[csrng] Temporarily hack-in disable handling"
  hw/ip/csrng/rtl/csrng_cmd_stage.sv
Labels: Priority:P1, Component:RTL, Component:Security, IP:csrng, Milestone:V2S

#16309 [entropy_src/dv] Update CG names in testplan
  hw/ip/entropy_src/data/entropy_src_testplan.hjson
Labels: Component:DV, IP:entropy_src

#16414 [entropy_src/dv] Update covergroups in testplan
  hw/ip/entropy_src/data/entropy_src_testplan.hjson
Labels: Component:Doc, IP:entropy_src

#16421 [entropy_src/dv] Fix syntax error in UNR refines
  hw/ip/entropy_src/dv/cov/entropy_src_UNR.vRefine
Labels: Component:DV, IP:entropy_src

#16397 [csrng/rtl] In state machines consolidate transitions to error and idle states
  hw/ip/csrng/rtl/csrng_cmd_stage.sv
  hw/ip/csrng/rtl/csrng_main_sm.sv
Labels: Component:RTL, IP:csrng

#16432 [csrng,dv] Add VRefine for CSRNG V2S
  hw/ip/csrng/dv/cov/csrng_v2s_exclusions.vRefine
  hw/ip/csrng/dv/csrng_sim_cfg.hjson
Labels: Component:DV, IP:csrng

#16426 [csrng,dv] Extend err_code_cg to check SFIFO err
  hw/ip/csrng/dv/cov/csrng_cov_if.sv
Labels: Component:DV, Type:Enhancement, IP:csrng

#16364 [dv,chip] Randomly select instance in chip_spi_host_tx_rx TLT
  hw/top_earlgrey/dv/env/chip_if.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_spi_host_tx_rx_vseq.sv
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/spi_host_tx_rx_test.c
Labels: Component:DV, TOP:earlgrey, Milestone:V2

#16427 [csrng] Add verification for CSRNG.AES_CIPHER.CTR.REDUN
  hw/ip/csrng/data/csrng_sec_cm_testplan.hjson
  hw/ip/csrng/dv/env/csrng_env_cfg.sv
  hw/ip/csrng/dv/env/csrng_path_if.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_err_vseq.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_intr_vseq.sv
Labels: Component:DV, IP:csrng

#16447 [csrng, dv] Add verification for AES_CIPHER.CTRL.SPARSE countermeasure
  hw/ip/csrng/data/csrng_sec_cm_testplan.hjson
  hw/ip/csrng/dv/env/csrng_env_cfg.sv
  hw/ip/csrng/dv/env/csrng_path_if.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_err_vseq.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_intr_vseq.sv
Labels: Component:DV, IP:csrng

#16319 [entropy_src] V2S sign-off
  hw/ip/entropy_src/data/entropy_src.prj.hjson
  hw/ip/entropy_src/doc/checklist.md
Labels: IP:entropy_src, Milestone:V2S

#16491 [csrng,dv] Update vRefine for AES branch coverage exclusion
  hw/ip/csrng/dv/cov/csrng_v2s_exclusions.vRefine
Labels: Component:DV, Type:Enhancement, IP:csrng

#16502 [doc] Fix apt command text wrapping in Getting Started guide
  util/build_docs.py
Labels: Component:Doc

#16511 [csrng, dv] Adjust max genbits_ready delay to hit genbits_depth_cross cp
  hw/ip/csrng/dv/tests/csrng_cmds_test.sv
Labels: Component:DV, IP:csrng

#16386 Test AES sideload key is correctly used by AES core
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/chip_env_pkg.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_keymgr_key_derivation_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_keymgr_sideload_aes_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/tests/BUILD
  sw/device/tests/keymgr_sideload_aes_test.c
Labels: Component:ChipLevelTest

#15985 Simplify the Vivado install guide by pointing to Xilinx's documentation.
  doc/getting_started/install_vivado/features.png
  doc/getting_started/install_vivado/img/step1.png
  doc/getting_started/install_vivado/img/step2.png
  doc/getting_started/install_vivado/img/step3.png
  doc/getting_started/install_vivado/img/step4.png
  doc/getting_started/install_vivado/img/step5.png
  doc/getting_started/install_vivado/img/step6.png
  doc/getting_started/install_vivado/img/step7.png
  doc/getting_started/install_vivado/img/step8.png
  doc/getting_started/install_vivado/img/step9.png
  doc/getting_started/install_vivado/img/vivado_download.png
  doc/getting_started/install_vivado/index.md
Labels: Status:Ready to merge

#16515 [csrng,dv] Coverage hole fixes for sw_cmd_sts CSR
  hw/ip/csrng/dv/env/seq_lib/csrng_base_vseq.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_intr_vseq.sv
Labels: Component:DV, IP:csrng

#16545 [bazel] Mark //hw/bitstream:test_rom as testonly
  hw/bitstream/BUILD
Labels: Status:Ready to merge

#16517 [csrng] V2 and V2S signoff
  hw/ip/csrng/data/csrng.prj.hjson
  hw/ip/csrng/doc/checklist.md
Labels: Component:DV, IP:csrng, Milestone:V2, Milestone:V2S

#16441 [ci] Add script to check Bazel target names
  azure-pipelines.yml
  ci/scripts/check-bazel-tags.sh
  ci/scripts/check_bazel_target_names.py
  ci/scripts/check_bazel_test_suites.py
  ci/scripts/lib/BUILD
  ci/scripts/lib/bazel_query.py
  ci/scripts/lib/bazel_query_test.py
Labels: Component:CI, SW:Build System, Status:Ready to merge

#16403 [tests] Clean up retention SRAM E2E tests
  sw/device/silicon_creator/rom/e2e/rom_e2e_ret_ram_init_test.c
  sw/device/silicon_creator/rom/e2e/rom_e2e_ret_ram_keep_test.c
Labels: Status:Ready to merge, Component:Rom/E2e/Task

#16612 [prim] Reset assertion improvement
  hw/ip/prim/rtl/prim_sync_reqack.sv
Labels: Component:DV, Type:Enhancement
