Repository lowRISC/opentitan, pull requests merged in 2022-05, with the labels that each got.

#12399 [otbn,rtl] Fix some assertions about state signals
  hw/ip/otbn/rtl/otbn.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12378 [dvsim] correct argparse usage statement and help
  rules/opentitan_test.bzl
  util/dvsim/dvsim.py
Labels: Type:Bug, Tool:dvsim

#12319 [bazel] update dvsim.py to build ROMs with bazel
  hw/dv/tools/dvsim/sim.mk
Labels: Priority:P0, SW:Bazel Adoption Requirement, SW:Build System

#12459 [sw/test_rom] move clk jitter enable to test ROM
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  sw/device/lib/testing/test_framework/BUILD
  sw/device/lib/testing/test_framework/meson.build
  sw/device/lib/testing/test_framework/ottf_main.c
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/meson.build
  sw/device/lib/testing/test_rom/test_rom.c
Labels: Component:Software, Type:Cleanup, SW:OTTF

#12476 [prim_assert] Minor rewording in comment
  hw/ip/prim/rtl/prim_assert.sv
Labels: Component:FPV

#12479 [top] Chip rev/gen update
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
Labels: TOP:earlgrey

#12490 [sw, test] Add missing otbn_randomness Bazel test
  sw/device/tests/BUILD
Labels: Component:Software

#12501 [sw/benchmarks] fix coremark benchmark nightly test
  sw/device/benchmarks/meson.build
  sw/vendor/eembc_coremark/core_main.c
  sw/vendor/patches/eembc_coremark/use_ottf_main.patch
Labels: Component:Software, Type:Bug

#12526 [bazel/rules_rust] use forked/patched `rules_rust` repo
  third_party/rust/repos.bzl
  util/prep-bazel-airgapped-build.sh
Labels: Priority:P1, Type:Bug, SW:Bazel Adoption Requirement, SW:Build System

#12548 [opentitanlib] Add auto-default values for the ti50 emulator backend
  sw/host/opentitanlib/src/backend/ti50emulator.rs
Labels: Component:Software, Priority:P0, SW:opentitantool

#12533 [bazel] use GitHub mirrors of boringssl and mundane
  third_party/rust/repos.bzl
Labels: Priority:P1, Type:Cleanup, SW:Bazel Adoption Requirement, SW:Build System

#12554 [sw/host] remove ignore for Cargo.lock ROM_EXT signer
  .gitignore
Labels: Component:Software, Type:Cleanup

#12555 [hw,sw,docs] redact acronyms
  hw/ip/adc_ctrl/rtl/adc_ctrl.sv
  hw/ip/sysrst_ctrl/rtl/sysrst_ctrl_comboact.sv
  hw/top_earlgrey/data/chip_testplan.hjson
  sw/host/opentitanlib/src/transport/hyperdebug/c2d2.rs
Labels: Type:Cleanup

#12534 [bazel] add shas for remaing deps for airgapped builds
  third_party/cc/repos.bzl
  third_party/rust/crates/crates.bzl
  third_party/rust/repos.bzl
Labels: Priority:P1, Type:Cleanup, SW:Bazel Adoption Requirement, SW:Build System

#12561 [regtool] Per interface hier_path support
  hw/ip_templates/alert_handler/data/alert_handler.hjson.tpl
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.hjson
  util/reggen/bus_interfaces.py
  util/reggen/gen_dv.py
  util/reggen/gen_fpv.py
  util/reggen/ip_block.py
  util/topgen/top_uvm_reg.sv.tpl
Labels: Component:DV, Component:Tooling, Tool:reggen

#12586 [prim_subreg] Remove anchor bufs since they are not needed
  hw/ip/prim/rtl/prim_subreg.sv
Labels: Component:RTL

#12568 [ci] Move verible checks to slow-lint
  azure-pipelines.yml
  ci/jobs/quick-lint.sh
  ci/jobs/slow-lint.sh
Labels: Priority:P3, Component:CI

#12605 [ci] Temporary workarounds for Verilator test flakiness
  azure-pipelines.yml
  ci/scripts/run-fast-verilator-tests.sh
  ci/scripts/run-slow-verilator-tests.sh
  rules/opentitan_test.bzl
Labels: Priority:P0, Component:CI, SW:Bazel Adoption Requirement

#12590 [dif/otp_ctrl] add DIF to check if a partition digest is computed
  sw/device/lib/dif/dif_otp_ctrl.c
  sw/device/lib/dif/dif_otp_ctrl.h
  sw/device/lib/dif/dif_otp_ctrl_unittest.cc
Labels: Type:Enhancement, IP:otp_ctrl, SW:DIF

#12611 [ci] Reduce the number of Verilator tests run in CI
  azure-pipelines.yml
  ci/scripts/run-fast-verilator-tests.sh
  ci/scripts/run-slow-verilator-tests.sh
  ci/scripts/run-verilator-tests.sh
Labels: Priority:P0, Component:CI

#12636 [bazel,rust] remove unneeded BUILD.bazel file
  third_party/rust/crates/cargo/BUILD.bazel
Labels: Priority:P1, SW:Bazel Adoption Requirement, SW:Build System

#12638 [usbdev] Minor lint fix
  hw/ip/usbdev/rtl/usbdev.sv
Labels: Component:RTL, IP:usbdev

#12645 [otbn,dv] Two fixes in the ISS to handle escalation at unexpected times
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Bug, IP:otbn

#12653 [otbn,rtl] Remove stray semicolon after an ASSERT macro
  hw/ip/otbn/rtl/otbn_loop_controller.sv
Labels: Type:Cleanup, IP:otbn

#12654 [otbn,dv] Fix return type of _set_loop_counter in otbn_base_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12634 [bazel,dvsim] remove gen-binaries.py's reliance on meson_init.sh
  hw/ip/otbn/dv/uvm/gen-binaries.py
  hw/ip/otbn/dv/uvm/get-toolchain-paths.sh
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Priority:P1, SW:Bazel Adoption Requirement, SW:Build System

#12629 [ci] Fix bazel query bug to run a larger set of tests
  ci/scripts/run-verilator-tests.sh
Labels: Priority:P1, Component:CI, SW:Bazel Adoption Requirement

#12652 [otbn,dv] Silence an Xcelium warning from otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_core_model.sv
Labels: Component:DV, Type:Cleanup, IP:otbn

#12659 [otbn,dv] Fix a pair of signed/unsigned comparisons in otbn_memutil
  hw/ip/otbn/dv/memutil/otbn_memutil.cc
Labels: Component:DV, Type:Cleanup, IP:otbn

#12665 [otbn,dv] Don't connect up "idle_o" output in TB
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/tb.sv
Labels: Component:DV, Type:Cleanup, IP:otbn

#12663 [otbn,dv] Remove unused "locking_i" signal to the idle checker
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
Labels: Component:DV, Type:Cleanup, IP:otbn

#12311 [otbn,dv] Be more descriptive when failing a trace comparison
  hw/ip/otbn/dv/model/otbn_trace_checker.cc
  hw/ip/otbn/dv/model/otbn_trace_entry.cc
  hw/ip/otbn/dv/model/otbn_trace_entry.h
Labels: Component:DV, Type:Enhancement, IP:otbn

#12666 [otbn,dv] Call on_state_change with the correct value in scoreboard
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12664 [otbn,dv] Remove static is_xz function from otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.cc
Labels: Component:DV, Type:Cleanup, IP:otbn

#12656 [otbn,dv] Check success of uvm_hdl_force/release in vseqs
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_illegal_mem_acc_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_zero_state_err_urnd_vseq.sv
Labels: Component:DV, Type:Cleanup, IP:otbn

#12657 [otbn,dv] Add a missing explicit enum cast in otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12587 [dv_base_reg] Extend search by name functions
  hw/dv/sv/dv_base_reg/dv_base_reg.sv
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
  hw/dv/sv/dv_base_reg/dv_base_reg_field.sv
Labels: Component:DV, Component:Tooling

#12644 [doc] Avoid trailing whitespace in auto-generated reggen pages
  util/reggen/reg_html.css
Labels: Component:Doc, Type:Bug

#12702 [dif/csrng] move DIF to S2
  hw/ip/csrng/data/csrng.prj.hjson
  sw/device/lib/dif/dif_csrng.md
Labels: Priority:P1, IP:csrng, SW:DIF, Milestone:V2

#12723 [opentitantool] fix strap pin initializations
  sw/host/opentitanlib/src/transport/cw310/mod.rs
Labels: Priority:P0, SW:opentitantool, SW:Bazel Adoption Requirement, SW:Build System

#12619 [otbn,rtl] Fix timing of locking signal from controller
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#12737 [otbn,dv] Correct the boundary of a "critical section"
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12743 [sw/base] fix documentation comments in bitfield.h
  sw/device/lib/base/bitfield.h
Labels: Type:Cleanup, IP:edn, SW:DIF

#12742 [rv_core_ibex] align default config with config used in top
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
Labels: IP:rv_core_ibex, TOP:earlgrey

#12781 [bazel] remove "test_suite" tag from opentitan_test
  azure-pipelines.yml
  rules/opentitan_test.bzl
Labels: Priority:P1, Type:Bug, SW:Build System

#12730 [dv/chip] walkthrough for all test lock/unlocks
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  hw/top_earlgrey/dv/env/chip_env.core
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_lc_walkthrough_testunlocks_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_vseq_list.sv
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sim_dv/lc_walkthrough_testunlocks_test.c
  sw/device/tests/sim_dv/meson.build
Labels: Priority:P1, IP:lc_ctrl, Milestone:V2

#12804 [otbn,doc] Reword documentation of the RND ISPR
  hw/ip/otbn/doc/_index.md
Labels: Component:Doc, Type:Cleanup, IP:otbn

#12824 [otp_ctrl] Add generic registers for prim_otp_wrapper
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util.core
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/otp_ctrl.core
  hw/ip/otp_ctrl/otp_ctrl_pkg.core
  hw/ip/otp_ctrl/otp_ctrl_prim_reg_top.core
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_prim_reg_top.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_pkg.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_reg_top.sv
  hw/ip/prim_generic/prim_generic_otp.core
  hw/ip/prim_generic/rtl/prim_generic_otp.sv
Labels: IP:otp_ctrl, Tool:reggen

#12763 [otbn,rtl] Tweak how we check integrity for ISPRs
  hw/ip/otbn/dv/uvm/env/otbn_controller_if.sv
  hw/ip/otbn/rtl/otbn_controller.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#12772 [otbn,rtl] Fix overflow in stack_top_idx
  hw/ip/otbn/rtl/otbn_stack.sv
Labels: Type:Bug, Component:RTL, IP:otbn

#12874 Revert "[python] Bump fusesoc/edalize versions"
  python-requirements.txt
Labels: Component:Tooling

#12879 [dif/lc_ctrl] split `dif_lc_ctrl_transition` into two
  sw/device/lib/dif/dif_lc_ctrl.c
  sw/device/lib/dif/dif_lc_ctrl.h
  sw/device/lib/dif/dif_lc_ctrl_unittest.cc
  sw/device/tests/sim_dv/flash_rma_unlocked_test.c
  sw/device/tests/sim_dv/lc_ctrl_transition_impl.c
  sw/device/tests/sim_dv/lc_walkthrough_test.c
  sw/device/tests/sim_dv/lc_walkthrough_testunlocks_test.c
Labels: Type:Cleanup, IP:lc_ctrl, SW:DIF, Milestone:D3

#12839 [fpga] Bring AON clk down to 200 kHz
  hw/top_earlgrey/data/clocks.xdc
  hw/top_earlgrey/rtl/clkgen_xil7series.sv
  sw/device/lib/arch/device_fpga_cw310.c
Labels: Component:FPGA, Type:Cleanup

#12698 [otbn] Various lint fixes
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_loop_controller.sv
  hw/ip/otbn/rtl/otbn_stack.sv
Labels: Component:RTL, IP:otbn, IP:prim

#12658 [kmac,dv] Fix types in a digestpp_dpi helper function
  hw/ip/kmac/dv/dpi/digestpp_dpi.cc
Labels: Component:DV, Type:Cleanup

#12894 [otbn,dv] Adjust assertions in otbn_rnd_if to handle ignored values
  hw/ip/otbn/dv/uvm/env/otbn_rnd_if.sv
Labels: Component:DV, Type:Bug, IP:otbn

#12923 [prim_sparse_fsm] Make force path agnostic to tech target
  hw/dv/sv/sec_cm/prim_sparse_fsm_flop_if.sv
Labels: Component:DV, Priority:P1

#12936 [otbn,dv] Handle injected errors in middle of memory secure wipe
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
Labels: Component:DV, Type:Bug, IP:otbn

#12933 [otbn,rtl] Drop pending RND prefetch at end of operation
  hw/ip/otbn/dv/otbnsim/sim/edn_client.py
  hw/ip/otbn/dv/otbnsim/sim/ext_regs.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_rnd.sv
Labels: Type:Bug, Type:Cleanup, Component:RTL, IP:otbn

#12935 [otbn,dv] Correct bogus assertion in on_otp_cdc_done
  hw/ip/otbn/dv/otbnsim/sim/sim.py
Labels: Component:DV, Type:Bug, IP:otbn

#12881 [dif, ibex] Add nmi api with unittests
  sw/device/lib/dif/dif_rv_core_ibex.c
  sw/device/lib/dif/dif_rv_core_ibex.h
  sw/device/lib/dif/dif_rv_core_ibex_unittest.cc
Labels: Priority:P1, IP:rv_core_ibex, SW:DIF, Milestone:V2

#12942 [bazelisk] Use a lock to avoid downloading Bazel lots of times
  bazelisk.sh
Labels: SW:Build System
