Repository lowRISC/opentitan, pull requests merged in 2022-07, with the labels that each got.

#13486 [sw/host/opentitanlib] Add SFDP signature check
  sw/host/opentitanlib/src/spiflash/sfdp.rs
Labels: SW:opentitantool, Status:Ready to merge

#13479 [ci] Move continueOnError flag for Bazel fetch step
  azure-pipelines.yml
Labels: Component:CI

#13545 [ci] Avoid running clang-format when no .c/.cc files are changed.
  ci/scripts/clang-format.sh
Labels: Priority:P1, Component:CI

#13475 [.github] Add advice to ignore unknown user errors
  .github/CODEOWNERS
Labels: Component:Doc, Status:Ready to merge

#13455 [util/design] Encode bit width in OTP vmem filename
  rules/autogen.bzl
  util/design/gen-otp-img.py
  util/design/lib/OtpMemImg.py
Labels: Component:Software, Status:Ready to merge

#13464 [top] Separate JTAG from SPIDEV on CW310
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/pins_cw310.xdc
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/pinmux/doc/autogen/pinout_cw310.md
  hw/top_earlgrey/ip/pinmux/doc/autogen/targets.md
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/chip_earlgrey_verilator.sv
  hw/top_earlgrey/rtl/clkgen_xil7series.sv
  hw/top_englishbreakfast/data/pins_cw305.xdc
  hw/top_englishbreakfast/data/top_englishbreakfast.hjson
  sw/device/examples/hello_usbdev/hello_usbdev.c
  sw/device/lib/testing/pinmux_testutils.c
  sw/device/tests/usbdev_test.c
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:FPGA

#13562 [alert_handler] Align docs for crashdump latching
  hw/ip_templates/alert_handler/doc/_index.md
  hw/top_earlgrey/ip_autogen/alert_handler/doc/_index.md
Labels: Component:Doc, IP:alert_handler

#13539 [otbn] Predecode shift amount, use prim_onehot_mux for logical_res
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_predecode.sv
Labels: IP:otbn, Milestone:D2S

#13593 [alert_handler] Fix TODO in WaitCycMask SVA
  hw/ip_templates/alert_handler/rtl/alert_handler_ping_timer.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_ping_timer.sv
Labels: IP:alert_handler, Milestone:D3

#13597 [dif/entropy_src] add health test configuration DIFs
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
Labels: Priority:P1, IP:entropy_src, SW:DIF, Milestone:V2

#13551 [lc_ctrl] Allow clock mux manipulation before initiating a transition
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_fsm.sv
Labels: Component:RTL, IP:lc_ctrl

#13600 [tlul/doc] Fix link to crossbar tool
  hw/ip/tlul/doc/_index.md
Labels: Component:Doc, IP:tlul, Status:Ready to merge

#13500 [build] clean up old mentions of meson
  BUILD.bazel
  sw/vendor/patches/riscv_compliance/0002-Add-OpenTitan-target.patch
Labels: Priority:P3, Status:Ready to merge

#13453 [usbdev] Fix control bug on clear_rdybit
  hw/ip/usbdev/rtl/usbdev.sv
Labels: Priority:P1, Component:RTL, IP:usbdev, Milestone:D3

#13632 [ci] Upload MMI files to GCP after Vivado build
  azure-pipelines.yml
  ci/scripts/build-bitstream-vivado.sh
Labels: Component:FPGA, Component:CI, Status:Ready to merge

#13637 [dif/entropy_src] add health test stats DIFs
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
Labels: Priority:P1, IP:entropy_src, SW:DIF, Milestone:V2

#13654 [otbn,rtl,dv] Add status for internal secure wipe
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/otbnsim/sim/constants.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_dmem_err_vseq.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
  sw/device/lib/crypto/drivers/otbn.h
  sw/device/lib/dif/dif_otbn.h
  sw/device/silicon_creator/lib/drivers/otbn.h
Labels: Component:DV, Component:RTL, IP:otbn, Milestone:D2S, Status:Ready to merge

#13671 [otbn,rtl] Fix `adder_y_res_used`
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
Labels: Type:Bug, Component:RTL, IP:otbn, Milestone:D2S, Status:Ready to merge

#13670 [doc] Update Earl Grey documentation and block diagram
  hw/top_earlgrey/doc/_index.md
  hw/top_earlgrey/doc/top_earlgrey_block_diagram.svg
Labels: Component:Doc

#13667 [dif/entropy_src] add alert threshold config
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
  sw/device/tests/entropy_src_ast_rng_req_test.c
  sw/device/tests/entropy_src_fw_ovr_test.c
  sw/device/tests/entropy_src_kat_test.c
  sw/device/tests/entropy_src_smoketest.c
Labels: Component:Software, Priority:P1, IP:entropy_src, SW:DIF, Milestone:V2

#13642 Test rom reset reason reg with difs
  sw/device/lib/dif/BUILD
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/english_breakfast_fake_driver_funcs.c
  sw/device/lib/testing/test_rom/test_rom.c
Labels: Component:Software, Priority:P2, Type:Cleanup

#13694 [dif/entropy_src] cleanup/add unit tests for observe FIFO DIFs
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
  sw/device/tests/entropy_src_fw_ovr_test.c
  sw/device/tests/entropy_src_kat_test.c
Labels: Component:Software, Type:Cleanup, IP:entropy_src, SW:DIF, Milestone:V2

#13719 [otbn,dv] Fix reset during EDN request (again)
  hw/ip/otbn/dv/otbnsim/sim/edn_client.py
Labels: Component:DV, IP:otbn, Status:Ready to merge

#13627 [bazel] Build sim_dv tests for sim_dv
  sw/device/tests/sim_dv/BUILD
Labels: Priority:P2, Type:Bug, SW:Build System, Status:Ready to merge, Component:ChipLevelTest

#13717 [dif/entropy_src] add DIFs for FIFO checking and alerts/errors
  sw/device/lib/dif/dif_entropy_src.c
  sw/device/lib/dif/dif_entropy_src.h
  sw/device/lib/dif/dif_entropy_src_unittest.cc
Labels: Component:Software, Type:Enhancement, IP:entropy_src, SW:DIF, Milestone:V2

#13702 [otbn,data] Fix synopsis of `bn.mulqacc.wo` instruction
  hw/ip/otbn/data/bignum-insns.yml
Labels: Component:Doc, IP:otbn, Status:Ready to merge

#13321 [otbn] Run secure wipe after reset
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/doc/_index.md
  hw/ip/otbn/doc/otbn_operational_states.svg
  hw/ip/otbn/dv/model/iss_wrapper.cc
  hw/ip/otbn/dv/model/iss_wrapper.h
  hw/ip/otbn/dv/model/otbn_core_model.sv
  hw/ip/otbn/dv/model/otbn_model.cc
  hw/ip/otbn/dv/model/otbn_model.h
  hw/ip/otbn/dv/model/otbn_model_dpi.h
  hw/ip/otbn/dv/model/otbn_model_dpi.svh
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/standalonesim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/stepped.py
  hw/ip/otbn/dv/tracer/rtl/otbn_trace_if.sv
  hw/ip/otbn/dv/tracer/rtl/otbn_tracer.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_sw_errs_fatal_chk_vseq.sv
  hw/ip/otbn/dv/uvm/sva/otbn_bind.sv
  hw/ip/otbn/dv/uvm/sva/otbn_idle_checker.sv
  hw/ip/otbn/dv/uvm/tb.sv
  hw/ip/otbn/dv/verilator/otbn_top_sim.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otbn/rtl/otbn_controller.sv
  hw/ip/otbn/rtl/otbn_core.sv
  hw/ip/otbn/rtl/otbn_pkg.sv
  hw/ip/otbn/rtl/otbn_reg_top.sv
  hw/ip/otbn/rtl/otbn_start_stop_control.sv
Labels: Component:DV, Component:RTL, IP:otbn, Milestone:D2S

#13771 [sram_ctrl] Enable secure FIFO counters
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sram_ctrl/data/sram_ctrl_sec_cm_testplan.hjson
  hw/ip/sram_ctrl/rtl/sram_ctrl.sv
Labels: IP:sram_ctrl, Milestone:D3

#13678 [sram_ctrl] Update checklist and move to D3
  hw/ip/sram_ctrl/data/sram_ctrl.prj.hjson
  hw/ip/sram_ctrl/doc/checklist.md
Labels: IP:sram_ctrl, Milestone:D3

#13778 [tlul_adapter_sram] Update comment describing the ByteAccess parameter
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Type:Cleanup, IP:tlul

#13782 [otbn] Enable secure FIFO pointers in TLUL adapters
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otbn/data/otbn_sec_cm_testplan.hjson
  hw/ip/otbn/rtl/otbn.sv
Labels: IP:otbn, Milestone:D2S

#13602 [ci] move Check Gen tests to slow lint
  azure-pipelines.yml
  ci/jobs/quick-lint.sh
  ci/jobs/slow-lint.sh
Labels: Priority:P3, Type:Cleanup, Component:CI, Status:Ready to merge

#13651 [bazel] use --config=riscv32 to build for opentitan_rv32imc
  .bazelrc
Labels: Priority:P2, Type:Enhancement, SW:Build System, Status:Ready to merge

#13674 [bazel] mark plic_all_irqs_test as flaky now that it's not broken
  sw/device/tests/autogen/BUILD
  util/topgen/templates/BUILD.tpl
Labels: Priority:P3, Type:Cleanup, SW:Build System, Status:Ready to merge

#13766 [ci] Keep downloaded MMI files in CW310 splice job
  azure-pipelines.yml
  ci/upload-artifacts-template.yml
Labels: Component:CI, Status:Ready to merge

#13620 [bazel] clear the broken tag from the following passing tests
  sw/device/tests/BUILD
Labels: Priority:P3, Type:Cleanup, Status:Ready to merge

#13721 [sca/kmac] Switch off entropy fast process
  hw/ip/kmac/data/kmac.hjson
  sw/device/lib/dif/dif_kmac.h
  sw/device/sca/sha3_serial.c
Labels: IP:kmac, SW:DIF, Status:Ready to merge

#13736 [sw/lib] remove old rv_core_ibex driver in favor of DIFs
  sw/device/lib/dif/dif_rv_core_ibex.c
  sw/device/lib/dif/dif_rv_core_ibex.h
  sw/device/lib/dif/dif_rv_core_ibex_unittest.cc
  sw/device/lib/ibex_peri.c
  sw/device/lib/ibex_peri.h
  sw/device/lib/testing/test_rom/BUILD
  sw/device/lib/testing/test_rom/test_rom.c
Labels: Component:Software, Type:Cleanup

#13686 [bazel] specify longer timeouts so verilated tests can run in batches
  sw/device/silicon_creator/lib/BUILD
  sw/device/tests/BUILD
Labels: Priority:P3, Type:Cleanup, SW:Build System, Status:Ready to merge

#13761 [bazel] Add --config=asan and --config=ubsan
  .bazelrc
Labels: Component:Software

#13814 [doc] Move style guides into a separate section
  doc/rm/_index.md
  doc/rm/comportability_specification/index.md
  doc/rm/crossbar_tool/index.md
  doc/rm/device_interface_functions.md
  doc/rm/register_tool/index.md
  doc/security/_index.md
  doc/sg/_index.md
  doc/sg/asm_coding_style.md
  doc/sg/c_cpp_coding_style.md
  doc/sg/hjson_usage_style.md
  doc/sg/markdown_usage_style.md
  doc/sg/otbn_style_guide.md
  doc/sg/python_coding_style.md
  doc/ug/design.md
  doc/ug/documentation.md
  doc/ug/dv_methodology/index.md
  doc/ug/hw_design.md
  doc/ug/otbn_sw.md
  util/dvsim/doc/testplanner.md
Labels: Component:Doc, Type:Cleanup

#13813 [doc] Add caching/splicing info to FPGA ref manual
  doc/rm/ref_manual_fpga.md
Labels: Component:Doc, Component:FPGA, Component:CI

#13861 [doc] Clarify security countermeasure format
  doc/rm/comportability_specification/index.md
Labels: Component:Doc

#13679 [alert_handler] Update checklist and move to D3
  hw/ip_templates/alert_handler/data/alert_handler.prj.hjson
  hw/ip_templates/alert_handler/doc/checklist.md
  hw/top_earlgrey/ip_autogen/alert_handler/data/alert_handler.prj.hjson
  hw/top_earlgrey/ip_autogen/alert_handler/doc/checklist.md
Labels: IP:alert_handler, Milestone:D3

#13790 [mask_rom/testing] Refactor host-side helper code
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/lib.rs
  sw/host/opentitanlib/src/test_utils/bootstrap.rs
  sw/host/opentitanlib/src/test_utils/init.rs
  sw/host/opentitanlib/src/test_utils/load_bitstream.rs
  sw/host/opentitanlib/src/test_utils/mod.rs
  sw/host/tests/mask_rom/BUILD
  sw/host/tests/mask_rom/e2e_bootup_bad_rom_ext_signature/BUILD
  sw/host/tests/mask_rom/e2e_bootup_bad_rom_ext_signature/src/main.rs
Labels: Component:Software, SW:Mask ROM

#13192 [otbn] Remove reset from FF-based GPRs and WDRs
  hw/ip/otbn/rtl/otbn_alu_bignum.sv
  hw/ip/otbn/rtl/otbn_mac_bignum.sv
  hw/ip/otbn/rtl/otbn_rf_base_ff.sv
  hw/ip/otbn/rtl/otbn_rf_bignum.sv
  hw/ip/otbn/rtl/otbn_rf_bignum_ff.sv
Labels: Component:Doc, Component:DV, Component:RTL, IP:otbn, Milestone:D2S

#13818 [cw310] Connect all pads
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/pins_cw310.xdc
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/ip/pinmux/doc/autogen/pinout_cw310.md
  hw/top_earlgrey/ip/pinmux/doc/autogen/targets.md
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  sw/device/examples/demos.c
  sw/device/examples/hello_usbdev/hello_usbdev.c
  sw/device/examples/hello_world/hello_world.c
  sw/device/lib/testing/pinmux_testutils.c
  sw/device/sca/lib/sca.c
  sw/device/tests/BUILD
  sw/device/tests/gpio_smoketest.c
  sw/device/tests/sim_dv/gpio_test.c
Labels: Component:FPGA, TOP:earlgrey, SW:OTTF

#13879 [dif/hmac] move to S2
  hw/ip/hmac/data/hmac.prj.hjson
  sw/device/lib/dif/dif_hmac.md
Labels: IP:hmac, SW:DIF, Milestone:V2

#13875 [docs] add DIF list to each IP's docs
  hw/ip/adc_ctrl/doc/_index.md
  hw/ip/aes/doc/_index.md
  hw/ip/aon_timer/doc/_index.md
  hw/ip/clkmgr/doc/_index.md
  hw/ip/csrng/doc/_index.md
  hw/ip/edn/doc/_index.md
  hw/ip/entropy_src/doc/_index.md
  hw/ip/flash_ctrl/doc/_index.md
  hw/ip/hmac/doc/_index.md
  hw/ip/keymgr/doc/_index.md
  hw/ip/kmac/doc/_index.md
  hw/ip/lc_ctrl/doc/_index.md
  hw/ip/otp_ctrl/doc/_index.md
  hw/ip/pattgen/doc/_index.md
  hw/ip/pinmux/doc/_index.md
  hw/ip/pwm/doc/_index.md
  hw/ip/pwrmgr/doc/_index.md
  hw/ip/rom_ctrl/doc/_index.md
  hw/ip/rstmgr/doc/_index.md
  hw/ip/rv_core_ibex/doc/_index.md
  hw/ip/spi_host/doc/_index.md
  hw/ip/sram_ctrl/doc/_index.md
  hw/ip/sysrst_ctrl/doc/_index.md
  hw/ip/usbdev/doc/_index.md
  hw/ip_templates/alert_handler/doc/_index.md
  hw/top_earlgrey/ip/sensor_ctrl/doc/_index.md
  hw/top_earlgrey/ip_autogen/alert_handler/doc/_index.md
Labels: Component:Doc, Type:Cleanup, SW:DIF

#13882 [kmac] Remove outdated comment
  hw/ip/kmac/rtl/kmac_pkg.sv
Labels: Component:RTL, IP:kmac

#13744 [doc] Show how to use JTAG with the CW310
  doc/getting_started/setup_fpga.md
Labels: Component:Doc

#13851 [fpga] Add hyperdebug version of the CW310 bitstream
  hw/bitstream/vivado/BUILD
  hw/top_earlgrey/chip_earlgrey_cw310_hyperdebug.core
  hw/top_earlgrey/data/pins_cw310_hyperdebug.xdc
Labels: Component:FPGA

#13874 [doc] Fix typo in boot stage manifest documentation
  sw/device/silicon_creator/rom_ext/docs/manifest.md
Labels: Component:Doc

#13853 [silicon_creator/spi_device] Fix fault injection bug in spi_device_cmd_get()
  sw/device/silicon_creator/lib/drivers/spi_device.c
  sw/device/silicon_creator/lib/drivers/spi_device.h
Labels: Component:Software, Type:Bug, SW:Mask ROM

#13860 [otp_ctrl/doc] Add documentation regarding re-parameterization after D3/V3
  hw/ip/otp_ctrl/doc/_index.md
Labels: Component:Doc, IP:otp_ctrl, Milestone:D3
