Repository lowRISC/opentitan, pull requests merged in 2023-05, with the labels that each got.

#18297 [fpga] Correct JTAG constraints
  hw/top_earlgrey/data/clocks.xdc
  hw/top_englishbreakfast/data/clocks.xdc
Labels: Component:FPGA

#18243 [hw,top_earlgrey,dv] Add wait cycles after deep sleep wakeup reset
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rv_dm_access_after_wakeup_vseq.sv
Labels: Component:DV, TOP:earlgrey

#18283 [hw,i2c,dv] Disable rerandomization of timing parameters
  hw/ip/i2c/dv/env/seq_lib/i2c_host_perf_vseq.sv
Labels: Component:DV, IP:i2c

#18316 [spi_host,doc] Minor cleanup
  hw/ip/spi_host/doc/theory_of_operation.md
Labels: Component:Doc, IP:spi_host

#18256 [opentitantool] Recovery from failed HyperDebug firmware update
  sw/host/opentitanlib/src/transport/hyperdebug/dfu.rs
Labels: SW:opentitantool

#18200 [opentitantool] Allow not running image immediately after bootstrap
  sw/host/opentitanlib/src/bootstrap/mod.rs
  sw/host/opentitanlib/src/bootstrap/rescue.rs
Labels: SW:opentitantool

#18332 [hw,rv_dm,dv] Skip updates to monitor state machine if tck_en is low
  hw/dv/sv/jtag_agent/jtag_monitor.sv
Labels: Component:DV

#18349 [csrng/rtl] Restrict `glen` to 12 bit (thus <= 4095)
  hw/dv/sv/csrng_agent/csrng_item.sv
  hw/dv/sv/csrng_agent/csrng_monitor.sv
  hw/ip/csrng/doc/theory_of_operation.md
  hw/ip/csrng/dv/cov/csrng_cov_if.sv
  hw/ip/csrng/dv/env/csrng_scoreboard.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_alert_vseq.sv
  hw/ip/csrng/rtl/csrng_cmd_stage.sv
Labels: Component:RTL, IP:csrng

#18375 [opentitantool] Support setting I2C bus speed
  sw/host/opentitanlib/src/io/i2c.rs
  sw/host/opentitanlib/src/transport/hyperdebug/i2c.rs
  third_party/hyperdebug/repos.bzl
Labels: SW:opentitantool

#18444 [dv] fix rom_e2e tests in nightlies
  hw/top_earlgrey/dv/chip_rom_tests.hjson
  hw/top_earlgrey/dv/env/chip_env_cfg.sv
Labels: Component:DV, Type:Bug

#18472 [opentitantool] New HyperDebug firmware
  third_party/hyperdebug/repos.bzl
Labels: SW:opentitantool

#18493 [hw,i2c,dv] Add ifdef guard for define
  hw/ip/i2c/dv/tb/tb.sv
Labels: Component:DV, IP:i2c

#18451 [bazel] Add unittests for const.bzl macros
  WORKSPACE
  rules/tests/BUILD
  rules/tests/const_unittest.bzl
Labels: Component:Tooling

#18463 [aon_timer, dv] Resolve NMI top-level IO TODO
  hw/ip/aon_timer/dv/tb.sv
Labels: Priority:P1, Component:RTL, IP:aon_timer, Submilestone:M2.5.1

#17972 Remove a pending work item that's not being worked on
  doc/contributing/dv/methodology/README.md
Labels: Component:Doc

#18360 [spi_device,doc] Update TODOs with linked issues, Icebox, cleanup
  hw/ip/spi_device/rtl/spi_cmdparse.sv
  hw/ip/spi_device/rtl/spi_device.sv
  hw/ip/spi_device/rtl/spi_passthrough.sv
  hw/ip/spi_device/rtl/spi_readcmd.sv
  hw/ip/spi_device/rtl/spi_tpm.sv
  hw/ip/spi_device/rtl/spid_readsram.sv
  hw/ip/spi_device/rtl/spid_upload.sv
Labels: Component:Doc, Priority:P1, IP:spi_device, Submilestone:M2.5.1

#18542 [hw,top_earlgrey,dv] Update ec_rst_ctrl wait time
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_sysrst_ctrl_ec_rst_l_vseq.sv
Labels: Component:DV, TOP:earlgrey

#18269 [hw,csrng,sv] Update coverpoints for CSRNG
  hw/ip/csrng/data/csrng_testplan.hjson
  hw/ip/csrng/dv/cov/csrng_cov_if.sv
  hw/ip/csrng/dv/env/csrng_scoreboard.sv
Labels: Component:DV, IP:csrng, Submilestone:M2.5.1

#18335 [hw,i2c,dv] Add a sequence to introduce glitch in all uncovered target FSM states
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_driver.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/seq_lib/i2c_glitch_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_target_hrst_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV, IP:i2c

#18412 [hw] Modify makefile to allow using entropy buffer
  hw/Makefile
Labels: Status:Ready to merge

#18695 [hw,spi_device,dv] Use register offset and lock offset in TL access
  hw/ip/spi_device/dv/env/seq_lib/spi_device_mem_parity_vseq.sv
  hw/ip/spi_device/dv/spi_device_sim_cfg.hjson
Labels: Component:DV, IP:spi_device

#18739 [rules/bitstreams_workspace] Make `latest.txt` optional
  rules/scripts/bitstreams_workspace.py
Labels: Component:FPGA, SW:Build System

#18751 [governance] Fix formatting of issue prios
  doc/project_governance/priority_definitions.md
Labels: Component:Doc

#18728 [hw,i2c,dv] Add waiver file for host mode FSM transitions
  hw/ip/i2c/dv/cov/cov_excl.cfg
  hw/ip/i2c/dv/cov/i2c_cov_excl.el
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV, IP:i2c

#18740 [hw,rv_dm,dv] Enable CDC instrumentation
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
Labels: Component:DV, IP:rv_dm

#18729 [i2c,rtl] SDA should be driven high in advance of SCL for restarts
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Priority:P0
