Repository lowRISC/opentitan, pull requests merged in 2023-06, with the labels that each got.

#18780 [hw,spi_device,dv] Enable CDC instrumentation
  hw/ip/spi_device/dv/env/spi_device_scoreboard.sv
  hw/ip/spi_device/dv/spi_device_sim_cfg.hjson
Labels: Component:DV, IP:spi_device

#18755 [cw310] Annotate pin-out with peripheral map and fix up the PMOD2 mapping
  hw/top_earlgrey/data/pins_cw310_hyperdebug.xdc
Labels: Component:FPGA

#18786 [site,doc] Fixup some formatting of lc_ctrl tables
  hw/ip/lc_ctrl/doc/lc_ctrl_access_signals_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_counter_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_encoding_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_accessibility.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_collateral.md
  hw/ip/lc_ctrl/doc/lc_ctrl_flash_partitions.md
  hw/ip/lc_ctrl/doc/lc_ctrl_function_signals_table.md
  hw/ip/lc_ctrl/doc/lc_ctrl_otp_accessibility.md
  hw/ip/lc_ctrl/doc/lc_ctrl_otp_collateral.md
Labels: Component:Doc

#18791 [dv, chip, env]: Add plusarg to skip POR_NI during first powerup
  hw/top_earlgrey/dv/env/seq_lib/chip_base_vseq.sv
Labels: Component:DV, Priority:P1

#18810 [i2c] Remove SCL glitch when FMT FIFO empties mid-transaction
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: IP:i2c, ECO_C

#18514 [util] Add entropy tests to strong_random.py
  util/topgen/strong_random.py
Labels: Status:Ready to merge

#18783 [dv, chip-test]: Update some chip tests to use AST ADC output port
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_adc_ctrl_sleep_debug_cable_wakeup_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_ast_clk_rst_inputs_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_pwrmgr_deep_sleep_all_wake_ups_vseq.sv
Labels: Component:ChipLevelTest

#18847 [sdc] Fix up SPI and JTAG constraints
  hw/top_earlgrey/syn/chip_earlgrey_asic.sdc
Labels: TOP:earlgrey

#18885 [entropy_src/dv] Predict value of repcnt watermarks
  hw/ip/entropy_src/dv/env/entropy_src_scoreboard.sv
Labels: Component:DV, IP:entropy_src, Submilestone:M2.5.2

#18890 [hw,sysrst_ctrl,dv] Disable z3_wakeup_o check after end of sequence
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_ultra_low_pwr_vseq.sv
Labels: Component:DV, IP:sysrst_ctrl, Submilestone:M2.5.2

#18874 [chip/conn] run additional TCL for loading CS design files outside core files
  hw/formal/tools/jaspergold/conn.tcl
Labels: Priority:P1

#18872 [doc,reggen] Fixup window register header level
  util/reggen/gen_md.py
Labels: Component:Doc

#18877 [doc] Remove duplicated section from kmac programmers guide
  hw/ip/kmac/doc/programmers_guide.md
Labels: Component:Doc

#18820 [hw,top_earlgrey,dv] Increase wait time before start of test
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_sysrst_ctrl_ec_rst_l_vseq.sv
Labels: Component:DV, IP:sysrst_ctrl, Component:ChipLevelTest, Submilestone:M2.5.2

#18920 [site] Animate opacity of nav-chapter chevrons
  site/book-theme/css/chrome.css
Labels: Component:Doc

#18913 Enable CDC for tests of tl_agent
  hw/dv/sv/tl_agent/dv/tl_agent_sim_cfg.hjson
Labels: Component:DV, Submilestone:M2.5.2

#18924 [hw,pwm,dv] Enable CDC instrumentation
  hw/ip/pwm/dv/pwm_sim_cfg.hjson
Labels: Component:DV, IP:pwm, Submilestone:M2.5.2

#18896 [hw,uart,dv] Enable CDC instrumentation
  hw/ip/uart/dv/env/seq_lib/uart_loopback_vseq.sv
  hw/ip/uart/dv/env/seq_lib/uart_noise_filter_vseq.sv
  hw/ip/uart/dv/env/seq_lib/uart_rx_oversample_vseq.sv
  hw/ip/uart/dv/uart_sim_cfg.hjson
Labels: Component:DV, IP:uart

#18829 [hw,spi_device,dv] Fix failures related to DstPulseCheck_A assertion in spi_device nightly regression
  hw/ip/spi_device/dv/env/seq_lib/spi_device_base_vseq.sv
Labels: Component:DV, IP:spi_device, Submilestone:M2.5.2

#18950 [dv, chip-test] Update VIO POK paths
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_sensor_ctrl_status_intr_vseq.sv
Labels: Component:ChipLevelTest

#18955 [edn/dv] Fix type of `target` argument to `find_index`
  hw/ip/edn/dv/env/seq_lib/edn_base_vseq.sv
Labels: Component:DV, IP:edn

#18925 [hw,aon_timer,dv] Fix test failures related to CDC randomization
  hw/ip/aon_timer/dv/env/aon_timer_scoreboard.sv
Labels: Component:DV, IP:aon_timer

#18952 [release] Increase timeout of CI job
  release/azure-pipelines-release.yml
Labels: Component:CI

#18960 [edn/dv] Improve coverage of and fix `edn_disable_test`
  hw/ip/edn/dv/env/seq_lib/edn_disable_vseq.sv
Labels: Component:DV, IP:edn

#18982 [rv_timer/dv] Remove TODO for interrupt checking
  hw/ip/rv_timer/dv/env/rv_timer_scoreboard.sv
Labels: Component:DV, IP:rv_timer

#18887 [spi_host,dv] Capture outstanding TODOs against tracking issue #18886
  hw/ip/spi_host/dv/env/seq_lib/spi_host_base_vseq.sv
  hw/ip/spi_host/dv/env/spi_host_env_cov.sv
  hw/ip/spi_host/dv/spi_host_sim_cfg.hjson
Labels: Component:Doc, Component:DV, IP:spi_host

#18991 [release] Increase timeout of CI job
  release/azure-pipelines-release.yml
Labels: Component:CI

#18941 [usbdev] Remove data toggle clear in suspend
  hw/ip/usbdev/rtl/usb_fs_nb_out_pe.sv
Labels: Priority:P0, Component:RTL, IP:usbdev, ECO

#19003 [rtl/spi_device] Add extra cycle for CDC in spid_addr_4b
  hw/ip/spi_device/rtl/spid_addr_4b.sv
Labels: Priority:P0, ECO_C

#19015 [i2c] Hold off NACK detection until posedge SCL
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Priority:P0, Component:RTL, IP:i2c, ECO

#18994 [hw,spi_device,dv] Simplify the check for flash_status
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_base_vseq.sv
Labels: Component:DV, IP:spi_device

#19066 [spi_device,dv] Cov refinements
  hw/ip/spi_device/dv/env/spi_device_env_cov.sv
Labels: Component:DV, IP:spi_device

#19064 [hw,spi_device,dv] Schedule reg prediction for cfg_addr_4b_en
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_base_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_rx_async_fifo_reset_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_tx_async_fifo_reset_vseq.sv
  hw/ip/spi_device/dv/env/seq_lib/spi_device_txrx_vseq.sv
Labels: Component:DV, Priority:P1, IP:spi_device

#19073 [spi_device,dv] Fixup fifo_size sampling conditions
  hw/ip/spi_device/dv/env/spi_device_scoreboard.sv
Labels: Component:DV, IP:spi_device
