Repository lowRISC/opentitan, pull requests merged in 2023-01, with the labels that each got.

#16277 [ott] Defer determination of log severity for USB errors
  sw/host/opentitanlib/src/util/usb.rs
Labels: SW:opentitantool

#16773 [SDC] Fixed unclear issues
  hw/top_earlgrey/syn/chip_earlgrey_asic.sdc
Labels: Status:Ready to merge

#16977 Update lowrisc_ibex to lowRISC/ibex@ec32fb1a64
  hw/vendor/lowrisc_ibex.lock.hjson
  hw/vendor/lowrisc_ibex/doc/03_reference/exception_interrupts.rst
  hw/vendor/lowrisc_ibex/rtl/ibex_cs_registers.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_pmp.sv
Labels: IP:rv_core_ibex

#16793 [opentitantool] Consolidate GPIO declarations before applying
  sw/host/opentitanlib/src/app/config/mod.rs
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/backend/mod.rs
  sw/host/opentitanlib/src/transport/errors.rs
Labels: Component:Software, SW:opentitantool

#16842 [CDC|Waivers] New waivers in REVIEW items
  hw/top_earlgrey/cdc/cdc_waivers.multclk_crossings.tcl
  hw/top_earlgrey/cdc/cdc_waivers.rst_sync.tcl
  hw/top_earlgrey/cdc/cdc_waivers.synch_rst_crossing.tcl
  hw/top_earlgrey/cdc/cdc_waivers.tcl
Labels: Status:Ready to merge

#17038 [rv_dm,dv] Update testplan
  hw/ip/rv_dm/data/rv_dm_testplan.hjson
Labels: Component:DV, IP:rv_dm

#17056 [coremark] Add missing dif_uart_configure() argument
  third_party/coremark/top_earlgrey/core_portme.c
Labels: Component:Software, Priority:P0

#17040 [aon_timer,dv] Set scoreboard timer enables to 0 at reset
  hw/ip/aon_timer/dv/env/aon_timer_scoreboard.sv
Labels: Component:DV, Type:Enhancement, IP:aon_timer

#17039 [rom_ctrl,dv] Reset assertion wrt. invalid FSM
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Component:DV, Type:Enhancement, IP:rom_ctrl

#17098 [python-requirements] Pin setuptools version to < 66.0.0
  ci/install-package-dependencies.sh
  doc/getting_started/_index.md
  site/docs/builder.Dockerfile
  util/container/Dockerfile
Labels: Priority:P0

#17153 [reggen] Fix register names in TockOS multireg definitions
  util/reggen/gen_tock.py
Labels: Tool:reggen

#16865 [opentitantool] Default SPI speed in conf
  sw/host/opentitanlib/src/app/config/hyperdebug_cw310.json
  sw/host/opentitanlib/src/app/config/structs.rs
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/proxy/mod.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitantool/src/command/transport.rs
Labels: SW:opentitantool

#17161 [otbn,doc] Add README for RIG internals
  hw/ip/otbn/dv/rig/rig/README.md
Labels: Component:Doc, Component:DV, IP:otbn

#17024 [opentitantool] Move TAP_STRAPn to Sam3X-specific conf
  sw/host/opentitanlib/src/app/config/opentitan.json
  sw/host/opentitanlib/src/app/config/opentitan_cw310.json
Labels: SW:opentitantool

#17058 [opentitantool] Updates for final HyperDebug firmware
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
  sw/host/opentitanlib/src/transport/hyperdebug/spi.rs
Labels: SW:opentitantool

#17081 [opentitantool] Lock serial port before using
  sw/host/opentitanlib/src/transport/common/uart.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
Labels: SW:opentitantool

#14426 [otbn,dv] Move default simulator to XCelium
  hw/ip/otbn/dv/uvm/otbn_sim_cfg.hjson
Labels: Component:DV, IP:otbn

#17178 [dv/spi_device] revert #17124
  hw/ip/spi_device/dv/env/seq_lib/spi_device_pass_base_vseq.sv
  hw/ip/spi_device/dv/tb/tb.sv
Labels: Component:DV, IP:spi_device

#17170 [otbn,dv] Mock EDN update for Verilator Sim
  hw/ip/otbn/dv/verilator/otbn_mock_edn.sv
Labels: Component:DV, Type:Enhancement, IP:otbn

#17176 [otbn,sw] Fix initialization of WDRs in barrett384
  sw/otbn/code-snippets/barrett384.s
Labels: IP:otbn

#17190 [spi_host/doc] Fix documentation related to CONFIGOPTS.CPOL_0 bit
  hw/ip/spi_host/data/spi_host.hjson
Labels: Component:Doc, IP:spi_host
