Repository lowRISC/opentitan, pull requests merged in 2023-02, with the labels that each got.

#17189 [dvsim] Disable automatic timeout in gui mode
  util/dvsim/LocalLauncher.py
  util/dvsim/dvsim.py
Labels: Tool:dvsim

#17197 Update lowrisc_ibex to lowRISC/ibex@911a6735
  hw/vendor/lowrisc_ibex.lock.hjson
  hw/vendor/lowrisc_ibex/doc/03_reference/images/blockdiagram.svg
  hw/vendor/lowrisc_ibex/doc/03_reference/images/de_ex_stage.svg
  hw/vendor/lowrisc_ibex/rtl/ibex_top.sv
  hw/vendor/lowrisc_ibex/rtl/ibex_wb_stage.sv
Labels: IP:rv_core_ibex

#17155 [rv_core_ibex] Split icache scramble key assertions
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
Labels: Component:DV, IP:rv_core_ibex

#17199 [top-test] Increase timeout of `csrng_edn_concurrency_reduced_freq`
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
Labels: Component:DV, Component:ChipLevelTest

#17202 [dv/clkmgr] Fix unr file name in clkmgr_cfg
  hw/ip/clkmgr/dv/clkmgr_sim_cfg.hjson
Labels: Component:DV, IP:clkmgr

#17198 [dv/kmac] Fix nightly regression error
  hw/ip/kmac/dv/cov/kmac_cov.core
  hw/ip/kmac/dv/cov/kmac_cov_bind.sv
  hw/ip/kmac/dv/cov/sha3pad_assert_if.sv
  hw/ip/kmac/rtl/sha3pad.sv
Labels: Component:DV, IP:kmac

#17220 [ci] Increase timeout for CW310 Hyperdebug bitstream
  azure-pipelines.yml
Labels: Component:FPGA, Component:CI, TOP:earlgrey

#17207 [dif/adc_ctrl] clean up adc_ctrl DIF and fix #11567
  sw/device/lib/dif/dif_adc_ctrl.h
Labels: SW:DIF

#17232 [sysrst_ctrl] Added a task to release ec_rst_l_o after reset
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_combo_detect_vseq.sv
Labels: Component:DV, IP:sysrst_ctrl

#17254 [crypto] add non-blocking `rsa_3072_verify` function
  sw/device/lib/crypto/impl/rsa_3072/rsa_3072_verify.c
  sw/device/lib/crypto/impl/rsa_3072/rsa_3072_verify.h
Labels: SW:cryptolib, Component:ChipLevelTest

#16852 [lint,prim_generic] Turn off unused Verilator lint in clock buf
  hw/ip/prim_generic/rtl/prim_generic_clock_buf.sv
Labels: IP:prim_generic, Status:Ready to merge

#17249 [hw,doc] Add one-line descriptions to all blocks
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aes/data/aes.hjson
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/clkmgr/data/clkmgr.hjson
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/csrng/data/csrng.hjson
  hw/ip/edn/data/edn.hjson
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rstmgr/data/rstmgr.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rv_core_ibex/data/rv_core_ibex.hjson
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/rv_timer/data/rv_timer.hjson.tpl
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/uart/data/uart.hjson
  hw/ip/usbdev/data/usbdev.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  util/reggen/ip_block.py
Labels: Component:Doc

#17265 [sysrst_ctrl] removed redundant sample call
  hw/ip/sysrst_ctrl/dv/cov/sysrst_ctrl_cov_if.sv
Labels: IP:sysrst_ctrl

#17276 [opentitantool] Atomic gpio manipulation for HyperDebug
  sw/host/opentitanlib/src/transport/hyperdebug/gpio.rs
Labels: SW:opentitantool

#17162 [opentitantool] High resolution detection of GPIO pulses
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/io/gpio.rs
  sw/host/opentitanlib/src/transport/errors.rs
  sw/host/opentitanlib/src/transport/hyperdebug/gpio.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
  sw/host/opentitanlib/src/transport/mod.rs
  sw/host/opentitantool/BUILD
  sw/host/opentitantool/src/command/gpio.rs
  sw/host/opentitantool/src/command/version.rs
Labels: SW:opentitantool

#17262 [hw,doc] Add one-paragraph descriptions to all blocks
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aes/data/aes.hjson
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/clkmgr/data/clkmgr.hjson
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/csrng/data/csrng.hjson
  hw/ip/edn/data/edn.hjson
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rstmgr/data/rstmgr.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rv_core_ibex/data/rv_core_ibex.hjson
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/rv_timer/data/rv_timer.hjson.tpl
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/uart/data/uart.hjson
  hw/ip/usbdev/data/usbdev.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  util/reggen/ip_block.py
Labels: Component:Doc

#17292 [opentitantool] New official HyperDebug firmware
  WORKSPACE
Labels: SW:opentitantool

#17294 [test] use correct OTP image in DV for power virus test
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/BUILD
  sw/device/tests/power_virus_systemtest.c
Labels: Component:ChipLevelTest

#17284 [test] exercise OTBN in power virus test
  sw/device/tests/BUILD
  sw/device/tests/power_virus_systemtest.c
Labels: Component:ChipLevelTest

#17303 [opentitantool] New HyperDebug firmware
  WORKSPACE
Labels: SW:opentitantool

#17286 [hw,doc] Add human-readable name to all blocks
  hw/ip/adc_ctrl/data/adc_ctrl.hjson
  hw/ip/aes/data/aes.hjson
  hw/ip/aon_timer/data/aon_timer.hjson
  hw/ip/clkmgr/data/clkmgr.hjson
  hw/ip/clkmgr/data/clkmgr.hjson.tpl
  hw/ip/csrng/data/csrng.hjson
  hw/ip/edn/data/edn.hjson
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson
  hw/ip/flash_ctrl/data/flash_ctrl.hjson.tpl
  hw/ip/gpio/data/gpio.hjson
  hw/ip/hmac/data/hmac.hjson
  hw/ip/i2c/data/i2c.hjson
  hw/ip/keymgr/data/keymgr.hjson
  hw/ip/kmac/data/kmac.hjson
  hw/ip/lc_ctrl/data/lc_ctrl.hjson
  hw/ip/otbn/data/otbn.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/pattgen/data/pattgen.hjson
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pwm/data/pwm.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/rom_ctrl/data/rom_ctrl.hjson
  hw/ip/rstmgr/data/rstmgr.hjson
  hw/ip/rstmgr/data/rstmgr.hjson.tpl
  hw/ip/rv_core_ibex/data/rv_core_ibex.hjson
  hw/ip/rv_dm/data/rv_dm.hjson
  hw/ip/rv_timer/data/rv_timer.hjson
  hw/ip/rv_timer/data/rv_timer.hjson.tpl
  hw/ip/spi_device/data/spi_device.hjson
  hw/ip/spi_host/data/spi_host.hjson
  hw/ip/sram_ctrl/data/sram_ctrl.hjson
  hw/ip/sysrst_ctrl/data/sysrst_ctrl.hjson
  hw/ip/uart/data/uart.hjson
  hw/ip/usbdev/data/usbdev.hjson
  hw/top_earlgrey/ip/clkmgr/data/autogen/clkmgr.hjson
  hw/top_earlgrey/ip/flash_ctrl/data/autogen/flash_ctrl.hjson
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/rstmgr/data/autogen/rstmgr.hjson
  util/reggen/ip_block.py
Labels: Component:Doc

#17281 [opentitantool] Add analog support to `Gpio` trait
  sw/host/opentitanlib/src/app/config/structs.rs
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/io/gpio.rs
  sw/host/opentitanlib/src/transport/cw310/gpio.rs
  sw/host/opentitanlib/src/transport/hyperdebug/gpio.rs
  sw/host/opentitanlib/src/transport/ti50emulator/gpio.rs
  sw/host/opentitanlib/src/transport/ultradebug/gpio.rs
  sw/host/opentitanlib/src/transport/verilator/gpio.rs
  sw/host/opentitantool/src/command/gpio.rs
  sw/host/tests/rom/sw_strap_value/src/main.rs
Labels: SW:opentitantool

#17247 [dv/sysrst_ctrl] Fix sysrst ctrl ulp test
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_ultra_low_pwr_vseq.sv
Labels: Component:DV, IP:sysrst_ctrl, Status:Ready to merge

#17315 [dv/sysrst] Sysrst z3 test
  hw/ip/sysrst_ctrl/dv/env/seq_lib/sysrst_ctrl_ultra_low_pwr_vseq.sv
Labels: Component:DV, IP:sysrst_ctrl, Status:Ready to merge
