Repository lowRISC/opentitan, pull requests merged in 2023-07, with the labels that each got.

#19102 [otbn,dv] Fix trivial Python lint bugs in otbnsim
  hw/ip/otbn/dv/otbnsim/sim/sim.py
  hw/ip/otbn/dv/otbnsim/sim/state.py
  hw/ip/otbn/dv/otbnsim/sim/wsr.py
Labels: Component:DV, Type:Cleanup, IP:otbn

#19144 [wavedrom] Bump to 3.3.0
  util/mdbook/wavejson/wavedrom.min.js
Labels: Component:Site

#17921 [sensor_ctrl] Append _aon to the instance name
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/data/top_earlgrey.hjson
  hw/top_earlgrey/data/xbar_peri.hjson
  hw/top_earlgrey/doc/design/README.md
  hw/top_earlgrey/dv/autogen/tb__alert_handler_connect.sv
  hw/top_earlgrey/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/dv/autogen/xbar_tgl_excl.cfg
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/dv/env/chip_if.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_all_escalation_resets_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_lc_raw_unlock_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rom_e2e_asm_init_vseq.sv
  hw/top_earlgrey/ip/pinmux/doc/autogen/pinout_asic.md
  hw/top_earlgrey/ip/pinmux/doc/autogen/pinout_cw310.md
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/ip/pwrmgr/rtl/autogen/pwrmgr_reg_pkg.sv
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.gen.hjson
  hw/top_earlgrey/ip/xbar_peri/data/autogen/xbar_peri.hjson
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/tb__xbar_connect.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_cover.cfg
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_env_pkg__params.sv
  hw/top_earlgrey/ip/xbar_peri/dv/autogen/xbar_peri_bind.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/tl_peri_pkg.sv
  hw/top_earlgrey/ip/xbar_peri/rtl/autogen/xbar_peri.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey_pkg.sv
  hw/top_earlgrey/sw/autogen/chip/top_earlgrey.rs
  hw/top_earlgrey/sw/autogen/chip/top_earlgrey_memory.rs
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  hw/top_earlgrey/sw/autogen/top_earlgrey_memory.h
  sw/device/lib/dif/dif_pwrmgr.c
  sw/device/lib/dif/dif_pwrmgr_unittest.cc
  sw/device/lib/testing/json/pinmux.h
  sw/device/lib/testing/test_rom/test_rom_start.S
  sw/device/silicon_creator/lib/drivers/ast.c
  sw/device/silicon_creator/lib/drivers/ast_unittest.cc
  sw/device/silicon_creator/rom/e2e/chip_specific_startup.c
  sw/device/tests/ast_clk_outs_test.c
  sw/device/tests/autogen/alert_test.c
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/clkmgr_reset_frequency_test.c
  sw/device/tests/clkmgr_sleep_frequency_test.c
  sw/device/tests/sensor_ctrl_alerts.c
  sw/device/tests/sensor_ctrl_wakeup.c
  sw/device/tests/sim_dv/all_escalation_resets_test.c
  sw/device/tests/sim_dv/ast_clk_rst_inputs.c
  sw/device/tests/sim_dv/pwrmgr_sleep_all_wake_ups_impl.c
  sw/device/tests/sim_dv/sensor_ctrl_status.c
  sw/host/opentitanlib/src/chip/autogen/earlgrey.rs
Labels: Component:RTL

#19157 [alert_handler] Convert theory of operation to template
  hw/ip_templates/alert_handler/doc/theory_of_operation.md.tpl
  hw/top_earlgrey/ip_autogen/alert_handler/doc/theory_of_operation.md
Labels: Component:Doc, Type:Cleanup, TOP:earlgrey, IP:alert_handler

#19166 [site] Add hover styling to the tiles on the Docs homepage
  site/landing/assets/scss/_boxes.scss
  site/landing/assets/scss/_variables.scss
Labels: Component:Site

#19180 [otbn,dv] Tweak length of time to wait for reset
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, IP:otbn, Component:CDC

#19186 [topgen] Update hjson headers
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  util/topgen.py
Labels: Type:Cleanup

#17021 [bazel] Bump Bazel version to 6.2.1
  .bazelversion
  util/prep-bazel-airgapped-build.sh
Labels: SW:Build System

#19201 [lc_ctrl/eco] Fix ECO issue inside lc_ctrl
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_common_vseq.sv
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_errors_vseq.sv
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_state_failure_vseq.sv
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_state_post_trans_vseq.sv
  hw/ip/lc_ctrl/dv/tb.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl.sv
  hw/ip/lc_ctrl/rtl/lc_ctrl_kmac_if.sv
Labels: Priority:P0, IP:lc_ctrl, ECO

#19195 [usbdev] Truncate RX after receiving a PRE PID
  hw/ip/usbdev/rtl/usb_consts_pkg.sv
  hw/ip/usbdev/rtl/usb_fs_rx.sv
Labels: IP:usbdev

#19225 [otbn,dv] Wait longer for secure wipe in otbn_intg_err_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_intg_err_vseq.sv
Labels: Component:DV, IP:otbn, Component:CDC

#19182 Simplify paths in topgen's strong_random
  util/topgen/strong_random.py
Labels: Type:Cleanup

#19238 [doc,report] Fix the dvsim report links to the testplans
  hw/data/common_project_cfg.hjson
  hw/ip/tlul/generic_dv/xbar_sim_cfg.hjson
  util/dvsim/SimCfg.py
Labels: Component:Doc, Component:Site

#19223 Otbn rf base intg err
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_rf_base_intg_err_vseq.sv
Labels: Component:DV, IP:otbn

#19229 [otbn,dv] Disable RTL assertions in otbn_zero_state_err_urnd test
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_zero_state_err_urnd_vseq.sv
Labels: Component:DV, IP:otbn

#19316 [ci] Fix bitstream artifact generation for hyperdebug
  azure-pipelines.yml
Labels: Component:CI

#19324 [ci] Fix Python incompatibility and allow GCP uploads to fail
  ci/gcp-upload-bitstream-template.yml
Labels: Component:CI
