Repository lowRISC/opentitan, pull requests merged in 2023-04, with the labels that each got.

#17787 [site] Fixup build-docs.sh to use explicit python3 (for ubuntu)
  util/site/build-docs.sh
Labels: Component:Doc, Status:Ready to merge

#17764 [dv, keymgr] Add assertion to check validity of OTP root key
  hw/ip/keymgr/dv/env/seq_lib/keymgr_hwsw_invalid_input_vseq.sv
  hw/ip/keymgr/rtl/keymgr_ctrl.sv
Labels: Status:Ready to merge

#17828 Update pulp_riscv_dbg to pulp-platform/riscv-dbg@138d74bcaa
  hw/vendor/pulp_riscv_dbg.lock.hjson
  hw/vendor/pulp_riscv_dbg/CHANGELOG.md
  hw/vendor/pulp_riscv_dbg/src/dm_csrs.sv
Labels: IP:rv_dm

#17842 [dif/sysrst_ctrl] add key-combo pre-condition config
  sw/device/lib/dif/dif_sysrst_ctrl.c
  sw/device/lib/dif/dif_sysrst_ctrl.h
  sw/device/lib/dif/dif_sysrst_ctrl_unittest.cc
Labels: SW:DIF

#17844 [entropy_src] Don't predict counter clearing in FW_OV mode, align doc
  hw/ip/entropy_src/data/entropy_src.hjson
  hw/ip/entropy_src/dv/env/entropy_src_scoreboard.sv
Labels: Component:Doc, Component:DV, IP:entropy_src

#17847 [doc] Fix broken link to OpenTitan Early Grey Chip Datasheet
  doc/introduction.md
Labels: Component:Doc

#17816 [opentitanlib] refactor uart console to enable adding future console interfaces (e.g., SPI)
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/io/console.rs
  sw/host/opentitanlib/src/io/mod.rs
  sw/host/opentitanlib/src/io/uart.rs
  sw/host/opentitanlib/src/proxy/errors.rs
  sw/host/opentitanlib/src/uart/console.rs
Labels: Type:Cleanup, Type:Enhancement, SW:opentitantool, Manufacturing

#17269 [opentitantool] Use StagedProgressBar everywhere
  sw/host/opentitanlib/src/app/mod.rs
  sw/host/opentitanlib/src/bootstrap/eeprom.rs
  sw/host/opentitanlib/src/bootstrap/legacy.rs
  sw/host/opentitanlib/src/bootstrap/mod.rs
  sw/host/opentitanlib/src/bootstrap/primitive.rs
  sw/host/opentitanlib/src/bootstrap/rescue.rs
  sw/host/opentitanlib/src/spiflash/flash.rs
  sw/host/opentitanlib/src/test_utils/bootstrap.rs
  sw/host/opentitanlib/src/test_utils/load_bitstream.rs
  sw/host/opentitanlib/src/transport/common/fpga.rs
  sw/host/opentitanlib/src/transport/cw310/mod.rs
  sw/host/opentitanlib/src/transport/cw310/usb.rs
  sw/host/opentitanlib/src/transport/hyperdebug/dfu.rs
  sw/host/opentitanlib/src/transport/hyperdebug/mod.rs
  sw/host/opentitanlib/src/transport/mod.rs
  sw/host/opentitantool/src/command/bootstrap.rs
  sw/host/opentitantool/src/command/load_bitstream.rs
  sw/host/opentitantool/src/command/spi.rs
  sw/host/opentitantool/src/command/transport.rs
Labels: SW:opentitantool

#17817 [opentitanlib] enable use of SPI as console device on hyperdebug
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/console/mod.rs
  sw/host/opentitanlib/src/console/spi.rs
  sw/host/opentitanlib/src/lib.rs
Labels: Type:Enhancement, SW:opentitantool, Manufacturing

#17853 [cleanup] Fix version stamping in opentitantool
  sw/host/opentitantool/BUILD
  sw/host/opentitantool/src/command/gpio.rs
  sw/host/opentitantool/src/command/version.rs
  sw/host/opentitantool/stamp-env.txt
Labels: SW:opentitantool

#17866 [opentitanlib] check correct TAP is selected for JTAG ops
  sw/host/opentitanlib/src/io/jtag.rs
  sw/host/opentitanlib/src/util/openocd.rs
Labels: SW:opentitantool

#17789 [hw,i2c,dv] Add watermark test to run in test plan
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/seq_lib/i2c_host_fifo_watermark_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV, IP:i2c

#17965 [opentitanlib] add test_util to perform an LC transition over JTAG
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/test_utils/lc_transition.rs
  sw/host/opentitanlib/src/test_utils/mod.rs
Labels: SW:opentitantool, Manufacturing

#17945 [dv, keymgr] Remove assertion `RootKeyValidDuringLatching_A`
  hw/ip/keymgr/dv/env/seq_lib/keymgr_hwsw_invalid_input_vseq.sv
  hw/ip/keymgr/rtl/keymgr_ctrl.sv
Labels: Status:Ready to merge

#17646 [bazel] Bump OpenOCD to 0.12.0 from 0.12.0-rc1
  third_party/openocd/repos.bzl
Labels: Component:FPGA, SW:Build System

#18015 [util] update flash scrambling script to read OTP mmap
  hw/ip/otp_ctrl/data/BUILD
  rules/opentitan.bzl
  util/design/BUILD
  util/design/gen-flash-img.py
  util/design/lib/BUILD
  util/design/lib/OtpMemMap.py
Labels: Component:Tooling, Type:Bug

#17983 [hw,i2c,dv] Update descriptions in testplan
  hw/ip/i2c/data/i2c_testplan.hjson
Labels: Component:DV, IP:i2c

#17860 [opentitantool] Improvements to host emulation GPIO
  sw/host/opentitanlib/src/transport/ti50emulator/emu.rs
  sw/host/opentitanlib/src/transport/ti50emulator/gpio.rs
  sw/host/opentitanlib/src/transport/ti50emulator/i2c.rs
  sw/host/opentitanlib/src/transport/ti50emulator/mod.rs
Labels: SW:opentitantool

#18043 [usb_diff_rx] Model pull-up behavior
  hw/ip/prim_generic/lint/prim_generic_usb_diff_rx.waiver
  hw/ip/prim_generic/prim_generic_usb_diff_rx.core
  hw/ip/prim_generic/rtl/prim_generic_usb_diff_rx.sv
Labels: Component:RTL, IP:usbdev

#17506 [hw,i2c] Add covergroups for I2C
  hw/ip/i2c/data/i2c_testplan.hjson
Labels: Component:DV, IP:i2c

#17942 [hw,i2c,dv] Add sequence to disable host mode
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_mode_toggle_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV, IP:i2c

#17675 [hw,i2c,dv] Update perf test to check for DUT performance
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/i2c_seq_cfg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_perf_vseq.sv
Labels: IP:i2c

#17948 [hw,i2c,dv] Use num_trans in base host sequence
  hw/ip/i2c/dv/env/seq_lib/i2c_host_smoke_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_rx_tx_vseq.sv
Labels: Component:DV, IP:i2c

#18080 [pinmux] Add assertion for bus integrity error
  hw/ip/pinmux/rtl/pinmux.sv
Labels: Component:RTL, IP:pinmux

#18010 [prim/rtl] Define `WITHIN_MARGIN` macro
  hw/ip/prim/rtl/prim_macros.svh
Labels: Component:RTL, IP:prim

#17589 [opentitantool] HyperDebug SPI multi-lane support
  sw/host/opentitanlib/src/io/eeprom.rs
  sw/host/opentitanlib/src/io/spi.rs
  sw/host/opentitanlib/src/transport/hyperdebug/spi.rs
Labels: SW:opentitantool

#18069 [hw,rv_dm,dv] Update jtag_item to support random pauses
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_item.sv
Labels: Component:DV, IP:rv_dm

#18110 [top_earlgrey/dv] Fix name of `xbar_smoke` test
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
Labels: Component:DV, TOP:earlgrey

#18067 [reggen, doc] Doc fix for reggen documentation
  util/reggen/README.md
Labels: Status:Ready to merge

#18119 [hw,i2c,dv] Add sample calls for newly added covergroups
  hw/ip/i2c/dv/env/i2c_scoreboard.sv
Labels: Component:DV, IP:i2c

#18116 [hw,i2c,dv] constrain thd_data to be non-zero
  hw/ip/i2c/dv/env/seq_lib/i2c_host_perf_vseq.sv
Labels: Component:DV, IP:i2c

#18122 [hw,rv_dm,dv] Improve TAP FSM coverage
  hw/dv/sv/jtag_agent/jtag_agent_pkg.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_item.sv
  hw/dv/sv/jtag_agent/jtag_monitor.sv
  hw/ip/rv_dm/data/rv_dm_testplan.hjson
  hw/ip/rv_dm/dv/env/rv_dm_env.core
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_tap_fsm_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_vseq_list.sv
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
Labels: Component:DV, IP:rv_dm
