Repository lowRISC/opentitan, pull requests merged in 2024-04, with the labels that each got.

#21988 [pentest] Cherry-pick Add support for AES SCA measurements on chip
  sw/device/sca/aes_serial.c
  sw/device/sca/kmac_serial.c
  sw/device/sca/lib/sca.c
  sw/device/sca/lib/sca.h
  sw/device/sca/otbn_vertical/ecc256_keygen_serial.c
  sw/device/sca/otbn_vertical/ecc256_modinv_serial.c
  sw/device/sca/sha3_serial.c
  sw/device/tests/crypto/cryptotest/firmware/aes_sca.c
  sw/device/tests/crypto/cryptotest/firmware/kmac_sca.c
  sw/device/tests/crypto/cryptotest/firmware/sha3_sca.c
  sw/device/tests/crypto/cryptotest/json/aes_sca_commands.h
Labels: Status:Ready to merge

#22359 [aon_timer] Sign off at D2S
  hw/ip/aon_timer/data/aon_timer.hjson
Labels: IP:aon_timer

#22350 [util] Fix the `mapfile_to_json` script to work with `lld`
  util/py/scripts/mapfile_to_json.py
Labels: CherryPick:master

#22342 [usbdev] Fixup test name with 'usbdev_' prefix
  hw/ip/usbdev/dv/usbdev_sim_cfg.hjson
Labels: IP:usbdev, Tool:dvsim

#22380 [dvsim] General clean-up in modes.py
  util/dvsim/Modes.py
  util/dvsim/OneShotCfg.py
  util/dvsim/SimCfg.py
Labels: Type:Cleanup, Tool:dvsim

#22310 [pentest] Configure extclk
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/extclk_sca_fi.c
  sw/device/tests/crypto/cryptotest/firmware/extclk_sca_fi.h
  sw/device/tests/crypto/cryptotest/firmware/firmware.c
  sw/device/tests/crypto/cryptotest/json/BUILD
  sw/device/tests/crypto/cryptotest/json/commands.h
  sw/device/tests/crypto/cryptotest/json/extclk_sca_fi_commands.c
  sw/device/tests/crypto/cryptotest/json/extclk_sca_fi_commands.h
Labels: CherryPick:master

#20900 [cryptotest] ed25519 wycheproof test vector parser
  sw/host/cryptotest/testvectors/data/BUILD
  sw/host/cryptotest/testvectors/data/schemas/BUILD
  sw/host/cryptotest/testvectors/data/schemas/ed25519_schema.json
  sw/host/cryptotest/testvectors/parsers/BUILD
  sw/host/cryptotest/testvectors/parsers/wycheproof_ed25519_parser.py
Labels: CherryPick:earlgrey_es_sival

#22392 [certs] make OT cert builds deterministic
  sw/host/ot_certs/BUILD
  sw/host/ot_certs/src/asn1/codegen.rs
  sw/host/ot_certs/src/asn1/x509.rs
  sw/host/ot_certs/src/codegen.rs
  sw/host/ot_certs/src/template/mod.rs
  sw/host/ot_certs/src/template/subst.rs
  sw/host/ot_certs/src/x509.rs
Labels: CherryPick:master

#22390 [top_darjeeling,gpio] Removed unnecessary cdc synchornizer on strap_en_i signal
  hw/ip/gpio/rtl/gpio.sv
Labels: Component:CDC, Component:Darjeeling

#21918 [pentest] Configure alert handler for FI
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.c
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.h
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.c
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.h
  sw/device/tests/crypto/cryptotest/firmware/sca_lib.c
  sw/device/tests/crypto/cryptotest/firmware/sca_lib.h
  sw/device/tests/crypto/cryptotest/json/ibex_fi_commands.h
  sw/device/tests/crypto/cryptotest/json/otbn_fi_commands.h
Labels: CherryPick:master

#22404 [prim,tlul,rtl] Explicitly cast a "1" to specific number of bits
  hw/ip/prim/rtl/prim_packer_fifo.sv
  hw/ip/tlul/rtl/tlul_err.sv
Labels: Component:RTL, IP:prim, IP:tlul

#22363 [usbdev] Mark V1 items done in checklist.md
  hw/ip/usbdev/doc/checklist.md
Labels: Component:DV, IP:usbdev

#22401 [kmac] Fix silly lint warning in keccak_2share.sv
  hw/ip/kmac/rtl/keccak_2share.sv
Labels: Type:Cleanup, IP:kmac

#22412 [util] Improve `mapfile_to_json` script
  util/py/scripts/mapfile_to_json.py
Labels: CherryPick:master

#22076 [otbn,dv] Drop verification stage to V1
  hw/ip/otbn/data/otbn.hjson
Labels: Component:DV, IP:otbn

#22408 [reggen,fpv] Fix up some bugs in indices in reggen's FPV code
  util/reggen/fpv_csr.sv.tpl
Labels: Component:FPV, Tool:reggen

#22403 [prim,dv] Tweak ASSERT_FINAL to be a no-op if FPV enabled
  hw/ip/prim/rtl/prim_assert_standard_macros.svh
Labels: Component:FPV, IP:prim

#22421 [reggen,fpv] Fix array sizes in fpv_csr.sv.tpl... again!
  util/reggen/fpv_csr.sv.tpl
Labels: Component:FPV, Tool:reggen

#22393 [crypto] Fix a bug in ECDSA-P256.
  sw/otbn/crypto/p256_verify.s
Labels: CherryPick:earlgrey_es_sival

#22434 [lc_ctrl,dv] Fix constraint in lc_ctrl_errors_vseq
  hw/ip/lc_ctrl/dv/env/seq_lib/lc_ctrl_errors_vseq.sv
Labels: Component:DV, IP:lc_ctrl

#22430 [usbdev,dv] Avoid duplicate file when building usbdev tests
  hw/dv/sv/usb20_agent/usb20_agent.core
  hw/dv/sv/usb20_agent/usb20_agent.sv
  hw/dv/sv/usb20_agent/usb20_agent_cfg.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_base_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_dpi_config_host_vseq.sv
  hw/ip/usbdev/dv/env/usbdev_env.core
  hw/ip/usbdev/dv/env/usbdev_env.sv
  hw/ip/usbdev/dv/env/usbdev_env_cfg.sv
  hw/ip/usbdev/dv/tb/tb.sv
Labels: Component:DV, IP:usbdev

#22432 [usbdev,dv] Move package import into task
  hw/ip/usbdev/dv/env/seq_lib/usbdev_dpi_config_host_vseq.sv
Labels: Component:DV, IP:usbdev

#22446 [doc] Fix typo in project_milestone_definitions.md
  doc/project_governance/project_milestone_definitions.md
Labels: Component:Doc, Type:Cleanup

#22451 [dvsim] Split and rename Modes.py
  util/dvsim/BUILD
  util/dvsim/Modes.py
  util/dvsim/OneShotCfg.py
  util/dvsim/Regression.py
  util/dvsim/SimCfg.py
  util/dvsim/Test.py
  util/dvsim/modes.py
Labels: Type:Cleanup, Tool:dvsim

#22345 [i2c] Split the target and controller FSMs
  hw/ip/i2c/dv/env/seq_lib/i2c_glitch_vseq.sv
  hw/ip/i2c/dv/tb/tb.sv
  hw/ip/i2c/i2c.core
  hw/ip/i2c/rtl/i2c_controller_fsm.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_target_fsm.sv
Labels: Component:RTL, IP:i2c

#22420 [tlul,rtl] Explicitly cast +1 widths in tlul_adapter_host.sv
  hw/ip/tlul/rtl/tlul_adapter_host.sv
Labels: Type:Cleanup, Component:RTL, IP:tlul

#22464 [usbdev,dv] Get rid of get_out_response_from_device
  hw/dv/sv/usb20_agent/usb20_item.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_av_buffer_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_base_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_enable_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_iso_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_rand_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_stall_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_nak_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_stall_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_trans_nak_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pending_in_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_received_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_sent_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_random_length_out_transaction_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_smoke_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_stall_priority_over_nak_vseq.sv
Labels: Component:DV, IP:usbdev

#22485 [rv_dm,lint] Waive unused port in rv_dm.sv
  hw/ip/rv_dm/lint/rv_dm.vlt
Labels: Component:RTL, IP:rv_dm

#22491 [prim,fpv] Only allow unconstrained counters in prim_count FPV
  hw/ip/prim/lint/prim_count.waiver
  hw/ip/prim/rtl/prim_count.sv
  hw/top_earlgrey/formal/top_earlgrey_fpv_prim_cfgs.hjson
Labels: Component:FPV, IP:entropy_src

#22459 [i2c] Controller mode cleanup of NACK handling and transaction boundaries
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/doc/interfaces.md
  hw/ip/i2c/doc/registers.md
  hw/ip/i2c/doc/theory_of_operation.md
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_mode_toggle_vseq.sv
  hw/ip/i2c/dv/tb/tb.sv
  hw/ip/i2c/rtl/i2c.sv
  hw/ip/i2c/rtl/i2c_controller_fsm.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  hw/top_earlgrey/sw/autogen/chip/top_earlgrey.rs
  hw/top_earlgrey/sw/autogen/top_earlgrey.c
  hw/top_earlgrey/sw/autogen/top_earlgrey.h
  sw/device/lib/dif/autogen/dif_i2c_autogen.c
  sw/device/lib/dif/autogen/dif_i2c_autogen.h
  sw/device/lib/dif/dif_i2c.c
  sw/device/lib/dif/dif_i2c.h
  sw/device/lib/dif/dif_i2c_unittest.cc
  sw/device/lib/testing/i2c_testutils.c
  sw/device/tests/autogen/plic_all_irqs_test.c
  sw/device/tests/pmod/i2c_host_irq_test.c
  sw/device/tests/sim_dv/i2c_host_tx_rx_test.c
Labels: Component:Software, Component:RTL, IP:i2c, SW:DIF

#22261 [ci] Enable uart_tx_rx test in CI
  sw/device/tests/BUILD
Labels: CherryPick:earlgrey_es_sival

#22500 [pinmux/doc]: Fix the description for the keeper_en register
  hw/ip/pinmux/data/pinmux.hjson
  hw/ip/pinmux/data/pinmux.hjson.tpl
  hw/ip/pinmux/doc/registers.md
  hw/top_earlgrey/ip/pinmux/data/autogen/pinmux.hjson
Labels: Component:Doc, IP:pinmux

#22272 [pentest] Batch mode for Ibex SCA
  sw/device/sca/lib/prng.c
  sw/device/sca/lib/prng.h
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/ibex_fi.h
  sw/device/tests/penetrationtests/firmware/ibex_sca.c
  sw/device/tests/penetrationtests/firmware/ibex_sca.h
  sw/device/tests/penetrationtests/json/ibex_fi_commands.h
  sw/device/tests/penetrationtests/json/ibex_sca_commands.h
Labels: CherryPick:master

#22371 [opentitantool] Improvements to C2D2 debugger support
  sw/host/opentitanlib/src/app/config/h1dx_devboard_c2d2.json
  sw/host/opentitanlib/src/transport/hyperdebug/uart.rs
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival

#22506 [entropy_src,rtl] Factor sfifo errors into fatal alert
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: Component:RTL, IP:entropy_src

#22525 [cryptolib,entropy] Fix `csrng_send_app_cmd`
  sw/device/lib/crypto/drivers/entropy.c
Labels: CherryPick:earlgrey_es_sival

#22218 [ascon] initial commit
  hw/ip/README.md
  hw/ip/ascon/ascon.core
  hw/ip/ascon/data/ascon.hjson
  hw/ip/ascon/rtl/ascon.sv
  hw/ip/ascon/rtl/ascon_core.sv
  hw/ip/ascon/rtl/ascon_pkg.sv
  hw/ip/ascon/rtl/ascon_reg_pkg.sv
  hw/ip/ascon/rtl/ascon_reg_top.sv
  util/reggen/ip_block.py
Labels: Status:Ready to merge

#22490 [pentest] Configure additional alerts for FI
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/otbn_fi.c
  sw/device/tests/penetrationtests/firmware/sca_lib.c
  sw/device/tests/penetrationtests/firmware/sca_lib.h
  sw/device/tests/penetrationtests/json/ibex_fi_commands.h
  sw/device/tests/penetrationtests/json/otbn_fi_commands.h
Labels: Status:Ready to merge, CherryPick:master

#22538 [dvsim,lint] Fix bug in duplicate detection in lint parser
  util/dvsim/LintParser.py
Labels: Tool:dvsim

#22436 [lc_ctrl,dv] Fix width of coverage binding
  hw/ip/lc_ctrl/dv/cov/lc_ctrl_cov.core
  hw/ip/lc_ctrl/dv/cov/lc_ctrl_cov_bind.sv
  hw/ip/lc_ctrl/dv/cov/lc_tx_cov_array_if.sv
Labels: Component:DV, IP:lc_ctrl

#22528 [rv_plic,fpv] Fix failing FpvSecCmBusIntegrity_A assertion
  hw/ip_templates/rv_plic/rtl/rv_plic.sv.tpl
  hw/top_earlgrey/ip_autogen/rv_plic/rtl/rv_plic.sv
Labels: Component:FPV, IP:rv_plic

#22534 [rv_plic,fpv] Fix index widths
  hw/ip_templates/rv_plic/fpv/vip/rv_plic_assert_fpv.sv.tpl
  hw/top_earlgrey/ip_autogen/rv_plic/fpv/vip/rv_plic_assert_fpv.sv
Labels: Component:FPV, IP:rv_plic

#22486 [rv_dm,lint] Waive remaining Verilator lint warnings
  hw/vendor/lint/pulp_riscv_dbg.vlt
Labels: Component:RTL, IP:rv_dm

#22429 [bazel] Rename the cloud_kms token label
  signing/tokens/BUILD
  sw/device/examples/hello_world/BUILD
Labels: CherryPick:master

#22587 [edn,rtl] Fix indices in assertion
  hw/ip/edn/rtl/edn.sv
Labels: Component:RTL, IP:edn

#22591 [rv_dm,dv] Slightly tidy up interface connections in tb.sv
  hw/ip/rv_dm/dv/tb.sv
Labels: Component:DV, IP:rv_dm

#22562 [pentest] Add SRAM Write Static test
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/ibex_fi.h
  sw/device/tests/penetrationtests/json/ibex_fi_commands.h
Labels: Status:Ready to merge, CherryPick:master

#22484 [pentest] Cherry-pick Configure extclk
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/extclk_sca_fi.c
  sw/device/tests/crypto/cryptotest/firmware/extclk_sca_fi.h
  sw/device/tests/crypto/cryptotest/firmware/firmware.c
  sw/device/tests/crypto/cryptotest/json/BUILD
  sw/device/tests/crypto/cryptotest/json/commands.h
  sw/device/tests/crypto/cryptotest/json/extclk_sca_fi_commands.c
  sw/device/tests/crypto/cryptotest/json/extclk_sca_fi_commands.h
Labels: Status:Ready to merge

#22556 [pentest] Return device ID to host
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/aes_sca.c
  sw/device/tests/penetrationtests/firmware/hmac_sca.c
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/ibex_sca.c
  sw/device/tests/penetrationtests/firmware/kmac_sca.c
  sw/device/tests/penetrationtests/firmware/otbn_fi.c
  sw/device/tests/penetrationtests/firmware/sca_lib.c
  sw/device/tests/penetrationtests/firmware/sca_lib.h
  sw/device/tests/penetrationtests/firmware/sha3_sca.c
  sw/device/tests/penetrationtests/json/BUILD
  sw/device/tests/penetrationtests/json/sca_lib_commands.c
  sw/device/tests/penetrationtests/json/sca_lib_commands.h
Labels: Status:Ready to merge, CherryPick:master

#22505 [pentest] AES and KMAC FI tests
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/crypto_fi.c
  sw/device/tests/penetrationtests/firmware/crypto_fi.h
  sw/device/tests/penetrationtests/firmware/firmware.c
  sw/device/tests/penetrationtests/json/BUILD
  sw/device/tests/penetrationtests/json/commands.h
  sw/device/tests/penetrationtests/json/crypto_fi_commands.c
  sw/device/tests/penetrationtests/json/crypto_fi_commands.h
Labels: Status:Ready to merge, CherryPick:master

#22612 [pentest] Fix extclk speed config
  sw/device/tests/penetrationtests/firmware/extclk_sca_fi.c
Labels: Status:Ready to merge, CherryPick:master

#22483 [sival] fix GPIO tests on silicon
  sw/device/lib/testing/pinmux_testutils.c
  sw/device/tests/BUILD
  sw/host/tests/chip/gpio/src/main.rs
  sw/host/tests/chip/gpio_intr/src/main.rs
Labels: CherryPick:earlgrey_es_sival

#22575 [pwrmgr, top_darjeeling] Take external SoC reset into account in FSM
  hw/ip/pwrmgr/data/pwrmgr.hjson.tpl
  hw/ip/pwrmgr/dv/tb.sv
  hw/ip/pwrmgr/pwrmgr_pkg.core
  hw/ip/pwrmgr/rtl/pwrmgr.sv
  hw/ip/pwrmgr/rtl/pwrmgr_fsm.sv
  hw/ip/pwrmgr/rtl/pwrmgr_pkg.sv
  hw/top_darjeeling/data/autogen/top_darjeeling.gen.hjson
  hw/top_darjeeling/data/top_darjeeling.hjson
  hw/top_darjeeling/dv/autogen/rstmgr_tgl_excl.cfg
  hw/top_darjeeling/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_darjeeling/ip/rstmgr/dv/env/autogen/rstmgr_env_pkg.sv
  hw/top_darjeeling/ip/rstmgr/rtl/autogen/rstmgr.sv
  hw/top_darjeeling/ip/soc_proxy/data/soc_proxy.hjson
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy.sv
  hw/top_darjeeling/rtl/autogen/chip_darjeeling_asic.sv
  hw/top_darjeeling/rtl/autogen/chip_darjeeling_cw310.sv
  hw/top_darjeeling/rtl/autogen/top_darjeeling.sv
  hw/top_darjeeling/rtl/chip_darjeeling_verilator.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/ip/pwrmgr/data/autogen/pwrmgr.hjson
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:Darjeeling

#22603 [prim,fpv] Fix port list in prim_count_tb
  hw/ip/prim/fpv/tb/prim_count_tb.sv
Labels: Component:FPV, IP:prim

#22602 [prim,fpv] Rephrase prim_count error assertions
  hw/ip/prim/rtl/prim_count.sv
Labels: Component:FPV, IP:prim

#22016 [rv_dm,dv] Fix typo in rv_dm_abstractcmd_status_vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_abstractcmd_status_vseq.sv
Labels: Component:DV, Type:Bug, IP:rv_dm

#22600 [prim,fpv] Fix width of FPV variable in prim_arbiter_ppc.sv
  hw/ip/prim/rtl/prim_arbiter_ppc.sv
Labels: Component:FPV, IP:prim

#22584 [rom_ctrl,lc_ctrl,dv] Specialise scratch_path/rel_path for variants
  hw/ip/lc_ctrl/dv/lc_ctrl_base_sim_cfg.hjson
  hw/ip/rom_ctrl/dv/rom_ctrl_base_sim_cfg.hjson
Labels: Component:DV, IP:lc_ctrl, IP:rom_ctrl

#21591 [cryptotest] Add parser for RSA manual hjson tests
  sw/host/cryptotest/testvectors/data/BUILD
  sw/host/cryptotest/testvectors/parsers/BUILD
  sw/host/cryptotest/testvectors/parsers/cryptotest_util.py
  sw/host/cryptotest/testvectors/parsers/hjson_rsa_parser.py
Labels: CherryPick:earlgrey_es_sival

#22050 [tlul,rtl] Weaken "known" assertion in tlul_adapter_sram.sv
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:FPV, IP:tlul

#22607 [prim,fpv] Correct assertions for commit_i input
  hw/ip/prim/rtl/prim_count.sv
Labels: Component:FPV, IP:prim

#22463 [pentest] Add tweaks to FI & SCA code
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/ibex_sca.c
  sw/device/tests/penetrationtests/firmware/otbn_fi.c
Labels: Status:Ready to merge, CherryPick:master

#22613 [pentest] Constant trigger window for OTBN
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/otbn_fi.c
  sw/device/tests/penetrationtests/firmware/sca_lib.c
  sw/device/tests/penetrationtests/firmware/sca_lib.h
Labels: Status:Ready to merge, CherryPick:master

#22617 [pentest] Return alerts as array
  sw/device/tests/penetrationtests/firmware/ibex_fi.c
  sw/device/tests/penetrationtests/firmware/otbn_fi.c
  sw/device/tests/penetrationtests/firmware/sca_lib.c
  sw/device/tests/penetrationtests/firmware/sca_lib.h
  sw/device/tests/penetrationtests/json/ibex_fi_commands.h
  sw/device/tests/penetrationtests/json/otbn_fi_commands.h
Labels: Status:Ready to merge, CherryPick:earlgrey_es_sival

#22720 [ascon] fix AUX_CNTRL_SHADDWOED REGWEN
  hw/ip/ascon/data/ascon.hjson
  hw/ip/ascon/doc/registers.md
  hw/ip/ascon/rtl/ascon_reg_top.sv
Labels: Status:Ready to merge

#22577 [i2c] Reduce counter sizes to save area
  hw/ip/i2c/data/i2c.hjson
  hw/ip/i2c/doc/registers.md
  hw/ip/i2c/rtl/i2c_controller_fsm.sv
  hw/ip/i2c/rtl/i2c_core.sv
  hw/ip/i2c/rtl/i2c_reg_pkg.sv
  hw/ip/i2c/rtl/i2c_reg_top.sv
  hw/ip/i2c/rtl/i2c_target_fsm.sv
Labels: Type:Cleanup, Component:RTL, IP:i2c

#22659 [rom_ext] Lock the address translation windows
  sw/device/silicon_creator/lib/base/sec_mmio.c
  sw/device/silicon_creator/lib/base/sec_mmio.h
  sw/device/silicon_creator/lib/drivers/BUILD
  sw/device/silicon_creator/lib/drivers/ibex.c
  sw/device/silicon_creator/lib/drivers/ibex.h
  sw/device/silicon_creator/rom_ext/rom_ext.c
Labels: CherryPick:master

#22766 [manuf] provision TPM attestation key seeds in flash info
  sw/device/silicon_creator/manuf/lib/flash_info_fields.c
  sw/device/silicon_creator/manuf/lib/flash_info_fields.h
  sw/device/silicon_creator/manuf/lib/personalize.c
Labels: CherryPick:earlgrey_es_sival

#22783 [bazel] update lowRISC misc-linters
  third_party/lint/repos.bzl
Labels: CherryPick:earlgrey_es_sival

#22773 [rv_plic] Add human_name/one-line description to hjson
  hw/ip_templates/rv_plic/data/rv_plic.hjson.tpl
  hw/top_earlgrey/ip_autogen/rv_plic/data/rv_plic.hjson
Labels: Component:Doc, IP:rv_plic

#22803 [bazel] Update `rom/e2e/sigverify_key_type` to the new rules
  sw/device/silicon_creator/rom/e2e/sigverify_key_type/BUILD
Labels: CherryPick:earlgrey_es_sival

#22582 [pattgen,dv] Wire up cio_*_tx_en_o ports
  hw/ip/pattgen/dv/tb.sv
Labels: Component:DV, IP:pattgen

#22818 [tlul,doc] Fix typo in timing diagram caption
  hw/ip/tlul/README.md
Labels: Component:Doc, IP:tlul

#22568 [alert_handler,rtl] Correct width of prim_count instance
  hw/ip_templates/alert_handler/rtl/alert_handler_ping_timer.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_ping_timer.sv
Labels: Component:RTL, IP:alert_handler

#22798 [alert_handler,rtl] Slightly simplify decrementing counter
  hw/ip_templates/alert_handler/rtl/alert_handler_ping_timer.sv
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler_ping_timer.sv
Labels: Component:RTL, IP:alert_handler

#22821 [fpv,prim] Drop prim_count_expected_failure.hjson
  hw/ip/prim/fpv/prim_count_expected_failure.hjson
  hw/top_earlgrey/formal/top_earlgrey_fpv_prim_cfgs.hjson
Labels: Component:FPV, IP:prim

#22825 [fpv,alert_handler] Remove two unnecessary cover waivers
  hw/ip_templates/alert_handler/fpv/tb/ping_after_load.tcl
  hw/top_earlgrey/ip_autogen/alert_handler/fpv/tb/ping_after_load.tcl
Labels: Type:Cleanup, Component:FPV, IP:alert_handler

#22706 [sival, rv_dm] fix rv_dm_mem_access flakiness
  sw/host/tests/chip/rv_dm/src/mem_access.rs
Labels: CherryPick:earlgrey_es_sival

#22724 [sival, rv_dm] Enable lc_disabled tests for silicon
  sw/device/tests/BUILD
Labels: CherryPick:earlgrey_es_sival

#22834 [sram_program] Rename `sram_main` to `test_main`
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_rom_e2e_jtag_inject_vseq.sv
  sw/device/examples/sram_program/sram_program.c
  sw/device/examples/sram_program/sram_program.ld
  sw/device/silicon_creator/manuf/lib/sram_start.S
  sw/device/silicon_creator/manuf/lib/sram_start_no_ast_init.S
  sw/device/silicon_creator/manuf/skus/earlgrey_a0/sival_bringup/sram_cp_provision.c
  sw/device/silicon_creator/manuf/skus/earlgrey_a0/sival_bringup/sram_cp_provision_functest.c
  sw/device/silicon_creator/manuf/skus/earlgrey_a0/sival_bringup/sram_ft_individualize.c
  sw/device/silicon_creator/manuf/tests/sram_device_info_flash_wr_functest.c
  sw/device/silicon_creator/manuf/tests/sram_empty_functest.c
  sw/device/silicon_creator/manuf/tests/sram_exec_test.c
  sw/device/tests/flash_ctrl_rma_test.c
  sw/device/tests/rv_core_ibex_epmp_test.S
  sw/device/tests/rv_core_ibex_epmp_test.c
  sw/device/tests/rv_core_ibex_isa_test.S
  sw/device/tests/rv_core_ibex_mem_test.c
  sw/host/opentitanlib/src/test_utils/load_sram_program.rs
  sw/host/tests/chip/rv_core_ibex_isa/src/main.rs
  sw/host/tests/manuf/manuf_cp_device_info_flash_wr/src/main.rs
  sw/host/tests/manuf/manuf_sram_program_crc_check/src/main.rs
Labels: CherryPick:earlgrey_es_sival

#22866 [hw,mbx,rtl] Move SOC_INTR_ADDR/DATA registers to the end
  hw/ip/mbx/data/mbx.hjson
  hw/ip/mbx/rtl/mbx_reg_pkg.sv
  hw/ip/mbx/rtl/mbx_soc_reg_top.sv
Labels: Component:Darjeeling

#22840 [rom_ext] Improve `boot_log` reporting
  sw/device/silicon_creator/lib/boot_data.h
  sw/device/silicon_creator/lib/boot_log.h
  sw/device/silicon_creator/lib/drivers/ibex.c
  sw/device/silicon_creator/lib/drivers/ibex.h
  sw/device/silicon_creator/rom_ext/e2e/verified_boot/BUILD
  sw/device/silicon_creator/rom_ext/e2e/verified_boot/boot_test.c
  sw/device/silicon_creator/rom_ext/rom_ext.c
Labels: CherryPick:master

#22902 [rv_dm,rtl] Fix location of SEC_CM comment
  hw/ip/rv_dm/rtl/rv_dm.sv
Labels: Component:RTL, IP:rv_dm

#22905 [rv_dm] Move lifecycle stage to D2S
  hw/ip/rv_dm/data/rv_dm.hjson
Labels: IP:rv_dm

#22887 [rom, rom_ext] Fix address translation
  sw/device/silicon_creator/lib/drivers/ibex.c
  sw/device/silicon_creator/lib/drivers/ibex_unittest.cc
Labels: CherryPick:master
