Repository lowRISC/opentitan, pull requests merged in 2024-03, with the labels that each got.

#21770 [top] Enable CDC randomization for top level tests
  hw/top_darjeeling/dv/chip_sim_cfg.hjson
Labels: Component:CDC, Component:Darjeeling

#21779 [alert_handler_testutils] Revise default ping timeout
  sw/device/lib/testing/alert_handler_testutils.h
  sw/device/tests/aon_timer_wdog_lc_escalate_test.c
  sw/device/tests/pwrmgr_sleep_resets_lib.c
  sw/device/tests/rv_core_ibex_nmi_irq_test.c
  sw/device/tests/sim_dv/data_integrity_escalation_reset_test.c
  sw/device/tests/sim_dv/pwrmgr_random_sleep_power_glitch_reset_test.c
Labels: Component:Software, TOP:earlgrey, IP:alert_handler

#21657 [kmac] Change fifo_empty interrupt type to status
  hw/ip/kmac/data/kmac.hjson
  hw/ip/kmac/doc/interfaces.md
  hw/ip/kmac/doc/registers.md
  hw/ip/kmac/doc/theory_of_operation.md
  hw/ip/kmac/dv/env/kmac_scoreboard.sv
  hw/ip/kmac/rtl/kmac.sv
  hw/ip/kmac/rtl/kmac_reg_top.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  sw/device/lib/dif/autogen/dif_kmac_autogen.c
  sw/device/lib/dif/autogen/dif_kmac_autogen.h
  sw/device/lib/testing/autogen/isr_testutils.c
  sw/device/lib/testing/autogen/isr_testutils.h
  sw/device/tests/autogen/plic_all_irqs_test.c
Labels: Status:Ready to merge

#21733 [pentest] Disable iCache and dummy instr.
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/aes_sca.c
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.c
  sw/device/tests/crypto/cryptotest/firmware/kmac_sca.c
  sw/device/tests/crypto/cryptotest/firmware/sca_lib.c
  sw/device/tests/crypto/cryptotest/firmware/sca_lib.h
  sw/device/tests/crypto/cryptotest/firmware/sha3_sca.c
Labels: CherryPick:master

#21359 [pentest] Add FI Ibex RF tests
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.c
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.h
  sw/device/tests/crypto/cryptotest/json/ibex_fi_commands.h
Labels: CherryPick:master

#21786 [sw/i2c_testutils] Take I2C instance ID into account for pins
  sw/device/lib/testing/i2c_testutils.c
  sw/device/lib/testing/pinmux_testutils.h
  sw/device/tests/sim_dv/i2c_device_tx_rx_test.c
Labels: IP:i2c

#21334 [dma/dv] Fixes and updates to testplan
  hw/ip/dma/data/dma_testplan.hjson
Labels: Component:DV, Component:Darjeeling, IP:dma

#21814 [usbdev,dv] Fix names in usbdev_sim_cfg.hjson
  hw/ip/usbdev/dv/usbdev_sim_cfg.hjson
Labels: Component:DV, IP:usbdev

#21816 [usbdev,dv] Drop some arguments from the call_token_seq task
  hw/ip/usbdev/dv/env/seq_lib/usbdev_av_buffer_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_base_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_enable_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_nak_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_stall_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_trans_nak_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_received_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_sent_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_random_length_out_transaction_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_setup_trans_ignored_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_smoke_vseq.sv
Labels: Component:DV, IP:usbdev

#21798 [spi_device] Sign off for D2 and D2S
  hw/ip/spi_device/data/spi_device.hjson
Labels: IP:spi_device

#21803 [hw,prim_diff_encode,rtl] New prim for differential encoding
  hw/ip/prim/prim_diff_encode.core
  hw/ip/prim/rtl/prim_diff_encode.sv
Labels: Component:CDC, Component:Darjeeling

#21843 [sival,usbdev] Remove test of usbdev pin-flipping from SiVal
  sw/device/tests/usbdev_pincfg_test.c
Labels: CherryPick:earlgrey_es_sival

#21638 [sival,aes] Clarify purpose of chip_sw_aes_masking_off test
  hw/ip/aes/data/aes.hjson
  hw/top_earlgrey/data/ip/chip_aes_testplan.hjson
Labels: CherryPick:earlgrey_es_sival

#21802 [hw,soc_proxy,rtl] Synchronize external alert signals
  hw/top_darjeeling/ip/soc_proxy/rtl/soc_proxy.sv
Labels: Component:CDC, Component:Darjeeling

#21833 [rom] Add ECDSA P256 support to manifest.h
  sw/device/lib/testing/test_rom/BUILD
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/base/chip.h
  sw/device/silicon_creator/lib/manifest.h
  sw/device/silicon_creator/lib/sigverify/BUILD
  sw/device/silicon_creator/lib/sigverify/ecdsa_p256_key.c
  sw/device/silicon_creator/lib/sigverify/ecdsa_p256_key.h
Labels: CherryPick:earlgrey_es_sival

#21849 [sival] Update test plan with passing silicon tests
  hw/top_earlgrey/data/ip/chip_aes_testplan.hjson
  hw/top_earlgrey/data/ip/chip_kmac_testplan.hjson
Labels: CherryPick:master

#21812 [spi_device,dv] Split sim config into separate 1r1w and 2p versions
  hw/ip/spi_device/dv/README.md
  hw/ip/spi_device/dv/base_sim_cfg.hjson
  hw/ip/spi_device/dv/env/seq_lib/spi_device_ram_cfg_vseq.sv
  hw/ip/spi_device/dv/env/spi_device_env_pkg.sv
  hw/ip/spi_device/dv/spi_device_1r1w_sim_cfg.hjson
  hw/ip/spi_device/dv/spi_device_2p_sim_cfg.hjson
  hw/ip/spi_device/dv/tb/tb.sv
  hw/top_earlgrey/dv/top_earlgrey_sim_cfgs.hjson
Labels: Component:DV, IP:spi_device

#21620 [doc] Fix typo in OTBN
  hw/ip/otbn/doc/developing_otbn.md
  hw/ip/otbn/doc/programmers_guide.md
Labels: Status:Ready to merge

#21642 [pentest] Add OTBN FI characterization tests
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/firmware.c
  sw/device/tests/crypto/cryptotest/firmware/otbn/BUILD
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_char_hardware_dmem_op_loop.s
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_char_hardware_reg_op_loop.s
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_char_unrolled_dmem_op_loop.s
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_char_unrolled_reg_op_loop.s
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.c
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.h
  sw/device/tests/crypto/cryptotest/json/BUILD
  sw/device/tests/crypto/cryptotest/json/commands.h
  sw/device/tests/crypto/cryptotest/json/otbn_fi_commands.c
  sw/device/tests/crypto/cryptotest/json/otbn_fi_commands.h
Labels: Status:Ready to merge, CherryPick:master

#21885 [dvsim] Run deepcopy to work around memory usage bug
  util/dvsim/Modes.py
Labels: Tool:dvsim

#21866 [opentitantool] Update hyperdebug_teacup.json to match hardware
  sw/host/opentitanlib/src/app/config/hyperdebug_teacup.json
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival

#21646 [bazel] Rework bitstream clearing in tests
  rules/opentitan/cc.bzl
  rules/opentitan/defs.bzl
  rules/opentitan/fpga_cw310.bzl
Labels: CherryPick:earlgrey_es_sival

#21906 [spi_host,rtl] Revert "[spi_host,rtl] Use sd_en_o[0] to only drive sd_o[0] during TX (std_mode)"
  hw/ip/spi_host/rtl/spi_host_fsm.sv
Labels: Component:RTL, IP:spi_host

#21900 [cryptotest] Add URLs for GCB-backed mirrors of NIST test vectors
  third_party/nist_cavp_testvectors/repos.bzl
Labels: CherryPick:earlgrey_es_sival

#21842 [usbdev,dv] Sort sequences (mostly) alphabetically
  hw/ip/usbdev/dv/env/seq_lib/usbdev_vseq_list.sv
  hw/ip/usbdev/dv/usbdev_sim_cfg.hjson
Labels: Component:DV, IP:usbdev

#21921 [dv] Add checks to set_freq_*hz
  hw/dv/sv/common_ifs/clk_rst_if.sv
Labels: Component:DV

#21881 [cryptotest] Fix AES-GCM schema and test vector parser
  sw/host/cryptotest/testvectors/data/schemas/aes_gcm_schema.json
  sw/host/cryptotest/testvectors/parsers/nist_cavp_aes_gcm_parser.py
Labels: CherryPick:earlgrey_es_sival

#21741 [pentest] Add support for AES SCA measurements on chip
  sw/device/sca/aes_serial.c
  sw/device/sca/kmac_serial.c
  sw/device/sca/lib/sca.c
  sw/device/sca/lib/sca.h
  sw/device/sca/otbn_vertical/ecc256_keygen_serial.c
  sw/device/sca/otbn_vertical/ecc256_modinv_serial.c
  sw/device/sca/sha3_serial.c
  sw/device/tests/crypto/cryptotest/firmware/aes_sca.c
  sw/device/tests/crypto/cryptotest/firmware/kmac_sca.c
  sw/device/tests/crypto/cryptotest/firmware/sha3_sca.c
  sw/device/tests/crypto/cryptotest/json/aes_sca_commands.h
Labels: Status:Ready to merge, CherryPick:master

#21925 [usbdev,dv] Remove num_of_bytes from base vseq
  hw/ip/usbdev/dv/env/seq_lib/usbdev_base_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_in_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_max_length_out_transaction_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_min_length_out_transaction_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_nak_trans_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_stall_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_out_trans_nak_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_received_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_pkt_sent_vseq.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_random_length_out_transaction_vseq.sv
Labels: Component:DV, IP:usbdev

#21949 [rom] Measure ROM space utilization
  .bazelrc
  sw/device/lib/base/hardened.h
  util/py/scripts/mapfile_to_json.py
Labels: CherryPick:earlgrey_es_sival

#21970 [ci] Add COMMITTERS to BLOCKFILE
  BLOCKFILE
Labels: Component:CI

#21987 [usbdev,dv] Remove usb_d[pn]_i from usb20_block_if
  hw/dv/sv/usb20_agent/usb20_block_if.sv
  hw/ip/usbdev/dv/tb/tb.sv
Labels: Component:DV, Type:Cleanup, IP:usbdev

#21778 [opentitantool] Increase TPM timeout to match ChromeOS
  sw/host/opentitanlib/src/tpm/driver.rs
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival

#21961 [opentitantool] Updated HyperDebug firmware
  sw/host/opentitanlib/src/transport/hyperdebug/i2c.rs
  third_party/hyperdebug/repos.bzl
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival

#21982 [kmac] Bump version to 2.0.0
  hw/ip/kmac/data/kmac.hjson
Labels: IP:kmac

#21742 [tlul,lint] Tell Verilator to split a process to avoid an UNOPTFLAT
  hw/ip/tlul/lint/tlul_lc_gate.vlt
Labels: Component:RTL, IP:tlul

#22020 [top_darjeeling/dv] Increase timeout of some SW tests
  hw/top_darjeeling/dv/chip_sim_cfg.hjson
Labels: Component:DV, Component:Darjeeling

#21986 [usbdev,dv] Fix indentation in usbdev tb.sv
  hw/ip/usbdev/dv/tb/tb.sv
Labels: Component:DV, Type:Cleanup, IP:usbdev

#21993 [top_darjeeling,i2c] Reject Start/Stop if SCL changes too soon
  hw/ip/i2c/doc/programmers_guide.md
  hw/ip/i2c/doc/theory_of_operation.md
  hw/ip/i2c/dv/env/seq_lib/i2c_base_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_host_rx_oversample_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_target_perf_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_target_smoke_vseq.sv
  hw/ip/i2c/rtl/i2c_fsm.sv
Labels: Component:Doc, Component:DV, Component:RTL, IP:i2c, Component:Darjeeling

#21916 [hw,prim_tlul_gate,rtl] Parametrize the number of outstanding transfers
  hw/ip/tlul/rtl/tlul_lc_gate.sv
Labels: IP:tlul, Component:Darjeeling

#22082 [ast] Revert dependency on top-specific rstmgr_pkg
  hw/top_earlgrey/ip/ast/ast.core
Labels: Component:Tooling, TOP:earlgrey, TOP:englishbreakfast, IP:ast

#21767 [opentitantool] Remove eprint during legacy_rescue
  sw/host/opentitanlib/src/bootstrap/legacy_rescue.rs
Labels: prodc-integration

#22070 [aon,ci] Remove broken tag for silicon and use standard exec env
  sw/device/tests/BUILD
Labels: CherryPick:earlgrey_es_sival

#22085 Revert "[ast] fixing always_comb lint"
  hw/top_earlgrey/ip/ast/rtl/vcaon_pgd.sv
  hw/top_earlgrey/ip/ast/rtl/vcc_pgd.sv
  hw/top_earlgrey/ip/ast/rtl/vcmain_pgd.sv
  hw/top_earlgrey/ip/ast/rtl/vio_pgd.sv
Labels: Type:Bug, Component:RTL

#22015 [rom_ext] Fix the lockdown tests
  sw/device/silicon_creator/rom_ext/e2e/lockdown/BUILD
Labels: CherryPick:master

#22073 [spi_device,dv] Generalise description of mem_cfg testpoint
  hw/ip/spi_device/data/spi_device_testplan.hjson
Labels: Component:DV, Type:Cleanup, IP:spi_device

#22123 [lint,verible] Waive Verible's always-comb rule for AST blocks
  hw/top_earlgrey/ip/ast/ast.core
  hw/top_earlgrey/ip/ast/lint/ast.vbl
Labels: Component:CI

#22094 [spi_device] Match OE with the passthrough read pipeline data
  hw/ip/spi_device/rtl/spi_passthrough.sv
Labels: IP:spi_device

#22113 [lint] update lowRISC `misc-linters`
  third_party/lint/repos.bzl
Labels: CherryPick:earlgrey_es_sival

#22099 [ci] Disable flaky Bazel tags step
  azure-pipelines.yml
Labels: CherryPick:earlgrey_es_sival

#22072 [dv] Remove phase argument from monitor's collect_trans
  hw/dv/sv/dv_lib/dv_base_monitor.sv
  hw/dv/sv/flash_phy_prim_agent/flash_phy_prim_monitor.sv
  hw/dv/sv/jtag_agent/jtag_monitor.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_monitor.sv
  hw/dv/sv/jtag_dmi_agent/sba_access_monitor.sv
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_monitor.sv
  hw/dv/sv/key_sideload_agent/key_sideload_monitor.sv
  hw/dv/sv/kmac_app_agent/kmac_app_monitor.sv
  hw/dv/sv/pattgen_agent/pattgen_monitor.sv
  hw/dv/sv/push_pull_agent/push_pull_monitor.sv
  hw/dv/sv/pwm_monitor/pwm_monitor.sv
  hw/dv/sv/rng_agent/rng_monitor.sv
  hw/dv/sv/spi_agent/spi_monitor.sv
  hw/dv/sv/usb20_agent/usb20_monitor.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_monitor.sv
  hw/vendor/lowrisc_ibex/dv/uvm/icache/dv/ibex_icache_core_agent/ibex_icache_core_monitor.sv
  hw/vendor/lowrisc_ibex/dv/uvm/icache/dv/ibex_icache_mem_agent/ibex_icache_mem_monitor.sv
  util/uvmdvgen/README.md
  util/uvmdvgen/monitor.sv.tpl
Labels: Component:DV, Type:Cleanup

#22132 [test] Ensure SHA3 is idle before using KMAC
  sw/device/tests/entropy_src_fw_override_test.c
Labels: CherryPick:master

#22146 [dv] Fix parameter types in dv_base_mubi_cov.sv
  hw/dv/sv/dv_base_reg/dv_base_mubi_cov.sv
Labels: Component:DV, Type:Cleanup

#22147 [lint] Demote licence warning in AscentLint parser
  hw/lint/tools/dvsim/common_lint_cfg.hjson
  util/dvsim/LintParser.py
  util/dvsim/ascentlint-report-parser.py
Labels: Component:CI

#22133 [pentest] Ibex SCA tests
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/firmware.c
  sw/device/tests/crypto/cryptotest/firmware/ibex_sca.c
  sw/device/tests/crypto/cryptotest/firmware/ibex_sca.h
  sw/device/tests/crypto/cryptotest/json/BUILD
  sw/device/tests/crypto/cryptotest/json/commands.h
  sw/device/tests/crypto/cryptotest/json/ibex_sca_commands.c
  sw/device/tests/crypto/cryptotest/json/ibex_sca_commands.h
Labels: CherryPick:master

#21917 [pentest] OTBN FI key sideloading & load integrity
  sw/device/lib/dif/dif_otbn.c
  sw/device/lib/dif/dif_otbn.h
  sw/device/tests/crypto/cryptotest/firmware/BUILD
  sw/device/tests/crypto/cryptotest/firmware/ibex_fi.c
  sw/device/tests/crypto/cryptotest/firmware/otbn/BUILD
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_key_sideload.s
  sw/device/tests/crypto/cryptotest/firmware/otbn/otbn_load_integrity.s
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.c
  sw/device/tests/crypto/cryptotest/firmware/otbn_fi.h
  sw/device/tests/crypto/cryptotest/firmware/status.h
  sw/device/tests/crypto/cryptotest/json/otbn_fi_commands.h
Labels: CherryPick:master

#22138 [cip,dv] Fix nitty style problem in cip_base_vseq
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq.sv
Labels: Component:DV

#22040 [spi_host,rtl] Use sd_en_o[0] to only drive sd_o[0] during TX (std_mode)
  hw/ip/spi_host/rtl/spi_host_fsm.sv
Labels: Component:RTL, IP:spi_host

#22164 [topgen] Avoid adding a comma after the last parameter in the list
  util/topgen/lib.py
  util/topgen/templates/toplevel.sv.tpl
Labels: Component:Tooling

#22192 [usbdev,dv] Remove repeated entry in usbdev_sim_cfg
  hw/ip/usbdev/dv/usbdev_sim_cfg.hjson
Labels: Component:DV, Type:Cleanup, IP:usbdev

#22196 [usbdev,dv,doc] Expand usbdev DV document to reflect current state
  hw/ip/usbdev/dv/README.md
Labels: Component:DV, IP:usbdev

#22220 [uart,dv] Import generic testplan for stress_all_with_reset
  hw/ip/uart/data/uart_testplan.hjson
Labels: Component:DV, IP:uart

#22221 [prim_fifo_sync_cnt] Minor code cleanup
  hw/ip/prim/rtl/prim_fifo_sync_cnt.sv
Labels: Component:RTL, IP:prim

#22175 [dv] Remove phase argument from monitor's collect_trans
  hw/dv/sv/dv_lib/dv_base_monitor.sv
  hw/dv/sv/flash_phy_prim_agent/flash_phy_prim_monitor.sv
  hw/dv/sv/jtag_agent/jtag_monitor.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_monitor.sv
  hw/dv/sv/jtag_dmi_agent/sba_access_monitor.sv
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_monitor.sv
  hw/dv/sv/key_sideload_agent/key_sideload_monitor.sv
  hw/dv/sv/kmac_app_agent/kmac_app_monitor.sv
  hw/dv/sv/pattgen_agent/pattgen_monitor.sv
  hw/dv/sv/push_pull_agent/push_pull_monitor.sv
  hw/dv/sv/pwm_monitor/pwm_monitor.sv
  hw/dv/sv/rng_agent/rng_monitor.sv
  hw/dv/sv/spi_agent/spi_monitor.sv
  hw/dv/sv/usb20_agent/usb20_monitor.sv
  hw/ip/otbn/dv/uvm/env/otbn_trace_monitor.sv
  hw/ip/otbn/dv/uvm/otbn_model_agent/otbn_model_monitor.sv
  hw/vendor/lowrisc_ibex.vendor.hjson
  hw/vendor/lowrisc_ibex/dv/uvm/icache/dv/ibex_icache_core_agent/ibex_icache_core_monitor.sv
  hw/vendor/lowrisc_ibex/dv/uvm/icache/dv/ibex_icache_mem_agent/ibex_icache_mem_monitor.sv
  hw/vendor/patches/lowrisc_ibex/dv/0001-dv-Remove-phase-argument-from-collect_trans.patch
  util/uvmdvgen/README.md
  util/uvmdvgen/monitor.sv.tpl
Labels: Component:DV

#22232 [i2c/rtl] Change depth of RAM for FIFOs to 464 entries
  hw/ip/i2c/rtl/i2c_fifos.sv
Labels: Component:RTL, IP:i2c

#22251 [top_earlgrey,doc] Mention working directory in README
  hw/top_earlgrey/README.md
Labels: Component:Doc, TOP:earlgrey

#22151 [opentitanlib] ECDSA/RSA/SPX raw key helper functions
  sw/host/opentitanlib/BUILD
  sw/host/opentitanlib/src/chip/boot_svc.rs
  sw/host/opentitanlib/src/chip/helper.rs
  sw/host/opentitanlib/src/crypto/ecdsa.rs
  sw/host/opentitanlib/src/crypto/mod.rs
  sw/host/opentitanlib/src/crypto/rsa.rs
  sw/host/opentitanlib/src/crypto/spx.rs
  sw/host/opentitanlib/src/util/mod.rs
  sw/host/opentitanlib/src/util/serde.rs
  sw/host/opentitantool/src/command/ecdsa.rs
Labels: CherryPick:master

#22198 [silicon_creator] Improve `dbg_printf`
  sw/device/lib/runtime/print.c
  sw/device/lib/runtime/print.h
  sw/device/silicon_creator/lib/dbg_print.c
  sw/device/silicon_creator/lib/dbg_print.h
  sw/device/silicon_creator/rom_ext/rescue.c
Labels: CherryPick:master

#22195 [usbdev,dv] Move covergroup descriptions to testplan
  hw/ip/usbdev/data/usbdev_testplan.hjson
  hw/ip/usbdev/dv/env/usbdev_env_cov.sv
Labels: Component:DV, IP:usbdev

#22137 [spi_host] Downgrade verification_stage to V1
  hw/ip/spi_host/data/spi_host.hjson
Labels: Component:DV, IP:spi_host

#22286 [i2c,dv] Remove +3 correction for coerced period in host_perf_vseq
  hw/ip/i2c/dv/env/seq_lib/i2c_host_perf_vseq.sv
Labels: Component:DV, IP:i2c

#22309 [usbdev,dv] Rename set_payload to something more specific
  hw/dv/sv/usb20_agent/usb20_item.sv
  hw/ip/usbdev/dv/env/seq_lib/usbdev_smoke_vseq.sv
Labels: Component:DV, IP:usbdev

#22316 [i2c] Sign off at D2S
  hw/ip/i2c/data/i2c.hjson
Labels: IP:i2c

#22311 [aon_timer] Sign off at V2S
  hw/ip/aon_timer/data/aon_timer.hjson
Labels: IP:aon_timer

#22339 [spi_host,dv] Update testplan based on D2(S) changes
  hw/ip/spi_host/data/spi_host_testplan.hjson
Labels: IP:i2c, Milestone:V1

#22337 [i2c,dv] Update testplan for new features introduced for D2(S)
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env_cov.sv
Labels: Component:DV, IP:i2c, Milestone:V1

#22338 [i2c] V0 -> V1
  hw/ip/i2c/data/i2c.hjson
Labels: IP:i2c, Milestone:V1

#22282 [spi_host,doc] Clarify that the 'spi_event' interrupt is Status-Type
  hw/ip/spi_host/doc/programmers_guide.md
Labels: Component:Doc

#22334 [usbdev] Sign off at V1
  hw/ip/usbdev/data/usbdev.hjson
Labels: IP:usbdev, Milestone:V1

#22328 [dv,mem_bkdr] Fix handling of multiple tiles in sram
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util__sram.sv
  hw/ip/sram_ctrl/dv/env/seq_lib/sram_ctrl_common_vseq.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_mem_bkdr_scb.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_base_vseq.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_sram_ctrl_scrambled_access_vseq.sv
  sw/device/tests/sim_dv/sram_ctrl_scrambled_access_test.c
Labels: Component:DV

#22278 [rust] Upgrade to serde-annotate v0.0.11
  sw/host/hsmtool/BUILD
  sw/host/opentitanlib/BUILD
  sw/host/opentitantool/BUILD
  third_party/rust/repos.bzl
Labels: CherryPick:master

#22346 [bazel,ci] Temporarily disable i2c_host_eeprom_test in CI
  sw/device/tests/pmod/BUILD
Labels: Component:CI

#22358 [rv_dm] Sign off at D2
  hw/ip/rv_dm/data/rv_dm.hjson
Labels: IP:rv_dm, Milestone:D2
