Repository lowRISC/opentitan, pull requests merged in 2024-06, with the labels that each got.

#23437 [rv_dm,dv] Constrain iteration counts in sba tl_access vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_sba_tl_access_vseq_lib.sv
Labels: Component:DV, IP:rv_dm

#23436 [rv_dm,dv] Avoid timeouts in the rv_dm_jtag_dmi_csr_bit_bash test
  hw/ip/rv_dm/dv/rv_dm_sim_cfg.hjson
Labels: Component:DV, IP:rv_dm

#23438 [dv] Fix a race condition in tl_device_seq
  hw/dv/sv/tl_agent/seq_lib/tl_device_seq.sv
Labels: Component:DV

#23496 [otbn,dv] Fix wait_for_run_completion in otbn_base_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, IP:otbn

#23068 [rv_dm,dv] Slightly weaken check in rv_dm_halt_resume_whereto_vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_halt_resume_whereto_vseq.sv
Labels: Component:DV, IP:rv_dm

#23103 [rv_dm,dv] Tidy up how we disable scan mode
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_abstractcmd_status_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_cmderr_busy_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_cmderr_exception_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_cmderr_halt_resume_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_cmderr_not_supported_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_common_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_dataaddr_rw_access_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_halt_resume_whereto_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_hart_unavail_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dmi_debug_disabled_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dmi_dm_inactive_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dtm_hard_reset_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dtm_idle_hint_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_mem_tl_access_halted_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_mem_tl_access_resuming_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_ndmreset_req_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_progbuf_busy_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_progbuf_read_write_execute_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_rom_read_access_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_sba_tl_access_vseq_lib.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_smoke_vseq.sv
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_tap_fsm_vseq.sv
Labels: Component:DV, IP:rv_dm

#23472 Port `sleep_pin_wake` to SiVal
  hw/top_earlgrey/data/chip_testplan.hjson
  hw/top_earlgrey/dv/chip_sim_cfg.hjson
  sw/device/tests/BUILD
  sw/device/tests/sim_dv/BUILD
  sw/device/tests/sleep_pin_wake_test.c
  sw/host/tests/chip/gpio/BUILD
  sw/host/tests/chip/gpio/src/sleep_pin_wake.rs
Labels: CherryPick:master

#23498 [otbn,dv] Collect coverage from lc_escalate_en_i signal
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, IP:otbn

#23508 [otbn,dv] Collect coverage for RMA requests
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: Component:DV, IP:otbn

#23547 [top_earlgrey,prim_ram_*_pkg] Connect memory test port
  hw/ip/prim/rtl/prim_ram_1p_pkg.sv
  hw/ip/prim/rtl/prim_ram_2p_pkg.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_asic.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw310.sv
  hw/top_earlgrey/rtl/autogen/chip_earlgrey_cw340.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:RTL, TOP:earlgrey

#23463 [otbn,dv] Add post-ES sec_cm feature tests to testplan
  hw/ip/otbn/data/otbn_testplan.hjson
Labels: Component:DV, IP:otbn

#23628 [dv] Fix typo in prints in push_pull_monitor
  hw/dv/sv/push_pull_agent/push_pull_monitor.sv
Labels: Component:DV

#23583 [otbn,dv] Try multiple times in otbn_ctrl_redun_vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_ctrl_redun_vseq.sv
Labels: Component:DV, IP:otbn

#23566 [otbn,dv] Add missing include to otbn_trace_entry.h
  hw/ip/otbn/dv/model/otbn_trace_entry.h
Labels: Component:DV, IP:otbn

#23638 [otbn,dv] Disable FI tests also for certain IMEM FIFOs
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Status:Ready to merge

#23543 [i2c,dv] I2C precise perf test
  hw/dv/sv/i2c_agent/i2c_agent_cfg.sv
  hw/dv/sv/i2c_agent/i2c_monitor.sv
  hw/ip/i2c/data/i2c_testplan.hjson
  hw/ip/i2c/dv/env/i2c_env.core
  hw/ip/i2c/dv/env/seq_lib/i2c_host_perf_precise_vseq.sv
  hw/ip/i2c/dv/env/seq_lib/i2c_vseq_list.sv
  hw/ip/i2c/dv/i2c_sim_cfg.hjson
Labels: Component:DV, IP:i2c

#23659 [otbn,dv] Get the otbn_sec_cm test working again without needing do disable FI
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, IP:otbn

#23584 [otbn,dv] Increase verification_stage to V2
  hw/ip/otbn/data/otbn.hjson
Labels: Component:DV, IP:otbn

#23501 [otbn,dv] Increase run timeout by a factor of 10 to 10ms
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, IP:otbn

#23660 [rv_dm,dv] Tie off next_dm_addr_i in tb.sv
  hw/ip/rv_dm/dv/tb.sv
Labels: Component:DV, IP:rv_dm

#23666 [otbn,dv] Restructure end of wipe round in sim.py
  hw/ip/otbn/dv/otbnsim/sim/sim.py
Labels: Component:DV, IP:otbn

#23655 [spi_host,dv] Map 'data_fifo_status' TP to ovf/unf test
  hw/ip/spi_host/data/spi_host_testplan.hjson
Labels: Component:DV, IP:spi_host

#23435 [dv] Minor cleanups in the bit bash sequence
  hw/dv/sv/csr_utils/csr_seq_lib.sv
Labels: Component:DV

#23688 [otbn] Mark verification stage as V2S
  hw/ip/otbn/data/otbn.hjson
Labels: IP:otbn

#23689 [otbn,dv] Avoid only writing zeros to FIFO memory before FI tests
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
Labels: Component:DV, IP:otbn

#23371 [dvsim] Simplifications to "mode" handling in dvsim
  util/dvsim/Regression.py
  util/dvsim/Test.py
  util/dvsim/modes.py
Labels: Component:DV, Tool:dvsim

#23013 [rv_dm,dv] Remove check from scoreboard about unmapped DTM reads
  hw/ip/rv_dm/dv/env/rv_dm_scoreboard.sv
Labels: Component:DV, IP:rv_dm

#23735 [rv_dm,dv] Correct timeout estimate in rv_dm_base_test
  hw/ip/rv_dm/dv/tests/rv_dm_base_test.sv
Labels: Component:DV, IP:rv_dm

#23733 [otbn,dv] Add unconditional return to otbn_model::step()
  hw/ip/otbn/dv/model/otbn_model.cc
Labels: Component:DV, IP:otbn

#23736 [dv] Improve debug prints from register aliasing sequence
  hw/dv/sv/csr_utils/csr_seq_lib.sv
  hw/dv/sv/csr_utils/csr_utils_pkg.sv
Labels: Component:DV

#23737 [otbn,dv] Add -j$(nproc) to --make_options in run_smoke.sh
  hw/ip/otbn/dv/smoke/run_smoke.sh
Labels: Component:DV, IP:otbn

#23541 [hmac,dv] Block-level tests with SHA-2 NIST test vectors for new digest sizes 384/512
  hw/dv/sv/test_vectors/README.md
  hw/dv/sv/test_vectors/test_vectors.core
  hw/dv/sv/test_vectors/test_vectors_pkg.sv
  hw/dv/sv/test_vectors/vectors/sha/sha384/SHA384LongMsg.rsp
  hw/dv/sv/test_vectors/vectors/sha/sha384/SHA384ShortMsg.rsp
  hw/dv/sv/test_vectors/vectors/sha/sha512/SHA512LongMsg.rsp
  hw/dv/sv/test_vectors/vectors/sha/sha512/SHA512ShortMsg.rsp
  hw/ip/hmac/data/hmac_testplan.hjson
  hw/ip/hmac/dv/env/hmac_env_pkg.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_test_vectors_hmac_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_test_vectors_sha_vseq.sv
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#23059 [rv_dm,dv] Temporarily avoid scanmode in rv_dm_base_vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_base_vseq.sv
Labels: Component:DV, IP:rv_dm

#23752 [rv_dm,dv] Clean up ndmreset value at end of smoke vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_smoke_vseq.sv
Labels: Component:DV, IP:rv_dm

#23747 [jtag,dv] Keep TCK running a short time after a transaction
  hw/dv/sv/jtag_agent/jtag_agent_cfg.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
  hw/dv/sv/jtag_dmi_agent/jtag_dmi_reg_frontdoor.sv
Labels: Component:DV

#23794 [dvsim] Correctly handle fixed-seed=0
  util/dvsim/Deploy.py
  util/dvsim/dvsim.py
Labels: Component:DV, Tool:dvsim

#23789 [rv_dm,dv] Connect up sec_cm_bus_integrity testpoint
  hw/ip/rv_dm/data/rv_dm_sec_cm_testplan.hjson
Labels: Component:DV, IP:rv_dm

#23576 [opentitantool] Arbitrary waveform generation via HyperDebug
  sw/host/opentitanlib/src/io/gpio.rs
  sw/host/opentitanlib/src/proxy/handler.rs
  sw/host/opentitanlib/src/proxy/protocol.rs
  sw/host/opentitanlib/src/transport/hyperdebug/gpio.rs
  sw/host/opentitanlib/src/transport/proxy/gpio.rs
  sw/host/opentitanlib/src/util/bitbang.rs
  sw/host/opentitantool/src/command/gpio.rs
  third_party/hyperdebug/repos.bzl
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival

#23775 [entropy_src/rtl] Delay the main_sm_done signal
  hw/ip/entropy_src/rtl/entropy_src_core.sv
Labels: NoECO_IntegratePostM5

#23807 [usbdev] Also reject OUT packet internally when STALLing
  hw/ip/usbdev/rtl/usb_fs_nb_out_pe.sv
Labels: ECO_C

#23801 [jtag,dv] Fix tck acquire/release in jtag_driver.sv
  hw/dv/sv/jtag_agent/jtag_driver.sv
Labels: Component:DV

#23813 [hmac,dv] SCB digest_idx issue in SHA2_384
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: Component:DV, IP:hmac

#23811 [hmac,dv] SHA test vec uses arg/rand digest value
  hw/ip/hmac/dv/env/seq_lib/hmac_test_vectors_sha_vseq.sv
Labels: Component:DV, IP:hmac

#23817 [hmac,dv] Fix rare issue with wipe_secret
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_smoke_vseq.sv
Labels: Component:DV, IP:hmac
