Repository lowRISC/opentitan, pull requests merged in 2024-01, with the labels that each got.

#20608 Updated keymgr_dpe key derivation test
  sw/device/tests/keymgr_dpe_key_derivation_test.c
Labels: Component:Darjeeling

#20384 [sw/top_darjeeling] Remove flash access disablement from IRQ handler
  sw/top_darjeeling/sw/device/silicon_creator/irq_asm.S
Labels: Component:Darjeeling

#20735 [doc] Minor tweak to md sanitisation code
  hw/ip/entropy_src/doc/interfaces.md
  hw/ip/entropy_src/doc/registers.md
  hw/ip/flash_ctrl/doc/interfaces.md
  hw/ip/flash_ctrl/doc/registers.md
  hw/ip/gpio/doc/registers.md
  hw/ip/hmac/doc/registers.md
  hw/ip/keymgr/doc/interfaces.md
  hw/ip/keymgr/doc/registers.md
  hw/ip/kmac/doc/registers.md
  hw/ip/otbn/doc/registers.md
  hw/ip/otp_ctrl/doc/registers.md
  hw/ip/pwm/doc/interfaces.md
  hw/ip/pwm/doc/registers.md
  hw/ip/rv_core_ibex/doc/registers.md
  hw/ip/spi_device/doc/interfaces.md
  hw/ip/spi_device/doc/registers.md
  hw/ip/spi_host/doc/interfaces.md
  hw/ip/spi_host/doc/registers.md
  hw/ip/usbdev/doc/registers.md
  hw/ip_templates/pwrmgr/doc/registers.md.tpl
  hw/top_earlgrey/ip_autogen/pwrmgr/doc/registers.md
  util/reggen/md_helpers.py
Labels: Component:Doc, Type:Cleanup

#20597 [otbn,dv] Wait a bit longer for secure wipe at start of vseq
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_base_vseq.sv
Labels: Component:DV, IP:otbn

#20773 [hw,rv_core_ibex,rtl] Increase upper bound for cycles to wait in IbexIcacheScrambleKeyRequestAfterFenceI_A
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
Labels: Component:Darjeeling

#20764 [top_darjeeling,doc] Update datasheet on `integrated_dev`
  hw/README.md
  hw/top_darjeeling/README.md
  hw/top_darjeeling/doc/darjeeling.png
  hw/top_darjeeling/doc/datasheet.md
  hw/top_darjeeling/doc/design/README.md
  hw/top_darjeeling/doc/specification.md
  hw/top_darjeeling/doc/top_darjeeling_block_diagram.svg
  hw/top_darjeeling/dv/README.md
Labels: Component:Doc, Component:Darjeeling

#20810 [top_darjeeling,doc] Mention DMA Controller's inline hashing in datasheet
  hw/top_darjeeling/doc/datasheet.md
Labels: Component:Doc, Component:Darjeeling

#20815 [spi_device,dv] Remove Generic-mode-only vseqs from `stress_all` test
  hw/ip/spi_device/dv/env/seq_lib/spi_device_stress_all_vseq.sv
Labels: Component:DV, IP:spi_device, Component:Darjeeling

#20736 [hw,dma,doc] Add register collateral to the documentation
  hw/ip/dma/doc/registers.md
Labels: Component:Doc, Component:Darjeeling

#20817 [top_darjeeling,dv] Fix `rel_path` of top-level IPs
  hw/top_darjeeling/dv/top_darjeeling_sim_cfgs.hjson
Labels: Component:DV, Component:Darjeeling

#20777 [opentitantool] Add missed forwarding to I2C wrappers
  sw/host/opentitanlib/src/app/i2c.rs
Labels: SW:opentitantool

#20824 [site,block-diagram] Fixup label
  site/block-diagram/earlgrey.html
Labels: Component:Site

#20837 [otbn,dv] Wait longer for an alert to come through in scoreboard
  hw/ip/otbn/dv/uvm/env/otbn_scoreboard.sv
Labels: IP:otbn

#20825 [opentitantool] HyperDebug firmware with bugfixes
  third_party/hyperdebug/repos.bzl
Labels: SW:opentitantool

#20849 [edn] Move prim_edn_req out of prim
  hw/ip/edn/edn_requester.core
  hw/ip/edn/rtl/edn_requester.sv
  hw/ip/keymgr/dv/cov/keymgr_cov_excl.el
  hw/ip/keymgr/keymgr.core
  hw/ip/keymgr/rtl/keymgr_reseed_ctrl.sv
  hw/ip/kmac/dv/env/kmac_scoreboard.sv
  hw/ip/kmac/kmac.core
  hw/ip/kmac/pre_syn/syn_yosys.sh
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_urnd_err_vseq.sv
  hw/ip/otbn/otbn.core
  hw/ip/otbn/pre_syn/syn_yosys.sh
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/otp_ctrl/dv/cov/otp_ctrl_cov_unr_excl.el
  hw/ip/otp_ctrl/otp_ctrl.core
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/rv_core_ibex/rtl/rv_core_ibex.sv
  hw/ip/rv_core_ibex/rv_core_ibex.core
  hw/ip_templates/alert_handler/alert_handler_component.core
  hw/ip_templates/alert_handler/rtl/alert_handler.sv
  hw/top_earlgrey/ip_autogen/alert_handler/alert_handler_component.core
  hw/top_earlgrey/ip_autogen/alert_handler/rtl/alert_handler.sv
Labels: Component:RTL, IP:edn, IP:prim

#20885 [prim_trivium] Allow dynamically disabling the lockup protection
  hw/ip/prim/pre_dv/prim_trivium/rtl/prim_trivium_tb.sv
  hw/ip/prim/rtl/prim_trivium.sv
  hw/ip/prim/rtl/prim_trivium_pkg.sv
Labels: Status:Ready to merge

#20826 [hyper310] Reduce drive strength for USERIOA and USERIOB
  hw/top_earlgrey/data/pins_cw310_hyperdebug.xdc
Labels: Component:FPGA

#20875 [dma,syn] Add cfg and constraints to support DMA synthesis
  hw/ip/dma/syn/constraints.sdc
  hw/ip/dma/syn/dma_syn_cfg.hjson
Labels: Component:Darjeeling

#20898 [rv_dm,dv] Add comments to rv_dm_jtag_dmi_debug_disabled_vseq
  hw/ip/rv_dm/dv/env/seq_lib/rv_dm_jtag_dmi_debug_disabled_vseq.sv
Labels: Component:DV, IP:rv_dm

#20912 [prim_sha2,rtl] prim_sha2 minor RTL styling and linting fixes
  hw/ip/prim/rtl/prim_sha2.sv
  hw/ip/prim/rtl/prim_sha2_32.sv
  hw/ip/prim/rtl/prim_sha2_pad.sv
Labels: Component:Darjeeling

#20880 [mbx,dv] Add testcase to exercise mailbox inbox oob checks
  hw/ip/mbx/dv/env/mbx_env.core
  hw/ip/mbx/dv/env/mbx_seq_item.sv
  hw/ip/mbx/dv/env/seq_lib/mbx_base_vseq.sv
  hw/ip/mbx/dv/env/seq_lib/mbx_imbx_oob_vseq.sv
  hw/ip/mbx/dv/env/seq_lib/mbx_stress_vseq.sv
  hw/ip/mbx/dv/env/seq_lib/mbx_vseq_list.sv
  hw/ip/mbx/dv/mbx_sim_cfg.hjson
Labels: Component:Darjeeling

#20928 [rv_dm] Fix an assertion
  hw/ip/rv_dm/rtl/rv_dm_dmi_gate.sv
Labels: IP:rv_dm, Component:Darjeeling

#20899 [top_darjeeling] Connect DMA CTN egress port in wrapper
  hw/top_darjeeling/rtl/autogen/chip_darjeeling_asic.sv
  hw/top_darjeeling/rtl/autogen/chip_darjeeling_cw310.sv
  util/topgen/templates/chiplevel.sv.tpl
Labels: Component:Darjeeling

#20930 [dma,dv] Randomly select between OT-internal and CTN target memory
  sw/device/lib/testing/test_framework/ottf_common.ld
  sw/device/tests/dma_inline_hashing.c
Labels: Component:Darjeeling

#20932 [test] Use ram_ctn memory instead of aliased ottf_flash
  sw/device/lib/testing/test_framework/ottf_common.ld
Labels: Component:Darjeeling

#20804 [otbn] Slightly weaken some loop stack assertions
  hw/ip/otbn/rtl/otbn_loop_controller.sv
Labels: IP:otbn

#20931 [keymgr_dpe/rtl] Take max key version into account for root key
  hw/ip/keymgr_dpe/doc/theory_of_operation.md
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_ctrl.sv
Labels: Component:RTL, Component:Darjeeling, IP:keymgr_dpe

#20933 [hw,mbx,rtl] Gate the AsyncMsg support with feature strap and enable
  hw/ip/mbx/rtl/mbx_sysif.sv
Labels: Component:Darjeeling

#20936 [keymgr_dpe/rtl] Fix assignment of creator root key shares from OTP
  hw/ip/keymgr_dpe/rtl/keymgr_dpe.sv
Labels: Component:RTL, Component:Darjeeling, IP:keymgr_dpe

#20834 [keymgr_dpe/rtl] Fix `invalid_max_boot_stage`
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_ctrl.sv
Labels: Component:RTL, Component:Darjeeling, IP:keymgr_dpe

#20833 [keymgr_dpe/doc] Fix equation to derive child key
  hw/ip/keymgr_dpe/doc/theory_of_operation.md
Labels: Component:Doc, Component:Darjeeling, IP:keymgr_dpe

#20967 [rom_ext] Refactor retention RAM layout
  sw/device/silicon_creator/lib/BUILD
  sw/device/silicon_creator/lib/base/chip.h
  sw/device/silicon_creator/lib/boot_data.h
  sw/device/silicon_creator/lib/boot_log.c
  sw/device/silicon_creator/lib/boot_log.h
  sw/device/silicon_creator/lib/boot_svc/boot_svc_msg.h
  sw/device/silicon_creator/lib/dbg_print.c
  sw/device/silicon_creator/lib/dbg_print.h
  sw/device/silicon_creator/lib/drivers/retention_sram.c
  sw/device/silicon_creator/lib/drivers/retention_sram.h
  sw/device/silicon_creator/lib/error.h
  sw/device/silicon_creator/lib/nonce.h
  sw/device/silicon_creator/rom_ext/BUILD
  sw/device/silicon_creator/rom_ext/rom_ext.c
Labels: CherryPick:master

#21104 [dv/csr_utils] Change `csr_peek` to function
  hw/dv/sv/csr_utils/csr_utils_pkg.sv
Labels: Component:DV, Component:Darjeeling

#20917 [rv_dm,dv] Remove a TODO in rv_dm_env.core
  hw/ip/rv_dm/dv/env/rv_dm_env.core
Labels: Component:DV, IP:rv_dm

#21116 [otp_ctrl] Differentiate between owner and creator keys
  hw/ip/otp_ctrl/data/otp_ctrl.hjson
  hw/ip/otp_ctrl/data/otp_ctrl.hjson.tpl
  hw/ip/otp_ctrl/data/otp_ctrl_base_vseq.sv.tpl
  hw/ip/otp_ctrl/data/otp_ctrl_dai_lock_vseq.sv.tpl
  hw/ip/otp_ctrl/data/otp_ctrl_if.sv.tpl
  hw/ip/otp_ctrl/data/otp_ctrl_mmap.hjson
  hw/ip/otp_ctrl/data/otp_ctrl_part_pkg.sv.tpl
  hw/ip/otp_ctrl/data/otp_ctrl_scoreboard.sv.tpl
  hw/ip/otp_ctrl/dv/env/otp_ctrl_if.sv
  hw/ip/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_base_vseq.sv
  hw/ip/otp_ctrl/dv/env/seq_lib/otp_ctrl_dai_lock_vseq.sv
  hw/ip/otp_ctrl/dv/tb.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl.sv
  hw/ip/otp_ctrl/rtl/otp_ctrl_part_pkg.sv
  hw/top_darjeeling/data/autogen/top_darjeeling.gen.hjson
  hw/top_darjeeling/data/top_darjeeling.hjson
  hw/top_darjeeling/rtl/autogen/top_darjeeling.sv
  hw/top_earlgrey/data/autogen/top_earlgrey.gen.hjson
  hw/top_earlgrey/rtl/autogen/top_earlgrey.sv
  util/design/lib/OtpMemMap.py
Labels: Priority:P0, Component:Darjeeling
