Repository lowRISC/opentitan, pull requests merged in 2025-02, with the labels that each got.

#25917 [opentitantool] Ship updated firmware for HyperDebug
  MODULE.bazel.lock
  third_party/hyperdebug/extensions.bzl
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival, CherryPick:earlgrey_1.0.0

#26059 [hmac,dv] Split NIST test vectors to avoid timeout
  hw/ip/hmac/dv/env/hmac_env_cfg.sv
  hw/ip/hmac/dv/env/hmac_env_cov.sv
  hw/ip/hmac/dv/env/hmac_env_pkg.sv
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_test_vectors_sha_vseq.sv
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#26087 [sival/hmac] Add Hmac Endian Test
  hw/top_earlgrey/data/ip/chip_hmac_testplan.hjson
  sw/device/tests/BUILD
  sw/device/tests/hmac_endianness_test.c
Labels: CherryPick:master

#26187 [hmac,dv] Ajust reseed for SHA384/512 for fcov
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#26159 [hmac,dv] Directed test to cover FSM trans hole
  hw/ip/hmac/dv/env/hmac_env.core
  hw/ip/hmac/dv/env/seq_lib/hmac_directed_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_vseq_list.sv
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#26247 [hmac,dv] Adjust stress_all parameters
  hw/ip/hmac/dv/env/seq_lib/hmac_stress_all_vseq.sv
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#26246 [top_darjeeling,lint] Temporarily exclude blocks with problems
  hw/top_darjeeling/lint/top_darjeeling_lint_cfgs.hjson
Labels: Component:Darjeeling

#25120 [tlul,rtl] Rewrite definition of wr_attr_error
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, IP:tlul

#25696 [hmac, dv] Update coverage exclusion file
  hw/ip/hmac/dv/cov/hmac_cov_excl.el
Labels: IP:hmac

#25619 [pentest] Update EDN SCA tests
  sw/device/tests/penetrationtests/firmware/sca/edn_sca.c
  sw/device/tests/penetrationtests/firmware/sca/edn_sca.h
  sw/device/tests/penetrationtests/json/edn_sca_commands.h
Labels: CherryPick:earlgrey_1.0.0

#26278 [hmac,dv] Add assertions excl back from PR #26163
  hw/ip/hmac/dv/cov/hmac_cov_excl.el
Labels: Component:DV, IP:hmac

#26285 [pentest] Split FPGA firmware
  sw/device/tests/penetrationtests/firmware/BUILD
  sw/device/tests/penetrationtests/firmware/firmware.c
Labels: CherryPick:earlgrey_1.0.0

#26331 [rom_ctrl,dv] Slightly tweak an exclusion annotation
  hw/ip/rom_ctrl/dv/cov/rom_ctrl_cov_excl.el
Labels: Component:DV, IP:rom_ctrl

#26415 [pentest] Add missing exec environment
  sw/device/tests/penetrationtests/firmware/BUILD
Labels: CherryPick:master

#26381 [soc_dbg_ctrl,dv] Create initial DV environment
  hw/ip/soc_dbg_ctrl/data/soc_dbg_ctrl_testplan.hjson
  hw/ip/soc_dbg_ctrl/doc/checklist.md
  hw/ip/soc_dbg_ctrl/dv/README.md
  hw/ip/soc_dbg_ctrl/dv/doc/tb.svg
  hw/ip/soc_dbg_ctrl/dv/env/seq_lib/soc_dbg_ctrl_base_vseq.sv
  hw/ip/soc_dbg_ctrl/dv/env/seq_lib/soc_dbg_ctrl_common_vseq.sv
  hw/ip/soc_dbg_ctrl/dv/env/seq_lib/soc_dbg_ctrl_smoke_vseq.sv
  hw/ip/soc_dbg_ctrl/dv/env/seq_lib/soc_dbg_ctrl_vseq_list.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env.core
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_cfg.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_cov.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_pkg.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_scoreboard.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_virtual_sequencer.sv
  hw/ip/soc_dbg_ctrl/dv/soc_dbg_ctrl_sim.core
  hw/ip/soc_dbg_ctrl/dv/soc_dbg_ctrl_sim_cfg.hjson
  hw/ip/soc_dbg_ctrl/dv/sva/soc_dbg_ctrl_bind.sv
  hw/ip/soc_dbg_ctrl/dv/sva/soc_dbg_ctrl_sva.core
  hw/ip/soc_dbg_ctrl/dv/tb.sv
  hw/ip/soc_dbg_ctrl/dv/tests/soc_dbg_ctrl_base_test.sv
  hw/ip/soc_dbg_ctrl/dv/tests/soc_dbg_ctrl_test.core
  hw/ip/soc_dbg_ctrl/dv/tests/soc_dbg_ctrl_test_pkg.sv
  hw/top_darjeeling/lint/top_darjeeling_dv_lint_cfgs.hjson
Labels: Component:DV, IP:soc_dbg_ctrl

#26437 [dv] Remove unused intr_exp_at_addr_phase variables
  hw/ip/pattgen/dv/env/pattgen_scoreboard.sv
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_scoreboard.sv
Labels: Component:DV

#26444 [pattgen,doc] Fix name in block diagram
  hw/ip/pattgen/doc/pattgen_block_diagram.svg
Labels: Component:Doc, IP:pattgen

#26435 [pattgen,doc] Fill out core documentation
  hw/ip/pattgen/README.md
Labels: Component:Doc, IP:pattgen

#26390 [tlul,rtl] Explicitly zero some integrity bits from tlul_adapter_reg
  hw/ip/tlul/rtl/tlul_adapter_dmi.sv
  hw/ip/tlul/rtl/tlul_adapter_reg.sv
  hw/ip/tlul/rtl/tlul_rsp_intg_gen.sv
Labels: Component:RTL, IP:tlul
