Repository lowRISC/opentitan, pull requests merged in 2025-01, with the labels that each got.

#25735 [hmac,dv] Move IDLE check from vseq to scb
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
Labels: Component:DV, IP:hmac

#25461 [prim_fifo_sync,rtl] Specialize for Depth == 1
  hw/dv/sv/sec_cm/prim_singleton_fifo_if.sv
  hw/dv/sv/sec_cm/sec_cm.core
  hw/dv/sv/sec_cm/sec_cm_pkg.sv
  hw/dv/sv/sec_cm/sec_cm_prim_singleton_fifo_bind.sv
  hw/ip/csrng/dv/tb.sv
  hw/ip/otbn/dv/uvm/env/seq_lib/otbn_common_vseq.sv
  hw/ip/otbn/rtl/otbn.sv
  hw/ip/prim/lint/prim_fifo.vbl
  hw/ip/prim/lint/prim_fifo.waiver
  hw/ip/prim/prim_fifo.core
  hw/ip/prim/rtl/prim_assert_sec_cm.svh
  hw/ip/prim/rtl/prim_fifo_assert.svh
  hw/ip/prim/rtl/prim_fifo_sync.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_common_vseq.sv
  hw/ip_templates/flash_ctrl/rtl/flash_ctrl.sv.tpl
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_common_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/rtl/flash_ctrl.sv
Labels: Component:RTL, IP:prim

#25674 [hmac] Wipe secret assertions and spec update
  hw/ip/hmac/data/hmac.hjson
  hw/ip/hmac/doc/registers.md
  hw/ip/hmac/rtl/hmac.sv
  hw/ip/prim/rtl/prim_sha2.sv
Labels: IP:hmac, CherryPick:earlgrey_1.0.0

#25780 [crypto] Fix the KMAC-KDF implementation to return the output in shares.
  sw/device/lib/crypto/drivers/kmac.c
  sw/device/lib/crypto/drivers/kmac.h
  sw/device/lib/crypto/impl/kdf.c
  sw/device/lib/crypto/impl/mac.c
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/kdf_kmac_functest.c
  sw/device/tests/crypto/kdf_set_testvectors.py
  sw/device/tests/crypto/kdf_testvectors.h.tpl
Labels: CherryPick:earlgrey_1.0.0

#25738 [hmac,dv] Skip msg_length check when reset
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
Labels: Component:DV, IP:hmac

#25834 [SiVal, usbdev] Mark sof test as NA for SiVal
  hw/top_earlgrey/data/ip/chip_usbdev_testplan.hjson
Labels: CherryPick:earlgrey_1.0.0

#25683 [hmac,dv] Fix fifo_empty interrupt
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: IP:hmac

#25820 [opentitantool] Rescue erases other slot by default
  sw/host/opentitantool/src/command/rescue.rs
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival, CherryPick:earlgrey_1.0.0

#25884 [mem_bkdr_util] Temporarily fix build for an otp_ctrl parameter
  hw/dv/sv/mem_bkdr_util/mem_bkdr_util__otp.sv
Labels: IP:otp_ctrl

#25900 [hmac,dv] Disable S&R for stress reset and increase delay before reset
  hw/ip/hmac/dv/env/seq_lib/hmac_stress_reset_vseq.sv
Labels: Component:DV, IP:hmac

#25901 [hmac,dv] Reduce long_msg test duration
  hw/ip/hmac/dv/env/seq_lib/hmac_long_msg_vseq.sv
Labels: Component:DV, IP:hmac

#25903 [hmac,dv] Reset intr_test signal
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: Component:DV, IP:hmac

#25844 [hmac,rtl] Use fifo_full instead of fifo_wready
  hw/ip/hmac/rtl/hmac.sv
Labels: Component:RTL, IP:hmac

#25898 [kmac, sival] Keymgr-state-agnostic `kmac_sideload_functest`
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/kdf_kmac_sideload_functest.c
  sw/device/tests/crypto/kmac_sideload_functest.c
Labels: CherryPick:earlgrey_1.0.0

#25925 [tlul,rtl] Correct the calculation of data_intg in tlul_adapter_sram
  hw/ip/rom_ctrl/dv/cov/rom_ctrl_cov_excl.el
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, IP:tlul

#25902 [hmac,dv] Fix SCB fifo_full_detected signal
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: Component:DV, IP:hmac

#25899 [hmac,dv] Reset S&R skip context
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
Labels: Component:DV, IP:hmac

#25843 [hmac,dv] Allow reset w/o CSR accesses complete
  hw/dv/sv/dv_utils/dv_macros.svh
  hw/ip/hmac/dv/env/hmac_env_cfg.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
  hw/ip/hmac/dv/env/seq_lib/hmac_smoke_vseq.sv
Labels: Component:DV, IP:hmac

#25934 Revert "[opentitantool] Refuse downgrading HyperDebug firmware"
  sw/host/opentitanlib/src/transport/hyperdebug/dfu.rs
Labels: SW:opentitantool, CherryPick:earlgrey_es_sival, CherryPick:integrated_dev, CherryPick:earlgrey_1.0.0

#25931 [hmac,dv] Rename intr_test to intr_test_rename
  hw/ip/hmac/dv/env/hmac_scoreboard.sv
Labels: Component:DV, IP:hmac

#25905 [tlul,rtl] Avoid an unnecessary wready signal in tlul_adapter_sram
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, IP:tlul

#25953 [topgen] Fix path for top_darjeeling_soc_*.rs files
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling_soc_dbg.rs
  hw/top_darjeeling/sw/autogen/chip/top_darjeeling_soc_mbx.rs
  util/topgen.py
Labels: Priority:P0

#25951 [tlul,rtl] Merge u_sramreqfifo and u_sramreqaddrfifo
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, IP:tlul

#26003 [tlul,rtl] Drop unused typedef from tlul_adapter_sram
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Type:Cleanup, Component:RTL, IP:tlul

#25839 [rom_ctrl,dv] Pass the .prior argument for some mirror calls
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_base_vseq.sv
Labels: Component:DV, IP:rom_ctrl

#26005 [csrng/doc] Clarify description section of README.md
  hw/ip/csrng/README.md
Labels: CherryPick:earlgrey_1.0.0

#25995 [opentitantool] Erase header of other slot during rescue
  sw/host/opentitantool/src/command/rescue.rs
Labels: SW:opentitantool

#26040 [clkmgr] Align behavior of jitter_enable CSR
  hw/ip_templates/clkmgr/data/clkmgr.hjson.tpl
  hw/ip_templates/clkmgr/doc/registers.md.tpl
  hw/ip_templates/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/ip_templates/clkmgr/dv/env/seq_lib/clkmgr_smoke_vseq.sv
  hw/top_earlgrey/ip_autogen/clkmgr/data/clkmgr.hjson
  hw/top_earlgrey/ip_autogen/clkmgr/doc/registers.md
  hw/top_earlgrey/ip_autogen/clkmgr/dv/env/clkmgr_scoreboard.sv
  hw/top_earlgrey/ip_autogen/clkmgr/dv/env/seq_lib/clkmgr_smoke_vseq.sv
  hw/top_earlgrey/ip_autogen/clkmgr/rtl/clkmgr_reg_top.sv
  sw/device/lib/dif/dif_clkmgr.c
  sw/device/lib/dif/dif_clkmgr.h
  sw/device/lib/dif/dif_clkmgr_unittest.cc
  util/reggen/fpv_csr.sv.tpl
  util/reggen/reg_top.sv.tpl
Labels: ECO

#26057 [pwm] Fix flakiness on smoketest
  sw/host/tests/chip/pwm_smoketest/src/main.rs
Labels: CherryPick:earlgrey_1.0.0

#26073 [aon_timer,rtl,lint] Add an unused_ signal to avoid a lint error
  hw/ip/aon_timer/rtl/aon_timer.sv
Labels: Component:RTL, IP:aon_timer

#26049 [sival/hmac] Add Hmac error conditions Test
  hw/top_earlgrey/data/ip/chip_hmac_testplan.hjson
  sw/device/tests/BUILD
  sw/device/tests/hmac_error_conditions_test.c
Labels: CherryPick:master
