Repository lowRISC/opentitan, pull requests merged in 2025-09, with the labels that each got.

#28060 [bazel] Allow extra args to be passed to QEMU
  rules/opentitan/qemu.bzl
Labels: CherryPick:earlgrey_1.0.0

#27942 [pinmux,rtl] Tweak the FpvSecCmBusIntegrity_A assertion
  hw/ip_templates/pinmux/rtl/pinmux.sv.tpl
  hw/top_darjeeling/ip_autogen/pinmux/rtl/pinmux.sv
  hw/top_earlgrey/ip_autogen/pinmux/rtl/pinmux.sv
  hw/top_englishbreakfast/ip_autogen/pinmux/rtl/pinmux.sv
Labels: Component:FPV, IP:pinmux

#28106 [hw,i2c,docs] Fix incorrect computation of the SCL period
  hw/ip/i2c/doc/programmers_guide.md
Labels: Component:Doc, IP:i2c

#27993 [racl_ctrl,dv] Connect up an interrupt interface for racl_ctrl DV
  hw/ip/racl_ctrl/dv/env/racl_ctrl_env_cfg.sv
  hw/ip/racl_ctrl/dv/racl_ctrl_tests.hjson
  hw/ip_templates/racl_ctrl/dv/tb.sv.tpl
  hw/top_darjeeling/ip_autogen/racl_ctrl/dv/tb.sv
Labels: Component:DV, IP:racl_ctrl

#28038 [crypto] Harden setting AES config
  sw/device/lib/crypto/drivers/aes.c
Labels: CherryPick:earlgrey_1.0.0

#28141 [hw,keymgr_dpe,rtl] Initialize slots with randomness (and during erase)
  hw/ip/keymgr_dpe/dv/env/keymgr_dpe_scoreboard.sv
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_ctrl.sv
Labels: IP:keymgr_dpe

#28142 [hw,keymgr_dpe,rtl] Support 8 key slots
  hw/ip/keymgr_dpe/data/keymgr_dpe.hjson
  hw/ip/keymgr_dpe/doc/registers.md
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_pkg.sv
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_reg_pkg.sv
  hw/ip/keymgr_dpe/rtl/keymgr_dpe_reg_top.sv
Labels: IP:keymgr_dpe

#26596 [otbn,dv] Correctly stringify names in otbn_env_cov
  hw/ip/otbn/dv/uvm/env/otbn_env_cov.sv
Labels: Component:DV, IP:otbn

#26913 [spi_device,rtl] Move definition of ValidCmdConfig_A
  hw/ip/spi_device/rtl/spi_readcmd.sv
Labels: Component:RTL, IP:spi_device

#28191 [bazel,qemu] Fix missing OTP override on some QEMU tests
  sw/device/silicon_creator/rom/e2e/keymgr/BUILD
  sw/device/tests/BUILD
Labels: CherryPick:master

#28187 [crypto] Check ECC key integrity after writing to OTBN
  sw/device/lib/crypto/impl/ecc_p256.c
  sw/device/lib/crypto/impl/ecc_p384.c
Labels: CherryPick:earlgrey_1.0.0

#28171 [HARDENED_TRY] Harden HARDENED_TRY
  sw/device/lib/crypto/impl/BUILD
  sw/device/lib/crypto/impl/status.h
  sw/device/lib/crypto/impl/status_functest.c
Labels: CherryPick:earlgrey_1.0.0

#28176 [crypto] Check return value of HMAC functions
  sw/device/lib/crypto/drivers/hmac.c
Labels: CherryPick:earlgrey_1.0.0

#27984 [crypto] AES-GCM SCA hardening
  sw/device/lib/crypto/impl/aes_gcm/BUILD
  sw/device/lib/crypto/impl/aes_gcm/aes_gcm.c
  sw/device/lib/crypto/impl/aes_gcm/ghash.c
  sw/device/lib/crypto/impl/aes_gcm/ghash.h
  sw/device/lib/crypto/impl/aes_gcm/ghash_unittest.cc
  sw/device/lib/crypto/include/aes_gcm.h
Labels: CherryPick:earlgrey_1.0.0

#28261 [rv_timer,dv] Fix subtly broken fork/join tree
  hw/ip/rv_timer/dv/env/seq_lib/rv_timer_base_vseq.sv
  hw/ip/rv_timer/dv/env/seq_lib/rv_timer_random_vseq.sv
Labels: Component:DV, IP:rv_timer

#28339 [crypto] CTRL regs hardening: AES, HMAC, KeyMngr, CSRNG
  sw/device/lib/crypto/drivers/aes.c
  sw/device/lib/crypto/drivers/aes.h
  sw/device/lib/crypto/drivers/entropy.c
  sw/device/lib/crypto/drivers/hmac.c
  sw/device/lib/crypto/drivers/keymgr.c
  sw/device/lib/crypto/impl/aes.c
  sw/device/lib/crypto/impl/aes_gcm/aes_gcm.c
Labels: CherryPick:earlgrey_1.0.0
