Repository lowRISC/opentitan, pull requests merged in 2025-05, with the labels that each got.

#27104 [rom_ctrl,dv] Fix forcing in rom_ctrl_compare_if
  hw/ip/rom_ctrl/dv/tb/rom_ctrl_compare_if.sv
Labels: Component:DV, IP:rom_ctrl

#27091 [ip/chip_entropy_src] Update chip_entropy_src_testplan.hjson
  hw/top_earlgrey/data/ip/chip_entropy_src_testplan.hjson
Labels: CherryPick:earlgrey_1.0.0

#27113 [soc_dbg_ctrl,dv] Add issue ID to track a TODO
  hw/ip/soc_dbg_ctrl/dv/tb.sv
Labels: Component:DV, IP:soc_dbg_ctrl

#27115 [soc_dbg_ctrl] Fix register reset value
  hw/ip/soc_dbg_ctrl/data/soc_dbg_ctrl.hjson
  hw/ip/soc_dbg_ctrl/doc/registers.md
  hw/ip/soc_dbg_ctrl/rtl/soc_dbg_ctrl_core_reg_top.sv
  hw/ip/soc_dbg_ctrl/rtl/soc_dbg_ctrl_jtag_reg_top.sv
  hw/ip/soc_dbg_ctrl/rtl/soc_dbg_ctrl_reg_pkg.sv
Labels: Component:Doc, Component:DV, Component:RTL, IP:soc_dbg_ctrl

#27116 [soc_dbg_ctrl,dv] Fix JTAG CSR assert
  hw/ip/soc_dbg_ctrl/dv/sva/soc_dbg_ctrl_bind.sv
Labels: Component:DV, IP:soc_dbg_ctrl

#27097 [tl,dv] Clean up how tl_monitor tracks resets
  hw/dv/sv/tl_agent/tl_monitor.sv
Labels: Component:DV, IP:tlul

#27121 [soc_dbg_ctrl,dv] Exclude regs from CSR tests
  hw/ip/soc_dbg_ctrl/data/soc_dbg_ctrl.hjson
Labels: Component:DV, IP:soc_dbg_ctrl

#26845 [dv] Predict value after a read of an RC field in shadow_reg_errors
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__shadow_reg_errors.svh
Labels: Component:DV

#26858 [ac_range_check,dv] Create predictor in the SCB
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env.core.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env_pkg.sv.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_predictor.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env.core
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env_pkg.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_predictor.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_scoreboard.sv
Labels: Component:DV, IP:ac_range_check

#27138 [aes,dv] Reformat aes_wake_up_vseq
  hw/ip/aes/dv/env/seq_lib/aes_wake_up_vseq.sv
Labels: Component:DV, IP:aes

#27165 [util] Avoid "ENV NAME value" and use "ENV NAME=value" instead
  util/container/Dockerfile
Labels: Component:Tooling

#27106 [rom_ctrl,dv] Correctly force u_compare.state_d
  hw/ip/rom_ctrl/dv/tb/rom_ctrl_compare_if.sv
Labels: Component:DV, IP:rom_ctrl

#26598 [dv] Constant-initialise a dynamic array more nicely
  hw/dv/sv/cip_lib/README.md
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_pkg.sv
  hw/ip/aes/dv/env/aes_env_pkg.sv
  hw/ip/aon_timer/dv/env/aon_timer_env_pkg.sv
  hw/ip/csrng/dv/env/csrng_env_pkg.sv
  hw/ip/dma/dv/env/dma_env_pkg.sv
  hw/ip/edn/dv/env/edn_env_pkg.sv
  hw/ip/entropy_src/dv/env/entropy_src_env_pkg.sv
  hw/ip/hmac/dv/env/hmac_env_pkg.sv
  hw/ip/i2c/dv/env/i2c_env_pkg.sv
  hw/ip/keymgr/dv/env/keymgr_env_pkg.sv
  hw/ip/keymgr_dpe/dv/env/keymgr_dpe_env_pkg.sv
  hw/ip/kmac/dv/env/kmac_env_pkg.sv
  hw/ip/lc_ctrl/dv/env/lc_ctrl_env_pkg.sv
  hw/ip/mbx/dv/env/mbx_env_pkg.sv
  hw/ip/otbn/dv/uvm/env/otbn_env_pkg.sv
  hw/ip/pattgen/dv/env/pattgen_env_pkg.sv
  hw/ip/rom_ctrl/dv/env/rom_ctrl_env_pkg.sv
  hw/ip/rv_dm/dv/env/rv_dm_env_pkg.sv
  hw/ip/rv_timer/dv/env/rv_timer_env_pkg.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_pkg.sv
  hw/ip/spi_device/dv/env/spi_device_env_pkg.sv
  hw/ip/spi_host/dv/env/spi_host_env_pkg.sv
  hw/ip/sram_ctrl/dv/env/sram_ctrl_env_pkg.sv
  hw/ip/sysrst_ctrl/dv/env/sysrst_ctrl_env_pkg.sv
  hw/ip/uart/dv/env/uart_env_pkg.sv
  hw/ip/usbdev/dv/env/usbdev_env_pkg.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env_pkg.sv.tpl
  hw/ip_templates/clkmgr/dv/env/clkmgr_env_pkg.sv.tpl
  hw/ip_templates/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/ip_templates/gpio/dv/env/gpio_env_pkg.sv.tpl
  hw/ip_templates/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv.tpl
  hw/ip_templates/pwm/dv/env/pwm_env_pkg.sv
  hw/ip_templates/pwrmgr/dv/env/pwrmgr_env_pkg.sv.tpl
  hw/ip_templates/rstmgr/dv/env/rstmgr_env_pkg.sv.tpl
  hw/top_darjeeling/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_darjeeling/dv/env/seq_lib/chip_sw_alert_handler_entropy_vseq.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env_pkg.sv
  hw/top_darjeeling/ip_autogen/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/top_darjeeling/ip_autogen/gpio/dv/env/gpio_env_pkg.sv
  hw/top_darjeeling/ip_autogen/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/top_darjeeling/ip_autogen/pwrmgr/dv/env/pwrmgr_env_pkg.sv
  hw/top_darjeeling/ip_autogen/rstmgr/dv/env/rstmgr_env_pkg.sv
  hw/top_earlgrey/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_earlgrey/dv/env/seq_lib/chip_sw_alert_handler_entropy_vseq.sv
  hw/top_earlgrey/ip_autogen/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/top_earlgrey/ip_autogen/gpio/dv/env/gpio_env_pkg.sv
  hw/top_earlgrey/ip_autogen/otp_ctrl/dv/env/otp_ctrl_env_pkg.sv
  hw/top_earlgrey/ip_autogen/pwm/dv/env/pwm_env_pkg.sv
  hw/top_earlgrey/ip_autogen/pwrmgr/dv/env/pwrmgr_env_pkg.sv
  hw/top_earlgrey/ip_autogen/rstmgr/dv/env/rstmgr_env_pkg.sv
  hw/top_englishbreakfast/dv/env/autogen/chip_env_pkg__params.sv
  hw/top_englishbreakfast/ip_autogen/clkmgr/dv/env/clkmgr_env_pkg.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/flash_ctrl_env_pkg.sv
  hw/top_englishbreakfast/ip_autogen/gpio/dv/env/gpio_env_pkg.sv
  hw/top_englishbreakfast/ip_autogen/pwrmgr/dv/env/pwrmgr_env_pkg.sv
  hw/top_englishbreakfast/ip_autogen/rstmgr/dv/env/rstmgr_env_pkg.sv
  util/topgen/templates/chip_env_pkg__params.sv.tpl
  util/uvmdvgen/env_pkg.sv.tpl
Labels: Component:DV, Type:Cleanup

#26614 [dv] Simplify use of dv_base_reg::atomic_en_shadow_wr
  hw/dv/sv/dv_base_reg/dv_base_reg.sv
Labels: Component:DV, Type:Cleanup

#26795 [reggen] Allow a multireg with count <= 0
  util/reggen/multi_register.py
  util/reggen/reg_block.py
Labels: Tool:reggen

#27187 [top_darjeeling/doc] Update datasheet and block diagram
  hw/top_darjeeling/doc/datasheet.md
  hw/top_darjeeling/doc/top_darjeeling_block_diagram.svg
Labels: Component:Doc, Component:Darjeeling

#27180 [top_earlgrey/doc] Clarify dual core lockstep in block diagram
  hw/top_earlgrey/doc/top_earlgrey_block_diagram.svg
Labels: Component:Doc, TOP:earlgrey

#27182 [soc_dbg_ctrl,dv] Add VIF to drive misc IOs
  hw/ip/soc_dbg_ctrl/dv/env/seq_lib/soc_dbg_ctrl_base_vseq.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_cfg.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_env_pkg.sv
  hw/ip/soc_dbg_ctrl/dv/env/soc_dbg_ctrl_misc_io_if.sv
  hw/ip/soc_dbg_ctrl/dv/soc_dbg_ctrl_sim.core
  hw/ip/soc_dbg_ctrl/dv/tb.sv
Labels: Component:DV, IP:soc_dbg_ctrl

#27229 [racl_ctrl,rtl] Use a more conventional name for the reg top
  hw/ip_templates/racl_ctrl/rtl/racl_ctrl.sv.tpl
  hw/top_darjeeling/ip_autogen/racl_ctrl/rtl/racl_ctrl.sv
Labels: Component:RTL, IP:racl_ctrl

#27231 [otp_ctrl,dv] Fix SCB typo for OTP macro RAL
  hw/ip_templates/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv.tpl
  hw/top_darjeeling/ip_autogen/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
  hw/top_earlgrey/ip_autogen/otp_ctrl/dv/env/otp_ctrl_scoreboard.sv
Labels: Component:DV, IP:otp_ctrl

#27186 [rom_ctrl,rtl] Fix some false assertions
  hw/ip/rom_ctrl/rtl/rom_ctrl.sv
Labels: Component:RTL, IP:rom_ctrl

#27237 [top_earlgrey, conn] Exclude pull-up logic enabled on POR_N by default
  hw/formal/tools/jaspergold/conn.tcl
Labels: CherryPick:earlgrey_1.0.0

#27248 [base] Increase the period of decoy pairs in `hardened_memory.c`.
  sw/device/lib/base/hardened_memory.c
Labels: CherryPick:earlgrey_1.0.0

#27288 [hw,dv_base_reg_block,dv] Fix Xcelium 24.09 warning of passing a string arg
  hw/dv/sv/dv_base_reg/dv_base_reg_block.sv
Labels: Component:DV

#27323 [rom_ctrl,rtl] Fix parameter value in prim_count instantiation
  hw/ip/rom_ctrl/rtl/rom_ctrl_compare.sv
Labels: Component:RTL, IP:rom_ctrl
