Repository lowRISC/opentitan, pull requests merged in 2025-04, with the labels that each got.

#26586 [dv] Fix uvm_component_param_utils call in dv_base_monitor
  hw/dv/sv/dv_lib/dv_base_monitor.sv
Labels: Component:DV, Type:Cleanup

#26839 [ac_range_check,doc] Spec clarification
  hw/ip_templates/ac_range_check/README.md
  hw/top_darjeeling/ip_autogen/ac_range_check/README.md
Labels: Component:Doc, IP:ac_range_check

#26841 [hmac,dv] Kill processes in case of reset
  hw/ip/hmac/dv/env/seq_lib/hmac_base_vseq.sv
Labels: Component:DV, IP:hmac

#26707 [ac_range_check,dv] Add D channel checks to the SCB
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/ip_templates/ac_range_check/dv/env/seq_lib/ac_range_check_smoke_vseq.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/seq_lib/ac_range_check_smoke_vseq.sv
Labels: Component:DV, IP:ac_range_check

#26813 [opentitanlib] Fix for HyperDebug I2C driver
  sw/host/opentitanlib/src/transport/hyperdebug/i2c.rs
Labels: SW:opentitantool

#26851 [hmac,dv] Add more seeds to ensure CCov
  hw/ip/hmac/dv/hmac_sim_cfg.hjson
Labels: Component:DV, IP:hmac

#26717 [ac_range_check,dv] Add precisons to the testplan
  hw/ip_templates/ac_range_check/data/ac_range_check_testplan.hjson
  hw/top_darjeeling/ip_autogen/ac_range_check/data/ac_range_check_testplan.hjson
Labels: Component:DV, IP:ac_range_check

#26861 [ac_range_check] Expand `ASSERT_KNOWN` checks
  hw/ip_templates/ac_range_check/rtl/ac_range_check.sv.tpl
  hw/top_darjeeling/ip_autogen/ac_range_check/rtl/ac_range_check.sv
Labels: IP:ac_range_check

#26859 [ac_range_check,dv] Move struct into class wrapper
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env.core.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env_pkg.sv.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_scb_item.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env.core
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env_pkg.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_scb_item.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_scoreboard.sv
Labels: Component:DV, IP:ac_range_check

#26862 [ac_range_check,doc] Update the TB diagram
  hw/ip_templates/ac_range_check/dv/README.md.tpl
  hw/ip_templates/ac_range_check/dv/doc/tb.svg
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/README.md
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/doc/tb.svg
Labels: Component:Doc, Component:DV, IP:ac_range_check

#26887 [rom_ctrl,doc] Correct a padding width
  hw/ip/rom_ctrl/doc/theory_of_operation.md
Labels: Component:Doc, IP:rom_ctrl

#26912 [kmac,rtl] Avoid a procedural assignment to a port
  hw/ip/kmac/rtl/kmac_msgfifo.sv
Labels: Component:RTL, IP:kmac

#26904 [alert,dv] Avoid using state_q and PingSt from alert_esc_if directly
  hw/dv/sv/alert_esc_agent/alert_esc_if.sv
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_corrupt_sig_fatal_chk_vseq.sv
Labels: Component:DV, IP:alert_handler

#26867 [sival] Fix csrng alert in power virus test.
  sw/device/tests/power_virus_systemtest.c
Labels: CherryPick:master

#26828 [dv] Correct params for uvm_component_param_utils in scoreboard.sv
  hw/dv/sv/scoreboard/scoreboard.sv
Labels: Component:DV

#26896 [rom_ctrl,dv] Dramatically shorten regressions
  hw/ip/rom_ctrl/dv/rom_ctrl_base_sim_cfg.hjson
Labels: Component:DV, IP:rom_ctrl

#26933 [Sival, rstmgr] Fix test rstmgr_alert_info_test
  sw/device/tests/rstmgr_alert_info_test.c
Labels: CherryPick:master

#26610 [ujson] Fix potential unsigned underflow/overflow.
  sw/device/lib/ujson/ujson.c
  sw/device/lib/ujson/ujson_test.cc
Labels: CherryPick:earlgrey_1.0.0

#26889 [rom_ctrl,dv] Fix "LocalEscalation" in corrupt_sig_fatal_chk_vseq
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_corrupt_sig_fatal_chk_vseq.sv
Labels: Component:DV, IP:rom_ctrl

#27005 [sival] add missing test harness for pwrmgr wakeup tests on silicon
  sw/device/tests/BUILD
Labels: CherryPick:earlgrey_1.0.0

#27028 [test, kmac] add missing `CHECK_STATUS_OK` for kmac error test
  sw/device/tests/kmac_error_conditions_test.c
Labels: CherryPick:earlgrey_1.0.0

#27037 [rom_ctrl,dv] Use foreach in a vseq
  hw/ip/rom_ctrl/dv/env/seq_lib/rom_ctrl_corrupt_sig_fatal_chk_vseq.sv
Labels: Component:DV, IP:rom_ctrl

#26597 [dv] Correct foreach syntax in dv_report_catcher
  hw/dv/sv/dv_utils/dv_report_catcher.sv
Labels: Component:DV

#26595 [prim,rtl] Avoid using inside in a constant expression
  hw/ip/prim/rtl/prim_subreg_arb.sv
Labels: Component:RTL, IP:prim

#26443 [pattgen,dv] Fix constraint in pattgen_perf_vseq
  hw/ip/pattgen/dv/env/seq_lib/pattgen_perf_vseq.sv
Labels: Component:DV, IP:pattgen

#27036 [dv] Add missing isolation fork to cip_base_vseq__shadow_reg_errors
  hw/dv/sv/cip_lib/seq_lib/cip_base_vseq__shadow_reg_errors.svh
Labels: Component:DV

#26967 [opentitantool] Add `ownership digest` command
  sw/host/opentitantool/src/command/ownership.rs
Labels: CherryPick:master

#27034 [dv] Iterate more carefully with foreach loops
  hw/ip/adc_ctrl/dv/env/adc_ctrl_env_cfg.sv
  hw/ip/csrng/dv/env/seq_lib/csrng_cmds_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_erase_suspend_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_mp_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_prog_type_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_fetch_code_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_full_mem_access_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_mid_op_rst_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_mp_regions_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_otf_base_vseq.sv
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_base_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_erase_suspend_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_mp_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_prog_type_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_fetch_code_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_full_mem_access_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_mid_op_rst_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_mp_regions_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_otf_base_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_base_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_erase_suspend_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_mp_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_error_prog_type_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_fetch_code_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_full_mem_access_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_mid_op_rst_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_mp_regions_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_otf_base_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_rand_ops_base_vseq.sv
Labels: Component:DV
