Repository lowRISC/opentitan, pull requests merged in 2025-06, with the labels that each got.

#27273 [rom_ctrl,rtl] Avoid repetition in the code
  hw/ip/rom_ctrl/rtl/rom_ctrl_fsm.sv
Labels: Component:RTL, IP:rom_ctrl

#26827 [jtag,dv] Fix uvm_component_utils macro in jtag_riscv_driver
  hw/dv/sv/jtag_riscv_agent/jtag_riscv_driver.sv
Labels: Component:DV

#26611 [tl,dv] Lots of cleanups (and some documentation) in `tl_seq_item.sv`
  hw/dv/sv/cip_lib/cip_base_scoreboard.sv
  hw/dv/sv/tl_agent/tl_seq_item.sv
  hw/ip/rv_dm/dv/env/rv_dm_scoreboard.sv
  hw/ip_templates/flash_ctrl/dv/env/flash_ctrl_scoreboard.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/flash_ctrl_scoreboard.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/flash_ctrl_scoreboard.sv
Labels: Component:DV, IP:tlul

#25466 [prim,fpv] Fix width warnings in prim_fifo_sync_assert_fpv
  hw/ip/prim/fpv/vip/prim_fifo_sync_assert_fpv.sv
Labels: Component:FPV, IP:prim

#27339 [rtl] Remove "trial1" example block
  hw/Makefile
  hw/ip/BUILD
  hw/ip/trial1/BUILD
  hw/ip/trial1/data/BUILD
  hw/ip/trial1/data/trial1.hjson
  hw/ip/trial1/data/trial1_sec_cm_testplan.hjson
  hw/ip/trial1/doc/trial1.html
  hw/ip/trial1/dv/bus_pkg.sv
  hw/ip/trial1/dv/tb.sv
  hw/ip/trial1/dv/trial1_sim.core
  hw/ip/trial1/dv/trial1_sim_cfg.hjson
  hw/ip/trial1/dv/trial1_test.sv
  hw/ip/trial1/rtl/trial1_reg_pkg.sv
  hw/ip/trial1/rtl/trial1_reg_top.sv
  util/reggen/ip_block.py
Labels: Component:RTL

#27355 [sw] Add @file comments to the remaining dif headers missing them
  sw/device/lib/dif/dif_csrng_shared.h
  sw/device/lib/dif/dif_rv_core_ibex.h
Labels: Component:Software, SW:DIF

#27332 [ac_range_check,dv] Enabling Bypass and Lock Range Verification
  hw/ip_templates/ac_range_check/data/ac_range_check_testplan.hjson
  hw/ip_templates/ac_range_check/dv/ac_range_check_sim_cfg.hjson.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env.core.tpl
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_env_cov.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_misc_io_if.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_predictor.sv
  hw/ip_templates/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/ip_templates/ac_range_check/dv/env/seq_lib/ac_range_check_base_vseq.sv
  hw/ip_templates/ac_range_check/dv/env/seq_lib/ac_range_check_bypass_vseq.sv
  hw/ip_templates/ac_range_check/dv/env/seq_lib/ac_range_check_lock_range_vseq.sv
  hw/ip_templates/ac_range_check/dv/env/seq_lib/ac_range_check_vseq_list.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/data/ac_range_check_testplan.hjson
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/ac_range_check_sim_cfg.hjson
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env.core
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_env_cov.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_misc_io_if.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_predictor.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/ac_range_check_scoreboard.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/seq_lib/ac_range_check_base_vseq.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/seq_lib/ac_range_check_bypass_vseq.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/seq_lib/ac_range_check_lock_range_vseq.sv
  hw/top_darjeeling/ip_autogen/ac_range_check/dv/env/seq_lib/ac_range_check_vseq_list.sv
Labels: Component:DV, IP:ac_range_check

#27382 [fpv] Fix type of after_load in top_earlgrey_fpv_prim_cfgs.hjson
  hw/top_earlgrey/formal/top_earlgrey_fpv_prim_cfgs.hjson
Labels: Component:FPV, Tool:dvsim

#27403 [flash] Move assertion from `flash_ctrl` to `prim_flash`
  hw/ip/prim_generic/rtl/prim_flash.sv
  hw/ip_templates/flash_ctrl/rtl/flash_ctrl.sv.tpl
  hw/top_earlgrey/ip_autogen/flash_ctrl/rtl/flash_ctrl.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/rtl/flash_ctrl.sv
Labels: IP:flash_ctrl

#27402 [flash_ctrl/dv] Fix path used in FI tests
  hw/ip_templates/flash_ctrl/dv/env/seq_lib/flash_ctrl_common_vseq.sv
  hw/top_earlgrey/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_common_vseq.sv
  hw/top_englishbreakfast/ip_autogen/flash_ctrl/dv/env/seq_lib/flash_ctrl_common_vseq.sv
Labels: Component:DV, IP:flash_ctrl

#27417 [pentest] Fix and refactor OtpFi tests
  sw/device/tests/penetrationtests/firmware/fi/BUILD
  sw/device/tests/penetrationtests/firmware/fi/otp_fi.c
  sw/device/tests/penetrationtests/json/otp_fi_commands.h
  sw/host/penetrationtests/testvectors/data/fi_otp.json
  sw/host/tests/penetrationtests/fi_otp/src/main.rs
Labels: CherryPick:earlgrey_1.0.0

#27462 [sival, kdf] Compare derived keys in kdf_kmac_sideload_functest
  sw/device/tests/crypto/BUILD
  sw/device/tests/crypto/kdf_kmac_sideload_functest.c
Labels: CherryPick:master

#27469 [kmac/doc] Clarify context switch doesn't exist for both hw and sw
  hw/ip/kmac/doc/programmers_guide.md
Labels: Component:Doc, IP:kmac, CherryPick:earlgrey_1.0.0

#27185 [rtl] Make the reqfifo narrower in tlul_adapter_sram
  hw/ip/tlul/rtl/tlul_adapter_sram.sv
Labels: Component:RTL, IP:tlul

#27493 [doc] Fix links and typos for some DV docs
  doc/contributing/dv/methodology/README.md
  util/dvsim/README.md
  util/dvsim/doc/testplanner.md
Labels: Component:Doc, Component:DV
